<!-- linear bar -->
<div *ngIf="barProperties.barType == 'linear'" [style.height.px]='barProperties.linear.depth'
[style.background-color]='barProperties.secondColor' class="progress-linear">
  <div class="bar" *ngIf="progress && progress <= 100 && progress >= 0" [ngClass]="{stripped: barProperties.linear.stripped, active: barProperties.linear.active }"
   [style.width.%]='progress' [style.height.px]='barProperties.linear.depth'
   [style.line-height.px]='barProperties.linear.depth'
   [style.text-align]='barProperties.textAlignment'
    [style.background-color]='barProperties.color'>
    <span *ngIf="barProperties.linear.label.enable && progress <= 100" [style.color]='barProperties.linear.label.color'
    [style.font-size.px]="barProperties.linear.label.fontSize">
      {{barProperties.linear.label.value}}
    </span>
    <span *ngIf="barProperties.linear.label.showPercentage" [style.color]='barProperties.linear.label.color'
    [style.font-size.px]="barProperties.linear.label.fontSize">
      {{progress+'%'}}
    </span>
  </div> 
  <div class="bar" *ngIf="progress == 0" [ngClass]="{stripped: barProperties.linear.stripped, active: barProperties.linear.active }">
    <span *ngIf="barProperties.linear.label.showPercentage" [style.color]='barProperties.linear.label.color'
    [style.font-size.px]="barProperties.linear.label.fontSize">
      {{progress+'%'}}
    </span>
  </div>
  <div class="bar" *ngIf="!progress || progress > 100 || progress < 0" [style.width.%]='0'></div>
</div>