.card-header-default {
  background: linear-gradient(60deg, #d2d2d2, #999999);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(153, 153, 153, 0.28);
}

.wrapper {
  padding: 0 !important;
}

.footer {
  position: unset !important;
  border: none !important;
  margin-top: 1rem !important;
  padding: 0;
}

.login-panel {
  position: unset !important;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.alert {
  padding: 10px 15px !important;
}

.alert-comp-div {
  padding-top: 10px;
}