<div class="main-content">
  <!-- Section: home -->
  <section id="home" class="divider parallax layer-overlay">      
    <div class="display-table" style="background-image: url('../assets/images/banner-bg.jpg');">
      <div class="display-table-cell">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-md-push-1">            
              <div class="widget bg-lightest border-1px p-30">
                <div class="widget border-1px p-30">
                  <div class=" mb-20" style="float: left;">
                    <a routerLink="" class=""><img src="assets/css/images/logo-nm.png" alt="NM Logo" style="
                      height: 73px;
                      width: 135px;
                      text-align: left;">
                    </a>
                  </div> 

                  <h2 style="margin-left:160px; font-size:24px !important; padding-left:50px">Register New Account</h2>
                  
                  <div class="row ">
                    <div class="col-lg-12">
                      <app-alert-component></app-alert-component>
                    </div>
                  </div>
            
                  <div class="row pt-30">
                    <div class="col-md-12">          
                      <form [formGroup]="registerViewModel.registerForm">
                        <div class="row" formGroupName="Organization">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Organization Name <small class="errorMessage">*</small></label>
                              <mat-form-field>
                                <input type='text'  
                                        class="form-control"  
                                        matInput 
                                        #Name  
                                        formControlName="Name"
                                        placeholder="Enter Organization Name"
                                        required>
        
                                <mat-error align="start" class="text-danger">
                                  {{ registerViewModel.errorFor("Organization.Name") }}
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label>Organization Website URL</label>
                                <mat-form-field>
                                  <input type='text'  
                                          class="form-control"  
                                          matInput 
                                          #WebUrl  
                                          formControlName="WebUrl"
                                          placeholder="Enter Web URL">
          
                                  <mat-error align="start" class="text-danger">
                                    {{ registerViewModel.errorFor("Organization.WebUrl") }}
                                  </mat-error>
                                </mat-form-field>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>First Name <small class="errorMessage">*</small></label>
                              <mat-form-field>
                                <input type='text'  
                                        class="form-control"  
                                        matInput 
                                        #FirstName  
                                        formControlName="FirstName"
                                        placeholder="Enter First Name"
                                        required>
        
                                <mat-error align="start" class="text-danger">
                                  {{ registerViewModel.errorFor("FirstName") }}
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label>Middle Name</label>
                                <mat-form-field>
                                  <input type='text'  
                                          class="form-control"  
                                          matInput 
                                          #MiddleName  
                                          formControlName="MiddleName"
                                          placeholder="Enter Middle Name">
          
                                  <mat-error align="start" class="text-danger">
                                    {{ registerViewModel.errorFor("MiddleName") }}
                                  </mat-error>
                                </mat-form-field>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Last Name <small class="errorMessage">*</small></label>
                              <mat-form-field>
                                <input type='text'  
                                        class="form-control"  
                                        matInput 
                                        #LastName  
                                        formControlName="LastName"
                                        placeholder="Enter Last Name"
                                        required>
        
                                <mat-error align="start" class="text-danger">
                                  {{ registerViewModel.errorFor("LastName") }}
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                                <label>Phone Number</label>
                                <mat-form-field>
                                  <input type='text'  
                                          class="form-control"  
                                          matInput 
                                          #PhoneNumber  
                                          formControlName="PhoneNumber"
                                          placeholder="Enter Phone Number">
          
                                  <mat-error align="start" class="text-danger">
                                    {{ registerViewModel.errorFor("PhoneNumber") }}
                                  </mat-error>
                                </mat-form-field>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Email <small class="errorMessage">*</small></label>
                              <mat-form-field>
                                <input type='email'  
                                        class="form-control"  
                                        matInput 
                                        #Email  
                                        formControlName="Email"
                                        placeholder="Enter Email"
                                        required>
        
                                <mat-error align="start" class="text-danger">
                                  {{ registerViewModel.errorFor("Email") }}
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Email Confirmation <small class="errorMessage">*</small></label>
                              <mat-form-field>
                                <input type='email'  
                                        class="form-control"
                                        matInput 
                                        #ConfirmEmail  
                                        formControlName="ConfirmEmail"
                                        placeholder="Confirm Email"
                                        required>
        
                                <mat-error align="start" class="text-danger">
                                  {{ registerViewModel.errorFor("ConfirmEmail") }}
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>

                        <div class="row" formGroupName="OrganizationAdd">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Address Line 1 <small class="errorMessage">*</small></label>
                              <mat-form-field>
                                <input type='text'  
                                        class="form-control"
                                        matInput
                                        #AddressLine1  
                                        formControlName="AddressLine1"                                        
                                        placeholder="Enter Address Line 1"
                                        required>
        
                                <mat-error align="start" class="text-danger">
                                  {{ registerViewModel.errorFor("OrganizationAdd.AddressLine1") }}
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Address Line 2</label>
                              <mat-form-field>
                                <input type='text'  
                                        class="form-control"
                                        matInput 
                                        #AddressLine2  
                                        formControlName="AddressLine2"                                        
                                        placeholder="Enter Address Line 2">
        
                                <mat-error align="start" class="text-danger">
                                  {{ registerViewModel.errorFor("OrganizationAdd.AddressLine2") }}
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>

                        <div class="row" formGroupName="OrganizationAdd">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>City <small class="errorMessage">*</small></label>
                              <mat-form-field>
                                <input type='text'  
                                        class="form-control"
                                        matInput 
                                        #City  
                                        formControlName="City"                                        
                                        placeholder="Enter City"
                                        required>
        
                                <mat-error align="start" class="text-danger">
                                  {{ registerViewModel.errorFor("OrganizationAdd.City") }}
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>State <small class="errorMessage">*</small></label>
                              <mat-form-field>
                                <input type='text'  
                                        class="form-control"
                                        matInput 
                                        #State  
                                        formControlName="State"                                        
                                        placeholder="Enter State"
                                        required>
        
                                <mat-error align="start" class="text-danger">
                                  {{ registerViewModel.errorFor("OrganizationAdd.State") }}
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>

                        <div class="row" formGroupName="OrganizationAdd">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>ZipCode <small class="errorMessage">*</small></label>
                              <mat-form-field>
                                <input type='text'  
                                        class="form-control"
                                        matInput 
                                        #Zip  
                                        formControlName="Zip"                                        
                                        placeholder="Enter Zipcode"
                                        required>
        
                                <mat-error align="start" class="text-danger">
                                  {{ registerViewModel.errorFor("OrganizationAdd.Zip") }}
                                </mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label>Country <small class="errorMessage">*</small></label>
                              <ng-select
                                    [items]="registerViewModel.countryList"
                                    bindLabel ="name"
                                    bindValue = "name"
                                    placeholder ="Select Country"
                                    formControlName ="Country">
                              </ng-select>
                              
                              <mat-error align="start" class="text-danger" *ngIf="registerViewModel.registerForm.get('OrganizationAdd.Country').touched">
                                {{ registerViewModel.errorFor("OrganizationAdd.Country") }}
                              </mat-error>
                            </div>
                          </div>
                        </div>

                        <div class="row" formGroupName="Organization">                      
                          <div class="col-sm-6">
                            <div style="border-style:dotted;border-width: 0px;">
                              <div class="form-group">
                                <label>Upload Organization Logo </label>
                                <div style="height: 15px;"></div>                                
                                <input type="file"
                                        id="orgLogoFile"
                                        #OrgLogoFile  
                                        formControlName="OrgLogoFile"
                                        (change)="registerViewModel.onFileChange($event)"
                                        accept="image/x-png,image/gif,image/jpeg">
                                <div style="height: 5px;"></div>
                                <small>
                                  (Image should be transparent and at least measure 75px width and 50px in height)
                                </small>       
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div style="height: 40px;"></div>
                            <div class="form-group">
                              <img
                                class="img-fullwidth"
                                [src]="registerViewModel.imageSrc"
                                alt="project"
                                onerror="this.src='assets/images/placeholder.png';">
                            </div>
                          </div>
                        </div>

                        <div style="height: 25px;"></div>
                        <section class="ohio-form-ex-page-confirm" tabindex="0" style="background-color: #f2f2f2; padding: 15px 15px; text-align:justify;">
                          <p><b>Terms and Conditions</b></p>
                          <p>In order to proceed with this request, you must agree to the following terms and conditions.</p>
                          <p>By clicking "I Agree" and creating an New Mexico Citizen, Business, or Workforce profile you consent to use electronic signatures with the State of New Mexico and receive communications in electronic form.</p>
                          <p>If you use this site, you are responsible for maintaining the confidentiality of your account(s) and password(s) and for restricting access to your computer, and you agree to accept responsibility
                            for all activities that occur under your account(s) or password(s).  The New Mexico DOH reserves the right to refuse service, terminate accounts, remove or edit content,
                            or cancel transactions.                         
                            <br>
                          </p>
                          <div class="ohio-checkbox checkbox checkbox-success " style="padding-left: 20px;">
                            <mat-checkbox
                                  class="ohio-checkbox-el"
                                  style="margin-left: -39px;"
                                  id="dummy-checkbox" 
                                  #Agreed 
                                  formControlName="Agreed"
                                  required="required" 
                                  title="Please select the checkbox to agree Terms and Conditions">
                            </mat-checkbox>
                            <label for="dummy-checkbox"> I Agree</label>
                          </div>
                          <label for="agreed" id="hiddenLabel1" class="hiddenLabel" style="display: none;">jawws-error-suppression-1</label>
                        </section>
                       
                        <div style="height: 25px;"></div>
                        <div class="form-group">
                          <label>Before submit the dataset request, please complete the captcha verification</label>
                          <re-captcha (resolved)="registerViewModel.resolved($event)" 
                                      [siteKey]="registerViewModel.siteKey"
                                      #ReCaptcha  
                                      formControlName="ReCaptcha"
                                      required>
                          </re-captcha>
                          <mat-error align="start" 
                                      class="text-danger"
                                      *ngIf="registerViewModel.registerForm.get('ReCaptcha').touched">
                            {{ registerViewModel.errorFor("ReCaptcha") }}
                          </mat-error>
                        </div>                
                
                        <div style="height: 25px;"></div>
                        <div class="form-group">
                          <input name="form_botcheck" class="form-control" type="hidden" value="">
                          <button type="button"
                          class="btn btn-default btn-lg btn-circled mr-10"
                          style="transition: none 0s ease 0s; line-height: 23px; border-width: 1px; margin: 0px 10px 0px 0px; padding: 10px 20px; letter-spacing: 1px; font-weight: 400; font-size: 14px;"
                          (click)="registerViewModel.onCancel()">
                    Cancel
                  </button>
                          <button type="button" 
                                  data-toggle="modal" 
                                  class="btn btn-default btn-lg btn-circled btn-primary mr-10"
                                  style="transition: none 0s ease 0s; line-height: 23px; border-width: 1px; margin: 0px 10px 0px 0px; padding: 10px 20px; letter-spacing: 1px; font-weight: 400; font-size: 14px;"
                                  id="user-registration-saveChanges-btn" 
                                  (click)="registerViewModel.saveChanges()"
                                  [disabled]="!(registerViewModel.registerForm.valid && registerViewModel.registerForm.dirty) || registerViewModel.submitted">
                            Create New Account
                          </button>
                        </div>              
                      </form>
                    </div>          
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
</div>  