<div class="row">
    <div class="col-md-12">
      <app-alert-component></app-alert-component>
    </div>
  
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b>Preview Source Target Definition: </b>
        </div>
        <div>
        </div>
        <div class="panel-body">
          <div class="row mb-10">
            <div class="col-md-4">Select Source</div>
            <div class="col-md-4 text-center">Map Data</div>
            <div class="col-md-4 text-right">Preview Definition</div>
            <progress-bar class="col-md-12" [progress]="previewSourceTargetMappingDefinitionViewModel.progressValue"></progress-bar>
        </div>
          <div class="col-md-12">
            <app-data-table-cmp [viewModel]="previewSourceTargetMappingDefinitionViewModel.mappingDataGridViewModel">
            </app-data-table-cmp>
            <br>
            <button class="btn btn-primary float-right" title="Save Mapping Data" type="button"
              (click)="previewSourceTargetMappingDefinitionViewModel.submitSourceTargetMapping()">Save Mapping Data</button>
            <button class="btn btn-primary" title="Previous" type="button"
              (click)="previewSourceTargetMappingDefinitionViewModel.redirectToDefineData()">Previous
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>