<div class="row">
	<div class="col-md-12">
		<div class="card-body table-responsive">
			<div class="raisedBox">
				<h5 class="entry-title   mt-0"><b>Data Extraction Configuration list</b>
					<span class="filter-text" *ngIf="listViewModel.enableClearFilterButton"> - Filter : Status - {{listViewModel.statusForFilter}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<button *ngIf="listViewModel.enableClearFilterButton" type="button" class="btn btn-link btn-md btn-primary p-0" 
					(click)="listViewModel.clearFilter()"> &nbsp; Clear Filter</button></h5>
				<div class="row">
					<div class="col-md-4">
						<highcharts-chart class="highcharts-custom" [Highcharts]="listViewModel.highcharts"
							[options]="listViewModel.chartOptions">
						</highcharts-chart>
					</div>
					<div class="col-md-4 position-relative">
					</div>
					<div class="col-md-4 btn-section" *ngIf="listViewModel.userRolePermission.canCreate">
						<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 pull-right">
							
							<button type="button" (click)="listViewModel.navigateToCreate()"
								class="btn btn-default btn-md btn-primary position-bottom pull-right">
								Configure New Data Extraction
							</button>
						</div>
					</div>
				</div>
				<app-alert-component></app-alert-component>
				<app-extended-data-table-cmp [viewModel]="listViewModel.viewModelDataGrid">
				</app-extended-data-table-cmp>
			</div>
		</div>
	</div>
</div>

<ngx-smart-modal #deleteConfirmModalFromList identifier="deleteConfirmModalFromList"
	class="modal-content dialog no-padding" style="border: 0px !important;" [dismissable]="false"
	(onAnyCloseEvent)="listViewModel.onPopUpClose('deleteConfirmModalFromList')">
	<div class="" style="z-index: 1043;">
		<div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
			aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
			<div class="nsm-content">
				<div class="nsm-body">
					<div class="modal-header">
						<h5 class="modal-title">Delete Confirmation</h5>
						<button aria-label="Close" class="close modal-close" title="Close"
							(click)="listViewModel.onPopUpClose('deleteConfirmModalFromList')" type="button">
							<span class="modal-x-icon" aria-hidden="true">×</span></button>
					</div>
					<div class="modal-body">
						<i class="fa fa-exclamation-triangle color-red"></i>&nbsp;
						Are you sure you want to delete this Data Extraction Configuration ?
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" title="Cancel"
							(click)="listViewModel.onPopUpClose('deleteConfirmModalFromList')" type="button">Cancel </button>
						<button class="btn btn-primary" title="Confirm" type="button"
							(click)="listViewModel.deleteDataExtractionConfiguration()">
							Confirm</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #commentsPopUp identifier="commentsPopUp" class="modal-content dialog no-padding"
	style="border: 0px !important;" [dismissable]="false" (onAnyCloseEvent)="listViewModel.onPopUpClose('commentsPopUp')">
	<div class="" style="z-index: 1043;">
		<div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
			aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
			<div class="nsm-content">
				<div class="nsm-body">
					<div class="modal-header">
						<h5 class="modal-title">Comments</h5>
						<button aria-label="Close" class="close modal-close" title="Close"
							(click)="listViewModel.onPopUpClose('commentsPopUp')" type="button">
							<span class="modal-x-icon" aria-hidden="true">×</span></button>
					</div>
					<div class="modal-body">
						<p>{{listViewModel.comments}}</p>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" title="Close" (click)="listViewModel.onPopUpClose('commentsPopUp')"
							type="button">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</ngx-smart-modal>