.highcharts-custom {
  display: block;
  width: 100%;
  height: 300px;
}

.position-bottom {
  margin-top: 63%;
}

.position-relative {
  position: relative;
}

.position-bottom-center {
  position: absolute;
  margin-top: 58%;
}

.filter-text {
  font-weight: 100;
}
