<div class="main-content">
    <section id="home" class="divider parallax layer-overlay">  
      <div class="display-table" style="background-image: url('../assets/images/banner-bg.jpg'); 
       ">
        <div class="display-table-cell">
          <div class="container">
            
          </div>
        </div>
      </div>
    </section>
    <section id="section1">  
          <div class="container-index">
              <div class=" col-md-4">  <img src="../../../../../../assets/images/qurhealth-process.png" alt="Qur-Process" /> </div>
              <div class=" col-md-8 text-align-justify margin-top-adjust">QurHealth is a healthcare data management organization with a focus on delivering innovative Healthcare IT solutions across the broader healthcare ecosystem. Built and owned by Ventech solutions, QurHealth provides holistic IT-healthcare offerings touching several healthcare players, including care providers, payers, patients, and researchers.</div>   
              
          </div>
    </section>
  </div>
  