/* .link {
    color: #1363A5;
    padding: 5px 1.5px;
    text-decoration: none;
    position: relative;
    text-decoration: underline;
    font-weight: 500px;
  }
  */

.container-index {
  padding: 20px 40px;;
}
.text-align-justify
{
  text-align: justify;
}
.margin-top-adjust {
  margin-top:100px;
}
.divider .container {
  padding-top: 30px;
  padding-bottom: 30px;
}
