
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";


@media (min-width: 768px)
{.maincontainer {
    width: 750px;
}
}
@media (min-width: 992px){
.maincontainer {
    width: 970px;
}
}
@media (min-width: 1268px){
.maincontainer {
    width: 1250px;
}
}
@media (min-width: 1368px)
{
.maincontainer {
    width: 1360px;
}
}


@media (min-width: 1760px) {
    .maincontainer {
        width: 1750px;
    }
    }
@media (min-width: 1900px) {
.maincontainer {
    width: 1900px;
}
}

.maincontainer {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
   }


.padding-top-10{
    padding-top:10px;
}

.breadcrum_font {
    font-size: 10px;
  }

  .padding-left-20
  {
    padding-left:30px;
  }

  .btn-section
  {
      padding-bottom: 10px;
  }

  .data-grid-image {
      height: 20px;
      width: 20px;
  }

  .data-grid-image-small {
    height: 17px;
    width: 17px;
}
 .data-grid-padding-right {
  padding-right: 7px;
}

.btn-primary {
    color: #fff;
    background-color: #3f535c;
    border-color: #3f535c; }
    .btn-primary:focus, .btn-primary.focus {
      color: #fff;
      background-color: #3f535c;
      border-color: #122b40; }
    .btn-primary:hover {
      color: #fff;
      background-color: #286090;
      border-color: #204d74; }
    .btn-primary:active, .btn-primary.active,
    .open > .btn-primary.dropdown-toggle {
      color: #fff;
      background-color: #3f535c;
      border-color: #204d74; }
      .btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus,
      .open > .btn-primary.dropdown-toggle:hover,
      .open > .btn-primary.dropdown-toggle:focus,
      .open > .btn-primary.dropdown-toggle.focus {
        color: #fff;
        background-color: #3f535c;
        border-color: #122b40; }
    .btn-primary:active, .btn-primary.active,
    .open > .btn-primary.dropdown-toggle {
      background-image: none; }
    .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
    fieldset[disabled] .btn-primary:hover,
    fieldset[disabled] .btn-primary:focus,
    fieldset[disabled] .btn-primary.focus {
      background-color: #337ab7;
      border-color: #2e6da4; }
    .btn-primary .badge {
      color: #337ab7;
      background-color: #fff; }

  .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c; }
    .btn-success:focus, .btn-success.focus {
      color: #fff;
      background-color: #449d44;
      border-color: #255625; }
    .btn-success:hover {
      color: #fff;
      background-color: #449d44;
      border-color: #398439; }
    .btn-success:active, .btn-success.active,
    .open > .btn-success.dropdown-toggle {
      color: #fff;
      background-color: #449d44;
      border-color: #398439; }
      .btn-success:active:hover, .btn-success:active:focus, .btn-success:active.focus, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus,
      .open > .btn-success.dropdown-toggle:hover,
      .open > .btn-success.dropdown-toggle:focus,
      .open > .btn-success.dropdown-toggle.focus {
        color: #fff;
        background-color: #398439;
        border-color: #255625; }
    .btn-success:active, .btn-success.active,
    .open > .btn-success.dropdown-toggle {
      background-image: none; }
    .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled.focus, .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled].focus,
    fieldset[disabled] .btn-success:hover,
    fieldset[disabled] .btn-success:focus,
    fieldset[disabled] .btn-success.focus {
      background-color: #5cb85c;
      border-color: #4cae4c; }
    .btn-success .badge {
      color: #5cb85c;
      background-color: #fff; }

  .btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da; }
    .btn-info:focus, .btn-info.focus {
      color: #fff;
      background-color: #31b0d5;
      border-color: #1b6d85; }
    .btn-info:hover {
      color: #fff;
      background-color: #31b0d5;
      border-color: #269abc; }
    .btn-info:active, .btn-info.active,
    .open > .btn-info.dropdown-toggle {
      color: #fff;
      background-color: #31b0d5;
      border-color: #269abc; }
      .btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus,
      .open > .btn-info.dropdown-toggle:hover,
      .open > .btn-info.dropdown-toggle:focus,
      .open > .btn-info.dropdown-toggle.focus {
        color: #fff;
        background-color: #269abc;
        border-color: #1b6d85; }
    .btn-info:active, .btn-info.active,
    .open > .btn-info.dropdown-toggle {
      background-image: none; }
    .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled].focus,
    fieldset[disabled] .btn-info:hover,
    fieldset[disabled] .btn-info:focus,
    fieldset[disabled] .btn-info.focus {
      background-color: #5bc0de;
      border-color: #46b8da; }
    .btn-info .badge {
      color: #5bc0de;
      background-color: #fff; }

  .btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236; }
    .btn-warning:focus, .btn-warning.focus {
      color: #fff;
      background-color: #ec971f;
      border-color: #985f0d; }
    .btn-warning:hover {
      color: #fff;
      background-color: #ec971f;
      border-color: #d58512; }
    .btn-warning:active, .btn-warning.active,
    .open > .btn-warning.dropdown-toggle {
      color: #fff;
      background-color: #ec971f;
      border-color: #d58512; }
      .btn-warning:active:hover, .btn-warning:active:focus, .btn-warning:active.focus, .btn-warning.active:hover, .btn-warning.active:focus, .btn-warning.active.focus,
      .open > .btn-warning.dropdown-toggle:hover,
      .open > .btn-warning.dropdown-toggle:focus,
      .open > .btn-warning.dropdown-toggle.focus {
        color: #fff;
        background-color: #d58512;
        border-color: #985f0d; }
    .btn-warning:active, .btn-warning.active,
    .open > .btn-warning.dropdown-toggle {
      background-image: none; }
    .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled.focus, .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled].focus,
    fieldset[disabled] .btn-warning:hover,
    fieldset[disabled] .btn-warning:focus,
    fieldset[disabled] .btn-warning.focus {
      background-color: #f0ad4e;
      border-color: #eea236; }
    .btn-warning .badge {
      color: #f0ad4e;
      background-color: #fff; }

  .btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a; }
    .btn-danger:focus, .btn-danger.focus {
      color: #fff;
      background-color: #c9302c;
      border-color: #761c19; }
    .btn-danger:hover {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925; }
    .btn-danger:active, .btn-danger.active,
    .open > .btn-danger.dropdown-toggle {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925; }
      .btn-danger:active:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus,
      .open > .btn-danger.dropdown-toggle:hover,
      .open > .btn-danger.dropdown-toggle:focus,
      .open > .btn-danger.dropdown-toggle.focus {
        color: #fff;
        background-color: #ac2925;
        border-color: #761c19; }
    .btn-danger:active, .btn-danger.active,
    .open > .btn-danger.dropdown-toggle {
      background-image: none; }
    .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled.focus, .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled].focus,
    fieldset[disabled] .btn-danger:hover,
    fieldset[disabled] .btn-danger:focus,
    fieldset[disabled] .btn-danger.focus {
      background-color: #d9534f;
      border-color: #d43f3a; }
    .btn-danger .badge {
      color: #d9534f;
      background-color: #fff; }

  .btn-link {
    color: #337ab7;
    font-weight: normal;
    border-radius: 0; }
    .btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled],
    fieldset[disabled] .btn-link {
      background-color: transparent;
      box-shadow: none; }
    .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
      border-color: transparent; }
    .btn-link:hover, .btn-link:focus {
      color: #23527c;
      text-decoration: underline;
      background-color: transparent; }
    .btn-link[disabled]:hover, .btn-link[disabled]:focus,
    fieldset[disabled] .btn-link:hover,
    fieldset[disabled] .btn-link:focus {
      color: #777777;
      text-decoration: none; }

  .btn-lg, .btn-group-lg > .btn, .ohio-search .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33333;
    border-radius: 6px; }

  .btn-sm, .btn-group-sm > .btn, .ohio-search .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px; }

  .btn-xs, .btn-group-xs > .btn, .ohio-search .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px; }

  .btn-block {
    display: block;
    width: 100%; }

  .btn-block + .btn-block {
    margin-top: 5px; }

  input[type="submit"].btn-block,
  input[type="reset"].btn-block,
  input[type="button"].btn-block {
    width: 100%; }


    .btn-circled {
        border-radius: 25px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
    }


    .form-control {
        display: block;
        width: 100% !important;
        height: 34px;
        padding: 6px 12px !important;
        font-size: 12px;
        line-height: 1.42857143;
        color: #000000;
        background-color: #fff;
        background-image: none;
        border: none !important;

        border-radius: 4px;

    }

    .mat-input-element
    {
      border: 1px solid #cccccc !important;
    }
    .error-message , .text-danger
    {
        color:red;
    }

    .mat-form-field-subscript-wrapper
    {
        position: relative !important;
    }





.new-dialog {
  visibility: visible;
  position: absolute;
  border-radius: 2px;
  right: 15%;
  left: 15%;
  top: 70px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  min-height: 200px;
  width: 90%;
  max-width: 520px;
  background-color: #fff;
  padding: 12px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.modal-header{
  height:50px;
}

.new-dialog-sm
{
  top:150px;
  left:350px;
  width:45%;
}

.new-dialog-md
{
  top:150px;
  left:200px;
  width:55%;
}

.new-dialog-lg
{
  top:50px;
  left:100px;
  width:70%;
}

.modal-close {
  margin-top: -10px;;
}
.modal-header .close
{
  margin-top: -20px !important;
}

.modal-x-icon{
color:#fff; font-size:16px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.color-red {
  color:red;
}


// As we have a close icons explicitely - hence hiding the close icon from ngx-smart-modal
.nsm-dialog-btn-close
{
  display: none !important;;
}


.modal-title {

  color:#ffffff;
}


.cdk-overlay-container
{
  position: fixed;;
  z-index: 1000;
}

.cdk-overlay-container, .cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}

.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  cursor: pointer;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: .75em .75em 0 .75em;
}

.mat-form-field-appearance-fill .mat-form-field-flex .mat-form-field-appearance-legacy{
  background-color: rgba(0,0,0,0.04);
}

.mat-form-field-flex {
  display: inline-flex;
  align-items: baseline;
  box-sizing: border-box;
  width: 100%;
}


.mat-select
{
border: 1px solid #ccc;
padding: 5px 5px;
}

.new-dialog-sm {
  top: 65px !important;
}

.data-grid-image-medium {
  height: 22px;
  width: 22px;
}

#dataTable .ag-body-horizontal-scroll {
  display: none !important;
}

.raisedBox {
  margin-bottom: 50px !important;
}

.border-zero-px {
  border: 0px !important;
}
#listPerPage{
  min-width: 60px !important;
}

form label {
  font-weight: normal !important;
}
.refresh-icon {
  height: 18px !important;
  width: 18px !important;
}

.forgot-password-link-styles {
  cursor:pointer;
  font-weight: 400 !important;
  font-size: 14px !important;
  text-decoration: underline !important;
  color:#616161
}

.login-container {
  max-width: 750px !important;
}

.login-text-styles {
  margin-left:160px !important;
  font-size:24px !important;
  font-weight:600 !important;
  margin-top: 20px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none !important;
}

.mat-form-field-infix {
   padding: 0px !important;
   border-top: 0px !important;
}

.forgot-password-container {
  max-width: 750px !important;
}

.forgot-password-heading-styles {
  margin-left:160px !important;
  font-size:20px !important;
  font-weight:600 !important;
  margin-top: 20px;
}

.forgot-password-alertdiv {
  display:block !important;
}

.forgot-password-description{
  font-size: 14px !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.forgot-password-widget{
  font-family: Roboto, "Helvetica Neue", sans-serif !important; //to fix the Denotes required field font-family
  font-size: 14px !important;
  color: #808080 !important;
}

.login-form-control {
  height:34px !important;
}

.login-form-widget{
  font-family: Roboto, "Helvetica Neue", sans-serif !important; //to fix the Denotes required field font-family
  font-size: 14px !important;
  color: #808080 !important;
}

.mat-form-field-subscript-wrapper{
font-size: 14px !important;    // to fix the mat-error size for form-controls
}

.password-change-success-alert {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.login-verification-container{
  max-width: 750px !important;
}

.login-verification-heading-styles {
  margin-left:160px !important;
  font-size:24px !important;
  font-weight:600 !important;
  margin-top: 20px !important;
  padding-left:50px !important;
}

.login-verification-description{
  font-size: 14px !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.login-verification-widget{
  font-family: Roboto, "Helvetica Neue", sans-serif !important; //to fix the Denotes required field font-family
  font-size: 14px !important;
  color: #808080 !important;
}

.login-verification-alertdiv {
  display:block !important;
}

.entry-title b {
font-size: 14px !important;  //to fix the h5 size of grouped menu list and list page heading size issue, after password reset and login to application.
}

.modal-backdrop.fade
   {
     opacity: 0.5;
   }
   .modal-open .modal
   {
     opacity: 1;
   }

   .show
   {
    z-index: 999999999999 !important;
    padding-top: 72px;
   }

.toast-container{
  z-index: 999999999999 !important; // to fix the toaster messages hiding behind the top nav issue
}

.mandatory-field {
  color:#d50000;
  font-weight: 500;
}

.ngx-background-spinner {
  z-index: 500 !important;
  }
.dummy-label-style{
  display: none;
}

.rotate-90-deg {
  transform: rotate(90deg) !important;
}

.mapping-definition {
  width: 30px !important;
  height: 20px !important;
}

.target-columns-drop-down {
  border: 1px #ddd solid !important;
}

.float-right {
  float: right !important;
}

#cost-dashboard-widget .highcharts-drillup-button {
  transform: translate(495px, 10px) !important;
}

#cost-report-widget .highcharts-drillup-button {
  transform: translate(495px, 10px) !important;
}

