//--mat-toggle button style 
   
.mat-button-toggle,
.mat-card {
	font-family: Roboto, Helvetica Neue, sans-serif
}
   

.mat-checkbox {
	font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-checkbox-layout .mat-checkbox-label {
	line-height: 24px
}
  
.mat-form-field-wrapper {
	padding-bottom: 1.34375em
}
 
.mat-slide-toggle-content,
.mat-slider-thumb-label-text {
	font-family: Roboto, Helvetica Neue, sans-serif
}

.mat-slider-thumb-label-text {
	/*font-size: 12px;*/
	font-weight: 500
}
  
.mat-ripple {
	overflow: hidden;
	position: relative
}

.mat-ripple:not(:empty) {
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

.mat-ripple.mat-ripple-unbounded {
	overflow: visible
}

.mat-ripple-element {
	position: absolute;
	border-radius: 50%;
	pointer-events: none;
	-webkit-transition: opacity, -webkit-transform 0ms cubic-bezier(0, 0, .2, 1);
	transition: opacity, -webkit-transform 0ms cubic-bezier(0, 0, .2, 1);
	transition: opacity, transform 0ms cubic-bezier(0, 0, .2, 1);
	transition: opacity, transform 0ms cubic-bezier(0, 0, .2, 1), -webkit-transform 0ms cubic-bezier(0, 0, .2, 1);
	-webkit-transform: scale(0);
	transform: scale(0)
}

.cdk-high-contrast-active .mat-ripple-element {
	display: none
}

.cdk-visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
	pointer-events: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%
}

.cdk-overlay-container {
	position: fixed;
	z-index: 1000
}

.cdk-overlay-container:empty {
	display: none
}

.cdk-global-overlay-wrapper,
.cdk-overlay-pane {
	display: -webkit-box;
	display: flex;
	position: absolute;
	z-index: 1000
}

.cdk-overlay-pane {
	pointer-events: auto;
	box-sizing: border-box;
	max-width: 100%;
	max-height: 100%
}

.cdk-overlay-backdrop {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	pointer-events: auto;
	-webkit-tap-highlight-color: transparent;
	-webkit-transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
	transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
	opacity: 0
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
	opacity: 1
}

@media screen and (-ms-high-contrast:active) {
	.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
		opacity: .6
	}
}

.cdk-overlay-dark-backdrop {
	background: rgba(0, 0, 0, .32)
}

.cdk-overlay-transparent-backdrop,
.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
	opacity: 0
}

.cdk-overlay-connected-position-bounding-box {
	position: absolute;
	z-index: 1000;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	min-width: 1px;
	min-height: 1px
}

.cdk-global-scrollblock {
	position: fixed;
	width: 100%;
	overflow-y: scroll
}
  

.mat-ripple-element {
	background-color: rgba(0, 0, 0, .1)
}
 

.mat-checkbox-frame {
	border-color: rgba(0, 0, 0, .54)
}

.mat-checkbox-checkmark {
	fill: #fafafa
}

.mat-checkbox-checkmark-path {
	stroke: #fafafa!important
}

.mat-checkbox-mixedmark {
	background-color: #fafafa
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
	background-color: #3f51b5
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
	background-color: #255625
}

.mat-checkbox-checked.mat-warn .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-warn .mat-checkbox-background {
	background-color: #f44336
}

.mat-checkbox-disabled.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-disabled.mat-checkbox-indeterminate .mat-checkbox-background {
	background-color: #b0b0b0
}

.mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame {
	border-color: #b0b0b0
}

.mat-checkbox-disabled .mat-checkbox-label {
	color: rgba(0, 0, 0, .54)
}

.mat-checkbox .mat-ripple-element {
	background-color: #000
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-primary .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-primary .mat-ripple-element {
	background: #3f51b5
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
	background: #255625
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-warn .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-warn .mat-ripple-element {
	background: #f44336
} 
 
.mat-drawer-container {
	/* background-color:#fafafa; */
	color: rgba(0, 0, 0, .87);
}

.mat-drawer {
	color: rgba(0, 0, 0, .87)
}

.mat-drawer,
.mat-drawer.mat-drawer-push {
	background-color: #fff
}

.mat-drawer:not(.mat-drawer-side) {
	box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12)
}

.mat-drawer-side {
	border-right: 1px solid rgba(0, 0, 0, .12)
}

.mat-drawer-side.mat-drawer-end,
[dir=rtl] .mat-drawer-side {
	border-left: 1px solid rgba(0, 0, 0, .12);
	border-right: none
}

[dir=rtl] .mat-drawer-side.mat-drawer-end {
	border-left: none;
	border-right: 1px solid rgba(0, 0, 0, .12)
}

.mat-drawer-backdrop.mat-drawer-shown {
	background-color: rgba(0, 0, 0, .6)
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
	background-color: #255625 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
	background-color: #40ff60 !important;
	opacity: 0.2;
}

.mat-slide-toggle.mat-checked .mat-ripple-element {
	background-color: #255625
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
	background-color: #3f51b5
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
	background-color: rgba(63, 81, 181, .54)
}

.mat-slide-toggle.mat-primary.mat-checked .mat-ripple-element {
	background-color: #3f51b5
}

.mat-slide-toggle.mat-warn.mat-checked .mat-slide-toggle-thumb {
	background-color: #f44336
}

.mat-slide-toggle.mat-warn.mat-checked .mat-slide-toggle-bar {
	background-color: rgba(244, 67, 54, .54)
}

.mat-slide-toggle.mat-warn.mat-checked .mat-ripple-element {
	background-color: #f44336
}

.mat-slide-toggle:not(.mat-checked) .mat-ripple-element {
	background-color: #000
}

.mat-slide-toggle-thumb {
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
	background-color: #fafafa
}

.mat-slide-toggle-bar {
	background-color: rgba(0, 0, 0, .38)
}

.mat-slider-track-background {
	background-color: rgba(0, 0, 0, .26)
}

.mat-primary .mat-slider-thumb,
.mat-primary .mat-slider-thumb-label,
.mat-primary .mat-slider-track-fill {
	background-color: #3f51b5
}

.mat-primary .mat-slider-thumb-label-text {
	color: #fff
}
