<div class="row cost-details-style">
  <div class="col-md-12">

    <div class="card-body">

      <div class="raisedBox">
        <h5 class="entry-title mt-0">
          <b>Cost Reports</b>
        </h5>
        <form [formGroup]="costListViewModel.costListViewModelForm">
          <div class="row">
            <div class="col-sm-12 col-md-2 col-lg-2">
            </div>

            <div class="col-sm-12 col-md-2 col-lg-2 timeline-selection-wrapper">
              <div class="no-days-control">
                <input type="radio" value="noOfDays" formControlName="filterType" />
                Filter by Recent Days
              </div>

              <div class="date-range-control">
                <input type="radio" value="dateRange" formControlName="filterType" />
                Filter by Date Range
              </div>
            </div>

            <div class="col-sm-12 col-md-5 col-lg-5">

              <div class="row no-margin">

                <div class="col-sm-12 no-padding display-flex"
                  *ngIf="costListViewModel.costListViewModelFormControls.filterType.value == 'dateRange'">
                  <span class="label-wrapper">
                    <label class="label-control" for="startDate">From Date</label>
                    <span class="text-danger"> * </span>
                  </span>

                  <div class="control-wrapper">
                    <input type="date" id="startDate" formControlName="startDate" matInput />
                    <div *ngIf="
                      costListViewModel.costListViewModelFormControls.startDate
                        .dirty || costListViewModel.costListViewModelFormControls.startDate.touched
                    " class="error-message-wrapper">
                      <span class="text-danger width-100-percent">
                        {{ costListViewModel.errorFor("startDate") }}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 no-padding display-flex" *ngIf="
                costListViewModel.costListViewModelFormControls.filterType
                  .value == 'dateRange'
              ">
                  <span class="label-wrapper">
                    <label class="label-control" for="endDate">To Date</label>
                    <span class="text-danger"> * </span>
                  </span>

                  <div class="control-wrapper">
                    <input type="date" id="endDate" formControlName="endDate" matInput
                      [max]="costListViewModel.maxDate" />
                    <div *ngIf="
                      costListViewModel.costListViewModelFormControls.endDate
                        .dirty || costListViewModel.costListViewModelFormControls.startDate.touched
                    " class="error-message-wrapper">
                      <span class="text-danger width-100-percent">
                        {{ costListViewModel.errorFor("endDate") }}
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12 no-padding display-flex">
                  <ng-container *ngIf="
                  costListViewModel.costListViewModelFormControls.filterType
                    .value == 'noOfDays'
                ">
                    <span class="label-wrapper">
                      <label class="label-control" for="days">Number of Days</label>
                      <span class="text-danger"> * </span>
                    </span>
                    <div class="control-wrapper">
                      <input type="number" id="days" formControlName="noOfDays" matInput />

                      <div *ngIf="costListViewModel.costListViewModelFormControls.noOfDays.dirty || costListViewModel.costListViewModelFormControls.startDate.touched
                    " class="error-message-wrapper">
                        <span class="text-danger width-100-percent">
                          {{ costListViewModel.errorFor("noOfDays") }}
                        </span>
                      </div>
                    </div>
                  </ng-container>
                </div>

                <div class="col-sm-12 no-padding display-flex">
                  <span class="label-wrapper">
                    <label class="label-control" for="tags">Select Tags</label>
                  </span>

                  <div class="tag-element control-wrapper">

                    <lib-angular2-multiselect [settings]="costListViewModel.settings"
                      [data]="costListViewModel.tagTypeList" id="tags" formControlName="selectedTags"
                      (select)="costListViewModel.onSelectTags($event)"
                      (deSelected)="costListViewModel.onRemoveTag($event)"
                      (selectedAll)="costListViewModel.selectedAllTags()"
                      (deSelectedAll)="costListViewModel.deSelectedAllTags()">
                    </lib-angular2-multiselect>

                  </div>
                </div>

                <div class="col-sm-12 no-padding display-flex">
                  <span class="label-wrapper">
                    <label class="label-control" for="tags">Select Tag Values</label>
                  </span>

                  <div class="tag-element control-wrapper">
                    <lib-angular2-multiselect [settings]="costListViewModel.settings"
                      (deSelectedAll)="costListViewModel.deSelectedAllTagsValues()"
                      [data]="costListViewModel.tagValueList" id="tagValues" formControlName="selectedTagValues">
                    </lib-angular2-multiselect>

                    <div *ngIf="costListViewModel.missingValues" class="error-message-wrapper">
                      <span class="text-danger width-100-percent">
                        {{costListViewModel.ValidationMessages.SELECT_MISSING_VALUES +" [ "
                        +costListViewModel.missingValues +" ] "}}
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-sm-12 col-md-2 col-lg-3 pull-left">
              <button type="button" (click)="costListViewModel.getCost()" title="Get Cost"
                [disabled]="costListViewModel.costListViewModelForm.invalid"
                class="btn btn-default btn-md btn-primary btn-circled">
                Get Cost
              </button>
            </div>
          </div>
        </form>

        <app-alert-component></app-alert-component>
        <ngx-ui-loader></ngx-ui-loader>

        <div class="row no-margin margin-top-15px override-form-style"
          *ngIf="costListViewModel.serviceTypeList && costListViewModel.serviceTypeList.length">

          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="panel">
              <div class="panel-heading panel-heading-layout-color">
                <h5>
                  <b>Total Amount($): {{costListViewModel.totalServiceTypeCost }}</b>
                </h5>
              </div>

              <div class="panel-body panel-body-layout-color panel-div padding-top-0" #serviceChartParent>
                <highcharts-chart id="cost-report-widget" class="toggle-back-button chart-element" [Highcharts]="costListViewModel.Highcharts"
                  [callbackFunction]="costListViewModel.serviceChartCallback"
                  [options]="costListViewModel.serviceTypeChartConfig">
                </highcharts-chart>

                <div class="cost-notes-wrapper">
                  <span class="cost-notes-style">
                    <b>Note:</b> Graph displays Amortized Cost. {{costListViewModel.ValidationMessages.AMORTIZED_COST_NOTE}}
                  </span>
                </div>


                <div class="row tag-label-style"
                  *ngIf="costListViewModel.selectedTagName && costListViewModel.selectedTagValueName && costListViewModel.isShowGrid">
                  <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                    <label for=""><b>Selected Tag Name:</b> {{costListViewModel.selectedTagName}}</label>
                  </div>
                  <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
                    <label for=""><b>Selected Tag Value:</b> {{costListViewModel.selectedTagValueName}}</label>
                  </div>
                </div>

                <app-data-table-cmp [viewModel]="costListViewModel.serviceTypeViewModelDataGrid"
                  [class]="{'display-none': !costListViewModel.isShowGrid}">
                </app-data-table-cmp>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
