.cost-details-style {

    .timeline-selection-wrapper input:nth-child(2) {
        margin-left: 10px;
    }

    .control-wrapper, input[type="date"], .tag-element {
        width: 60%;
        display: inline-block;
    }

    .control-wrapper {
        margin-bottom: 15px;
    }

    .label-wrapper {
        width: 30%;
        display: inline-block;
    }

    #days, #startDate, #endDate {
        width: 100%;
    }

    #endDate, #startDate {
        height: 40px;
    }

    #days {
        height: 40px;
        padding: 5px;
    }

    .no-days-control {
        margin-bottom: 10px;
    }

    .panel-heading {
        border-bottom: 1px solid lightgray;
    }

    .panel-body {
        padding: 15px;
    }

    .panel {
        box-shadow: 0px 0px 3px 1px lightgrey;
    }

    .chart-element {
        width: 100%;
    }

    .raisedBox {
        min-height: 300px;
    }

    .cost-notes-wrapper {
        margin-bottom: 20px;

        .cost-notes-style {
            color: #333333;
        }
    }

    .tag-label-style {
        margin-bottom: 15px;
        color: #333333;
    }
}