<div class="row">
    <div class="col-md-12">

        <div class="card-body table-responsive">
            <div class="raisedBox">
                <h5 class="entry-title   mt-0"><b>Data Source Configuration List </b></h5>
                <div class="row btn-section" *ngIf="dataSourceConfigurationListViewModel.userRolePermission.canCreate">
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12  pull-right ">
                        <div data-toggle="modal" (click)="dataSourceConfigurationListViewModel.navigateToCreate()"
                            class="btn btn-default btn-md btn-primary" style="float: right;">Create Data Source
                            Configuration</div>
                    </div>
                </div>
                <app-alert-component></app-alert-component>
                <app-extended-data-table-cmp [viewModel]="dataSourceConfigurationListViewModel.viewModelDataGrid">
                </app-extended-data-table-cmp>

            </div>
        </div>
    </div>
</div>

<ngx-smart-modal #deleteConfirmModalFromList identifier="deleteConfirmModalFromList" [dismissable]="false"
    class="modal-content dialog no-padding" style="border: 0px !important;"
    (onAnyCloseEvent)="dataSourceConfigurationListViewModel.onPopUpClose()">
    <div class="" style="z-index: 1043;">
        <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
            aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
            <div class="nsm-content">
                <div class="nsm-body">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Confirmation</h5>
                        <button aria-label="Close" class="close modal-close" title="Close"
                            (click)="dataSourceConfigurationListViewModel.onPopUpClose()" type="button">
                            <span class="modal-x-icon" aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body delete-confirmation-body">
                        <i class="fa fa-exclamation-triangle color-red"></i> Are you sure you want to delete this Data
                        Source Configuration?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" title="Cancel"
                            (click)="dataSourceConfigurationListViewModel.onPopUpClose()" type="button">Cancel </button>
                        <button class="btn btn-primary" title="Confirm" type="button"
                            (click)="dataSourceConfigurationListViewModel.deleteDataSourceConfiguration()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ngx-smart-modal>