<div class="row">
    <div class="col-md-12">

        <div class="card-body table-responsive">
            <div class="raisedBox">
                <h5 class="entry-title   mt-0"><b>Target Definition</b></h5>
                <div class="row btn-section">

                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12  pull-right ">

                        <div data-toggle="modal" (click)="targetDefinitionListViewModel.redirectToCreate()"
                            class="btn btn-default btn-md btn-primary" style="float: right;">Create Target Definition
                        </div>
                    </div>
                </div>
                <br>
                <app-alert-component></app-alert-component>
                <app-data-table-cmp [viewModel]="targetDefinitionListViewModel.viewModelDataGrid"> </app-data-table-cmp>

            </div>
        </div>
    </div>
</div>

<ngx-smart-modal #deleteConfirmModalFromList identifier="deleteConfirmModalFromList"
    class="modal-content dialog no-padding" style="border: 0px !important;">>
    <div class="" style="z-index: 1043;">
        <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
            aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
            <div class="nsm-content">
                <div class="nsm-body">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Confirmation</h5>
                        <button aria-label="Close" class="close modal-close" title="Close"
                            (click)="deleteConfirmModalFromList.close()" type="button">
                            <span class="modal-x-icon" aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <i class="fa fa-exclamation-triangle color-red"></i> Are you sure you want to delete this Target
                        Definition?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" title="Cancel" (click)="deleteConfirmModalFromList.close()"
                            type="button">Cancel </button>
                        <button class="btn btn-primary" title="Confirm" type="button"
                            (click)="targetDefinitionListViewModel.deleteTargetDefinition()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ngx-smart-modal>
<ngx-smart-modal #editActivatedFromList identifier="editActivatedFromList" class="modal-content dialog no-padding"
    style="border: 0px !important;">>
    <div class="" style="z-index: 1043;">
        <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
            aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
            <div class="nsm-content">
                <div class="nsm-body">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Activated Definition</h5>
                        <button aria-label="Close" class="close modal-close" title="Close"
                            (click)="editActivatedFromList.close()" type="button">
                            <span class="modal-x-icon" aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <i class="fa fa-exclamation-triangle color-yellow"></i> Are you sure you want to edit the
                        Activated Target Definition?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" title="Cancel" (click)="editActivatedFromList.close()"
                            type="button">Cancel </button>
                        <button class="btn btn-primary" title="Confirm" type="button"
                            (click)="targetDefinitionListViewModel.checkAndRedirectToDefineData()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ngx-smart-modal>