<div class="panel panel-default">
  <div class="panel-heading panel-heading-layout-color">
    <h3 class="panel-title">{{headerText}} {{costWidgetViewModel.totalServiceTypeCost }}</h3>
  </div>

  <div class="panel-body padding-top-0" #serviceChartParent>

    <div class="row filter-row">
      <div class="col-sm-0 col-md-2 col-lg-2"></div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="filter-scetion tag-filter" *ngIf="!isUserCost">
          <form [formGroup]="costWidgetViewModel.tagTypeForm">
            <label for="tags" class="tags-label">Tags</label>
            <lib-angular2-multiselect class="tags-select" [settings]="costWidgetViewModel.settings"
              [data]="costWidgetViewModel.tagTypes" id="tags" formControlName="selectedTags"
              (deSelectedAll)="costWidgetViewModel.onDeSelectTagAll()">
            </lib-angular2-multiselect>
          </form>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="filter-scetion">
          <label for="name">Filter</label>
          <ng-select [items]="costWidgetViewModel.periods" bindLabel="name" id="name" bindValue="id" class="date-select"
            [multiple]="false" placeholder="This Week" [(ngModel)]="costWidgetViewModel.selectedPeriod"
            (change)="costWidgetViewModel.onFilterChange($event)">
          </ng-select>
        </div>
      </div>
    </div>

    <highcharts-chart id="cost-dashboard-widget" class="toggle-back-button chart-element" [Highcharts]="costWidgetViewModel.Highcharts"
      [callbackFunction]="costWidgetViewModel.serviceChartCallback"
      [options]="costWidgetViewModel.serviceTypeChartConfig">
    </highcharts-chart>

    <div class="cost-notes-wrapper">
      <span class="cost-notes-style">
        <b>Note: </b> <span>{{costWidgetViewModel.costRangeText}} </span><br />Graph displays Amortized Cost.
        {{costWidgetViewModel.ValidationMessages.AMORTIZED_COST_NOTE}}
      </span>
    </div>


    <div class="row tag-label-style"
      *ngIf="costWidgetViewModel.selectedTagName && costWidgetViewModel.selectedTagValueName && costWidgetViewModel.isShowGrid">
      <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
        <label for=""><b>Selected Tag Name:</b> {{costWidgetViewModel.selectedTagName}}</label>
      </div>
      <div class="col-xs-12 col-md-3 col-sm-6 col-lg-3">
        <label for=""><b>Selected Tag Value:</b> {{costWidgetViewModel.selectedTagValueName}}</label>
      </div>
    </div>

    <app-data-table-cmp [viewModel]="costWidgetViewModel.serviceTypeViewModelDataGrid"
      [class]="{'display-none': !costWidgetViewModel.isShowGrid}">
    </app-data-table-cmp>
  </div>
</div>