<!-- <div class="material-datatables common-grid-wrapper"> -->
<div class="row">
    <div class="col-md-1">
        <select class="form-control mb-1" aria-label="listPerPage" name="listPerPage"
            (change)="viewModel.onPageSizeChanged()" [(ngModel)]="viewModel.paginationPageSize" style="width: 70px;"
            id="listPerPage">
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="250">250</option>
        </select>
    </div>
    <div class="col-md-1 pagination-entries entries-text">entries</div>
    <div class="col-md-6"></div>
    <div class="col-md-4">
        <!-- <div class="input-group mb-3 box-shadow pull-right"> -->
        <div class="input-group mb-3  pull-right">
            <!-- <div class="input-group-prepend">
                        <span class="input-group-text border-top-0 border-left-0 border-bottom-0">
                            <i class="fa fa-search"></i>
                        </span>
                    </div> -->
            <input type="text" aria-label="Search" [(ngModel)]="viewModel.searchText" (input)="viewModel.onSearch()"
                placeholder="Search" class="form-control border-0">
        </div>
    </div>
</div>
<div style="display: flex; flex-direction: row">
    <div style=" overflow: hidden; flex-grow: 1">
        <ag-grid-angular id="{{viewModel.dataTableId}}" class="clsDesignTable ag-theme-balham" aria-label="Grid"
            [gridOptions]="viewModel.gridOptions" (gridReady)="viewModel.onGridReady($event)"
            [rowData]="viewModel.rowData" [columnDefs]="viewModel.columnDefs"
            (cellClicked)="viewModel.onRowClicked($event)" (cellValueChanged)="viewModel.onCellValueChanged($event)"
            (rowSelected)="viewModel.onRowSelected($event)">
        </ag-grid-angular>
    </div>
</div>

<!-- </div> -->