<!-- <div class="material-datatables common-grid-wrapper"> -->
<div class="row common-grid" *ngIf="viewModel.customPagination">
    <div class="col-sm-4 col-md-3 col-lg-3">
        <select class="form-control entries-select mb-1 pagination-filter" aria-label="listPerPage" name="listPerPage"
            (change)="viewModel.onPageSizeChanged()" [(ngModel)]="viewModel.paginationPageSize" id="listPerPage">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="250">250</option>
        </select>

        <span class="pagination-styles">entries</span>
    </div>
    
    <div class="col-sm-4 col-md-5 col-lg-5"></div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <!-- <div class="input-group mb-3 box-shadow pull-right"> -->
        <div class="input-group mb-3  pull-right">
            <!-- <div class="input-group-prepend">
                    <span class="input-group-text border-top-0 border-left-0 border-bottom-0">
                        <i class="fa fa-search"></i>
                    </span>
                </div> -->
            <input type="text" aria-label="Search" [(ngModel)]="viewModel.searchText" (input)="viewModel.onSearch()"
                placeholder="Search" class="form-control border-0">
        </div>
    </div>
</div>
<div class="ag-grid-parent-div-styles">
    <div class="ag-grid-child-div-styles">
        <ag-grid-angular id="{{viewModel.dataTableId}}" class="clsDesignTable ag-theme-balham" aria-label="Grid"
            [sideBar]="viewModel.sideBar" [rowData]="viewModel.rowData" [gridOptions]="viewModel.gridOptions"
            (gridReady)="viewModel.onGridReady($event)" (cellClicked)="viewModel.onRowClicked($event)"
            (cellMouseOver)="viewModel.onCellMouseOver($event)"
            [animateRows]="true">
        </ag-grid-angular>
    </div>
</div>

<!-- </div> -->
