<div class="main-content">
    <!-- Section: home -->
    <section id="home" class="divider parallax layer-overlay">


        <div class="display-table" style="background-image: url('../assets/images/banner-bg.jpg');">
            <div class="display-table-cell">
                <div class="container forgot-password-container">
                    <div class="row">
                        <div class="col-md-8 col-md-push-2">
                            <div class="widget forgot-password-widget bg-lightest border-1px p-20">
                                <div class="widget border-1px p-20">
                                    <div class="mb-20 logo-div-styles">
                                        <a routerLink="" class=""><img class="logo-styles" src="assets/images/logo.png"
                                                alt="QurStore">
                                        </a>
                                    </div>
                                    <h2 class="forgot-password-heading-styles">
                                        Forgot Password</h2>

                                    <div class="row forgot-password-alertdiv">
                                        <div class="col-lg-12">
                                            <app-alert-component></app-alert-component>
                                        </div>
                                    </div>

                                    <br />
                                    <form [formGroup]="forgotPasswordViewModel.forgotPasswordForm"
                                        class="quick-contact-form">
                                        <div class="form-group forgot-password-description">
                                            <span class="text-theme-colored">
                                                Please enter your registered email to receive information on resetting
                                                the password
                                            </span>
                                        </div>
                                        <mat-form-field class="form-field-style" [floatLabel]="'never'">
                                            <input type='email' class="form-control col-lg-12 col-md-12 col-sm-12"
                                                matInput #email formControlName="email" placeholder="Email" required>

                                            <mat-error align="start" class="text-danger">
                                                {{ forgotPasswordViewModel.errorFor("email") }}
                                            </mat-error>
                                        </mat-form-field>

                                        <div class="form-group control-wrapper">
                                            <a class="btn btn-default btn-lg btn-circled mr-10 submitAndCancelButtonStyles"
                                                title="Cancel" (click)="forgotPasswordViewModel.onCancel()">
                                                Cancel
                                            </a>
                                            <input name="btnVerify"
                                                class="btn btn-default btn-lg btn-circled btn-primary mr-1 submitAndCancelButtonStyles"
                                                type="button" title="Verify" value="SUBMIT" id="btnVerify"
                                                (click)="forgotPasswordViewModel.saveChanges()" [disabled]="!(forgotPasswordViewModel.forgotPasswordForm.valid && forgotPasswordViewModel.forgotPasswordForm.dirty) 
                                        || forgotPasswordViewModel.submitted">

                                        </div>
                                    </form>
                                </div>
                                <span class="mandatory-field"> * </span> Denotes required field
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>