.widget {
    margin-bottom: 10px;
  }

  .submitAndCancelButtonStyles{
    transition: none 0s ease 0s; 
    line-height: 23px; 
    border-width: 1px; 
    margin: 0px 10px 0px 0px; 
    padding: 10px 20px; 
    letter-spacing: 1px; 
    font-weight: 400; 
    font-size: 14px;
  }
  .divider .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  

  .form-field-style {
    width: 100%;
  }

  .logo-div-styles {
    float: left;
    }
    
    .logo-styles{
      height: 65px;
      width: 135px;
      text-align: left;
    }
