 
 <div class="row">
  <div class="col-md-12">
      
      <div class="card-body table-responsive">
          <div  class="raisedBox" >
              <h3 class="entry-title   mt-0"><b>Workspace Management</b></h3>
              <div class="row btn-section"> 
                   
                      </div>
                       <app-alert-component></app-alert-component> 
                       <app-data-table-cmp [viewModel]="workspaceAdminListViewModel.viewModelDataGrid"> </app-data-table-cmp>
                          
                      </div>
          </div>       
      </div>
  </div>

  <ngx-smart-modal #cancelConfirmModalFromList identifier="cancelConfirmModalFromList" class="modal-content dialog no-padding" style="border: 0px !important;">>
    <div class="" style="z-index: 1043;"> 
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" 
    aria-hidden="false" aria-label="Bootstrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
    <div class="nsm-content">
        <div class="nsm-body">
            <div   class="modal-header">
                <h5   class="modal-title">Cancel Workspace Request Confirmation</h5>
                <button  aria-label="Close" class="close modal-close" title="Close"   (click)="cancelConfirmModalFromList.close()" type="button">
                    <span  class="modal-x-icon" aria-hidden="true">×</span></button>
            </div>
                <div   class="modal-body">
                    
                   <i class="fa fa-exclamation-triangle color-red" style="padding-right: 5px;"></i> Are you sure you want to cancel this workspace request? 
                   <form [formGroup]="workspaceAdminListViewModel.workspaceListViewModelForm">  
            
                    <div class="form-group">
                        <!-- class="raisedBox-no-effect"   -->
                        <div style="margin-top: 5px;  "
                        >  
                    
                            <div  class="row" style="padding-top: 15px;">
                                <div class="col-md-3"  >
                                    <b>Comments</b> <span class="text-danger"> * </span>
                                </div>
                            </div>
                            <div  class="row" >
                                <div class="col-md-12" >
                                        <textarea name="cancelDecisionComment" formControlName="cancelDecisionComment" rows="2" style="width: 98%;"> </textarea>
                                </div>
                                  <div *ngIf="workspaceAdminListViewModel.blankReasonForCancellation">
                                   <span class="text-danger" style="padding-left: 15px;"> 
                                        Enter the reason for cancelling the workspace request.
                                    </span>
                                </div>
                            </div>
                            <div  class="row">
                                <div class="col-md-12" style="height: 25px;" >
                                </div>
                            </div>
                         </div>
                    </div>

                </form>


                </div> 
                       <div  class="modal-footer">
                        <button  class="btn btn-default" title="Cancel"  (click)="cancelConfirmModalFromList.close()" type="button">Cancel </button>
                         <button  class="btn btn-primary" title="Confirm" type="button" (click)="workspaceAdminListViewModel.cancelWorkspaceAction()">Confirm</button>
                        </div>
            </div></div>
        </div>  </div>
  
  </ngx-smart-modal>


  <ngx-smart-modal #deleteConfirmModalFromList identifier="deleteConfirmModalFromList" class="modal-content dialog no-padding" style="border: 0px !important;">>
    <div class="" style="z-index: 1043;"> 
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" 
    aria-hidden="false" aria-label="Bootstrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
    <div class="nsm-content">
        <div class="nsm-body">
            <div   class="modal-header">
                <h5   class="modal-title">Terminate Workspace Confirmation</h5>
                <button  aria-label="Close" class="close modal-close" title="Close"   (click)="deleteConfirmModalFromList.close()" type="button">
                    <span  class="modal-x-icon" aria-hidden="true">×</span></button>
            </div>
                <div   class="modal-body">
                    
                   <i class="fa fa-exclamation-triangle color-red" style="padding-right: 5px;"></i> Are you sure you want to terminate this workspace? 
                   <form [formGroup]="workspaceAdminListViewModel.workspaceListViewModelForm">  
            
                    <div class="form-group">
                        <!-- class="raisedBox-no-effect"   -->
                        <div style="margin-top: 5px;  "
                        >  
                            <div  class="row" style="padding-top: 15px;">
                                <div class="col-md-3"  >
                                    <b>Comments</b> <span class="text-danger"> * </span>
                                </div>
                            </div>
                            <div  class="row" >
                                <div class="col-md-12" >
                                        <textarea name="terminateDecisionComment" formControlName="terminateDecisionComment" rows="2" style="width: 98%;"> </textarea>
                                </div>
                                  <div *ngIf="workspaceAdminListViewModel.blankReasonForTermination">
                                   <span class="text-danger" style="padding-left: 15px;"> 
                                        Enter the reason for terminating workspace.
                                    </span>
                                </div>
                            </div>
                            <div  class="row">
                                <div class="col-md-12" style="height: 25px;" >
                                </div>
                            </div>
                         </div>
                    </div>
                </form>
                </div> 
                       <div  class="modal-footer">
                        <button  class="btn btn-default" title="Cancel"  (click)="deleteConfirmModalFromList.close()" type="button">Cancel </button>
                         <button  class="btn btn-primary" title="Confirm" type="button" (click)="workspaceAdminListViewModel.terminateWorkspaceAction()">Confirm</button>
                        </div>
            </div></div>
        </div>  </div>
  </ngx-smart-modal>
   
  <ngx-smart-modal #requestNewWorkspaceFromCatalog identifier="requestNewWorkspaceFromCatalog" class="modal-content dialog no-padding" style="border: 0px !important;">>
    <!-- <div class="" style="z-index: 1043;"> -->
        <div class="modal-dialog modal-lg" style="width: 100%;"> 
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm"
    aria-hidden="false" aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true"  >
    <div class="nsm-content">
        <div class="nsm-body">
            <div   class="modal-header" >
                <h5   class="modal-title">Approve / Reject Workspace Request</h5>
                <button  aria-label="Close" class="close modal-close" title="Close"   (click)="requestNewWorkspaceFromCatalog.close()" type="button">
                    <span  class="modal-x-icon" aria-hidden="true">×</span></button>
            </div>
                <div    class="modal-body" style="width: 98%; margin: auto;">
                    <form [formGroup]="workspaceAdminListViewModel.workspaceListViewModelForm">  
            
                        <div class="form-group">
                            <div style="margin-top: 5px;  "
                            >  
                                <div class="row">
                                            <div class="col-md-12">
                                            <b>   Workspace Configuration</b>
                                            </div>
                                </div>
                                <div  class="row">
                                    <div class="col-md-12">
                                        {{workspaceAdminListViewModel.workspaceDescriptionLabel}}
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-md-5" >
                                        <b>DiskSpace Request</b>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="label-control"  ><b>Needed By</b></label> 
                                    </div>
                                    <div class="col-md-3">
                                        <b>Workspace Name</b>
                                    </div>
                                </div>
                                <div  class="row">
                                        <div class="col-md-5">
                                            {{workspaceAdminListViewModel.diskSpaceRequestedLabel}}                   
                                        </div>
                                        <div class="col-md-4">
                                            {{workspaceAdminListViewModel.neededByLabel}}        
                                        </div>
                                        <div class="col-md-3">
                                            {{workspaceAdminListViewModel.workspaceNameLabel}}          
                                        </div>
                                </div>
                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-md-12"  >
                                    <b> Reason for request</b>
                                        </div>
                                </div>
                                <div  class="row"> 
                                        <div class="col-md-12" >
                                            {{workspaceAdminListViewModel.reasonForRequestLabel}}        
                                            </div>
                                </div>

                                <div *ngIf="workspaceAdminListViewModel.workspaceTagTypeSelectedDetailsList.length != 0">
                                    <div class="row" style="padding-top: 15px;" *ngFor="let workspaceTagDetail of workspaceAdminListViewModel.workspaceTagTypeSelectedDetailsList">
                                        <div class="col-md-12"  >
                                        <b> {{ workspaceTagDetail.name }}</b>
                                            </div>
                                    
                                    <div  class="row"> 
                                        <div class="col-md-12" >
                                            <div class="col-md-12" >
                                              {{ workspaceTagDetail.selectedTagValues }}
                                            </div>
                                          </div>
                                     </div>
                                    </div>
                                </div>

                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-md-12"  >
                                    <b> User Name</b><span  > (required, if approving request) </span>
                                        </div>
                                </div>
                                <div  class="row"> 
                                    <div class="col-md-6" >
                                        <input type="text" id="userName"  formControlName="userName"  
                                            style="height: 30px;width: 100%;"> 
                                        
                                        <div *ngIf="workspaceAdminListViewModel.blankUserName">
                                            <span class="text-danger"  > 
                                                    Enter the user name to associate with the workspace.
                                                </span>
                                            </div>
                                    </div>
                                </div>
                        
                                <div  class="row" style="padding-top: 15px;">
                                    <div class="col-md-6"  >
                                        <b>Comments</b> <span class="text-danger"> * </span>
                                    </div>
                                </div>
                                <div  class="row" >
                                    <div class="col-md-12" >
                                            <textarea name="decisionComment" formControlName="decisionComment" rows="2" style="width: 98%;"> </textarea>
                                        <div *ngIf="workspaceAdminListViewModel.blankReasonForApproval">
                                            <span class="text-danger"  > 
                                                Enter the reason for approving the workspace.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div  class="row">
                                    <div class="col-md-12" style="height: 25px;" >
                                    </div>
                                </div>
                             </div>
                        </div>
                    </form>
                </div>
                <div  class="modal-footer" style="border-top: 0px">
                  <button  class="btn btn-primary" title="Approve" type="button" (click)="workspaceAdminListViewModel.approveRequest()">Approve</button>
                  <button  class="btn btn-primary" title="Reject" type="button" (click)="workspaceAdminListViewModel.rejectRequest()">Reject</button>
                  <button  class="btn btn-secondary" title="Close"  (click)="requestNewWorkspaceFromCatalog.close()" type="button">Close </button>
                </div>
            </div>
          </div>
        </div>
      </div>
</ngx-smart-modal>

<ngx-smart-modal #requestNewWorkspaceFromCatalogDetails identifier="requestNewWorkspaceFromCatalogDetails" class="modal-content dialog no-padding"
style="border: 0px !important;">
<div class="modal-dialog modal-lg" style="width: 95%;"> 
 <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm"
 aria-hidden="false" aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true"  >
 <div class="nsm-content">
     <div class="nsm-body">
         <div   class="modal-header" >
            <h5   class="modal-title">Workspace Request Details</h5>
             <button  aria-label="Close" class="close modal-close" title="Close"   (click)="requestNewWorkspaceFromCatalogDetails.close()" type="button">
                 <span  class="modal-x-icon" aria-hidden="true">×</span></button>
         </div>
             <div    class="modal-body" style="width: 100%; margin: auto;">
                <form [formGroup]="workspaceAdminListViewModel.workspaceListViewModelForm">  
                    <div class="form-group">
   
                        <div class="row">
                                    <div class="col-md-6">
                                      <label class="label-control" for="name">Workspace Type</label>  
                                    </div>
                        </div>
                        <div class="row">
                                <div class="col-md-12">
                                  {{workspaceAdminListViewModel.workspaceDescriptionLabel}}
                               </div>
                        </div>
                         <div class="row">
                           <div class="col-md-4"  style="padding-top: 15px;">
                             <label class="label-control" for="name">Workspace Name</label>
                           </div> 
                               <div class="col-md-4"  style="padding-top: 15px;">
                                 <label class="label-control" for="name">Root Volume (GB)</label>
                             </div> 
                             <div class="col-md-4"  style="padding-top: 15px;">
                               <label class="label-control" for="name">User Volume (GB)</label>
                           </div> 
                         </div>
                         <div class="row"> 
                           <div class="col-md-4"  >
                               {{workspaceAdminListViewModel.workspaceNameLabel}}
                           </div> 
                               <div class="col-md-4" >
                                   {{workspaceAdminListViewModel.rootVolumeSizeLabel}}
                             </div> 
                             <div class="col-md-4">
                                 {{workspaceAdminListViewModel.diskSpaceRequestedLabel}}
                           </div> 
                         </div>
                         <div class="row">
                           <div class="col-md-4"  style="padding-top: 15px;">
                             <label class="label-control" for="name">Request By</label>  
                           </div> 
                           <div class="col-md-4"  style="padding-top: 15px;">
                               <label class="label-control" for="name">Needed By</label>  
                           </div> 
                           <div class="col-md-4"  style="padding-top: 15px;">
                               <label class="label-control" for="name">Current Status</label>  
                           </div> 
                         </div>
                         <div class="row">  
                          <div class="col-md-4"  >
                              {{workspaceAdminListViewModel.userNameLabel}}
                           </div> 
                           <div class="col-md-4" >
                             {{workspaceAdminListViewModel.neededByDateLabel}}
                           </div> 
                           <div class="col-md-4" >
                             {{workspaceAdminListViewModel.currentStatusNameLabel}}
                           </div> 
                            
                         </div>
                        <div class="row">
                            <div class="col-md-12"  style="padding-top: 15px;">
                              <label class="label-control" for="name">Audit Log</label> 
                              </div>
                        </div>
                        <div class="row">
                         <div class="col-md-12" >
                           <app-data-table-cmp [viewModel]="workspaceAdminListViewModel.auditDataGrid"> </app-data-table-cmp>
                         </div>
                        </div>
                        <div *ngIf="workspaceAdminListViewModel.workspaceTagTypeSelectedDetailsList.length != 0">
                            <div class="row" style="padding-top: 15px;" *ngFor="let workspaceTagDetail of workspaceAdminListViewModel.workspaceTagTypeSelectedDetailsList">
                                <div class="col-md-12"  >
                                <b> {{ workspaceTagDetail.name }}</b>
                                    </div>
                            
                            <div  class="row"> 
                                <div class="col-md-12" >
                                    <div class="col-md-12" >
                                        {{ workspaceTagDetail.selectedTagValues }}
                                    </div>
                                  </div>
                             </div>
                            </div>
                        </div>
                       
                    </div>
                  </form>
             </div>
             <div  class="modal-footer">
               <button  class="btn btn-default" title="Cancel"
                   (click)="requestNewWorkspaceFromCatalogDetails.close()"
               >Close </button>
             </div>
         </div>
       </div>
     </div>
   </div>
</ngx-smart-modal>