<div class="main-content" class="user-details-screen">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-inverse raisedBox">
          <div class="panel-heading">
            <div *ngIf="userViewModel.modalType === 'Create'">
              <h4 class="panel-title panel-heading">Create User</h4>
            </div>
            <div *ngIf="userViewModel.modalType === 'Edit'">
              <h4 class="panel-title panel-heading">Edit User</h4>
            </div>
          </div>

          <div class="row ">
            <div class="col-lg-12">
              <app-alert-component></app-alert-component>
            </div>
          </div>

          <div class="panel-body ">
            <div class="tab-content">

              <div class="tab-pane active " id="user-details">
                <form [formGroup]="userViewModel.userDetailsForm">
                  <div class="form-group">
                    <!-- <! Commented by MS(28/12/20) - Since this logics are not needed, might be used in future !>
                      <div class="row padding-style">
                      <div class="col-md-12 col-lg-12 col-xs-12">
                        <div class="col-md-6 col-lg-6 col-xs-6" *ngIf="userViewModel.isSystemAdmin">
                          <div class="col-md-4 col-lg-4 col-xs-4">
                            <label class="label-control" for="txtRole">
                              Organization <span class="text-danger"> *</span>
                            </label>
                          </div>
                          <div class="col-lg-8 col-md-8 col-sm-8">
                            <ng-select [items]="userViewModel.organizationListGrid" bindLabel="organizationName"
                              bindValue="id" (change)="userViewModel.selectOrganizationChange($event)"
                              placeholder="Select Organization" [readonly]=" userViewModel.modalType === 'Edit'"
                              formControlName="organizationList">
                            </ng-select>
                          </div>
                        </div>

                        <div class="col-md-6 col-lg-6 col-xs-6">
                          <div class="col-md-4 col-lg-4 col-xs-4">
                            <label class="label-control">
                              Active Directory
                            </label>
                          </div>
                          <div class="col-lg-8 col-md-8 col-sm-8">
                            <ng-select [(ngModel)]="selectedProviderName"
                              (change)="userViewModel.selectChangeHandler($event)" [multiple]="false" placeholder="None"
                              formControlName="activeDirectory" [readonly]=" userViewModel.modalType === 'Edit'">
                              <ng-option [value]="0">None</ng-option>
                              <ng-option *ngFor="let providerList of userViewModel.providerList"
                                [value]="providerList.id">{{providerList.name}}</ng-option>
                            </ng-select>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xs-6">
                        </div>
                      </div>
                    </div> -->

                    <div class="row" *ngIf="userViewModel.isProviderUser">
                      <div class="col-md-12 col-lg-12 col-xs-12">
                        <div class="col-md-6 col-lg-6 col-xs-6">
                          <div class="col-md-4 col-lg-4 col-xs-4">
                            <label class="label-control form-label">
                              User Name</label>
                          </div>

                          <mat-form-field class="col-lg-8 col-md-8 col-sm-8">
                            <input type='text' aria-label='userName' class="form-control col-lg-12 col-md-12 col-sm-12"
                              matInput #username formControlName="userName"
                              [readonly]=" userViewModel.modalType === 'Edit' && userViewModel.isProviderUser ">
                          </mat-form-field>

                        </div>

                        <div class="col-md-6 col-lg-6 col-xs-6">
                          <button type="button"
                            *ngIf="userViewModel.userRolePermission?.canCreate || userViewModel.userRolePermission?.canUpdate"
                            data-toggle="modal" class="btn btn-default btn-md btn-primary btn-circled button-style"
                            id="user-edit-searchUser-btn" [disabled]="userViewModel.isDisabled"
                            (click)="userViewModel.searchUser()">
                            {{ (userViewModel.modalType === 'Edit' && userViewModel.isProviderUser) ? 'Refresh' :
                            'Search' }}
                            User
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-lg-12 col-xs-12">
                        <div class="col-md-6 col-lg-6 col-xs-6">
                          <div class="col-md-4 col-lg-4 col-xs-4">
                            <label class="label-control  form-label" for="txtFirstName">
                              First Name <span *ngIf="!userViewModel.isProviderUser"
                                class="text-danger mandatory-field"> *</span>
                            </label>
                          </div>
                          <mat-form-field class="col-lg-8 col-md-8 col-sm-8">
                            <input type='text' aria-label='firstName' class="form-control col-lg-12 col-md-12 col-sm-12"
                              matInput #firstName formControlName="firstName" [readonly]="userViewModel.isProviderUser "
                              required>

                            <mat-error align="start" class="text-danger">
                              {{ userViewModel.errorFor("firstName") }}
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-6 col-lg-6 col-xs-6">
                          <div class="col-md-4 col-lg-4 col-xs-4">
                            <label class="label-control form-label" for="txtMiddleName">
                              Middle Name
                            </label>
                          </div>
                          <mat-form-field class="col-lg-8 col-md-8 col-sm-8">
                            <input type='text' aria-label='middleName'
                              class="form-control col-lg-12 col-md-12 col-sm-12" matInput #middleName
                              formControlName="middleName" [readonly]="userViewModel.isProviderUser">

                            <mat-error align="start" class="text-danger">
                              {{ userViewModel.errorFor("middleName") }}
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 col-lg-12 col-xs-12">
                        <div class="col-md-6 col-lg-6 col-xs-6">
                          <div class="col-md-4 col-lg-4 col-xs-4">
                            <label class="label-control form-label" for="txtLastName">
                              Last Name <span *ngIf="!userViewModel.isProviderUser" class="text-danger mandatory-field">
                                *</span>
                            </label>
                          </div>
                          <mat-form-field class="col-lg-8 col-md-8 col-sm-8">
                            <input type='text' aria-label='lastName' class="form-control col-lg-12 col-md-12 col-sm-12"
                              matInput #lastName formControlName="lastName" [readonly]="userViewModel.isProviderUser ">
                            <mat-error align="start" class="text-danger">
                              {{ userViewModel.errorFor("lastName") }}
                            </mat-error>
                          </mat-form-field>
                        </div>

                        <div class="col-md-6 col-lg-6 col-xs-6">
                          <div class="col-md-4 col-lg-4 col-xs-4">
                            <label class="label-control form-label" for="txtEmail">
                              Email <span *ngIf="!userViewModel.isProviderUser" class="text-danger mandatory-field">
                                *</span>
                            </label>
                          </div>
                          <mat-form-field class="col-lg-8 col-md-8 col-sm-8">
                            <input type='text' aria-label='email' class="form-control col-lg-12 col-md-12 col-sm-12"
                              matInput #email formControlName="email"
                              [readonly]="userViewModel.modalType =='Edit' || userViewModel.isProviderUser" required>
                            <mat-error align="start" class="text-danger">
                              {{ userViewModel.errorFor("email") }}
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12 col-lg-12 col-xs-12">
                        <div class="col-md-6 col-lg-6 col-xs-6">
                          <div class="col-md-4 col-lg-4 col-xs-4">
                            <label class="label-control form-label" for="userOrganizationRoles">
                              Role <span class="text-danger mandatory-field"> *</span>
                            </label>
                          </div>
                          <div class="col-lg-8 col-md-8 col-sm-8">
                            <ng-select [items]="userViewModel.roleList" bindLabel="name" bindValue="id"
                              labelForId="userOrganizationRoles"
                              [readonly]="userViewModel.modalType =='Edit' && userViewModel.isSameUserToEdit"
                              [multiple]="true" placeholder="Select Role" formControlName="userOrganizationRoles">
                            </ng-select>

                            <mat-error align="start" class="text-danger"
                              *ngIf="userViewModel.detailForm.userOrganizationRoles.touched && userViewModel.detailForm.userOrganizationRoles.errors?.required">
                              Please select at least one role for this user.
                            </mat-error>
                          </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xs-6">
                          <div class="col-md-4 col-lg-4 col-xs-4">
                            <label class="label-control form-label" for="txtRole">
                              Status <span class="text-danger mandatory-field"> *</span>
                            </label>
                          </div>
                          <div class="col-lg-8 col-md-8 col-sm-8">
                            <mat-slide-toggle
                              [disabled]="userViewModel.modalType =='Edit' && userViewModel.isSameUserToEdit" #isEnabled
                              formControlName="isEnabled">
                              <span class="dummy-label-style">Status</span>
                            </mat-slide-toggle>
                          </div>
                        </div>
                        <div class="row empty-div">
                          <div class="col-md-12 col-lg-12 col-xs-12">
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="row col-lg-12">
                        <div class="col-lg-6 col-xs-4 pull-left">
                          <span class="text-danger pull-left mandatory-field">
                            <b>*</b>
                          </span>
                          <span class="font-10px"> &nbsp; Denotes required fields</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 text-right">
                          <button type="button" data-toggle="modal"
                            class="btn btn-default btn-md btn-circled button-style" id="user-edit-back-btn"
                            (click)="userViewModel.onCancel()">
                            Cancel
                          </button>

                          <button type="button" data-toggle="modal"
                            *ngIf="userViewModel.userRolePermission?.canCreate || userViewModel.userRolePermission?.canUpdate"
                            class="btn btn-default btn-md btn-primary btn-circled button-style"
                            id="user-edit-saveChanges-btn" (click)="userViewModel.saveChanges()"
                            [disabled]="!((userViewModel.userDetailsForm.valid && userViewModel.userDetailsForm.dirty) || userViewModel.submitted)">
                            Save User
                          </button>
                        </div>
                      </div>
                    </div>


                  </div>
                </form>
              </div>

              <ngx-smart-modal #userCancelConfirmModal identifier="userCancelConfirmModal" [dismissable]="false"
                class="modal-content dialog no-padding border-zero-px" (onAnyCloseEvent)="userViewModel.onPopUpClose()">
                <div class="stack-order">
                  <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm stack-order"
                    aria-hidden="false" aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
                    <div class="nsm-content">
                      <div class="nsm-body">
                        <div class="modal-header">
                          <h5 class="modal-title">Cancel Confirmation</h5>
                          <button aria-label="Close" class="close modal-close" title="Close"
                            (click)="userViewModel.onPopUpClose()" type="button">
                            <span class="modal-x-icon" aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body cancel-confirmation-message">
                          <i class="fa fa-exclamation-triangle color-red"></i>
                          Are you sure you want to discard the changes?
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-default" title="Cancel" (click)="userViewModel.onPopUpClose()"
                            type="button">Cancel </button>
                          <button class="btn btn-primary" title="Confirm" type="button"
                            (click)="userViewModel.onConfirm()">Confirm</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-smart-modal>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>