.error-msg {
    color: red;
    font-size: 100%;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    top: calc(100% - 1.72916667em);
  }

  .padding-style {
   padding-bottom: 22px;
  }

  .border-zero-px {
    border: 0px !important;
  }

  .panel-heading {
    color:#565252;
  }

  .mandatory-field {
    color:#d50000;
    font-weight: 500;
  }

  .form-label {
    color:#000000;
  }


  .font-10px {
    font-size: 10pt;
    color:#000000;
  }

  .stack-order{
    z-index: 1043;
  }

  .cancel-confirmation-message{
    color: #000000;
  }

  .button-style {
    padding:right;
    margin-left: 5px;
  }

  .empty-div{
    margin-top: 25px;
    height: 15px;
  }

  .user-details-screen input.mat-input-element {
    color: #000000; /* have added this class to make the input text visible clearly, it will be applicable for only this module*/
  }
