.card-header-default {
  background: linear-gradient(60deg, #d2d2d2, #999999);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(153, 153, 153, 0.28);
}

.wrapper {
  padding: 0 !important;
}

.footer {
  position: unset !important;
  border: none !important;
  margin-top: 1rem !important;
  padding: 0;
}

.login-panel {
  position: unset !important;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.alert {
  padding: 10px 15px !important;
}

.alert-comp-div {
  padding-top: 10px;
}

.divider .container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.form-field-style {
  width: 100%;
}

.button-styles{
  transition: none 0s ease 0s; 
  line-height: 23px; 
  border-width: 1px; 
  margin: 0px 10px 0px 0px; 
  padding: 10px 20px; 
  letter-spacing: 1px; 
  font-weight: 400; 
  font-size: 14px;
}

.logo-div-styles {
  float: left;
  }
  
  .logo-styles{
    height: 65px;
    width: 135px;
    text-align: left;
  }

.empty-div{
  height: 25px;
}

.resend-button-styles{
  text-decoration: underline; 
  color:#126bc5; 
  font-size:12px; 
  float:left;
}
