<div class="main-content">
  <!-- Section: home -->
  <section id="home" class="divider parallax layer-overlay">


    <div class="display-table" style="background-image: url('../assets/images/banner-bg.jpg');">
      <div class="display-table-cell">
        <div class="container login-verification-container">
          <div class="row">
            <div class="col-md-8 col-md-push-2">
              <div class="login-verification-widget bg-lightest border-1px p-20">
                <div class="border-1px p-20">
                  <div class="mb-20 logo-div-styles">
                    <a routerLink="" class=""><img class="logo-styles" src="assets/images/logo.png" alt="Logo">
                    </a>
                  </div>
                  <h2 class="login-verification-heading-styles">Verification</h2>

                  <div class="row login-verification-alertdiv">
                    <div class="col-lg-12">
                      <app-alert-component></app-alert-component>
                    </div>
                  </div>

                  <br />
                  <form [formGroup]="loginVerificationViewModel.loginVerificationForm" class="quick-contact-form">
                    <div class="form-group login-verification-description">
                      <span class="text-theme-colored">
                        A 6 digit verification code has been sent to your registered email account. Please enter the
                        verification code to continue.
                      </span>
                    </div>

                    <mat-form-field class="form-field-style" [floatLabel]="'never'">
                      <input type='password' class="form-control col-lg-12 col-md-12 col-sm-12" matInput
                        #verificationCode formControlName="verificationCode" placeholder="Verification Code" required
                        maxlength="6">

                      <mat-error align="start" class="text-danger">
                        {{ loginVerificationViewModel.errorFor("verificationCode") }}
                      </mat-error>
                    </mat-form-field>

                    <div class="form-group control-wrapper">
                      <a class="btn btn-default btn-lg btn-circled mr-10 button-styles" title="Cancel"
                        (click)="loginVerificationViewModel.onCancel()">
                        Cancel
                      </a>

                      <input name="btnVerify" class="btn btn-default btn-lg btn-circled btn-primary mr-1 button-styles"
                        type="button" title="Verify" value="VERIFY" id="btnVerify"
                        (click)="loginVerificationViewModel.saveChanges()" [disabled]="!(loginVerificationViewModel.loginVerificationForm.valid && loginVerificationViewModel.loginVerificationForm.dirty) 
                                      || loginVerificationViewModel.submitted">
                    </div>
                    <div class="form-group">
                      <span class="text-theme-colored">
                        Still haven't received the verification code? Click the "Resend Verification Code" link to
                        receive a new code
                      </span>
                    </div>
                    <div class="form-group">
                      <a href="javascript:void(0)" class="resend-button-styles" title="Resend Verification Code"
                        (click)="loginVerificationViewModel.resendVerificationCode()">
                        RESEND VERIFICATION CODE
                      </a>
                    </div>
                    <div class="form-group">
                      <div class="mb-20 empty-div"></div>
                      <span class="text-theme-colored">
                        <b>Note:</b> The verification code will expire in 5 minutes
                      </span>
                    </div>
                  </form>
                </div>
                <span class="mandatory-field"> * </span> Denotes required field
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>