<div class="main-content">
  <!-- Section: home -->
  <section id="home" class="divider parallax layer-overlay">
    <div class="display-table" style="background-image: url('../assets/images/banner-bg.jpg');">
      <div class="display-table-cell">
        <div class="container change-password-container">
          <div class="row">
            <div class="col-md-8 col-md-push-2">
              <div
                *ngIf="changePasswordViewModel.resetPasswordLinkExpired !== null && changePasswordViewModel.resetPasswordLinkExpired">
                <div class="widget bg-lightest p-30">
                  <div class="widget">
                    <h3>The link you followed is expired.</h3>
                    <br />
                    <h4>Please contact admin</h4>
                  </div>
                </div>
              </div>

              <div
                *ngIf="changePasswordViewModel.resetPasswordLinkExpired !== null && !changePasswordViewModel.resetPasswordLinkExpired">
                <div class="widget bg-lightest border-1px p-30 change-password-div">
                  <div class="widget change-password border-1px p-30">
                    <div class="mb-20 logo-div-styles">
                      <a routerLink="" class=""><img src="assets/images/logo.png" alt="Logo" class="logo">
                      </a>
                    </div>
                    <h4 class="form-heading">Change Password</h4>

                    <div class="row password-change">
                      <div class="col-md-12">
                        <app-alert-component></app-alert-component>
                      </div>

                    </div>
                    <form [formGroup]="changePasswordViewModel.changePasswordForm" class="quick-contact-form">
                      <div fxFlex>

                        <mat-form-field appearance="none" class="change-password-label" [floatLabel]="'never'">
                          <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility> 
                          <input matInput #password [type]="toggle.type" 
                            class="form-control col-lg-12 col-md-12 col-sm-12" formControlName="password" required
                            placeholder="New Password" aria-label="password">
                          <mat-error align="start" class="text-danger">
                            {{ changePasswordViewModel.errorFor("password") }}
                          </mat-error>
                        </mat-form-field>
                        <mat-password-strength #passwordComponent class="green"
                          (onStrengthChanged)="onStrengthChanged($event)" [password]="password.value">
                        </mat-password-strength>
                        <mat-password-strength-info [passwordComponent]="passwordComponent">
                        </mat-password-strength-info>
                      </div>
                      <br />
                      <!-- <mat-form-field style="width: 100%;" [floatLabel]="'never'">
                        <input type='password'  
                                class="form-control col-lg-12 col-md-12 col-sm-12"  
                                matInput 
                                #password  
                                formControlName="password"
                                placeholder="Password"
                                title="Must contain at least one uppercase, one lowercase, one number and one special characters"
                                required>
  
                        <mat-error align="start" class="text-danger">
                          {{ changePasswordViewModel.errorFor("password") }}
                        </mat-error>
                      </mat-form-field> -->

                      <mat-form-field appearance="none" class="form-field-style" [floatLabel]="'never'">
                        <input type='password' aria-label="confirmPassword"
                          class="form-control col-lg-12 col-md-12 col-sm-12" matInput #confirmPassword
                          formControlName="confirmPassword" placeholder="Confirm Password" required>

                        <mat-error align="start" class="text-danger">
                          {{ changePasswordViewModel.errorFor("confirmPassword") }}
                        </mat-error>
                      </mat-form-field>

                      <div class="form-group control-wrapper">
                        <a class="btn btn-default btn-lg btn-circled mr-10 button-styles" title="Cancel" id="close-window"
                          (click)="changePasswordViewModel.onCancel()">
                          Cancel
                        </a>
                        <input name="btnSave" class="btn btn-default btn-lg btn-circled btn-primary mr-1 button-styles"
                          type="button" title="Save" value="Save" id="btnSave"
                          (click)="changePasswordViewModel.saveChanges()" [disabled]="!(changePasswordViewModel.changePasswordForm.valid && changePasswordViewModel.changePasswordForm.dirty)
                                        || changePasswordViewModel.submitted">

                      </div>
                    </form>
                  </div>
                  <span class="mandatory-field"> * </span> Denotes required field
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>