.mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 1.25em !important;
  background-color: rgba(0,0,0,.42) !important;
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}

.change-password-label > .mat-form-field-wrapper > .mat-form-field-underline {
  max-width: 90% !important;
}


.change-password-label {
  width:116% !important;
}

.mat-form-field-suffix {
  right: 15% !important;
  top: -12px !important;
}

.logo {
  height: 65px;
  width: 150px;
  text-align: left;
}

.widget .change-password {
    margin-bottom: 20px;
    
}

.password-change {
    display: flex;
    flex-wrap:nowrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
}

.divider .container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo-div-styles {
  float: left;
  }
  
  .logo-styles{
    height: 65px;
    width: 135px;
    text-align: left;
  }
  
  .form-field-style {
    width: 100%;
  }
  
  .button-styles {
    transition: none 0s ease 0s; 
    line-height: 23px; 
    border-width: 1px; 
    margin: 0px 10px 0px 0px; 
    padding: 10px 20px; 
    letter-spacing: 1px; 
    font-weight: 400; 
    font-size: 14px;
  }

  .form-heading{
    margin-left:35%; 
    font-size:20px !important; 
    padding-left:50px;
    margin-top: 5%;
    font-weight: 700;
  }
.change-password-div{
  width: 510px;
  margin-left: 150px
}
