<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-inverse raisedBox">
          <div class="panel-heading">
            <div *ngIf="targetDefinitionDetailViewModel.modalType === 'Create'">
              <h4 class="panel-title">Create Target Definition</h4>
            </div>
            <div *ngIf="targetDefinitionDetailViewModel.modalType === 'Edit'">
              <h4 class="panel-title">Edit Target Definition</h4>
            </div>
            <div *ngIf="targetDefinitionDetailViewModel.modalType === 'Detail'">
              <h4 class="panel-title">Target Definition Details</h4>
            </div>
          </div>
          <div class="panel-body ">
            <div class="tab-content">
              <div class="row">
                <div class="col-md-4">Select Source</div>
                <div class="col-md-4 text-center">Define Data</div>
                <div class="col-md-4 text-right">Preview Definition</div>
                <progress-bar class="col-md-12" [progress]="targetDefinitionDetailViewModel.progressValue">
                </progress-bar>
              </div>
              <div class="tab-pane active " id="target-Definition-details">
                <form [formGroup]="targetDefinitionDetailViewModel.targetDefinitionDetailsForm">
                  <div class="form-group">
                    <div class="row" *ngIf="targetDefinitionDetailViewModel.modalType === 'Edit'">
                      <div class="h5">
                        Target Name: {{targetDefinitionDetailViewModel.targetDefinitionName}}
                      </div>
                    </div>
                    <div class="row">
                      <h5>Import File <span class="text-danger"> * </span> (Only xlsx, csv and text file) </h5>
                      <div class="dotted-border " style="margin: auto;text-align: center">
                        <!-- <a   href="javascript:void(0)" >
                               <img src="images/upload-file.png" alt="" title="Drag & Drop a file">
                              </a> -->
                        <h5>Upload a file (<small>Maximum upload file size: 12 MB</small>)</h5>
                        <span class="display-center-60">
                          <div class="form-group align-div-center ">
                            <input type='file' id="fileUpload" multiple name="fileUpload"
                              (change)="targetDefinitionDetailViewModel.fileChanged($event)">
                          </div>
                          <span
                            *ngIf="targetDefinitionDetailViewModel.targetDefinitionId && targetDefinitionDetailViewModel.fileName"><b>Uploaded
                              File: </b> {{targetDefinitionDetailViewModel.fileName}}</span>
                        </span>


                      </div>

                    </div>
                    <div class="row">
                      <div style="padding-top: 10px;">
                        <h5>Dataset Information</h5>
                      </div>
                      <table style="width: 80%;">
                        <thead>
                          <tr>
                            <th>File Type <span class="text-danger"> * </span></th>
                            <th class="padding-left-20">Delimiter <span class="text-danger"> * </span></th>
                            <th class="padding-left-20">Is Header Information Available <span class="text-danger"> *
                              </span></th>
                            <th class="padding-left-20"> Target Definition Name<span class="text-danger"> * </span></th>

                          </tr>
                        </thead>
                        <tbody>
                          <td>

                            <mat-form-field>
                              <mat-select formControlName="file_type" class="col-md-2 col-sm-3 col-xs-6 col-lg-2"
                                name="file_type">
                                <mat-option value="">--Select--</mat-option>
                                <mat-option value="CSV">CSV</mat-option>
                                <mat-option value="XLSX">EXCEL</mat-option>
                                <mat-option value="TEXT">Text</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </td>
                          <td class="padding-left-20">
                            <mat-form-field>
                              <mat-select class="required" style="width: 95%;" name="delimiterInformation"
                                formControlName="delimiterInformation" class="col-md-2 col-sm-3 col-xs-6 col-lg-2">
                                <mat-option value="">--Select--</mat-option>
                                <mat-option value=",">,</mat-option>
                                <mat-option value="|">|</mat-option>
                                <mat-option value="~">~</mat-option>
                                <mat-option value="none">None</mat-option>
                              </mat-select>
                            </mat-form-field>

                          </td>
                          <td class="padding-left-20">
                            <mat-form-field>
                              <mat-select class="required" style="width: 95%;" name="isHeaderInformationAvailable"
                                formControlName="isHeaderInformationAvailable"
                                class="col-md-2 col-sm-3 col-xs-6 col-lg-2">
                                <mat-option value="">--Select--</mat-option>
                                <mat-option value="1">Yes</mat-option>
                                <mat-option value="0">No</mat-option>
                              </mat-select>
                            </mat-form-field>

                          </td>

                          <td class="padding-left-20">
                            <mat-form-field>
                              <input matInput #targetDefinitionName formControlName="targetDefinitionName"
                                id="targetDefinitionName" name="targetDefinitionName" size="50" />
                            </mat-form-field>

                          </td>
                        </tbody>

                      </table>
                    </div>

                    <div class="row">
                      <div class="row col-lg-12">
                        <app-alert-component></app-alert-component>

                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="row col-lg-12 col-xs-10" style="padding-top: 25px;">

                        <div class="col-lg-6 col-xs-4 ">
                          <button type="button" data-toggle="modal" class="btn btn-default btn-md btn-circled"
                            style="padding:right;display: none;" id="target-definition-edit-back-btn"
                            (click)="targetDefinitionDetailViewModel.onCancel()">
                            Previous
                          </button>
                        </div>

                        <div class="col-lg-6 col-xs-6 pull-left text-right">
                          <button type="button" data-toggle="modal"
                            class="btn btn-default btn-md btn-primary btn-circled"
                            style="padding:right; margin-left: 5px;"
                            *ngIf="targetDefinitionDetailViewModel.modalType==='Edit' || targetDefinitionDetailViewModel.modalType==='Create'"
                            id="target-definition-edit-saveChanges-btn"
                            (click)="targetDefinitionDetailViewModel.saveChanges()" [disabled]="!( targetDefinitionDetailViewModel.targetDefinitionDetailsForm.valid)                                   
                                  ">
                            Next
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="row " style="padding-top: 25px;">
                      <div class="row col-lg-12">
                        <span class="text-danger pull-left">
                          <b>*</b>
                        </span>
                        <span style="font-size: 10pt;"> &nbsp; Denotes required fields</span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-smart-modal #uploadNewFile identifier="uploadNewFile" class="modal-content dialog no-padding"
  style="border: 0px !important;">>
  <div class="" style="z-index: 1043;">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
      aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <h5 class="modal-title">Edit Target Definition</h5>
            <button aria-label="Close" class="close modal-close" title="Close" (click)="uploadNewFile.close()"
              type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <i class="fa fa-exclamation-triangle color-red"></i> Uploading a new definition file will override previous
            column specifications. Are you sure you want to upload the new file?
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel" (click)="targetDefinitionDetailViewModel.reloadPage()"
              type="button">Cancel </button>
            <button class="btn btn-primary" title="Confirm" type="button"
              (click)="targetDefinitionDetailViewModel.uploadNewFileConfirm()">Confirm</button>

          </div>
        </div>
      </div>
    </div>
  </div>

</ngx-smart-modal>