.panel-heading {
    color:#565252;
}

.form-label {
    color:#000000;
}

.mandatory-field {
    color:#d50000;
    font-weight: 500;
}

.stack-order{
    z-index: 1043;
  }

  .button-style {
    padding:right;
    margin-left: 5px;
  }

  .font-10px {
    font-size: 10pt;
    color:#000000;
  }

  /* input color class */
  .data-source-configuration input.mat-input-element {
    color: #000000; /* have added this class to make the input text visible clearly, it will be applicable for only this module*/
  }

  .cancel-confirmation-body{
    color:#000000 !important;
  }
