<div class="main-content data-source-configuration">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-inverse raisedBox">
          <div class="panel-heading">
            <div *ngIf="dataSourceConfigurationCreateEditDetailViewModel.modalType === 'create'">
              <h4 class="panel-title panel-heading">Create Data Source Configuration</h4>
            </div>
            <div *ngIf="dataSourceConfigurationCreateEditDetailViewModel.modalType === 'edit'">
              <h4 class="panel-title panel-heading">Edit Data Source Configuration</h4>
            </div>
            <div *ngIf="dataSourceConfigurationCreateEditDetailViewModel.modalType === 'detail'">
              <h4 class="panel-title panel-heading">Data Source Configuration</h4>
            </div>
          </div>

          <div class="row ">
            <div class="col-lg-12">
              <app-alert-component></app-alert-component>
            </div>
          </div>

          <div class="panel-body ">
            <div class="tab-content">

              <div class="tab-pane active ">
                <form [formGroup]="dataSourceConfigurationCreateEditDetailViewModel.dataSourceConfigurationForm">
                  <div class="form-group">
                    <div class="row paddingstyle">
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-lg-12 col-xs-12">
                        <div class="col-md-6 col-lg-6 col-xs-6">
                          <div class="col-md-4 col-lg-4 col-xs-4">
                            <label class="label-control form-label" for="name">
                              Name <span class="text-danger mandatory-field"> *</span>
                            </label>
                          </div>
                          <mat-form-field class="col-lg-8 col-md-8 col-sm-8">
                            <input type='text' aria-label='name' class="form-control col-lg-12 col-md-12 col-sm-12"
                              matInput #name formControlName="name" required>
                          </mat-form-field>
                        </div>

                        <div class="col-md-6 col-lg-6 col-xs-6">
                          <div class="col-md-4 col-lg-4 col-xs-4">
                            <label class="label-control form-label" for="refTypeId">
                              Type<span class="text-danger mandatory-field"> *</span>
                            </label>
                          </div>
                          <div class="col-lg-8 col-md-8 col-sm-8">
                            <ng-select [items]="dataSourceConfigurationCreateEditDetailViewModel.refTypeList"
                              bindLabel="Name" bindValue="Id"
                              (change)="dataSourceConfigurationCreateEditDetailViewModel.selectRefType($event)"
                              placeholder="Select Reference Type"
                              [readonly]=" dataSourceConfigurationCreateEditDetailViewModel.modalType"
                              formControlName="refTypeId" labelForId="refTypeId">
                            </ng-select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h5>Configuration</h5> <br>
                    <form [formGroup]="dataSourceConfigurationCreateEditDetailViewModel.amazonS3Form"
                      *ngIf="dataSourceConfigurationCreateEditDetailViewModel.selectedRefType === 'AWS S3 Bucket'">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12 col-lg-12 col-xs-12">
                            <div class="col-md-6 col-lg-6 col-xs-6">
                              <div class="col-md-4 col-lg-4 col-xs-4">
                                <label class="label-control form-label" for="region">
                                  Region <span class="text-danger mandatory-field"> *</span>
                                </label>
                              </div>
                              <div class="col-lg-8 col-md-8 col-sm-8">
                                <ng-select [items]="dataSourceConfigurationCreateEditDetailViewModel.regionList"
                                  bindLabel="itemName" bindValue="id" placeholder="Select Region"
                                  [readonly]=" dataSourceConfigurationCreateEditDetailViewModel.modalType === 'edit'"
                                  formControlName="region" labelForId="region">
                                </ng-select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-md-12 col-lg-12 col-xs-12">
                            <div class="col-md-6 col-lg-6 col-xs-6">
                              <div class="col-md-4 col-lg-4 col-xs-4">
                                <label class="label-control form-label" for="bucket">
                                  Bucket Name <span class="text-danger mandatory-field"> *</span>
                                </label>
                              </div>
                              <mat-form-field class="col-lg-8 col-md-8 col-sm-8">
                                <input type='text' aria-label='bucket'
                                  class="form-control col-lg-12 col-md-12 col-sm-12" matInput #bucket
                                  formControlName="bucket">
                              </mat-form-field>
                            </div>

                            <div class="col-md-6 col-lg-6 col-xs-6">
                              <div class="col-md-4 col-lg-4 col-xs-4">
                                <label class="label-control form-label" for="folderName">
                                  Folder Name (if any)
                                </label>
                              </div>
                              <mat-form-field class="col-lg-8 col-md-8 col-sm-8">
                                <input type='text' aria-label='folderName'
                                  class="form-control col-lg-12 col-md-12 col-sm-12" matInput #folderName
                                  formControlName="folderName">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12 col-lg-12 col-xs-12">
                            <div class="col-md-6 col-lg-6 col-xs-6">
                              <div class="col-md-4 col-lg-4 col-xs-4">
                                <label class="label-control form-label" for="datasetType">
                                  Dataset Type <span class="text-danger mandatory-field"> *</span>
                                </label>
                              </div>
                              <div class="col-lg-8 col-md-8 col-sm-8">
                                <ng-select formControlName="datasetType" labelForId="datasetType"
                                  [items]="dataSourceConfigurationCreateEditDetailViewModel.datasetTypeList"
                                  bindLabel="name" placeholder="Select Dataset Type"
                                  (change)="dataSourceConfigurationCreateEditDetailViewModel.selectDatasetTypeS3($event)">
                                </ng-select>
                              </div>
                            </div>

                            <div class="col-md-6 col-lg-6 col-xs-6">
                              <div class="col-md-4 col-lg-4 col-xs-4">
                                <label class="label-control form-label" for="filePattern">
                                  File Pattern
                                </label>
                              </div>
                              <mat-form-field class="col-lg-8 col-md-8 col-sm-8">
                                <input type='text' aria-label='filePattern'
                                  class="form-control col-lg-12 col-md-12 col-sm-12" matInput #filePattern
                                  value="{{dataSourceConfigurationCreateEditDetailViewModel.filePattern}}" disabled>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <form [formGroup]="dataSourceConfigurationCreateEditDetailViewModel.SFTPForm" *ngIf="dataSourceConfigurationCreateEditDetailViewModel.selectedRefType === 'SFTP' || dataSourceConfigurationCreateEditDetailViewModel.selectedRefType === 'FTP' ||
                      dataSourceConfigurationCreateEditDetailViewModel.selectedRefType === 'FTPS'">
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-12 col-lg-12 col-xs-12">
                            <div class="col-md-6 col-lg-6 col-xs-6">
                              <div class="col-md-4 col-lg-4 col-xs-4">
                                <label class="label-control form-label" for="endpoint">
                                  Endpoint <span class="text-danger mandatory-field"> *</span>
                                </label>
                              </div>
                              <mat-form-field class="col-lg-8 col-md-8 col-sm-8">
                                <input type='text' aria-label='endpoint'
                                  class="form-control col-lg-12 col-md-12 col-sm-12" matInput #endpoint
                                  formControlName="endpoint" required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xs-6">
                              <div class="col-md-4 col-lg-4 col-xs-4">
                                <label class="label-control form-label" for="username">
                                  Username <span class="text-danger mandatory-field"> *</span>
                                </label>
                              </div>
                              <mat-form-field class="col-lg-8 col-md-8 col-sm-8">
                                <input type='text' aria-label='username'
                                  class="form-control col-lg-12 col-md-12 col-sm-12" matInput #username
                                  formControlName="username" required>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12 col-lg-12 col-xs-12">
                            <div class="col-md-6 col-lg-6 col-xs-6">
                              <div class="col-md-4 col-lg-4 col-xs-4">
                                <label class="label-control form-label" for="datasetType">
                                  Dataset Type <span class="text-danger mandatory-field"> *</span>
                                </label>
                              </div>
                              <div class="col-lg-8 col-md-8 col-sm-8">
                                <input type='text' aria-label='datasetType'
                                  class="form-control col-lg-12 col-md-12 col-sm-12" matInput #datasetType
                                  formControlName="datasetType" disabled>
                              </div>
                            </div>

                            <div class="col-md-6 col-lg-6 col-xs-6">
                              <div class="col-md-4 col-lg-4 col-xs-4">
                                <label class="label-control form-label" for="filePattern">
                                  File Pattern
                                </label>
                              </div>
                              <mat-form-field class="col-lg-8 col-md-8 col-sm-8">
                                <input type='text' aria-label='filePattern'
                                  class="form-control col-lg-12 col-md-12 col-sm-12" matInput #filePattern
                                  value="{{dataSourceConfigurationCreateEditDetailViewModel.filePattern}}" disabled>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="row">
                      <div class="row col-lg-12">
                        <div class="col-lg-6 col-xs-4 pull-left">
                          <span class="text-danger pull-left mandatory-field">
                            <b>*</b>
                          </span>
                          <span class="font-10px"> &nbsp; Denotes required fields</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 text-right">
                          <button type="button" data-toggle="modal"
                            class="btn btn-default btn-md btn-circled button-style"
                            (click)=dataSourceConfigurationCreateEditDetailViewModel.cancelCreate()>
                            Cancel
                          </button>
                          <button type="button" data-toggle="modal"
                            class="btn btn-md btn-primary btn-circled button-style"
                            (click)=dataSourceConfigurationCreateEditDetailViewModel.verifyConnection()
                            *ngIf="dataSourceConfigurationCreateEditDetailViewModel.selectedRefType === 'AWS S3 Bucket'"
                            [disabled]="!dataSourceConfigurationCreateEditDetailViewModel.enableVerifyButton()">
                            Verify Connection
                          </button>
                          <button type="button" data-toggle="modal"
                            class="btn btn-md btn-primary btn-circled button-style" id="user-edit-saveChanges-btn"
                            (click)="dataSourceConfigurationCreateEditDetailViewModel.editFormDetail()"
                            *ngIf="dataSourceConfigurationCreateEditDetailViewModel.modalType === 'detail' && dataSourceConfigurationCreateEditDetailViewModel.selectedRefType === 'AWS S3 Bucket'">
                            Edit
                          </button>
                          <button type="button" data-toggle="modal"
                            class="btn btn-default btn-md btn-primary btn-circled button-style"
                            [disabled]="!dataSourceConfigurationCreateEditDetailViewModel.enableSaveConfigurationButton()"
                            (click)="dataSourceConfigurationCreateEditDetailViewModel.saveDataSourceConfiguration()"
                            *ngIf="dataSourceConfigurationCreateEditDetailViewModel.modalType === 'create' && 
                            dataSourceConfigurationCreateEditDetailViewModel.userRolePermission.canCreate">
                            Save Data Source Configuration
                          </button>

                          <button type="button" data-toggle="modal"
                            class="btn btn-default btn-md btn-primary btn-circled button-style"
                            [disabled]="!dataSourceConfigurationCreateEditDetailViewModel.enableSaveButton()"
                            (click)="dataSourceConfigurationCreateEditDetailViewModel.saveDataSourceConfiguration()"
                            *ngIf="dataSourceConfigurationCreateEditDetailViewModel.modalType === 'edit' && 
                            dataSourceConfigurationCreateEditDetailViewModel.userRolePermission.canUpdate">
                            Save
                          </button>
                          <button type="button" data-toggle="modal"
                            class="btn btn-default btn-md btn-danger btn-circled button-style" id="delete-btn"
                            (click)="dataSourceConfigurationCreateEditDetailViewModel.deletePopup()"
                            *ngIf="dataSourceConfigurationCreateEditDetailViewModel.modalType === 'detail' && dataSourceConfigurationCreateEditDetailViewModel.selectedRefType === 'AWS S3 Bucket'">
                            Delete
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #cancelConfirmModal identifier="cancelConfirmModal" class="dialog no-padding" [dismissable]="false"
  (onAnyCloseEvent)="dataSourceConfigurationCreateEditDetailViewModel.onPopUpClose('cancelConfirmModal')">
  <div class="stack-order">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm stack-order" aria-hidden="false"
      aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <h5 class="modal-title">Cancel Confirmation</h5>
            <button aria-label="Close" class="close modal-close" title="Close"
              (click)="dataSourceConfigurationCreateEditDetailViewModel.onPopUpClose('cancelConfirmModal')"
              type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body cancel-confirmation-body">
            <i class="fa fa-exclamation-triangle color-red"></i>
            Are you sure you want to discard the changes?
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel"
              (click)="dataSourceConfigurationCreateEditDetailViewModel.onPopUpClose('cancelConfirmModal')"
              type="button">Cancel </button>
            <button class="btn btn-primary" title="Confirm"
              (click)="dataSourceConfigurationCreateEditDetailViewModel.confirmCancel()" type="button">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #deleteConfirmModal identifier="deleteConfirmModal" class="modal-content dialog no-padding"
  [dismissable]="false"
  (onAnyCloseEvent)="dataSourceConfigurationCreateEditDetailViewModel.onPopUpClose('deleteConfirmModal')">
  <div class="stack-order">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm stack-order" aria-hidden="false"
      aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <h5 class="modal-title  space2">Delete Confirmation</h5>
            <button aria-label="Close" class="close modal-close" title="Close"
              (onAnyCloseEvent)="dataSourceConfigurationCreateEditDetailViewModel.onPopUpClose('deleteConfirmModal')"
              type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body space form-label">
            <i class="fa fa-exclamation-triangle color-red "></i>
            Are you sure you want to delete this Data Source Configuration?
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel"
              (onAnyCloseEvent)="dataSourceConfigurationCreateEditDetailViewModel.onPopUpClose('deleteConfirmModal')"
              type="button">Cancel </button>
            <button class="btn btn-primary" title="Confirm"
              (click)="dataSourceConfigurationCreateEditDetailViewModel.deleteDataSourceConfiguration()"
              type="button">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>