<!-- <div class="row">
    <span class="breadcrum_font padding-left-20"></span> 
    Administration 
    <span class="breadcrum_font">>></span> 
    User Management
</div> -->

<div class="row">
    <div class="col-md-12">
        <div class="card-body table-responsive">
            <div class="raisedBox">
                <h5 class="entry-title mt-0">
                    <b>User Management </b>
                </h5>
                <div class="row btn-section">
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 pull-right">
                        <div data-toggle="modal" *ngIf="userListViewModel.userRolePermission?.canCreate"
                            (click)="userListViewModel.redirectToCreate()"
                            class="btn btn-default btn-md btn-primary button-style">
                            Create User
                        </div>
                        <div data-toggle="modal" *ngIf="userListViewModel.userList && userListViewModel.isSSOLogin"
                            (click)="userListViewModel.openADConfirmation()"
                            class="btn btn-default btn-md btn-primary margin-right-10px button-style">
                            Refresh Active Directory Users
                        </div>
                    </div>
                </div>
                <app-alert-component></app-alert-component>
                <app-data-table-cmp [viewModel]="userListViewModel.viewModelDataGrid"> </app-data-table-cmp>
            </div>
        </div>
    </div>
</div>

<ngx-smart-modal #deleteConfirmModalFromList identifier="deleteConfirmModalFromList" [dismissable]="false"
    class="modal-content dialog no-padding border-zero-px" (onAnyCloseEvent)="userListViewModel.onPopUpClose()">
    <div class="stack-order">
        <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm stack-order" aria-hidden="false"
            aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
            <div class="nsm-content">
                <div class="nsm-body">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Confirmation</h5>
                        <button aria-label="Close" class="close modal-close" title="Close" (click)="userListViewModel.onPopUpClose()" type="button">
                            <span class="modal-x-icon" aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body delete-confirmation-message">
                        <i class="fa fa-exclamation-triangle color-red"></i> Are you sure you want to delete this User?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" title="Cancel" (click)="userListViewModel.onPopUpClose()" type="button">Cancel </button>
                        <button *ngIf="userListViewModel.userRolePermission?.canDelete" class="btn btn-primary" title="Confirm" type="button" (click)="userListViewModel.deleteUser()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #activeDirectoryRefreshConfirmFromList identifier="activeDirectoryRefreshConfirmFromList"
    class="modal-content dialog no-padding border-zero-px">
    <div class="stack-order">
        <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm stack-order" aria-hidden="false"
            aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
            <div class="nsm-content">
                <div class="nsm-body">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmation</h5>
                        <button aria-label="Close" class="close modal-close" title="Close"
                            (click)="userListViewModel.closeADConfirmation()" type="button">
                            <span class="modal-x-icon" aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <i class="fa fa-exclamation-triangle color-red"></i> This action will refresh both Active and
                        In-Active Users in the System. Are you sure you want to proceed?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" title="Cancel"
                        (click)="userListViewModel.closeADConfirmation()" type="button">Cancel </button>
                        <button class="btn btn-primary" title="Confirm" type="button"
                            (click)="userListViewModel.refreshActiveDirectoryUsers()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ngx-smart-modal>