.panel-inverse {
  .row {
    margin-left: unset;
    margin-right: unset;
  }
}

.panel-body {
  padding: 10px;
  padding-top: 15px;
}

.end-cap-chip {
  animation: fadeIn 1s;
  border-radius: 0;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  background-color: #1e2022;
  height: 20px;
  color: white;
  box-shadow: 5px 10px 10px -2px #888888;
}

.dashboard-filter-row {
  margin-left: unset;
}

.role-list-wrapper .info-panel-row .row {
  padding-top: 0px;
} 

.panel-wrapper {
  padding: 15px 0;
}

.info-title-orange, .info-title-blue {
  font-size: 2.2rem;
}

.margin-right-10px {
  margin-right: 10px !important;
}

.alert-panel {
  padding: 5px !important;
}

.alert-margin {
  margin-left: 20px;
  margin-right: 20px;
}

.delete-confirmation-message{
  color: #000000;
}

.stack-order{
  z-index: 1043;
}

.button-style{
  float: right
}