<div class="main-content role-details-screen">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-inverse raisedBox">
          <div class="panel-heading">
            <div *ngIf="roleViewModel.modalType === 'Create'">
              <h4 class="panel-title panel-title-color">Create Role</h4>
            </div>
            <div *ngIf="roleViewModel.modalType === 'Edit'">
              <h4 class="panel-title panel-title-color">Edit Role</h4>
            </div>
            <div *ngIf="roleViewModel.modalType === 'Detail'">
              <h4 class="panel-title panel-title-color">Role Details</h4>
            </div>
          </div>
          <div class="panel-body ">
            <div class="tab-content">
              <div class="tab-pane active " id="role-details">
                <form [formGroup]="roleViewModel.roleDetailsForm">
                  <div class="form-group">
                    <div class="row">
                      <div class="row col-lg-12">
                        <app-alert-component></app-alert-component>
                      </div>
                    </div> <br>
                    <div class="row">
                      <div class="col-md-2 col-sm-3 col-xs-6 col-lg-2">
                        <label class="label-control label-text-color" for="txtRoleName">Role Name</label>
                        <span class="text-danger mandatory-field-color"> *</span>
                      </div>
                      <mat-form-field class="col-lg-4 col-md-4 col-sm-4">
                        <input type='text' aria-label='name' class="form-control col-lg-4 col-md-4 col-sm-4" matInput
                          #name required formControlName="name" required>
                        <mat-error align="start" class="text-danger"
                          *ngIf="roleViewModel.detailForm.name.errors?.required">
                          Role Name is required
                        </mat-error>

                        <mat-error align="start" class="text-danger"
                          *ngIf="roleViewModel.detailForm.name.errors?.minlength || roleViewModel.detailForm.name.errors?.maxlength">
                          Role Name should be between 3 and 25 characters
                        </mat-error>

                        <mat-error align="start" class="text-danger"
                          *ngIf="roleViewModel.detailForm.name.errors?.pattern">
                          Role Name can contain alphanumeric and special characters restricted to "-", “Space” and "_"
                        </mat-error>

                        <mat-error align="start" class="text-danger"
                          *ngIf="roleViewModel.detailForm.name.errors?.nameTaken">
                          Role Name already exists
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div class="row">
                      <div class="col-md-2 col-sm-3 col-xs-6 col-lg-2">
                        <label class="label-control label-text-color" for="txtRoleDesc">Description</label>
                        <!-- <span class="text-danger"> *</span> -->
                      </div>

                      <mat-form-field class="col-lg-4 col-md-4 col-sm-4">
                        <textarea type="text" aria-label='description' matInput #description rows="3"
                          class="form-control col-lg-4 col-md-4 col-sm-4 label-text-color" formControlName="description"
                          cols="50"></textarea>
                        <!-- placeholder="Role Description" -->

                        <mat-error align="start" class="text-danger"
                          *ngIf="roleViewModel.detailForm.description.errors?.maxlength">
                          Role Description should not exceed 500 characters
                        </mat-error>
                      </mat-form-field>

                    </div>
                  </div>
                </form>

                <div class="row">
                  <div class="col-md-12">
                    <table id="role-module-table" class="table table-striped table-bordered table-hover datatable"
                      cellspacing="0" width="100%" style="width: 100%;">
                      <thead>
                        <tr>
                          <th width="20%">
                            <label class="label-text-color">Module</label>
                          </th>
                          <th class="text-center" width="20%">
                            <span *ngIf="roleViewModel.modalType !== 'Detail'">
                              <input type="checkbox" id="all-read-checkbox" [(ngModel)]="roleViewModel.isAllRead"
                                (change)="roleViewModel.toggleAllRead()">
                            </span> &nbsp;
                            <label class="label-text-color" for="all-read-checkbox"> Read</label>
                          </th>

                          <th class="text-center" width="20%">
                            <span *ngIf="roleViewModel.modalType !== 'Detail'">
                              <input type="checkbox" id="all-update-checkbox" [(ngModel)]="roleViewModel.isAllUpdate"
                                (change)="roleViewModel.toggleAllUpdate()">
                            </span> &nbsp;
                            <label class="label-text-color" for="all-update-checkbox"> Create/Update</label>
                          </th>

                          <th class="text-center" width="20%">
                            <span *ngIf="roleViewModel.modalType !== 'Detail'">
                              <input type="checkbox" id="all-delete-checkbox" [(ngModel)]="roleViewModel.isAllDelete"
                                (change)="roleViewModel.toggleAllDelete()">
                            </span> &nbsp;
                            <label class="label-text-color" for="all-delete-checkbox"> Delete</label>
                          </th>

                          <th class="text-center" width="20%">
                            <span *ngIf="roleViewModel.modalType !== 'Detail'">
                              <input type="checkbox" id="all-approve-checkbox" [(ngModel)]="roleViewModel.isAllApprove"
                                (change)="roleViewModel.toggleAllApprove()">
                            </span> &nbsp;
                            <label class="label-text-color" for="all-approve-checkbox">Can Approve</label>

                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let roleModule of roleViewModel.allRoleModules">
                          <td class="label-text-color"><span>{{ roleModule.name }}</span> </td>

                          <td class="text-center">
                            <input type="checkbox" id="{{roleModule.moduleId +'read'}}"
                              [(ngModel)]="roleModule.canReadModule"
                              (change)="roleViewModel.toggleRead(roleModule.moduleId, roleModule.canReadModule)">
                            <label class="display-none" for="{{roleModule.moduleId +'read'}}">Read</label>
                          </td>

                          <td class="text-center">
                            <span *ngIf="roleModule.moduleType.isManagement">
                              <input type="checkbox" id="{{roleModule.moduleId +'update'}}"
                                [(ngModel)]="roleModule.canUpdateModule"
                                (change)="roleViewModel.toggleUpdate(roleModule.moduleId, roleModule.canUpdateModule)">
                              <label class="display-none" for="{{roleModule.moduleId +'update'}}">Update</label>
                            </span>
                          </td>

                          <td class="text-center">
                            <span *ngIf="roleModule.moduleType.isManagement">
                              <input type="checkbox" id="{{roleModule.moduleId +'delete'}}"
                                [(ngModel)]="roleModule.canDeleteModule"
                                (change)="roleViewModel.toggleDelete(roleModule.moduleId, roleModule.canDeleteModule)">
                              <label class="display-none" for="{{roleModule.moduleId +'delete'}}">Delete</label>
                            </span>
                          </td>

                          <td class="text-center">
                            <span *ngIf="roleModule.moduleType.isExecutable">
                              <input type="checkbox" id="{{roleModule.moduleId +'approve'}}"
                                [(ngModel)]="roleModule.canExecuteModule"
                                (change)="roleViewModel.toggleApprove(roleModule.moduleId, roleModule.canExecuteModule)">
                              <label class="display-none" for="{{roleModule.moduleId +'approve'}}">Approve</label>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="row col-lg-12">
                    <div class="col-lg-6 col-xs-4 pull-left">
                      <span class="text-danger pull-left mandatory-field-color">
                        <b>*</b>
                      </span>
                      <span class="denotes-required-field-text"> &nbsp; Denotes required fields</span>
                    </div>
                    <div class="col-lg-6 col-xs-6 text-right">
                      <button type="button" data-toggle="modal" class="btn btn-default btn-md btn-circled button-styles"
                        id="role-edit-back-btn" (click)="roleViewModel.onCancel()">
                        Cancel
                      </button>

                      <button type="button" data-toggle="modal"
                        class="btn btn-default btn-md btn-primary btn-circled button-styles"
                        *ngIf="(roleViewModel.modalType ==='Edit' || roleViewModel.modalType ==='Create') && (roleViewModel.userRolePermission?.canCreate || roleViewModel.userRolePermission?.canUpdate)"
                        id="role-edit-saveChanges-btn" (click)="roleViewModel.saveChanges()"
                        [disabled]="!(roleViewModel.roleDetailsForm.valid && roleViewModel.roleDetailsForm.dirty && roleViewModel.isAtLeastOneModuleSelected())">
                        Save Role
                      </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #roleCancelConfirmModal identifier="roleCancelConfirmModal" [dismissable]="false"
  class="modal-content dialog no-padding smart-modal-border-style" (onAnyCloseEvent)="roleViewModel.onPopUpClose()">
  <div class="z-index-style">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm z-index-style" aria-hidden="false"
      aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <h5 class="modal-title">Cancel Confirmation</h5>
            <button aria-label="Close" class="close modal-close" title="Close" (click)="roleViewModel.onPopUpClose()"
              type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body cancel-confirmation-text-color">
            <i class="fa fa-exclamation-triangle color-red"></i> Are you sure you want to discard the
            changes?
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel" (click)="roleViewModel.onPopUpClose()" type="button">Cancel
            </button>
            <button class="btn btn-primary" title="Confirm" type="button"
              (click)="roleViewModel.onConfirm()">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>