<div class="row">
	<div class="col-md-12">
		<div class="card-body table-responsive">
			<div class="panel panel-inverse raisedBox">
				<div class="panel-heading">
					<div *ngIf="detailViewModel.modalType === 'Create'">
						<h4 class="panel-title">Create Data Extraction Configuration</h4>
					</div>
					<div *ngIf="detailViewModel.modalType === 'Edit'">
						<h4 class="panel-title">Edit Data Extraction Configuration</h4>
					</div>
					<div *ngIf="detailViewModel.modalType === 'Detail'">
						<h4 class="panel-title">Data Extraction Configuration Detail</h4>
					</div>
				</div>
				<div class="row ">
					<div class="col-lg-12">
						<app-alert-component></app-alert-component>
					</div>
				</div>
				<div class="panel-body ">
					<div class="tab-content">
						<div id="datasetExtractionForm">
							<form [formGroup]="detailViewModel.datasetExtractionForm">
								<div class="form-group">
									<div class="row">
										<div class="col-md-12">
											<div class="col-md-2">
												<label class="data-extract-label" for="name">
													Name <span class="text-danger"> *</span>
												</label>
											</div>
											<div class="col-md-4">
												<mat-form-field class="w-100">
													<input type="text" class="form-control font-bold" formControlName="name" matInput
														minlength="3" maxlength="100" (keypress)="detailViewModel.omitSpecialChar($event)" required>
													<mat-error *ngIf="detailViewModel.datasetExtractionForm.controls['name'].invalid"
														align="start" class="text-danger">
														{{detailViewModel.errorFor("name")}}
													</mat-error>
												</mat-form-field>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="col-md-2">
												<label class="data-extract-label" for="originalDataset">
													Original Dataset <span class="text-danger"> *</span>
												</label>
											</div>
											<div class="col-md-4">
												<ng-select [items]="detailViewModel.originalDatasetList" bindLabel="name"
													placeholder="--Select--" formControlName="originalDataset"
													(change)="detailViewModel.onOriginalDatasetChange($event)"
													[readonly]="!(detailViewModel.modalType === 'Create')"
													placeholder="Select Dataset to see the available columns">
												</ng-select>
												<mat-error
													*ngIf="detailViewModel.datasetExtractionForm.controls['originalDataset'].invalid && detailViewModel.datasetExtractionForm.controls.originalDataset.touched"
													align="start" class="text-danger">
													{{detailViewModel.errorFor("originalDataset")}}
												</mat-error>
											</div>
										</div>
									</div>
									<br>
									<br>
									<div class="row"
										*ngIf="(detailViewModel.modalType === 'Create' || detailViewModel.modalType === 'Edit')">
										<div class="col-md-3"></div>
										<div class="col-md-9 pr-0">
											<div class="btn-group pull-right pb-10 pr-0" role="group" aria-label="Basic example">
												<button class="btn btn-md btn-primary btn-link" (click)="detailViewModel.showAllColumns()">
													Show All Columns
												</button>
												<button class="btn btn-md btn-primary btn-link" (click)="detailViewModel.showSelectedColumns()">
													Show Selected Columns
												</button>
												<button class="btn btn-md btn-primary btn-link"
													(click)="detailViewModel.showNonSelectedColumns()">
													Show Non Selected Columns
												</button>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<app-extended-data-table-cmp [viewModel]="detailViewModel.datasetColumnsGrid">
											</app-extended-data-table-cmp>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-12">
											<h4 class="color-unset">Generated SQL Query
											</h4>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-1">
													<p>SELECT</p>
												</div>
												<div class="col-md-11">
													<label class="data-extract-label text-black">
														{{detailViewModel.SelectedColumnsString}}
													</label>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-1">
													<p>FROM</p>
												</div>
												<div class="col-md-11">
													<p><span class="text-black">{{detailViewModel.datasetTableName}}</span></p>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-12">
													<textarea placeholder="Add your filter conditions here" formControlName="sqlFilterCondition"
														rows="3" cols="280" class="form-control w-100 text-black" matInput></textarea>
												</div>
											</div>
										</div>
										<br>
										<div class="col-md-1"
											*ngIf="!(detailViewModel.modalType === 'Create' || detailViewModel.modalType === 'Edit') 	&& detailViewModel.isExtractionJobCompleted">
											<button class="btn btn-md btn-primary text-white" (click)="detailViewModel.preview()"
												[disabled]="!detailViewModel.isExtractionJobCompleted">
												Preview
											</button>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-12">
											<h4 class="color-unset">Extraction Rows</h4>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<p>Currently the Dataset has
												<b>{{detailViewModel.datasetExtractionForm.value.totalRows | number}}</b> rows.
											</p>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="col-md-3">
													<p>Please select the volume of data to be extracted:</p>
												</div>
												<div class="col-md-4">
													<div class="col-md-4">
														<input type="radio" id="Percentage" name="extractionType" value="Percentage"
															formControlName="extractionType">&nbsp;
														<label class="data-extract-label" for="Percentage">Percentage</label>&nbsp;
													</div>
													<div class="col-md-4">
														<mat-form-field floatLabel="never">
															<input type="number" matInput formControlName="extractedRowsPercent"
																id="extractedRowsPercent" pattern="^((100)|(\d{0,2}))$" min="1" max="100" maxlength="3">
															<div align="start" class="text-danger">
																{{ detailViewModel.validationError.extractedRowsPercentError}}
															</div>
														</mat-form-field>
													</div>
												</div>
												<div class="col-md-4">
													<div class="col-md-4">
														<input type="radio" id="RowsCount" name="extractionType" value="RowsCount"
															formControlName="extractionType">&nbsp;
														<label class="data-extract-label" for="RowsCount">No of Rows</label>&nbsp;
													</div>
													<div class="col-md-4">
														<mat-form-field floatLabel="never">
															<input type="number" matInput formControlName="extractedRowsCount" id="extractedRowsCount"
																value="0" min="1" maxlength="10">
															<div align="start" class="text-danger">
																{{ detailViewModel.validationError.extractedRowsCountError}}
															</div>
														</mat-form-field>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="row" *ngIf="detailViewModel.extractionJobStatus !==''">
							<div class="col-md-12">
								<h5 class="color-unset">Extraction Job Detail</h5>
								Status : {{detailViewModel.extractionJobStatus}}<br>
								<span *ngIf="detailViewModel.failureDetails !==''">
									Details: {{detailViewModel.failureDetails}} <br>
								</span>
								Date : {{detailViewModel.extractionJobDate}}
							</div>
						</div>
						<br>
						<div class="row" *ngIf="detailViewModel.currentStatusName">
							<div class="col-md-12">
								<h5 class="color-unset">Review Status</h5>
								Status : {{detailViewModel.currentStatusName}}<br>
								Comment : {{detailViewModel.actionComments}}<br>
								Date : {{detailViewModel.actionDate}}
							</div>
						</div>
						<div class="row" *ngIf="!detailViewModel.enableApprovalControls; else ApprovalBlock">
							<div class="col-lg-6 col-xs-6 col-md-6"></div>
							<div class="col-lg-6 col-xs-6 col-md-6 text-right">
								<button type="button" data-toggle="modal" class="btn btn-default btn-md btn-circled"
									style="padding:right; margin-left: 5px;" id="tag-type-close-btn"
									(click)="detailViewModel.cancelChanges()">
									Cancel
								</button>
								<button type="button" data-toggle="modal" class="btn btn-default btn-md btn-primary btn-circled"
									style="padding:right; margin-left: 5px;" (click)="detailViewModel.saveForm()"
									*ngIf="!(detailViewModel.modalType === 'Detail' || detailViewModel.modalType === 'Approve')"
									[disabled]="!detailViewModel.enableSaveButton()">
									Save
								</button>
								<button type="button" data-toggle="modal" class="btn btn-default btn-md btn-primary btn-circled"
									style="padding:right; margin-left: 5px;" (click)="detailViewModel.submitForm()"
									*ngIf="!(detailViewModel.modalType === 'Detail' || detailViewModel.modalType === 'Approve')"
									[disabled]="detailViewModel.enableSubmitButton() || detailViewModel.submitted">
									Submit
								</button>
							</div>
						</div>
						<ng-template #ApprovalBlock>
							<div class="row">
								<div class="col-md-8"></div>
								<div class="col-md-4">
									<p>Comments <span class="text-danger"> *</span></p>
									<textarea rows="3" cols="80" class="form-control font-bold w-100" matInput
										[(ngModel)]="detailViewModel.comments"></textarea>
								</div>
							</div> <br>
							<div class="row">
								<div class="col-lg-6 col-xs-6 col-md-6"></div>
								<div class="col-lg-6 col-xs-6 col-md-6 text-right">
									<button type="button" data-toggle="modal" class="btn btn-default btn-md btn-circled"
										style="padding:right; margin-left: 5px;" id="tag-type-close-btn"
										(click)="detailViewModel.navigateToList()">
										Cancel
									</button>
									<button type="button" data-toggle="modal" class="btn btn-default btn-md btn-primary btn-circled"
										style="padding:right; margin-left: 5px;" (click)="detailViewModel.approveDataSetConfig()"
										[disabled]="detailViewModel.comments === '' || detailViewModel.isReviewButtonDisabled">
										Approve
									</button>
									<button type="button" data-toggle="modal" class="btn btn-default btn-md btn-primary btn-circled"
										style="padding:right; margin-left: 5px;" (click)="detailViewModel.rejectDataSetConfig()"
										[disabled]="detailViewModel.comments === '' || detailViewModel.isReviewButtonDisabled">
										Reject
									</button>
								</div>
							</div>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<ngx-smart-modal #cancelConfirmModal identifier="cancelConfirmModal" class="dialog no-padding" [dismissable]="false"
	(onAnyCloseEvent)="detailViewModel.onPopUpClose('cancelConfirmModal')">
	<div class="z-index-1050">
		<div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
			aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
			<div class="nsm-content">
				<div class="nsm-body">
					<div class="modal-header">
						<h5 class="modal-title">Cancel Confirmation</h5>
						<button aria-label="Close" class="close modal-close" title="Close"
							(click)="detailViewModel.onPopUpClose('cancelConfirmModal')" type="button">
							<span class="modal-x-icon" aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<i class="fa fa-exclamation-triangle color-red"></i>&nbsp;
						Are you sure you want to discard the changes?
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" title="Cancel" (click)="detailViewModel.onPopUpClose('cancelConfirmModal')"
							type="button">Cancel </button>
						<button class="btn btn-primary" title="Confirm" type="button"
							(click)="detailViewModel.confirmCancel()">Confirm</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #rejectConfirmModal identifier="rejectConfirmModal" class="dialog no-padding" [dismissable]="false"
	(onAnyCloseEvent)="detailViewModel.onPopUpClose('rejectConfirmModal')">
	<div class="z-index-1050">
		<div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
			aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
			<div class="nsm-content">
				<div class="nsm-body">
					<div class="modal-header">
						<h5 class="modal-title">Cancel Confirmation</h5>
						<button aria-label="Close" class="close modal-close" title="Close"
							(click)="detailViewModel.onPopUpClose('rejectConfirmModal')" type="button">
							<span class="modal-x-icon" aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<i class="fa fa-exclamation-triangle color-red"></i>&nbsp;
						Extracted files will be physically deleted and cannot be retrieved again.
						Are you sure you want to reject it?
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" title="Cancel" (click)="detailViewModel.onPopUpClose('rejectConfirmModal')"
							type="button">Cancel</button>
						<button class="btn btn-primary" title="Confirm" type="button"
							(click)="detailViewModel.confirmRejectDataSetConfig()">Confirm</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</ngx-smart-modal>

<ngx-smart-modal #previewData identifier="previewData" class="dialog no-padding" [dismissable]="false"
	(onAnyCloseEvent)="detailViewModel.onPopUpClose('previewData')">
	<div class="z-index-1050">
		<div class="nsm-dialog modal-content no-padding nsm-dialog-open custom-popup" aria-hidden="false"
			aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
			<div class="nsm-content">
				<div class="nsm-body">
					<div class="modal-header">
						<h5 class="modal-title">Preview Data</h5>
						<button aria-label="Close" class="close modal-close" title="Close"
							(click)="detailViewModel.onPopUpClose('previewData')" type="button">
							<span class="modal-x-icon" aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<app-data-table-cmp [viewModel]="detailViewModel.previewDataGrid"> </app-data-table-cmp>
							</div>
						</div>
					</div>
					<div class="row modal-footer unset-text-alignment">
						<div class="col-md-11">
							<span class="text-left">
								<span class="text-danger">* </span>
								Showing only {{detailViewModel.previewCount}} Rows
							</span>
						</div>
						<div class="col-md-1">
							<button class="btn btn-default text-right" title="Cancel"
								(click)="detailViewModel.onPopUpClose('previewData')" type="button">Close
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ngx-smart-modal>