.w-100 {
  width: 100% !important;
}

.bg-color {
  background-color:#eeebeb;
  border-color: 1px solid #3e4146;
}

.bg-white {
  background-color:#ffffff;
}

.margin-left {
  margin-left: 9%;
}

.color-unset{
  color: unset !important;
}

.custom-popup{
  top: 5px !important;
  left: 5%;
  width: 90%;
}

.unset-text-alignment{
  text-align: unset !important
}

.data-extract-label{
  font-weight: lighter !important
}

.text-black{
  color: black;
}

.z-index-1050 {
  z-index: 1050;
}
