<div class="row">
  <div class="col-md-12">
      
      <div class="card-body table-responsive">
          <div  class="raisedBox" >
            <div style="padding-bottom: 25px;">
              <h3 class="entry-title   mt-0"><b>{{datasetsListViewModel.pageHeading}} </b>
                          <div class=" pull-right ">
                              <div data-toggle="modal" 
                              *ngIf="!datasetsListViewModel.isSystemAdmin"
                              class="btn btn-default btn-md btn-primary"
                              style="float: right;"
                              (click)="datasetsListViewModel.requestNewWorkspace()" 
                              >Request new Datasets</div> </div>
                     
              </h3>
            </div>      
                <div>
                      <app-alert-component></app-alert-component> 
                      <app-data-table-cmp [viewModel]="datasetsListViewModel.viewModelDataGrid"> </app-data-table-cmp>
                </div>          
            </div>
          </div>       
      </div>
  </div>

  <ngx-smart-modal #requestNewDatasetFromCatalog identifier="requestNewDatasetFromCatalog" class="modal-content dialog no-padding" style="border: 0px !important;">
    <!-- <div class="" style="z-index: 1043;"> -->
        <div class="modal-dialog modal-lg" style="width: 100%;"> 
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm"
    aria-hidden="false" aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true"  >
    <div class="nsm-content">
        <div class="nsm-body">
            <div   class="modal-header" >
                    <h5   class="modal-title">{{datasetsListViewModel.datasetRequestDetailsHeader}}</h5>
                <button  aria-label="Close" class="close modal-close" title="Close"   (click)="requestNewDatasetFromCatalog.close()" type="button">
                    <span  class="modal-x-icon" aria-hidden="true">×</span></button>
            </div>
                <div    class="modal-body" style="width: 98%; margin: auto;">
                    <form [formGroup]="datasetsListViewModel.datasetsListViewModelForm">  
            
                        <div class="form-group">
                            <!-- class="raisedBox-no-effect"   -->
                            <div style="margin-top: 5px;  "
                            >  
                                <div class="row">
                                            <div class="col-md-12">
                                            <b>   Dataset Request Name</b>
                                            </div>
                                </div>
                                <div  class="row">
                                    <div class="col-md-12">
                                      {{datasetsListViewModel.nameLabel}}
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-md-5" >
                                        <b>Needed By</b>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="label-control"  ><b>Requested By</b></label> 
                                    </div>
                                    <div class="col-md-3">
                                        <b>Requested Date</b>
                                    </div>
                                </div>
                                <div  class="row">
                                        <div class="col-md-5">
                                          {{datasetsListViewModel.neededByLabel}}
                                        </div>
                                        <div class="col-md-4">
                                          {{datasetsListViewModel.requestedByNameLabel}}
                                        </div>
                                        <div class="col-md-3">
                                          {{datasetsListViewModel.requestDateTimeLabel}}
                                        </div>
                                </div>
                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-md-12"  >
                                    <b> Reason for request</b>
                                        </div>
                                </div>
                                <div  class="row"> 
                                        <div class="col-md-12" >
                                          {{datasetsListViewModel.requestReasonLabel}}
                                        </div>
                                </div>
                                <div *ngIf="datasetsListViewModel.datasetTagTypeSelectedDetailsList.length != 0">
                                <div class="row" style="padding-top: 15px;" *ngFor="let workspaceTagDetail of datasetsListViewModel.datasetTagTypeSelectedDetailsList">
                                    <div class="col-md-12"  >
                                    <b> {{ workspaceTagDetail.name }}</b>
                                        </div>
                                
                                <div  class="row"> 
                                    <div class="col-md-12" >
                                        <div class="col-md-12" >
                                            {{ workspaceTagDetail.selectedTagValues }}
                                        </div>
                                      </div>
                                 </div>
                                </div>
                            </div>
                                <div  class="row" style="padding-top: 15px;">
                                  <div class="col-md-6"  >
                                      <b>Datasets Requested</b>  
                                  </div>
                              </div>
                              <div  class="row" >
                                  <div class="col-md-12"  style="height: 200px;overflow : scroll;" >
                                    <app-data-table-cmp [viewModel]="datasetsListViewModel.datasetsRequestDataGrid"> </app-data-table-cmp>
                                  </div>
                              </div>
                              <div  class="row" style="padding-top: 15px;" >
                                <div class="col-md-6"  >
                                    <b>Audit Log</b>  
                                </div>
                            </div>
                            <div  class="row" >
                                <div class="col-md-12" >
                                  <app-data-table-cmp [viewModel]="datasetsListViewModel.auditDataGrid"> </app-data-table-cmp>
                                </div>
                            </div>
                                <div  class="row" style="padding-top: 15px;" *ngIf="datasetsListViewModel.modalType==='Edit'"> 
                                    <div class="col-md-6"  >
                                        <b>Comments</b> <span class="text-danger"> * </span>
                                    </div>
                                </div>
                                <div  class="row" >
                                    <div class="col-md-12"  *ngIf="datasetsListViewModel.modalType==='Edit'">
                                      <textarea name="decisionComment" formControlName="decisionComment" rows="2" style="width: 98%;"> </textarea>
                                    </div>
                                </div>
                                <div  class="row">
                                    <div class="col-md-12" style="height: 5px;" >
                                    </div>
                                </div>
                            </div>
  
                    
                        </div>
  
                    </form>
  
                </div>
                <div  class="modal-footer" style="border-top: 0px">
                    <button  class="btn btn-primary"  *ngIf="datasetsListViewModel.modalType==='Edit'" title="Approve" type="button" (click)="datasetsListViewModel.approveRequest()">Approve</button>
                    <button  class="btn btn-primary"  *ngIf="datasetsListViewModel.modalType==='Edit'" title="Reject" type="button" (click)="datasetsListViewModel.rejectRequest()">Reject</button>
                  <button  class="btn btn-secondary" title="Close"  (click)="requestNewDatasetFromCatalog.close()" type="button">Close </button>
                </div>
            </div>
          </div>
        </div>
      </div>
  </ngx-smart-modal>

  <ngx-smart-modal #terminateConfirmModalFromList identifier="terminateConfirmModalFromList" class="modal-content dialog no-padding" style="border: 0px !important;">>
    <div class="" style="z-index: 1043;"> 
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" 
    aria-hidden="false" aria-label="Bootstrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
    <div class="nsm-content">
        <div class="nsm-body">
            <div   class="modal-header">
                <h5   class="modal-title">Delete Dataset Confirmation</h5>
                <button  aria-label="Close" class="close modal-close" title="Close"   (click)="terminateConfirmModalFromList.close()" type="button">
                    <span  class="modal-x-icon" aria-hidden="true">×</span></button>
            </div>
                <div   class="modal-body">
                   <i class="fa fa-exclamation-triangle color-red" style="padding-right: 5px;"></i> Are you sure you want to delete the dataset request? 
                   <form [formGroup]="datasetsListViewModel.datasetsListViewModelForm">  
                    <div class="form-group">
                        <!-- class="raisedBox-no-effect"   -->
                        <div style="margin-top: 5px;  "
                        >  
                            <div  class="row" style="padding-top: 15px;">
                                <div class="col-md-3"  >
                                    <b>Comments</b> <span class="text-danger"> * </span>
                                </div>
                            </div>
                            <div  class="row" >
                                <div class="col-md-12" >
                                        <textarea name="terminateDecisionComment" formControlName="terminateDecisionComment" rows="2" style="width: 98%;"> </textarea>
                                </div>
                                  <div *ngIf="datasetsListViewModel.blankReasonForTermination">
                                   <span class="text-danger" style="padding-left: 15px;"> 
                                        Enter the reason for deleting dataset.
                                    </span>
                                </div>
                            </div>
                            <div  class="row">
                                <div class="col-md-12" style="height: 25px;" >
                                </div>
                            </div>
                         </div>
                    </div>
                </form>
                </div> 
                       <div  class="modal-footer">
                        <button  class="btn btn-default" title="Cancel"  (click)="terminateConfirmModalFromList.close()" type="button">Cancel </button>
                         <button  class="btn btn-primary" title="Confirm" type="button" (click)="datasetsListViewModel.terminateDatasetAction()">Confirm</button>
                        </div>
            </div></div>
        </div>  </div>
  </ngx-smart-modal>
  
<!-- 

  <ngx-smart-modal #terminateConfirmModalFromList identifier="terminateConfirmModalFromList" class="modal-content dialog no-padding" style="border: 0px !important;">>
    <div class="" style="z-index: 1043;"> 
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" 
    aria-hidden="false" aria-label="Bootstrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
    <div class="nsm-content">
        <div class="nsm-body">
            <div   class="modal-header">
                <h5   class="modal-title">Delete Dataset Confirmation</h5>
                <button  aria-label="Close" class="close modal-close" title="Close"   (click)="terminateConfirmModalFromList.close()" type="button">
                    <span  class="modal-x-icon" aria-hidden="true">×</span></button>
            </div>
                <div   class="modal-body">
                   <i class="fa fa-exclamation-triangle color-red" style="padding-right: 5px;"></i> Are you sure you want to delete the dataset request? 
                   <form [formGroup]="datasetsListViewModel.datasetsListViewModelForm">  
                    <div class="form-group">
                    
                        <div style="margin-top: 5px;  "
                        >  
                            <div  class="row" style="padding-top: 15px;">
                                <div class="col-md-3"  >
                                    <b>Comments</b> <span class="text-danger"> * </span>
                                </div>
                            </div>
                            <div  class="row" >
                                <div class="col-md-12" >
                                        <textarea name="terminateDecisionComment" formControlName="terminateDecisionComment" rows="2" style="width: 98%;"> </textarea>
                                </div>
                                  <div *ngIf="datasetsListViewModel.blankReasonForTermination">
                                   <span class="text-danger" style="padding-left: 15px;"> 
                                        Enter the reason for terminating workspace.
                                    </span>
                                </div>
                            </div>
                            <div  class="row">
                                <div class="col-md-12" style="height: 25px;" >
                                </div>
                            </div>
                         </div>
                    </div>
                </form>
                </div> 
                       <div  class="modal-footer">
                         <button  class="btn btn-primary" title="Confirm" type="button" (click)="datasetsListViewModel.terminateDatasetAction()">Confirm</button>
                         <button  class="btn btn-secondary" title="Cancel"  (click)="terminateConfirmModalFromList.close()" type="button">Cancel </button>
                        </div>
            </div></div>
        </div>  </div>
  </ngx-smart-modal> -->
  
   
