<!-- <div class="row">
<span class="breadcrum_font padding-left-20"></span> Administration <span class="breadcrum_font">>></span> Supplier Dashboard
</div> -->

        <div class="row">
            <div class="col-md-12">
                <!-- <h5 class="entry-title   mt-0"><b>Uploaded Files</b></h5> -->
                <app-alert-component></app-alert-component>
            </div>

        </div>

  

        <!-- <div class="row">
            <div class="col-md-12">
                <div class="col-xs-11 col-md-11 col-sm-11 col-lg-11  pull-right ">
                </div>
            </div>
        </div> -->

        <div class="row" >
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                 <h4>Submission History

                      <div data-toggle="modal"  (click)="uploadFilePopupTS()" class="btn btn-default btn-md btn-primary"
                          style="float: right;padding-top: -20px;">Upload File</div>
                        </h4>
                </div>
                <div class="panel-body">
                  <div class="col-md-12">
                <!-- <app-alert-component></app-alert-component> -->
                <app-data-table-cmp [viewModel]="supplierLandingListViewModel.viewModelDataGrid"> </app-data-table-cmp>
            </div>
        </div>
      </div>

    </div>
  </div>

  <!-- <div class="row" style="height: 200px!important; visibility: hidden;">
    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Submission History - YTD</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <div id="ytdTotalSubmission" style="height: 250px;width:100%;"></div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Submission & Processed Trend for Last 3 Months</h3>
          </div>
          <div class="panel-body">
            <div class="col-md-12">
            <div id="last3Months" style="height: 250px;width:100%;"></div>
            </div>
          </div>
        </div>

      </div>
</div> -->

<ngx-smart-modal #uploadFile identifier="uploadFile" class="modal-content dialog no-padding" style="border: 0px !important;">>
    <div class="" style="z-index: 1043;">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm"
    aria-hidden="false" aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
    <div class="nsm-content">
        <div class="nsm-body">
            <div   class="modal-header" >
                <h5   class="modal-title">Upload File</h5>
                <button  aria-label="Close" class="close modal-close" title="Close"   (click)="uploadFile.close()" type="button">
                    <span  class="modal-x-icon" aria-hidden="true">×</span></button>
            </div>
          
                <div    class="modal-body" style="width: 100%; margin: auto;">


                     

                  <form [formGroup]="supplierLandingListViewModel.supplierLandingForm" >
                    <div class="form-group">
                      

                          <div class="row">
                                    <div class="col-md-4">
                                      <b>Dataset Type</b><span class="text-danger"> * </span>
                                      </div>
                                        <div class="col-md-4">
                                          <b> Target Definition</b> <span class="text-danger"> * </span>
                                        </div>
                                        <div class="col-md-4">
                                          <b>Mapping  Definition</b>  
                                        </div>
                            </div>
                            
      
                            <div class="row">
                                    <div class="col-md-4">
                                      <select id="datasetType" name="datasetType" style="height: 30px;width: 100%;" 
                                      (change)="supplierLandingListViewModel.datasetTypeChanged($event)"> 
                                        <option value="" selected>--Select--</option> 
                                        <option value="C6D6BFAB-5729-4847-9220-1A2EE76D86B0" >Eligibility Data</option>
                                        <option value="BD61CA93-A4E8-430E-B515-1C0566D532F9" >Provider Data</option>
                                        <option value="867C869B-F48A-4D03-AD20-2D852BCA7C8F" >Beneficiary Summary</option>
                                        <option value="E53BB478-EA71-4361-8198-4E9A2D354AF5" >Medical Data</option>
                                        <option value="6595A227-33A3-4698-9119-51172B06A4E4" >Outpatient Claims</option>
                                        <option value="08947DDF-CE83-48CA-BA66-79D98E22BDE2" >Eligibility Trailer</option>
                                        <option value="47317E09-84C4-486A-B227-B0217CF70E97" >Inpatient Claims</option>
                                        <option value="BD9F7C63-DF41-4EA5-9805-B66F05C4016B" >Prescription Drug Events</option>
                                        <option value="20150C4D-9166-41CF-A9F0-CBC765589719" >Carrier Claims</option>
                                      </select>
                                  </div>
                                    <div class="col-md-4"  >
                                        <select id="target"  style="height: 30px;width: 100%;" name="target"  
                                        (change)="supplierLandingListViewModel.mappingDefinitionChanged($event)">
                                          <option value="" selected>      --Select--      </option> 
                                          <!-- <option value="280B01CE-9546-44D4-86EA-897F18DC9236" >Eligibility</option>
                                          <option value="789C4A14-1221-4305-AB50-0CB4D932B44C" >Medical</option>
                                          <option value="C7A959A9-3D93-4B21-A618-DC4B11D90ADC" >Providers</option> -->
                                          <option value="{{targetMapping.id}}" 
                                          *ngFor="let targetMapping of supplierLandingListViewModel.targetMappingList">
                                                {{targetMapping.name}}
                                           </option>
                                        </select>
                                    </div>
                                  
                                    <div class="col-md-4">
                                      {{supplierLandingListViewModel.mappingName}}
                                  </div>
                            </div>
                            <div class="row" >
                              <div class="col-md-4" style="padding-top: 15px;">
                                <b> Data Usage Agreement</b>   <span class="text-danger"> * </span>
                                </div>
                            </div>
                            <div class="row">
                              <div  >
                                  <div class="col-md-4" >
                                    <select id="dataUsageAgreement" name="dataUsageAgreement"    required style="height: 30px;width: 100%;"
                                    (change)="supplierLandingListViewModel.dataUsageAgreementChanged($event)"> 
                                    >
                                    <option value="" selected>--None--</option> 
                                    <option value="{{dua.id}}" 
                                        *ngFor="let dua of supplierLandingListViewModel.dataUsageAgreementList">
                                        {{dua.name}}
                                  </option>
                                </select>
                                    </div>
                              </div>
                            </div>

                            <div class="row" >
                              <div class="col-md-12" style="padding-top: 15px;">
                                <b> Description</b>   <span class="text-danger"> * </span>
                                </div>
                            </div>
                            <div class="row">
                              <div  >
                                  <div class="col-md-12" >
                                      <!-- <input type="date" formControlName="submissionDate" #submissionDate id="submissionDate" 
                                          name="submissionDate" > -->
                                          <textarea name="description" formControlName="description" rows="2" style="width: 98%;"> </textarea>
                                    </div>
                              </div>
                            </div>
                         


                            <div class="row" style="height: 150px;width: 100%; margin: auto;padding-top: 15px;" >
                            <b>  Import File </b>  <span style="color: red"> * </span>  (Only CSV and Excel file types allowed)
                                    <div  class="dotted-border" style="height: 100px;max-width: 100%;margin: auto;text-align: center">
                                      <span class="image-thumbnail-small">
                                        <!-- <img src="images/upload-file.png" alt=""> -->
                                      </span>
                                      <h5>Upload a file (<small>Maximum upload file size: 12 MB</small>)</h5>
                                      <span class="display-center-60">
                                              <div class="form-group align-div-center ">
                                                  <input type='file' id="fileUpload" #fileUploader accept=".xlsx,.csv" name="fileUpload" 
                                                      (change)="supplierLandingListViewModel.fileChanged($event)">
                                              </div>
                                      </span>
                                      <br>
                                    </div>
                                    <div   *ngIf="supplierLandingListViewModel.errorFileUpload===true" >
                                                <span style="color: red">
                                                  Wrong file type: Please upload either CSV or XLSX file while uploading data file.
                                            </span>
                                    </div>
                            </div>
                      </div>
                  </form>
                </div>
                <div  class="modal-footer">
                  <button  class="btn btn-primary" title="Upload" type="button"
                  (click)="supplierLandingListViewModel.saveAndUploadFile()">Upload</button>
                  <button  class="btn btn-secondary" title="Close"  (click)="uploadFile.close()" type="button">Close </button>
                </div>
            </div>
          </div>
        </div>
      </div>
</ngx-smart-modal>
