.checkboxdemoSelectAll .demo-legend {
    color: #3F51B5; }
  .checkboxdemoSelectAll .demo-fieldset {
    border-style: solid;
    border-width: 1px;
    height: 100%; }
  .checkboxdemoSelectAll .demo-select-all-checkboxes {
    padding-left: 30px; }