<div class="row">
  <div class="col-md-12">
      
      <div class="card-body table-responsive">
          <div  class="raisedBox-small" >
            <div style="padding-bottom: 25px;">
              <h3 class="entry-title   mt-0"> Request New Workspace 
              </h3>  
            </div>      
                <div  style="width: 50%; ;margin: 0 auto;">
                      <app-alert-component></app-alert-component> 

                      <form [formGroup]="workspaceRequestViewModel.workspaceRequestViewModelForm">  
                        <div class="form-group">
    
                            <div class="row">
                                        <div class="col-md-6">
                                          <label class="label-control" for="name">Workspace Type</label>
                                        </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-6">
                                       
                                        <select id="target" name="target"  style="height: 30px;;width: 100%;" >
                                          <option value="0" selected>--Select--</option> 
                                          <option value="1" >4 vCPU, 16 GB Memory: 80gb</option>
                                          <option value="1" >4 vCPU, 16 GB Memory: 175gb</option>
                                          <option value="1" >8 vCPU, 16 GB Memory: 175gb</option>
                                          </select>
                                   </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6" style="padding-top: 15px;"> 
                                  <label class="label-control" for="name">Workspace Description</label>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" >
                                  <textarea name="message" rows="3"  style="width: 100%;"> </textarea>
                              </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6" style="padding-top: 15px;">
                                  <label class="label-control" for="name">Workspace Name</label>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <input type="text" name="userWorkspaceName" style="height: 30px;width: 100%;"> 
                              </div>
                             </div>
                             <div class="row">
                              <div class="col-md-6" style="padding-top: 15px;">
                                <label class="label-control" for="name">Needed By</label>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <!-- [disabled]="viewModel.modalType === 'Detail'"  -->
                              <mat-form-field class="font-size ">
                                <input type="input" matInput readonly [matDatepicker]="picker1" id="neededBy" 
                                  (click)="picker1.open()" (keydown)="false" formControlName="neededBy" required
                                  />
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                              </mat-form-field>
                            </div>
                           </div>

                             <div class="row">
                              <div class="col-md-6" style="padding-top: 5px;">
                                <label class="label-control" for="name">Requested DiskSpace</label>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <input type="text" name="requestedDiskspace" style="height: 30px;width: 25%;"> 
                              (Max size: 175gb)
                            </div>
                           </div>

                            <div class="row">
                                <div class="col-md-6" style="padding-top: 15px;">
                                  <label class="label-control" for="name">Reason for request</label>
                                  </div>
                            </div>
                            <div class="row">
                                  <div class="col-md-6" >
                                        <textarea name="message" rows="3"  style="width: 100%;"> </textarea>
                                    </div>
                            </div>
                    

                            
                            <!-- <div class="row">
                              <div class="col-md-2" style="padding-top: 15px;">
                                  Software Request
                                </div>
                                <div class="col-md-4" style="padding-top: 15px;" >
                                  <div layout="row" layout-wrap flex>
                                                <div *ngFor="let softwareRequest of softwareRequests">
                                                    <mat-checkbox   [checked]=softwareRequest.selected 
                                                        id={{softwareRequest.value}}
                                                        (change)="showOptions($event)" 
                                                    >
                                                        {{softwareRequest.name}}
                                                    </mat-checkbox>
                                            
                                                </div>
                                              </div>
                                 </div>
                           </div> -->
                        </div>
                      </form>

                </div>          
            </div>
          </div>       
      </div>
  </div>

 
 