<!-- <div class="row">
  <span class="breadcrum_font padding-left-20"></span> Administration <span class="breadcrum_font">>></span> Target Definition List
  <span class="breadcrum_font">>></span> 
  Define Data - Target Definition
  </div> -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-inverse raisedBox">
          <div class="panel-heading">
            <!-- <div *ngIf="defineDataDetailViewModel.modalType === 'Create'"><h4 class="panel-title">Create Define Definition</h4></div> -->
            <!-- <div *ngIf="defineDataDetailViewModel.modalType === 'Edit'"><h4 class="panel-title">Edit Define Definition</h4></div> -->
            <div ><h4 class="panel-title">Define Target Definition</h4></div>
          </div>
          <div class="panel-body ">
            <div class="tab-content">
              <div class="row">
                <div class="col-md-4">Select Source</div>
                <div class="col-md-4 text-center">Define Data</div>
                <div class="col-md-4 text-right">Preview Definition</div>
                <progress-bar class="col-md-12" [progress]="defineDataDetailViewModel.progressValue"></progress-bar>
            </div>
              <div class="tab-pane active " id="define-data-details">
              <form [formGroup]="defineDataDetailViewModel.defineDataDetailsForm">  
                    <div class="form-group">
                      <div class="row" >
                        <div class="h5">
                            Target Name: {{defineDataDetailViewModel.targetDefinitionName}}
                        </div>
                      </div>
                      <div class="row">
                            <app-extended-data-table-cmp [viewModel]="defineDataDetailViewModel.viewModelDataGridExtendedComponent"> </app-extended-data-table-cmp>
                      </div>
                      <div class="row">
                        <div class="row col-lg-12">
                           <app-alert-component></app-alert-component> 
    
                          </div>
                      </div>
                  <div class="row">
                    <div class="row col-lg-12 col-xs-10" style="padding-top: 25px;">
                    
                      <div class="col-lg-6 col-xs-4 ">
                          <button   type="button" data-toggle="modal" class="btn btn-default btn-md btn-circled"
                              style="padding:right;" id="define-data-edit-back-btn" (click)="defineDataDetailViewModel.onPrevious()">
                            Previous
                          </button>
                      </div>
                      <!-- *ngIf="defineDataDetailViewModel.modalType==='Edit' || defineDataDetailViewModel.modalType==='Create'" -->
                        <div class="col-lg-6 col-xs-6 pull-left text-right">
                            <button type="button" data-toggle="modal" 
                                class="btn btn-default btn-md btn-primary btn-circled"
                                  style="padding:right; margin-left: 5px;"
                                
                                  id="define-data-edit-saveChanges-btn" (click)="defineDataDetailViewModel.saveChanges()"
                                  
                              >
                              Next
                            </button>

                            <!-- <button type="button" data-toggle="modal" 
                            class="btn btn-default btn-md btn-primary btn-circled"
                              style="padding:right; margin-left: 5px;"
                            
                              id="define-data-edit-saveChanges-btn" (click)="defineDataDetailViewModel.saveChanges()"
                               
                          >
                          test data
                        </button> -->

                      </div>
                    </div>
                  </div>

                  <div class="row " style="padding-top: 25px;" >
                    <div class="row col-lg-12">
                        <span class="text-danger pull-left">
                          <b>*</b>
                        </span>
                        <span style="font-size: 10pt;"> &nbsp; Denotes required fields</span>
                      </div>
                    </div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
