	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/04/2016 06:32
  	*/

@font-face {
  font-family: "flaticon-set-martial-arts";
  src: url("../fonts/flaticons/flaticon-set-martial-arts.eot");
  src: url("../fonts/flaticons/flaticon-set-martial-arts.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticons/flaticon-set-martial-arts.woff") format("woff"),
       url("../fonts/flaticons/flaticon-set-martial-arts.ttf") format("truetype"),
       url("../fonts/flaticons/flaticon-set-martial-arts.svg#flaticon-set-martial-arts") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon-set-martial-arts", sans-serif;
    src: url("../fonts/flaticons/flaticon-set-martial-arts.svg#flaticon-set-martial-arts") format("svg");
  }
}

[class^="flaticon-martial-arts-"]:before, [class*=" flaticon-martial-arts-"]:before,
[class^="flaticon-martial-arts-"]:after, [class*=" flaticon-martial-arts-"]:after {
  font-family: "flaticon-set-martial-arts", sans-serif;
  font-style: normal;
}

.flaticon-martial-arts-chain:before { content: "\f100"; }
.flaticon-martial-arts-fashion:before { content: "\f101"; }
.flaticon-martial-arts-fashion-1:before { content: "\f102"; }
.flaticon-martial-arts-fashion-2:before { content: "\f103"; }
.flaticon-martial-arts-fashion-3:before { content: "\f104"; }
.flaticon-martial-arts-oriental:before { content: "\f105"; }
.flaticon-martial-arts-people:before { content: "\f106"; }
.flaticon-martial-arts-people-1:before { content: "\f107"; }
.flaticon-martial-arts-people-2:before { content: "\f108"; }
.flaticon-martial-arts-people-3:before { content: "\f109"; }
.flaticon-martial-arts-people-4:before { content: "\f10a"; }
.flaticon-martial-arts-silhouette:before { content: "\f10b"; }
.flaticon-martial-arts-silhouette-1:before { content: "\f10c"; }
.flaticon-martial-arts-silhouettes:before { content: "\f10d"; }
.flaticon-martial-arts-sport:before { content: "\f10e"; }
.flaticon-martial-arts-sport-1:before { content: "\f10f"; }
.flaticon-martial-arts-sport-2:before { content: "\f110"; }
.flaticon-martial-arts-sport-3:before { content: "\f111"; }
.flaticon-martial-arts-sports:before { content: "\f112"; }
.flaticon-martial-arts-sports-1:before { content: "\f113"; }
.flaticon-martial-arts-sports-10:before { content: "\f114"; }
.flaticon-martial-arts-sports-11:before { content: "\f115"; }
.flaticon-martial-arts-sports-12:before { content: "\f116"; }
.flaticon-martial-arts-sports-13:before { content: "\f117"; }
.flaticon-martial-arts-sports-14:before { content: "\f118"; }
.flaticon-martial-arts-sports-15:before { content: "\f119"; }
.flaticon-martial-arts-sports-2:before { content: "\f11a"; }
.flaticon-martial-arts-sports-3:before { content: "\f11b"; }
.flaticon-martial-arts-sports-4:before { content: "\f11c"; }
.flaticon-martial-arts-sports-5:before { content: "\f11d"; }
.flaticon-martial-arts-sports-6:before { content: "\f11e"; }
.flaticon-martial-arts-sports-7:before { content: "\f11f"; }
.flaticon-martial-arts-sports-8:before { content: "\f120"; }
.flaticon-martial-arts-sports-9:before { content: "\f121"; }
.flaticon-martial-arts-technology:before { content: "\f122"; }
