	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/04/2016 10:02
  	*/

@font-face {
  src: url("../fonts/flaticons/flaticon-set-boxing.eot");
  src: url("../fonts/flaticons/flaticon-set-boxing.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticons/flaticon-set-boxing.woff") format("woff"),
       url("../fonts/flaticons/flaticon-set-boxing.ttf") format("truetype"),
       url("../fonts/flaticons/flaticon-set-boxing.svg#flaticon-set-boxing") format("svg");
  font-weight: normal;
  font-style: normal;
  font-family: "flaticon-set-boxing";
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon-set-boxing";
    src: url("../fonts/flaticons/flaticon-set-boxing.svg#flaticon-set-boxing") format("svg");
  }
}

[class^="flaticon-boxing-"]:before, [class*=" flaticon-boxing-"]:before,
[class^="flaticon-boxing-"]:after, [class*=" flaticon-boxing-"]:after {
  font-family: "flaticon-set-boxing", sans-serif;
  font-style: normal;
}

.flaticon-boxing-black:before { content: "\f100"; }
.flaticon-boxing-box:before { content: "\f101"; }
.flaticon-boxing-box-1:before { content: "\f102"; }
.flaticon-boxing-box-2:before { content: "\f103"; }
.flaticon-boxing-exercise:before { content: "\f104"; }
.flaticon-boxing-gym:before { content: "\f105"; }
.flaticon-boxing-gym-1:before { content: "\f106"; }
.flaticon-boxing-gym-10:before { content: "\f107"; }
.flaticon-boxing-gym-11:before { content: "\f108"; }
.flaticon-boxing-gym-2:before { content: "\f109"; }
.flaticon-boxing-gym-3:before { content: "\f10a"; }
.flaticon-boxing-gym-4:before { content: "\f10b"; }
.flaticon-boxing-gym-5:before { content: "\f10c"; }
.flaticon-boxing-gym-6:before { content: "\f10d"; }
.flaticon-boxing-gym-7:before { content: "\f10e"; }
.flaticon-boxing-gym-8:before { content: "\f10f"; }
.flaticon-boxing-gym-9:before { content: "\f110"; }
.flaticon-boxing-net:before { content: "\f111"; }
.flaticon-boxing-person:before { content: "\f112"; }
.flaticon-boxing-security:before { content: "\f113"; }
.flaticon-boxing-silhouette:before { content: "\f114"; }
.flaticon-boxing-silhouette-1:before { content: "\f115"; }
.flaticon-boxing-silhouette-2:before { content: "\f116"; }
.flaticon-boxing-silhouette-3:before { content: "\f117"; }
.flaticon-boxing-sport:before { content: "\f118"; }
.flaticon-boxing-sport-1:before { content: "\f119"; }
.flaticon-boxing-sport-2:before { content: "\f11a"; }
.flaticon-boxing-sport-3:before { content: "\f11b"; }
.flaticon-boxing-sport-4:before { content: "\f11c"; }
.flaticon-boxing-sport-5:before { content: "\f11d"; }
.flaticon-boxing-sport-6:before { content: "\f11e"; }
.flaticon-boxing-sport-7:before { content: "\f11f"; }
.flaticon-boxing-sports:before { content: "\f120"; }
.flaticon-boxing-sports-1:before { content: "\f121"; }
.flaticon-boxing-sports-2:before { content: "\f122"; }
.flaticon-boxing-sports-3:before { content: "\f123"; }
.flaticon-boxing-sports-4:before { content: "\f124"; }
.flaticon-boxing-sports-5:before { content: "\f125"; }
.flaticon-boxing-sports-6:before { content: "\f126"; }
.flaticon-boxing-sports-7:before { content: "\f127"; }
.flaticon-boxing-sports-8:before { content: "\f128"; }
.flaticon-boxing-two:before { content: "\f129"; }
