	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:44
  	*/

@font-face {
  font-family: "flaticon-set-gym";
  src: url("../fonts/flaticons/flaticon-set-gym.eot");
  src: url("../fonts/flaticons/flaticon-set-gym.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticons/flaticon-set-gym.woff") format("woff"),
       url("../fonts/flaticons/flaticon-set-gym.ttf") format("truetype"),
       url("../fonts/flaticons/flaticon-set-gym.svg#flaticon-set-gym") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon-set-gym", sans-serif;
    src: url("../fonts/flaticons/flaticon-set-gym.svg#flaticon-set-gym") format("svg");
  }
}

[class^="flaticon-gym-"]:before, [class*=" flaticon-gym-"]:before,
[class^="flaticon-gym-"]:after, [class*=" flaticon-gym-"]:after {
  font-family: "flaticon-set-gym", sans-serif;
  font-style: normal;
}

.flaticon-gym-25-kilos-weight:before { content: "\f100"; }
.flaticon-gym-apple-and-a-clipboard-with-notes-for-gymnast-diet-control:before { content: "\f101"; }
.flaticon-gym-apple-and-a-scale-outlines:before { content: "\f102"; }
.flaticon-gym-apple-silhouette-with-heart-shape:before { content: "\f103"; }
.flaticon-gym-bike-of-a-gymnast:before { content: "\f104"; }
.flaticon-gym-bodybuilder-carrying-dumbbell:before { content: "\f105"; }
.flaticon-gym-bodybuilder-carrying-weight-on-one-hand-outline:before { content: "\f106"; }
.flaticon-gym-burger-and-apple-on-a-balancing-scale:before { content: "\f107"; }
.flaticon-gym-burger-prohibition-sign-for-gymnast:before { content: "\f108"; }
.flaticon-gym-circular-jumping-bed:before { content: "\f109"; }
.flaticon-gym-clipboard-silhouette-with-arrow-pointing-up:before { content: "\f10a"; }
.flaticon-gym-clipboard-with-supplement-bottle-outline:before { content: "\f10b"; }
.flaticon-gym-dart-on-the-objective-center-on-an-apple:before { content: "\f10c"; }
.flaticon-gym-drinking-bottle-with-cap-variant:before { content: "\f10d"; }
.flaticon-gym-dumbbell-variant-outline:before { content: "\f10e"; }
.flaticon-gym-dumbbell-variant-outline-1:before { content: "\f10f"; }
.flaticon-gym-dumbbell-with-weights-outline:before { content: "\f110"; }
.flaticon-gym-dumbbells-couple-silhouette:before { content: "\f111"; }
.flaticon-gym-exercise-handle-tools:before { content: "\f112"; }
.flaticon-gym-female-gymnast-measuring-her-waist:before { content: "\f113"; }
.flaticon-gym-female-waist-reduction:before { content: "\f114"; }
.flaticon-gym-fork-and-knife-variant:before { content: "\f115"; }
.flaticon-gym-fork-with-a-carrot-outline:before { content: "\f116"; }
.flaticon-gym-fruit-diet:before { content: "\f117"; }
.flaticon-gym-gym-ball-with-parallel-stripes:before { content: "\f118"; }
.flaticon-gym-gym-control-of-exercises-with-a-list-on-a-clipboard-and-heart-beats:before { content: "\f119"; }
.flaticon-gym-gym-equipment-variant-outline:before { content: "\f11a"; }
.flaticon-gym-gym-objects-a-ball-and-a-dumbbell:before { content: "\f11b"; }
.flaticon-gym-gym-rings-couple:before { content: "\f11c"; }
.flaticon-gym-gym-smoking-prohibition-signal:before { content: "\f11d"; }
.flaticon-gym-gymnast:before { content: "\f11e"; }
.flaticon-gym-gymnast-abdominal-flexion:before { content: "\f11f"; }
.flaticon-gym-gymnast-apple-diet-with-natural-supplements:before { content: "\f120"; }
.flaticon-gym-gymnast-balancing-from-the-floor:before { content: "\f121"; }
.flaticon-gym-gymnast-balancing-on-handbar:before { content: "\f122"; }
.flaticon-gym-gymnast-bars-tool:before { content: "\f123"; }
.flaticon-gym-gymnast-control-of-diet-and-size-measures:before { content: "\f124"; }
.flaticon-gym-gymnast-control-of-heart-beats:before { content: "\f125"; }
.flaticon-gym-gymnast-diet:before { content: "\f126"; }
.flaticon-gym-gymnast-diet-control-card:before { content: "\f127"; }
.flaticon-gym-gymnast-diet-food:before { content: "\f128"; }
.flaticon-gym-gymnast-diet-list-on-a-clipboard-and-a-carrot-on-a-fork:before { content: "\f129"; }
.flaticon-gym-gymnast-drink-bottle-and-an-apple:before { content: "\f12a"; }
.flaticon-gym-gymnast-in-frontal-flexion-posture:before { content: "\f12b"; }
.flaticon-gym-gymnast-in-gym-practicing-strengthen-exercise:before { content: "\f12c"; }
.flaticon-gym-gymnast-inverted-on-a-stand:before { content: "\f12d"; }
.flaticon-gym-gymnast-lying-practicing-excercise-with-a-ball-in-hands:before { content: "\f12e"; }
.flaticon-gym-gymnast-making-abdominals-to-strengthen-abdominal-muscles:before { content: "\f12f"; }
.flaticon-gym-gymnast-muscular-arm-outline-with-a-timer:before { content: "\f130"; }
.flaticon-gym-gymnast-on-hands-and-one-knee-rising-one-leg-to-back:before { content: "\f131"; }
.flaticon-gym-gymnast-posture:before { content: "\f132"; }
.flaticon-gym-gymnast-posture-1:before { content: "\f133"; }
.flaticon-gym-gymnast-practice:before { content: "\f134"; }
.flaticon-gym-gymnast-practice-1:before { content: "\f135"; }
.flaticon-gym-gymnast-practice-2:before { content: "\f136"; }
.flaticon-gym-gymnast-practicing-abdominal-exercises:before { content: "\f137"; }
.flaticon-gym-gymnast-practicing-excercise-with-dumbbells:before { content: "\f138"; }
.flaticon-gym-gymnast-practicing-pilates-on-a-big-ball:before { content: "\f139"; }
.flaticon-gym-gymnast-silhouette:before { content: "\f13a"; }
.flaticon-gym-gymnast-silhouette-showing-muscles:before { content: "\f13b"; }
.flaticon-gym-gymnast-silhouette-standing-with-dumbbells:before { content: "\f13c"; }
.flaticon-gym-gymnast-sportive-shoe-side-view-outline-with-a-timer:before { content: "\f13d"; }
.flaticon-gym-gymnast-sportive-shoes-and-bottle-for-water:before { content: "\f13e"; }
.flaticon-gym-gymnast-standing-black-silhouette:before { content: "\f13f"; }
.flaticon-gym-gymnast-standing-in-rotation-posture:before { content: "\f140"; }
.flaticon-gym-gymnast-steroids-supplements-for-dumbbell-exercises:before { content: "\f141"; }
.flaticon-gym-gymnast-stick-man-variant-carrying-dumbbell-side-view:before { content: "\f142"; }
.flaticon-gym-gymnast-stick-man-variant-stretching-legs:before { content: "\f143"; }
.flaticon-gym-gymnast-stick-man-variant-using-exercise-ball:before { content: "\f144"; }
.flaticon-gym-gymnast-stretching-tool-side-view:before { content: "\f145"; }
.flaticon-gym-gymnast-using-gym-equipment:before { content: "\f146"; }
.flaticon-gym-gymnast-using-hand-bar:before { content: "\f147"; }
.flaticon-gym-gymnast-with-a-dumbbell-and-heart-shape-with-lifeline:before { content: "\f148"; }
.flaticon-gym-gymnast-with-a-hanging-boxing-bag:before { content: "\f149"; }
.flaticon-gym-gymnast-with-strong-muscles-in-full-body-view:before { content: "\f14a"; }
.flaticon-gym-heart-shape-outline-with-lifeline:before { content: "\f14b"; }
.flaticon-gym-heart-with-muscular-male-gymnast-arms:before { content: "\f14c"; }
.flaticon-gym-human-outline-flexing-muscles:before { content: "\f14d"; }
.flaticon-gym-juice-bottle-and-apple:before { content: "\f14e"; }
.flaticon-gym-jump-rope-with-a-timer:before { content: "\f14f"; }
.flaticon-gym-jumping-rope:before { content: "\f150"; }
.flaticon-gym-jumping-rope-variant:before { content: "\f151"; }
.flaticon-gym-lateral-flexion:before { content: "\f152"; }
.flaticon-gym-list-on-a-clipboard:before { content: "\f153"; }
.flaticon-gym-male-bodybuilder-silhouette-flexing-muscles:before { content: "\f154"; }
.flaticon-gym-male-gymnast-flexing-arms:before { content: "\f155"; }
.flaticon-gym-male-gymnast-legs-frontal-outline:before { content: "\f156"; }
.flaticon-gym-male-gymnast-outline-variant:before { content: "\f157"; }
.flaticon-gym-male-muscular-outline-with-apple:before { content: "\f158"; }
.flaticon-gym-male-silhouette-holding-dumbbell-variant:before { content: "\f159"; }
.flaticon-gym-male-silhouette-raising-dumbbell-of-small-size:before { content: "\f15a"; }
.flaticon-gym-male-silhouette-variant-showing-muscles:before { content: "\f15b"; }
.flaticon-gym-male-stick-man-with-legs-folded:before { content: "\f15c"; }
.flaticon-gym-male-weightlifter-outline-carrying-a-huge-dumbbell:before { content: "\f15d"; }
.flaticon-gym-man-flexing-his-muscles-silhouette:before { content: "\f15e"; }
.flaticon-gym-man-silhouette:before { content: "\f15f"; }
.flaticon-gym-man-silhouette-balancing-on-handbars:before { content: "\f160"; }
.flaticon-gym-man-weightlifter-carrying-dumbbell:before { content: "\f161"; }
.flaticon-gym-medallion-with-star-outline-variant:before { content: "\f162"; }
.flaticon-gym-medication-bottle-outline-and-heart-with-life-line:before { content: "\f163"; }
.flaticon-gym-medication-to-reduce-waist:before { content: "\f164"; }
.flaticon-gym-monitoring-heart-rate:before { content: "\f165"; }
.flaticon-gym-mountain-bike-outline-variant:before { content: "\f166"; }
.flaticon-gym-muscular-bodybuilder-outline:before { content: "\f167"; }
.flaticon-gym-muscular-bodybuilder-with-clock:before { content: "\f168"; }
.flaticon-gym-muscular-gymnast-arm-muscles-show:before { content: "\f169"; }
.flaticon-gym-muscular-gymnast-silhouette:before { content: "\f16a"; }
.flaticon-gym-muscular-gymnast-torso-outline:before { content: "\f16b"; }
.flaticon-gym-muscular-male-gymnast-exercising-with-two-dumbbells:before { content: "\f16c"; }
.flaticon-gym-muscular-male-gymnast-rising-a-dumbbell:before { content: "\f16d"; }
.flaticon-gym-muscular-male-gymnast-showing-his-muscles-standing-from-side-view:before { content: "\f16e"; }
.flaticon-gym-muscular-male-outline-with-heart-and-lifeline:before { content: "\f16f"; }
.flaticon-gym-muscular-male-torso-and-a-scale:before { content: "\f170"; }
.flaticon-gym-muscular-man-flexing-silhouette:before { content: "\f171"; }
.flaticon-gym-muscular-man-showing-his-muscles:before { content: "\f172"; }
.flaticon-gym-muscular-outline-of-a-bodybuilder-flexing:before { content: "\f173"; }
.flaticon-gym-pressure-dumbbell:before { content: "\f174"; }
.flaticon-gym-processed-food:before { content: "\f175"; }
.flaticon-gym-prohibition-of-steroids-for-gymnast:before { content: "\f176"; }
.flaticon-gym-protein-shake-and-dumbbell:before { content: "\f177"; }
.flaticon-gym-protein-shake-bottle-container:before { content: "\f178"; }
.flaticon-gym-round-weights-in-kilogram:before { content: "\f179"; }
.flaticon-gym-scale-for-body-weight-control:before { content: "\f17a"; }
.flaticon-gym-sexy-body-on-diet-with-apple:before { content: "\f17b"; }
.flaticon-gym-sitting-cartoon-man-carrying-dumbbell-side-view:before { content: "\f17c"; }
.flaticon-gym-slim-body-with-timer:before { content: "\f17d"; }
.flaticon-gym-sportive-prize-cup:before { content: "\f17e"; }
.flaticon-gym-sportive-shoe-outline-from-side-view:before { content: "\f17f"; }
.flaticon-gym-steroids-for-big-muscles:before { content: "\f180"; }
.flaticon-gym-stick-man-balancing-on-exercise-ball:before { content: "\f181"; }
.flaticon-gym-stick-man-lying-down-and-raising-one-leg:before { content: "\f182"; }
.flaticon-gym-stick-man-running-on-a-treadmill:before { content: "\f183"; }
.flaticon-gym-stick-man-side-view-raised-on-exercise-ball:before { content: "\f184"; }
.flaticon-gym-stick-man-side-view-weightlifting:before { content: "\f185"; }
.flaticon-gym-stick-man-variant-doing-push-ups:before { content: "\f186"; }
.flaticon-gym-stick-man-variant-doing-push-ups-from-the-ground:before { content: "\f187"; }
.flaticon-gym-striped-ball-and-a-ruler:before { content: "\f188"; }
.flaticon-gym-super-muscle-man-outline:before { content: "\f189"; }
.flaticon-gym-supplement-bottle-variant-outline:before { content: "\f18a"; }
.flaticon-gym-syringe-prohibition-sign-outline-variant:before { content: "\f18b"; }
.flaticon-gym-timer-on-a-dumbbells-tool-for-a-gymnast:before { content: "\f18c"; }
.flaticon-gym-timer-with-thick-outline-variant:before { content: "\f18d"; }
.flaticon-gym-treadmill:before { content: "\f18e"; }
.flaticon-gym-treadmill-machine-with-timer:before { content: "\f18f"; }
.flaticon-gym-treadmill-with-heart-beats-control-for-gymnasts:before { content: "\f190"; }
.flaticon-gym-verified-list-of-exercises-of-a-gymnast-on-a-clipboard:before { content: "\f191"; }
.flaticon-gym-weighing-scale-outline-with-25-kilos-weight:before { content: "\f192"; }
.flaticon-gym-weighing-scale-silhouette-variant:before { content: "\f193"; }
.flaticon-gym-weight:before { content: "\f194"; }
.flaticon-gym-yoga-posture:before { content: "\f195"; }
