	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:45
  	*/

@font-face {
  font-family: "flaticon-set-spa";
  src: url("../fonts/flaticons/flaticon-set-spa.eot");
  src: url("../fonts/flaticons/flaticon-set-spa.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticons/flaticon-set-spa.woff") format("woff"),
       url("../fonts/flaticons/flaticon-set-spa.ttf") format("truetype"),
       url("../fonts/flaticons/flaticon-set-spa.svg#flaticon-set-spa") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon-set-spa", sans-serif;
    src: url("../fonts/flaticons/flaticon-set-spa.svg#flaticon-set-spa") format("svg");
  }
}

[class^="flaticon-spa-"]:before, [class*=" flaticon-spa-"]:before,
[class^="flaticon-spa-"]:after, [class*=" flaticon-spa-"]:after {
  font-family: "flaticon-set-spa", sans-serif;
  font-style: normal;
}

.flaticon-spa-3-flowers:before { content: "\f100"; }
.flaticon-spa-acupuncture-needles:before { content: "\f101"; }
.flaticon-spa-aromatherapy-lotion-bottle-with-liquid-inside:before { content: "\f102"; }
.flaticon-spa-aromatherapy-tool-with-a-burning-candle-heating-fragrance-oil:before { content: "\f103"; }
.flaticon-spa-bamboo-plants-of-spa:before { content: "\f104"; }
.flaticon-spa-bath-of-immersion:before { content: "\f105"; }
.flaticon-spa-body-spa-and-massage:before { content: "\f106"; }
.flaticon-spa-bottle-of-glass-with-massage-oil-of-aromatherapy-for-spa:before { content: "\f107"; }
.flaticon-spa-brochure:before { content: "\f108"; }
.flaticon-spa-broom:before { content: "\f109"; }
.flaticon-spa-candle:before { content: "\f10a"; }
.flaticon-spa-candle-burning-flame:before { content: "\f10b"; }
.flaticon-spa-choosing-spa-treatments-option-by-cost:before { content: "\f10c"; }
.flaticon-spa-circular-line-with-word-age-in-the-center:before { content: "\f10d"; }
.flaticon-spa-cocktail-glass-side-view-with-fruit-slice-on-the-border:before { content: "\f10e"; }
.flaticon-spa-couple-of-half-oranges:before { content: "\f10f"; }
.flaticon-spa-cup-with-a-flower:before { content: "\f110"; }
.flaticon-spa-deck-chair-and-umbrella-for-the-sun:before { content: "\f111"; }
.flaticon-spa-drop-of-blood:before { content: "\f112"; }
.flaticon-spa-dropper:before { content: "\f113"; }
.flaticon-spa-essential-oil-drop-for-spa-massage-falling-on-an-open-hand:before { content: "\f114"; }
.flaticon-spa-essential-oil-drops-in-bathtub-for-relaxation-bath:before { content: "\f115"; }
.flaticon-spa-facial-mask-with-flower-in-spa:before { content: "\f116"; }
.flaticon-spa-facial-treatment-from-a-spa:before { content: "\f117"; }
.flaticon-spa-fan:before { content: "\f118"; }
.flaticon-spa-feet-couple-in-spa:before { content: "\f119"; }
.flaticon-spa-feet-with-flowers:before { content: "\f11a"; }
.flaticon-spa-female-bikini-and-male-short-for-spa:before { content: "\f11b"; }
.flaticon-spa-fern-plant-on-vase:before { content: "\f11c"; }
.flaticon-spa-fireplace:before { content: "\f11d"; }
.flaticon-spa-fish:before { content: "\f11e"; }
.flaticon-spa-flowers-floating-on-a-liquid-inside-a-bowl:before { content: "\f11f"; }
.flaticon-spa-flowers-on-human-feet:before { content: "\f120"; }
.flaticon-spa-fragrance-bottle-of-citric-fruit:before { content: "\f121"; }
.flaticon-spa-glass-with-juice:before { content: "\f122"; }
.flaticon-spa-hair-cut-tool:before { content: "\f123"; }
.flaticon-spa-hair-medicine-and-comb:before { content: "\f124"; }
.flaticon-spa-hair-spa:before { content: "\f125"; }
.flaticon-spa-hand-and-leaf-silhouettes:before { content: "\f126"; }
.flaticon-spa-hand-of-black-human:before { content: "\f127"; }
.flaticon-spa-hand-with-an-spiral-symbol:before { content: "\f128"; }
.flaticon-spa-herbs-leaves-for-natural-spa-treatment:before { content: "\f129"; }
.flaticon-spa-human-with-towel-wrapped-around-body:before { content: "\f12a"; }
.flaticon-spa-incense-stick-on-a-base:before { content: "\f12b"; }
.flaticon-spa-incense-sticks:before { content: "\f12c"; }
.flaticon-spa-lemonade-on-glass-with-lemon-slice:before { content: "\f12d"; }
.flaticon-spa-liquid-soap-bottle:before { content: "\f12e"; }
.flaticon-spa-logo-for-spa:before { content: "\f12f"; }
.flaticon-spa-logo-for-spa-and-relax:before { content: "\f130"; }
.flaticon-spa-male-and-female-symbol:before { content: "\f131"; }
.flaticon-spa-man-lying-on-a-deck-chair-of-a-spa:before { content: "\f132"; }
.flaticon-spa-man-sitting-in-sauna:before { content: "\f133"; }
.flaticon-spa-mask-for-relaxation:before { content: "\f134"; }
.flaticon-spa-massage-and-spa:before { content: "\f135"; }
.flaticon-spa-massages-ring-for-spa:before { content: "\f136"; }
.flaticon-spa-massages-tool:before { content: "\f137"; }
.flaticon-spa-mineral-stones:before { content: "\f138"; }
.flaticon-spa-mortar-with-flowers:before { content: "\f139"; }
.flaticon-spa-nail-polish-bottle:before { content: "\f13a"; }
.flaticon-spa-natural-spa:before { content: "\f13b"; }
.flaticon-spa-nautilus-shell-of-sea-life-to-hear-the-sea-sound-for-relaxation:before { content: "\f13c"; }
.flaticon-spa-overcoat:before { content: "\f13d"; }
.flaticon-spa-perfume-spray-spherical-bottle:before { content: "\f13e"; }
.flaticon-spa-person-in-spa-sauna:before { content: "\f13f"; }
.flaticon-spa-person-silhouette-in-meditation-posture-in-spa:before { content: "\f140"; }
.flaticon-spa-plant-for-a-spa:before { content: "\f141"; }
.flaticon-spa-positive-charges:before { content: "\f142"; }
.flaticon-spa-sale-sticker:before { content: "\f143"; }
.flaticon-spa-sandals-for-spa:before { content: "\f144"; }
.flaticon-spa-scented-candle:before { content: "\f145"; }
.flaticon-spa-scented-candle-symbol:before { content: "\f146"; }
.flaticon-spa-scented-cologne-or-perfume:before { content: "\f147"; }
.flaticon-spa-shower:before { content: "\f148"; }
.flaticon-spa-spa:before { content: "\f149"; }
.flaticon-spa-spa-and-fitness-symbol:before { content: "\f14a"; }
.flaticon-spa-spa-and-relax:before { content: "\f14b"; }
.flaticon-spa-spa-bed:before { content: "\f14c"; }
.flaticon-spa-spa-bed-1:before { content: "\f14d"; }
.flaticon-spa-spa-building:before { content: "\f14e"; }
.flaticon-spa-spa-candles-variant:before { content: "\f14f"; }
.flaticon-spa-spa-discount:before { content: "\f150"; }
.flaticon-spa-spa-facial-treatment-with-mask-and-massages:before { content: "\f151"; }
.flaticon-spa-spa-ointment:before { content: "\f152"; }
.flaticon-spa-spa-ointment-with-flower:before { content: "\f153"; }
.flaticon-spa-spa-pan-for-aromatherapy:before { content: "\f154"; }
.flaticon-spa-spa-relax-symbol:before { content: "\f155"; }
.flaticon-spa-spa-wooden-bowl-with-water:before { content: "\f156"; }
.flaticon-spa-star-of-sea-fivepointed-shape:before { content: "\f157"; }
.flaticon-spa-swimming-pool:before { content: "\f158"; }
.flaticon-spa-tea-bag:before { content: "\f159"; }
.flaticon-spa-tea-cup-with-flower:before { content: "\f15a"; }
.flaticon-spa-tea-in-a-teapot:before { content: "\f15b"; }
.flaticon-spa-thermostat:before { content: "\f15c"; }
.flaticon-spa-thread-symbol:before { content: "\f15d"; }
.flaticon-spa-towel:before { content: "\f15e"; }
.flaticon-spa-tree-twigs-with-leaf:before { content: "\f15f"; }
.flaticon-spa-walkway-and-a-plant:before { content: "\f160"; }
.flaticon-spa-water-inside-the-pitcher:before { content: "\f161"; }
.flaticon-spa-wind-chimes-variant-for-spa:before { content: "\f162"; }
.flaticon-spa-woman-head-silhouette-with-a-flower-in-a-spa:before { content: "\f163"; }
