	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:43
  	*/

@font-face {
  font-family: "flaticon-set-sports";
  src: url("../fonts/flaticons/flaticon-set-sports.eot");
  src: url("../fonts/flaticons/flaticon-set-sports.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticons/flaticon-set-sports.woff") format("woff"),
       url("../fonts/flaticons/flaticon-set-sports.ttf") format("truetype"),
       url("../fonts/flaticons/flaticon-set-sports.svg#flaticon-set-sports") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon-set-sports", sans-serif;
    src: url("../fonts/flaticons/flaticon-set-sports.svg#flaticon-set-sports") format("svg");
  }
}

[class^="flaticon-sports-"]:before, [class*=" flaticon-sports-"]:before,
[class^="flaticon-sports-"]:after, [class*=" flaticon-sports-"]:after {
  font-family: "flaticon-set-sports", sans-serif;
  font-style: normal;
}

.flaticon-sports-american-football-helmet-knocking:before { content: "\f100"; }
.flaticon-sports-apple-silhouette:before { content: "\f101"; }
.flaticon-sports-arm-muscles-silhouette:before { content: "\f102"; }
.flaticon-sports-baseball-ball-equipment:before { content: "\f103"; }
.flaticon-sports-baseball-player:before { content: "\f104"; }
.flaticon-sports-basketball-silhouette:before { content: "\f105"; }
.flaticon-sports-bicycle-silhouette:before { content: "\f106"; }
.flaticon-sports-bowl-of-noodles:before { content: "\f107"; }
.flaticon-sports-bowling-ball:before { content: "\f108"; }
.flaticon-sports-bowling-cones-silhouette:before { content: "\f109"; }
.flaticon-sports-bowling-silhouette:before { content: "\f10a"; }
.flaticon-sports-boxing-glove:before { content: "\f10b"; }
.flaticon-sports-champions-cup:before { content: "\f10c"; }
.flaticon-sports-champions-trophy:before { content: "\f10d"; }
.flaticon-sports-chronometer-running:before { content: "\f10e"; }
.flaticon-sports-clycling-glove:before { content: "\f10f"; }
.flaticon-sports-crossed-oars:before { content: "\f110"; }
.flaticon-sports-cyclist-helmet:before { content: "\f111"; }
.flaticon-sports-cyclist-silhouette:before { content: "\f112"; }
.flaticon-sports-cyclist-with-helmet:before { content: "\f113"; }
.flaticon-sports-daily-newspaper:before { content: "\f114"; }
.flaticon-sports-dumbbell-training:before { content: "\f115"; }
.flaticon-sports-dumbbells-exercise:before { content: "\f116"; }
.flaticon-sports-excercising-man:before { content: "\f117"; }
.flaticon-sports-exercising-man:before { content: "\f118"; }
.flaticon-sports-fencing:before { content: "\f119"; }
.flaticon-sports-final-score:before { content: "\f11a"; }
.flaticon-sports-first-prize:before { content: "\f11b"; }
.flaticon-sports-flask:before { content: "\f11c"; }
.flaticon-sports-football-ball-in-flames:before { content: "\f11d"; }
.flaticon-sports-football-champion-cup:before { content: "\f11e"; }
.flaticon-sports-football-field:before { content: "\f11f"; }
.flaticon-sports-football-match-on-tv:before { content: "\f120"; }
.flaticon-sports-football-shoe:before { content: "\f121"; }
.flaticon-sports-footing-silhouette:before { content: "\f122"; }
.flaticon-sports-fruits-silhouette:before { content: "\f123"; }
.flaticon-sports-gold-medal:before { content: "\f124"; }
.flaticon-sports-golf-bag:before { content: "\f125"; }
.flaticon-sports-golf-ball:before { content: "\f126"; }
.flaticon-sports-golf-ball-and-club:before { content: "\f127"; }
.flaticon-sports-golf-iron:before { content: "\f128"; }
.flaticon-sports-golfer:before { content: "\f129"; }
.flaticon-sports-golfer-in-green:before { content: "\f12a"; }
.flaticon-sports-gymnastic-rings:before { content: "\f12b"; }
.flaticon-sports-healthy-food-diet:before { content: "\f12c"; }
.flaticon-sports-healthy-food-versus-junk-food:before { content: "\f12d"; }
.flaticon-sports-heartbeats:before { content: "\f12e"; }
.flaticon-sports-hockey-stick-with-ball:before { content: "\f12f"; }
.flaticon-sports-ice-hockey-puck:before { content: "\f130"; }
.flaticon-sports-ice-skating-shoes:before { content: "\f131"; }
.flaticon-sports-kicking-a-footbal-ball:before { content: "\f132"; }
.flaticon-sports-kilograms-weight:before { content: "\f133"; }
.flaticon-sports-leather-baseball-ball:before { content: "\f134"; }
.flaticon-sports-man-lifting-weight:before { content: "\f135"; }
.flaticon-sports-man-waving-a-flag:before { content: "\f136"; }
.flaticon-sports-measuring-tape-rolled:before { content: "\f137"; }
.flaticon-sports-no-food-allow:before { content: "\f138"; }
.flaticon-sports-no-pizza-allow:before { content: "\f139"; }
.flaticon-sports-number-eight-pool-ball:before { content: "\f13a"; }
.flaticon-sports-olympic-podium:before { content: "\f13b"; }
.flaticon-sports-olympic-weightlifting:before { content: "\f13c"; }
.flaticon-sports-ping-pong-racket-and-ball:before { content: "\f13d"; }
.flaticon-sports-podium-silhouette:before { content: "\f13e"; }
.flaticon-sports-podium-silhouette-1:before { content: "\f13f"; }
.flaticon-sports-red-and-yellow-cards:before { content: "\f140"; }
.flaticon-sports-referee-sanctioning:before { content: "\f141"; }
.flaticon-sports-referee-whistle:before { content: "\f142"; }
.flaticon-sports-restaurant-sign:before { content: "\f143"; }
.flaticon-sports-rugby-ball:before { content: "\f144"; }
.flaticon-sports-sailboat:before { content: "\f145"; }
.flaticon-sports-sailing-yacht:before { content: "\f146"; }
.flaticon-sports-shuttlecock-silhouette:before { content: "\f147"; }
.flaticon-sports-soccer-ball-goal:before { content: "\f148"; }
.flaticon-sports-soccer-ball-silhouette:before { content: "\f149"; }
.flaticon-sports-soft-drink-silhouette:before { content: "\f14a"; }
.flaticon-sports-sport-equipment:before { content: "\f14b"; }
.flaticon-sports-award:before { content: "\f14c"; }
.flaticon-sports-recognition:before { content: "\f14d"; }
.flaticon-sports-shoe:before { content: "\f14e"; }
.flaticon-sports-swimming-silhouette:before { content: "\f14f"; }
.flaticon-sports-tablets-and-pill:before { content: "\f150"; }
.flaticon-sports-team-shield:before { content: "\f151"; }
.flaticon-sports-team-uniform:before { content: "\f152"; }
.flaticon-sports-tennis-ball:before { content: "\f153"; }
.flaticon-sports-tennis-player-silhouette:before { content: "\f154"; }
.flaticon-sports-tennis-raquet-and-ball:before { content: "\f155"; }
.flaticon-sports-tie-jacket:before { content: "\f156"; }
.flaticon-sports-treadmill:before { content: "\f157"; }
.flaticon-sports-trophy-silhouette:before { content: "\f158"; }
.flaticon-sports-two-dumbbells:before { content: "\f159"; }
.flaticon-sports-two-of-hearts-card:before { content: "\f15a"; }
.flaticon-sports-volleyball-ball:before { content: "\f15b"; }
.flaticon-sports-waving-black-flag:before { content: "\f15c"; }
.flaticon-sports-waving-checking-flag:before { content: "\f15d"; }
.flaticon-sports-weighed-pointing-heavy-weight:before { content: "\f15e"; }
.flaticon-sports-weightlifter-silhouette:before { content: "\f15f"; }
.flaticon-sports-weights-silhouette:before { content: "\f160"; }
.flaticon-sports-windsurf:before { content: "\f161"; }
.flaticon-sports-winners-cup-silhouette:before { content: "\f162"; }
.flaticon-sports-winning-runner:before { content: "\f163"; }
