	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:49
  	*/

@font-face {
  font-family: "flaticon-set-foods";
  src: url("../fonts/flaticons/flaticon-set-foods.eot");
  src: url("../fonts/flaticons/flaticon-set-foods.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticons/flaticon-set-foods.woff") format("woff"),
       url("../fonts/flaticons/flaticon-set-foods.ttf") format("truetype"),
       url("../fonts/flaticons/flaticon-set-foods.svg#flaticon-set-foods") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon-set-foods", sans-serif;
    src: url("../fonts/flaticons/flaticon-set-foods.svg#flaticon-set-foods") format("svg");
  }
}

[class^="flaticon-foods-"]:before, [class*=" flaticon-foods-"]:before,
[class^="flaticon-foods-"]:after, [class*=" flaticon-foods-"]:after {
  font-family: "flaticon-set-foods", sans-serif;
  font-style: normal;
}

.flaticon-foods-appetizers-bowl:before { content: "\f100"; }
.flaticon-foods-apple-with-skin:before { content: "\f101"; }
.flaticon-foods-bakery-croissant:before { content: "\f102"; }
.flaticon-foods-beef-chop:before { content: "\f103"; }
.flaticon-foods-big-knife:before { content: "\f104"; }
.flaticon-foods-bistro-pot:before { content: "\f105"; }
.flaticon-foods-boiling-water-pan:before { content: "\f106"; }
.flaticon-foods-bowl-of-olives:before { content: "\f107"; }
.flaticon-foods-breakfast-cup:before { content: "\f108"; }
.flaticon-foods-butcher-knife:before { content: "\f109"; }
.flaticon-foods-cake-box:before { content: "\f10a"; }
.flaticon-foods-cake-piece-with-cream:before { content: "\f10b"; }
.flaticon-foods-candy-balls:before { content: "\f10c"; }
.flaticon-foods-cardboard-cup-doodle:before { content: "\f10d"; }
.flaticon-foods-chef-hat:before { content: "\f10e"; }
.flaticon-foods-chicken-thigh:before { content: "\f10f"; }
.flaticon-foods-chinese-rice-with-two-chopsticks:before { content: "\f110"; }
.flaticon-foods-closed-sign:before { content: "\f111"; }
.flaticon-foods-cocktail-glass-with-ice-cube:before { content: "\f112"; }
.flaticon-foods-coffe-pot:before { content: "\f113"; }
.flaticon-foods-combine-meal:before { content: "\f114"; }
.flaticon-foods-combine-meal-1:before { content: "\f115"; }
.flaticon-foods-complete-hamburger:before { content: "\f116"; }
.flaticon-foods-creme-caramel:before { content: "\f117"; }
.flaticon-foods-crepe-and-cream:before { content: "\f118"; }
.flaticon-foods-cup-doodle:before { content: "\f119"; }
.flaticon-foods-cupcake-with-cherry:before { content: "\f11a"; }
.flaticon-foods-cupcake-with-cream:before { content: "\f11b"; }
.flaticon-foods-cut-cake-piece:before { content: "\f11c"; }
.flaticon-foods-cutting-board-with-knife:before { content: "\f11d"; }
.flaticon-foods-decorated-cake:before { content: "\f11e"; }
.flaticon-foods-drink-jar:before { content: "\f11f"; }
.flaticon-foods-electric-weight-scale:before { content: "\f120"; }
.flaticon-foods-foamy-beer-jar:before { content: "\f121"; }
.flaticon-foods-food-box:before { content: "\f122"; }
.flaticon-foods-french-fries-box:before { content: "\f123"; }
.flaticon-foods-fresh-tomato:before { content: "\f124"; }
.flaticon-foods-fried-chicken-thighs:before { content: "\f125"; }
.flaticon-foods-frying-pan:before { content: "\f126"; }
.flaticon-foods-frying-pan-from-top:before { content: "\f127"; }
.flaticon-foods-frying-pan-without-a-cover:before { content: "\f128"; }
.flaticon-foods-half-lemon-doodle:before { content: "\f129"; }
.flaticon-foods-hot-dog-with-ketchup:before { content: "\f12a"; }
.flaticon-foods-hot-mug-doodle:before { content: "\f12b"; }
.flaticon-foods-hot-soup:before { content: "\f12c"; }
.flaticon-foods-ice-cream-balls-cup:before { content: "\f12d"; }
.flaticon-foods-ice-cream-cup-doodle:before { content: "\f12e"; }
.flaticon-foods-ice-pop:before { content: "\f12f"; }
.flaticon-foods-infusion-bag:before { content: "\f130"; }
.flaticon-foods-jar-full-of-food:before { content: "\f131"; }
.flaticon-foods-kitchen-fish:before { content: "\f132"; }
.flaticon-foods-ladle-doodle:before { content: "\f133"; }
.flaticon-foods-lateral-pan:before { content: "\f134"; }
.flaticon-foods-lemonade-with-straw:before { content: "\f135"; }
.flaticon-foods-load-of-bread:before { content: "\f136"; }
.flaticon-foods-long-sandwich:before { content: "\f137"; }
.flaticon-foods-manual-mixer-doodle:before { content: "\f138"; }
.flaticon-foods-measurement-jar-doodle:before { content: "\f139"; }
.flaticon-foods-menu-card:before { content: "\f13a"; }
.flaticon-foods-mermelade-jar-doodle:before { content: "\f13b"; }
.flaticon-foods-mermelade-tin:before { content: "\f13c"; }
.flaticon-foods-mexican-food:before { content: "\f13d"; }
.flaticon-foods-milk-brick:before { content: "\f13e"; }
.flaticon-foods-mortar-with-mace:before { content: "\f13f"; }
.flaticon-foods-nachos-plate:before { content: "\f140"; }
.flaticon-foods-open-menu:before { content: "\f141"; }
.flaticon-foods-open-sign:before { content: "\f142"; }
.flaticon-foods-open-tin-with-spoon:before { content: "\f143"; }
.flaticon-foods-paella-with-parwns:before { content: "\f144"; }
.flaticon-foods-pepperoni-pizza:before { content: "\f145"; }
.flaticon-foods-pepperoni-pizza-slice:before { content: "\f146"; }
.flaticon-foods-piece-of-cheese:before { content: "\f147"; }
.flaticon-foods-pita-bread:before { content: "\f148"; }
.flaticon-foods-plate-of-spaghetti:before { content: "\f149"; }
.flaticon-foods-pot-with-cover:before { content: "\f14a"; }
.flaticon-foods-pouring-coffe:before { content: "\f14b"; }
.flaticon-foods-restaurant-fried-egg:before { content: "\f14c"; }
.flaticon-foods-rolling-pin:before { content: "\f14d"; }
.flaticon-foods-round-plate:before { content: "\f14e"; }
.flaticon-foods-salad-fork:before { content: "\f14f"; }
.flaticon-foods-salt-shaker:before { content: "\f150"; }
.flaticon-foods-soup-spoon:before { content: "\f151"; }
.flaticon-foods-spaghetti-bolognese:before { content: "\f152"; }
.flaticon-foods-spatula-utensil:before { content: "\f153"; }
.flaticon-foods-strainer-with-handle:before { content: "\f154"; }
.flaticon-foods-strawberry-drawing:before { content: "\f155"; }
.flaticon-foods-sushi-mix:before { content: "\f156"; }
.flaticon-foods-sushi-piece:before { content: "\f157"; }
.flaticon-foods-tea-set:before { content: "\f158"; }
.flaticon-foods-thin-knife:before { content: "\f159"; }
.flaticon-foods-three-levels-cake:before { content: "\f15a"; }
.flaticon-foods-toasted-bread:before { content: "\f15b"; }
.flaticon-foods-tray-and-cover:before { content: "\f15c"; }
.flaticon-foods-two-balls-ice-cream-cone:before { content: "\f15d"; }
.flaticon-foods-two-brochettes:before { content: "\f15e"; }
.flaticon-foods-two-cherries:before { content: "\f15f"; }
.flaticon-foods-vintage-teapot:before { content: "\f160"; }
.flaticon-foods-watermellon-slice:before { content: "\f161"; }
.flaticon-foods-wide-glass:before { content: "\f162"; }
.flaticon-foods-yogurt-with-spoon:before { content: "\f163"; }
