	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/02/2016 14:50
  	*/

@font-face {
  font-family: "flaticon-set-yoga";
  src: url("../fonts/flaticons/flaticon-set-yoga.eot");
  src: url("../fonts/flaticons/flaticon-set-yoga.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticons/flaticon-set-yoga.woff") format("woff"),
       url("../fonts/flaticons/flaticon-set-yoga.ttf") format("truetype"),
       url("../fonts/flaticons/flaticon-set-yoga.svg#flaticon-set-yoga") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon-set-yoga", sans-serif;
    src: url("../fonts/flaticons/flaticon-set-yoga.svg#flaticon-set-yoga") format("svg");
  }
}

[class^="flaticon-yoga-"]:before, [class*=" flaticon-yoga-"]:before,
[class^="flaticon-yoga-"]:after, [class*=" flaticon-yoga-"]:after {
  font-family: "flaticon-set-yoga", sans-serif;
  font-style: normal;
}

.flaticon-yoga-man-doing-pushups:before { content: "\f100"; }
.flaticon-yoga-man-flexing-knees-with-arms-up:before { content: "\f101"; }
.flaticon-yoga-man-flexing-waist:before { content: "\f102"; }
.flaticon-yoga-man-flexing-waist-down:before { content: "\f103"; }
.flaticon-yoga-man-flexing-waist-to-feet:before { content: "\f104"; }
.flaticon-yoga-man-laying-on-his-back-with-his-knees-on-his-chest:before { content: "\f105"; }
.flaticon-yoga-man-on-floor-flexing-backwards:before { content: "\f106"; }
.flaticon-yoga-man-on-his-knees:before { content: "\f107"; }
.flaticon-yoga-man-on-his-knees-stretching-arms-on-floor:before { content: "\f108"; }
.flaticon-yoga-man-on-his-knees-stretching-back:before { content: "\f109"; }
.flaticon-yoga-man-on-his-knees-stretching-side-view:before { content: "\f10a"; }
.flaticon-yoga-man-on-his-knees-with-head-on-floor:before { content: "\f10b"; }
.flaticon-yoga-man-on-squat-position-turning-waist:before { content: "\f10c"; }
.flaticon-yoga-man-on-the-floor-flexing-body:before { content: "\f10d"; }
.flaticon-yoga-man-sitting-on-the-floor-stretching-leg-and-waist:before { content: "\f10e"; }
.flaticon-yoga-man-squatting:before { content: "\f10f"; }
.flaticon-yoga-man-standing-on-his-right-leg-stretching-left-leg-and-right-arm:before { content: "\f110"; }
.flaticon-yoga-man-standing-on-one-leg:before { content: "\f111"; }
.flaticon-yoga-man-standing-on-right-leg-stretching-leg-and-arms:before { content: "\f112"; }
.flaticon-yoga-man-stretching-back:before { content: "\f113"; }
.flaticon-yoga-man-stretching-both-arms-and-legs:before { content: "\f114"; }
.flaticon-yoga-man-stretching-left-leg-and-bending-waist:before { content: "\f115"; }
.flaticon-yoga-man-stretching-leg-and-arms:before { content: "\f116"; }
.flaticon-yoga-man-stretching-legs-and-flexing-body:before { content: "\f117"; }
.flaticon-yoga-man-stretching-legs-and-waist:before { content: "\f118"; }
.flaticon-yoga-man-supporting-himself-on-one-arm-and-stretching-right-arm:before { content: "\f119"; }
.flaticon-yoga-man-up-flexing-to-right:before { content: "\f11a"; }
.flaticon-yoga-woman-bending-waist-to-feet-with-stretching-leg:before { content: "\f11b"; }
.flaticon-yoga-woman-flexing-body:before { content: "\f11c"; }
.flaticon-yoga-woman-flexing-waist-to-feet:before { content: "\f11d"; }
.flaticon-yoga-woman-honding-her-body-with-arms-and-legs:before { content: "\f11e"; }
.flaticon-yoga-woman-laying-down-lifting-head:before { content: "\f11f"; }
.flaticon-yoga-woman-laying-on-the-floor-stretching-right-leg:before { content: "\f120"; }
.flaticon-yoga-woman-lifting-left-leg:before { content: "\f121"; }
.flaticon-yoga-woman-on-her-knees-looking-up:before { content: "\f122"; }
.flaticon-yoga-woman-on-her-knees-stretching-arms:before { content: "\f123"; }
.flaticon-yoga-woman-on-lotus-position-front-view:before { content: "\f124"; }
.flaticon-yoga-woman-sitting-on-the-floor-stretching-head:before { content: "\f125"; }
.flaticon-yoga-woman-sitting-on-the-floor-stretching-left-leg:before { content: "\f126"; }
.flaticon-yoga-woman-standing-on-her-arms:before { content: "\f127"; }
.flaticon-yoga-woman-standing-on-one-leg-lifting-left-leg:before { content: "\f128"; }
.flaticon-yoga-woman-standing-on-right-leg-with-left-leg-up:before { content: "\f129"; }
.flaticon-yoga-woman-stretching-and-flexing-legs-with-arms-up:before { content: "\f12a"; }
.flaticon-yoga-woman-stretching-arms-and-flexing-legs:before { content: "\f12b"; }
.flaticon-yoga-woman-stretching-back:before { content: "\f12c"; }
.flaticon-yoga-woman-stretching-her-body-on-the-floor:before { content: "\f12d"; }
.flaticon-yoga-woman-stretching-left-leg:before { content: "\f12e"; }
.flaticon-yoga-woman-stretching-on-floor:before { content: "\f12f"; }
.flaticon-yoga-woman-upside-down-stretching-body:before { content: "\f130"; }
.flaticon-yoga-woman-with-left-leg-up-and-flexed:before { content: "\f131"; }
