<!-- <div class="row">
<span class="breadcrum_font padding-left-20"></span> Administration <span class="breadcrum_font">>></span> Supplier Dashboard
</div> -->
        <div class="row">
            <div class="col-md-12">
                <!-- <h5 class="entry-title   mt-0"><b>Uploaded Files</b></h5> -->
                <app-alert-component></app-alert-component>
            </div>

        </div>
        <div class="row" >
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <b>Mapping Definition: </b> Medical 
                </div>
                <div class="panel-body">
                  <div class="col-md-12">
                <app-data-table-cmp [viewModel]="supplierLandingListViewModel.viewModelDataGridSupplierMapping"> </app-data-table-cmp>
            </div>
        </div>
      </div>
    </div>
  </div>


<ngx-smart-modal #stateCodeReferenceValue identifier="stateCodeReferenceValue" class="modal-content dialog no-padding" style="border: 0px !important;">>
  <div class="modal-dialog modal-lg" style="width: 25%;"> 
            <div class="modal-content" > 
              <div class="modal-header">
                <button  aria-label="Close" class="close modal-close" title="Close"   (click)="stateCodeReferenceValue.close()" type="button">
                  <span  class="modal-x-icon" aria-hidden="true">×</span></button>
                  <h5   class="modal-title">State Code Reference Value</h5>
              </div>
                <div   class="modal-body"
                      style ="width: 450px;height: 650px;overflow-x: hidden;overflow-y: auto;text-align: left;padding: 20px;"  
                >
                   <table style="border: 1px solid #ddd;padding: 10px 5px;width: 400px;">
                    <!-- <caption>State Code  </caption>  -->
                    <thead> 
                        <tr> 
                            <th>State Code</th> 
                            <th>State Name</th>  
                        </tr> 
                    </thead>
                          <tr> <td>AL</td><td>Alabama</td></tr>
                          <tr> <td>AK</td><td>Alaska</td></tr>
                          <tr> <td>AZ</td><td>Arizona</td></tr>
                          <tr> <td>AR</td><td>Arkansas</td></tr>
                          <tr> <td>CA</td><td>California</td></tr>
                          <tr> <td>CO</td><td>Colorado</td></tr>
                          <tr> <td>CT</td><td>Connecticut</td></tr>
                          <tr> <td>DE</td><td>Delaware</td></tr>
                          <tr> <td>DC</td><td>District Of Columbia</td></tr>
                          <tr> <td>FL</td><td>Florida</td></tr>
                          <tr> <td>GA</td><td>Georgia</td></tr>
                          <tr> <td>HI</td><td>Hawaii</td></tr>
                          <tr> <td>ID</td><td>Idaho</td></tr>
                          <tr> <td>IL</td><td>Illinois</td></tr>
                          <tr> <td>IN</td><td>Indiana</td></tr>
                          <tr> <td>IA</td><td>Iowa</td></tr>
                          <tr> <td>KS</td><td>Kansas</td></tr>
                          <tr> <td>KY</td><td>Kentucky</td></tr>
                          <tr> <td>LA</td><td>Louisiana</td></tr>
                          <tr> <td>ME</td><td>Maine</td></tr>
                          <tr> <td>MD</td><td>Maryland</td></tr>
                          <tr> <td>MA</td><td>Massachusetts</td></tr>
                          <tr> <td>MI</td><td>Michigan</td></tr>
                          <tr> <td>MN</td><td>Minnesota</td></tr>
                          <tr> <td>MS</td><td>Mississippi</td></tr>
                          <tr> <td>MO</td><td>Missouri</td></tr>
                          <tr> <td>MT</td><td>Montana</td></tr>
                          <tr> <td>NE</td><td>Nebraska</td></tr>
                          <tr> <td>NV</td><td>Nevada</td></tr>
                          <tr> <td>NH</td><td>New Hampshire</td></tr>
                          <tr> <td>NJ</td><td>New Jersey</td></tr>
                          <tr> <td>NM</td><td>New Mexico</td></tr>
                          <tr> <td>NY</td><td>New York</td></tr>
                          <tr> <td>NC</td><td>North Carolina</td></tr>
                          <tr> <td>ND</td><td>North Dakota</td></tr>
                          <tr> <td>OH</td><td>Ohio</td></tr>
                          <tr> <td>OK</td><td>Oklahoma</td></tr>
                          <tr> <td>OR</td><td>Oregon</td></tr>
                          <tr> <td>PA</td><td>Pennsylvania</td></tr>
                          <tr> <td>RI</td><td>Rhode Island</td></tr>
                          <tr> <td>SC</td><td>South Carolina</td></tr>
                          <tr> <td>SD</td><td>South Dakota</td></tr>
                          <tr> <td>TN</td><td>Tennessee</td></tr>
                          <tr> <td>TX</td><td>Texas</td></tr>
                          <tr> <td>UT</td><td>Utah</td></tr>
                          <tr> <td>VT</td><td>Vermont</td></tr>
                          <tr> <td>VA</td><td>Virginia</td></tr>
                          <tr> <td>WA</td><td>Washington</td></tr>
                          <tr> <td>WV</td><td>West Virginia</td></tr>
                          <tr> <td>WI</td><td>Wisconsin</td></tr>
                          <tr> <td>WY</td><td>Wyoming</td></tr>
 



                   </table>
                </div> 
                       <div  class="modal-footer">
                           <button  class="btn btn-secondary" title="Close"  (click)="stateCodeReferenceValue.close()" type="button">Close </button>
                        </div>
            </div>
    </div> 
</ngx-smart-modal>

<ngx-smart-modal #testNameReferenceValue identifier="testNameReferenceValue" class="modal-content dialog no-padding" style="border: 0px !important;">>
  <div class="modal-dialog modal-lg" style="width: 20%;"> 
      
    <div class="modal-content" > 
      <div class="modal-header">
        <button  aria-label="Close" class="close modal-close" title="Close"   (click)="testNameReferenceValue.close()" type="button">
          <span  class="modal-x-icon" aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel2">Test Name Reference Value</h4>
      </div>
      <div class="modal-body">
              <div   style="padding-left: 35px;">
                <table class="table table-striped table-bordered tbl-shopping-cart" style="width: 97%;">
                <thead style="background-color: aliceblue;"> 
                  <tr>
                    <th>Index</th>
                    <th>Test Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Antigen</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>SARS-CoV-2</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>   
            <div  class="modal-footer">
              <button  class="btn btn-secondary" title="Close"  (click)="testNameReferenceValue.close()" type="button">Close </button>
             </div>
        </div>
        </div>
      </div>

</ngx-smart-modal>


<ngx-smart-modal #showFacilityTypeReferenceValue identifier="showFacilityTypeReferenceValue" class="modal-content dialog no-padding" style="border: 0px !important;">>
  <div class="modal-dialog modal-lg" style="width: 20%;"> 
      
    <div class="modal-content" > 
      <div class="modal-header">
        <button  aria-label="Close" class="close modal-close" title="Close"   (click)="showFacilityTypeReferenceValue.close()" type="button">
          <span  class="modal-x-icon" aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel2">Facility Type</h4>
      </div>
      <div class="modal-body">
              <div   style="padding-left: 35px;">
                <table class="table table-striped table-bordered tbl-shopping-cart" style="width: 97%;">
                <thead style="background-color: aliceblue;"> 
                  <tr>
                    <th>Index</th>
                    <th>Facility Type Reference Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Government
                      </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Hospital</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Reference lab</td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>Other/Unknown</td>
                  </tr>
                </tbody>
              </table>
            </div>   
            <div  class="modal-footer">
              <button  class="btn btn-secondary" title="Close"  (click)="showFacilityTypeReferenceValue.close()" type="button">Close </button>
             </div>
        </div>
        </div>
      </div>

</ngx-smart-modal>