<!-- <div class="row">
<span class="breadcrum_font padding-left-20"></span> Administration <span class="breadcrum_font">>></span> Role Management
</div> -->
<div class="row">
    <div class="col-md-12">

        <div class="card-body table-responsive">
            <div class="raisedBox">
                <h5 class="entry-title   mt-0"><b>Role Management </b></h5>
                <div class="row btn-section">

                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12  pull-right"
                        *ngIf="roleListViewModel.userRolePermission?.canCreate">

                        <div data-toggle="modal" (click)="roleListViewModel.redirectToCreate()"
                            class="btn btn-default btn-md btn-primary create-role-heading-style">Create Role</div>
                    </div>
                </div>
                <app-alert-component></app-alert-component>
                <app-data-table-cmp [viewModel]="roleListViewModel.viewModelDataGrid"> </app-data-table-cmp>

            </div>
        </div>
    </div>
</div>

<ngx-smart-modal #deleteConfirmModalFromList identifier="deleteConfirmModalFromList" [dismissable]="false"
    class="modal-content dialog no-padding smart-modal-border-style" (onAnyCloseEvent)="roleListViewModel.onPopUpClose()">
    <div class="z-index-style">
        <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm z-index-style" aria-hidden="false"
            aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
            <div class="nsm-content">
                <div class="nsm-body">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Confirmation</h5>
                        <button aria-label="Close" class="close modal-close" title="Close" (click)="roleListViewModel.onPopUpClose()" type="button">
                            <span class="modal-x-icon" aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body delete-confirmation-text-color">
                        <i class="fa fa-exclamation-triangle color-red"></i> Are you sure you want to delete this Role?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" title="Cancel" (click)="roleListViewModel.onPopUpClose()" type="button">Cancel </button>
                        <button *ngIf="roleListViewModel.userRolePermission?.canDelete" class="btn btn-primary" title="Confirm" type="button" (click)="roleListViewModel.deleteRole()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ngx-smart-modal>