<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-inverse raisedBox">
          <div class="panel-heading">
            <div>
              <h4 class="panel-title panel-heading">{{environmentRequestViewModel.title}}</h4>
            </div>
          </div>
          <div class="row ">
            <div class="col-lg-12">
              <app-alert-component></app-alert-component>
            </div>
          </div>
          <div class="panel-body">
            <mat-tab-group #allTabs mat-align-tabs="start" [(selectedIndex)]="environmentRequestViewModel.tabIndex" (click)="tabClick($event)"
             (selectedTabChange)="onTabChanged();">
              <hr>
              <mat-tab label="Environment" [disabled]="environmentRequestViewModel.modeType == 'Create' ? true : false">
                <br>
                <div>
                  <form [formGroup]="environmentRequestViewModel.environmentForm">
                    <div class="form-group">

                      <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                          <div class="col-md-6 col-lg-6 col-xs-6">
                            <div class="col-md-4 col-lg-4 col-xs-4">
                              <label class="label-control form-label" for="name">
                                Environment Name <span class="text-danger mandatory-field"
                                  *ngIf="!environmentRequestViewModel.isApproverFromList && !environmentRequestViewModel.isDetailFromList">
                                  *</span>
                              </label>
                            </div>
                            <mat-form-field class="col-lg-8 col-md-8 col-sm-8">
                              <input type='text' id="name" (change)="environmentRequestViewModel.trimEnvironmentName()"
                                class="form-control col-lg-12 col-md-12 col-sm-12" matInput #name formControlName="name"
                                required>

                              <mat-error align="start" class="text-danger">
                                {{ environmentRequestViewModel.errorForEnvironment("name") }}
                              </mat-error>
                            </mat-form-field>
                          </div>

                          <div class="col-md-6 col-lg-6 col-xs-6">
                            <div class="col-md-4 col-lg-4 col-xs-4">
                              <label class="label-control form-label" for="neededBy">
                                Needed By <span class="text-danger mandatory-field"
                                  *ngIf="!environmentRequestViewModel.isApproverFromList && !environmentRequestViewModel.isDetailFromList">
                                  *</span>
                              </label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 datepicker">
                              <mat-form-field color="accent"
                                [ngClass]="(!environmentRequestViewModel.isApproverFromList )?'mat-date-picker-border':'mat-date-picker-border-disable'"
                                class="mat-date-picker-border form-label" appearance="fill">
                                <input matInput [matDatepicker]="picker1" id="neededBy" formControlName="neededBy"
                                  readonly [min]='environmentRequestViewModel.minDate' required>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                              </mat-form-field>


                              <mat-error align="start" class="text-danger">
                                {{ environmentRequestViewModel.errorForEnvironment("neededBy") }}
                              </mat-error>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                          <div class="col-md-6 col-lg-6 col-xs-6">
                            <div class="col-md-4 col-lg-4 col-xs-4">
                              <label class="label-control form-label" for="reasonForRequest">
                                Reason For Request <span class="text-danger mandatory-field"
                                  *ngIf="!environmentRequestViewModel.isApproverFromList && !environmentRequestViewModel.isDetailFromList">
                                  *</span>
                              </label>
                            </div>
                            <mat-form-field class="col-lg-8 col-md-8 col-sm-8">
                              <textarea class="form-control col-lg-12 col-md-12 col-sm-12" matInput
                                id="reasonForRequest" formControlName="reasonForRequest" rows="3"></textarea>

                              <mat-error align="start" class="text-danger">
                                {{ environmentRequestViewModel.errorForEnvironment("reasonForRequest") }}
                              </mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="environmentRequestViewModel.workspaceTagTypeDetailsList.length != 0">
                        <div class="row"
                          *ngFor="let workspaceTagDetail of environmentRequestViewModel.workspaceTagTypeDetailsList">
                          <div class="col-md-6 col-lg-6 col-xs-6">
                            <div class="col-md-12 col-lg-12 col-xs-12" style="padding-top: 15px;">
                              <div class="col-md-4 col-lg-4 col-xs-4">
                                <label class="label-control form-label" for="{{ workspaceTagDetail.name }}">{{
                                  workspaceTagDetail.name }}</label>
                              </div>
                              <div class="col-md-8 col-lg-8 col-xs-8" style="padding-left:20px ;padding-right: 0px;">
                                <ejs-multiselect #dropdown id='{{ workspaceTagDetail.name }}'
                                  [dataSource]='workspaceTagDetail.tagValues' [allowCustomValue]=false
                                  (select)='environmentRequestViewModel.onSelect($event, workspaceTagDetail)'
                                  (removing)='onTagRemove($event, workspaceTagDetail)'
                                  [mode]='environmentRequestViewModel.box'
                                  [placeholder]='environmentRequestViewModel.waterMark'
                                  [fields]='environmentRequestViewModel.fields'
                                  [value]='workspaceTagDetail.selectedTagValues'
                                  [enabled]='(!environmentRequestViewModel.isApproverFromList && !environmentRequestViewModel.isFromRequestMoreUtility && !environmentRequestViewModel.isDetailFromList)?true:false'
                                  [maximumSelectionLength]='workspaceTagDetail.isMultipleSelection == true ? 100 : 1'>
                                </ejs-multiselect>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                      <div class="row"
                        *ngIf="environmentRequestViewModel.modeType === 'Create' || environmentRequestViewModel.modeType === 'Resubmit'">
                        <div class="col-md-6 col-lg-6 col-xs-6">
                          <div class="col-md-12 col-lg-12 col-xs-12" style="padding-top: 15px;">
                            <div class="col-md-4 col-lg-4 col-xs-4">
                              <label class="label-control form-label" for="userList">User(s) <span
                                  class="text-danger mandatory-field"
                                  *ngIf="!environmentRequestViewModel.isApproverFromList && !environmentRequestViewModel.isDetailFromList">
                                  *</span></label>
                            </div>
                            <div class="col-md-8 col-lg-8 col-xs-8" style="padding-left:20px ;padding-right: 0px;">
                              <ejs-multiselect #userList id='userList'
                                [dataSource]='environmentRequestViewModel.userList'
                                (select)='environmentRequestViewModel.onUserSelect($event)'
                                (removing)='environmentRequestViewModel.onUserRemove($event)'
                                [fields]='environmentRequestViewModel.userFields'
                                [placeholder]='environmentRequestViewModel.waterMark'
                                [value]='environmentRequestViewModel.selectedUserValues'
                                [mode]='environmentRequestViewModel.box' formControlName="userData">
                              </ejs-multiselect>

                              <mat-error align="start" class="text-danger"
                                *ngIf="environmentRequestViewModel.envDetailForm.userData.touched && environmentRequestViewModel.envDetailForm.userData.errors?.required">
                                Please select at least one user.
                              </mat-error>

                              <!-- <p *ngIf="environmentRequestViewModel.userList.length == 0"> No User(s)</p> -->
                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="row"
                        *ngIf="environmentRequestViewModel.modeType !== 'Create' && environmentRequestViewModel.modeType !== 'Resubmit'">
                        <div class="col-md-6 col-lg-6 col-xs-6">
                          <div class="card-body table-responsive">
                            <div class="raisedBox">
                              <app-data-table-cmp [viewModel]="environmentRequestViewModel.usersViewModelDataGrid">
                              </app-data-table-cmp>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </mat-tab>

              <mat-tab label="Hardware" [disabled]="environmentRequestViewModel.modeType == 'Create' ? true : false">
                <br>
                <div>
                  <form [formGroup]="environmentRequestViewModel.hardwareTabModelForm">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-12" style="padding-bottom: 15px;">
                          <div class="col-md-3">
                            <label class="label-control form-label" for="bundleOptions">Bundle Options</label> <span
                              class="text-danger mandatory-field"
                              *ngIf="!environmentRequestViewModel.isApproverFromList && !environmentRequestViewModel.isFromRequestMoreUtility && !environmentRequestViewModel.isDetailFromList">
                              *
                            </span>
                          </div>
                          <div class="col-md-9">
                            <ng-select [items]="environmentRequestViewModel.bundleOptions" bindLabel="name"
                              [multiple]="false" placeholder="--Select--" formControlName="bundleOptions"
                              style="height: 30px;width: 50%;" id="bundleOptions"
                              (change)="environmentRequestViewModel.changeWorkspaceBundleOptions($event)">
                            </ng-select>

                            <mat-error align="start" class="text-danger"
                              *ngIf="environmentRequestViewModel.hardwareDetailForm.bundleOptions.touched && environmentRequestViewModel.hardwareDetailForm.bundleOptions.errors?.required">
                              Please select bundle option
                            </mat-error>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12" style="padding-bottom: 15px;">
                          <div class="col-md-3">
                            <label class="label-control form-label" for="region">Regions</label> <span
                              class="text-danger mandatory-field"
                              *ngIf="!environmentRequestViewModel.isApproverFromList && !environmentRequestViewModel.isFromRequestMoreUtility && !environmentRequestViewModel.isDetailFromList">
                              *</span>
                          </div>
                          <div class="col-md-9">
                            <ng-select [disabled]="true" style="height: 30px;width: 30%;"
                              [items]="environmentRequestViewModel.workspaceCatalogList" bindLabel="name"
                              [multiple]="false" placeholder="--Select--" formControlName="region" id="region"
                              (change)="environmentRequestViewModel.changeWorkspaceBundle($event)">
                            </ng-select>

                            <mat-error align="start" class="text-danger"
                              *ngIf="environmentRequestViewModel.hardwareDetailForm.region.touched && environmentRequestViewModel.hardwareDetailForm.region.errors?.required">
                              Please select region
                            </mat-error>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12" style="padding-bottom: 15px;">
                          <div class="col-md-3">
                            <label class="label-control form-label" for="workspaceType">Select Specification For AWS
                              Bundle</label> <span class="text-danger mandatory-field"
                              *ngIf="!environmentRequestViewModel.isApproverFromList && !environmentRequestViewModel.isFromRequestMoreUtility && !environmentRequestViewModel.isDetailFromList">
                              *</span>
                          </div>
                          <div class="col-md-9">
                            <ng-select [items]="environmentRequestViewModel.awsSelectedBundle" bindLabel="name"
                              bindValue="id" [multiple]="false" placeholder="--Select--" formControlName="workspaceType"
                              (change)="environmentRequestViewModel.changeSpecificationForBundleOptions($event)"
                              [disabled]="!environmentRequestViewModel.isRegionSelected" id="workspaceType"
                              style="height: 30px;width: 70%;">
                            </ng-select>

                            <mat-error align="start" class="text-danger"
                              *ngIf="environmentRequestViewModel.hardwareDetailForm.workspaceType.touched && environmentRequestViewModel.hardwareDetailForm.workspaceType.errors?.required">
                              Please select specification for AWS bundle
                            </mat-error>
                          </div>
                        </div>
                      </div>

                      <div class="row col-md-12">
                        <div class="col-md-3">
                          <label class="label-control form-label" for="userVolume">User Volume</label> <span
                            class="text-danger mandatory-field"
                            *ngIf="!environmentRequestViewModel.isApproverFromList && !environmentRequestViewModel.isFromRequestMoreUtility && !environmentRequestViewModel.isDetailFromList">
                            *</span>
                        </div>
                        <div class="col-md-9">
                          <div class="col-md-4" style="padding-left:0px;">
                            <mat-form-field class="col-md-6" style="padding-left: 8px;">
                              <input type='number' class="form-control" matInput #userVolume
                                formControlName="userVolume" (blur)="environmentRequestViewModel.onUserVolumeBlur()"
                                id="userVolume" required [(ngModel)]="environmentRequestViewModel.userVolume"
                                (ngModelChange)="environmentRequestViewModel.onValueChangeCalculateWithAdditionalPrice()">
                            </mat-form-field>
                          </div>
                          <div class="col-md-8" style="margin: 5px 0px 0px -160px; display: flex;">
                            <span style="padding-right: 10px;"><b style="margin-top: 12px;">GB (Min & Default)
                              </b></span>

                            <mat-error align="start" class="text-danger"
                              *ngIf="environmentRequestViewModel.hardwareDetailForm.userVolume.touched && environmentRequestViewModel.hardwareDetailForm.userVolume.errors?.required">
                              {{ environmentRequestViewModel.errorForHardware("userVolume") }}
                            </mat-error>

                            <mat-error align="start" *ngIf="environmentRequestViewModel.isHavingUserVolumeError"
                              class="text-danger text-center">
                              User Volume should not be less than minmum value of {{
                              environmentRequestViewModel.OriginalUserVolume }}
                            </mat-error>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="col-md-3">
                            <label class="label-control form-label" for="pricingModel">
                              Pricing Model <span class="text-danger mandatory-field"
                                *ngIf="!environmentRequestViewModel.isApproverFromList && !environmentRequestViewModel.isFromRequestMoreUtility && !environmentRequestViewModel.isDetailFromList">
                                *</span>
                            </label> &nbsp;
                          </div>
                          <div class="col-md-9">
                            <input type="radio" (change)="environmentRequestViewModel.onPricingModelChange($event)"
                              formControlName="pricingModel" id="pricingModel" value="Monthly">
                            Monthly
                            <input type="radio" (change)="environmentRequestViewModel.onPricingModelChange($event)"
                              formControlName="pricingModel" id="pricingModel" value="Hourly">
                            Hourly
                          </div>
                          <mat-error align="start" class="text-danger"
                            *ngIf="environmentRequestViewModel.hardwareDetailForm.pricingModel.touched && environmentRequestViewModel.hardwareDetailForm.pricingModel.errors?.required">
                            Please select pricing model
                          </mat-error>
                        </div>
                      </div>

                      <div class="row"
                        *ngIf="environmentRequestViewModel.monthValueAlwaysOn && environmentRequestViewModel.isMonthlyPricing">
                        <div class="col-md-12">
                          <div class="col-md-3" style="padding-top: 15px;">
                            <label class="label-control form-label" for="name">Monthly Pricing</label>
                          </div>
                          <div class="col-md-4" style="padding-top: 15px;">
                            <label class="label-control form-label" for="name">$
                              {{ environmentRequestViewModel.hasMonthValueAlwaysOn | number: '1.2-2'}}</label>
                          </div>
                        </div>
                      </div>

                      <div class="row"
                        *ngIf="(environmentRequestViewModel.hourValue || environmentRequestViewModel.monthValue) && environmentRequestViewModel.isHourlyPricing">
                        <div class="col-md-12">
                          <div class="col-md-3" style="padding-top: 15px">
                            <label class="label-control form-label" for="name">Hourly Pricing</label>
                          </div>
                          <div class="col-md-4" style="padding-top: 15px">
                            <label class="label-control form-label" for="name"><span
                                *ngIf="environmentRequestViewModel.monthValue">${{
                                environmentRequestViewModel.hasMonthValue | number: '1.2-2'}}/month</span><span
                                *ngIf="environmentRequestViewModel.hourValue">+${{
                                environmentRequestViewModel.hasHourValue | number: '1.2-2'}}/hour</span></label>
                          </div>
                          <div class="col-md-4" style="padding-top: 15px"
                            *ngIf="environmentRequestViewModel.hourValue && environmentRequestViewModel.isHourlyPricing">
                            <a (click)="environmentRequestViewModel.calculatePrice()">
                              Calculate Monthly Pricing</a>

                          </div>
                        </div>
                      </div>

                      <div class="row" style="margin-top: 15px;"
                        *ngIf="environmentRequestViewModel.enableCostCalculation && environmentRequestViewModel.hourValue && environmentRequestViewModel.isHourlyPricing">
                        <div class="col-md-12">
                          <div class="col-md-3 text-right">
                            <label class="label-control form-label" for="name">Usage</label>
                          </div>
                          <div class="row col-md-9">
                            <div class="col-md-12">
                              <div class="col-md-12" style=" height: 50px;">
                                <div class="col-md-3" style="margin-top: 15px;">
                                  <label class="label-control form-label" for="hourUsage">Hours Per Day</label>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="col-md-12">
                                    <input type='number' class="form-control" matInput #hourUsage
                                      formControlName="hourUsage" id="hourUsage" [min]="0" [max]="24"
                                      (ngModelChange)="environmentRequestViewModel.onValueChangeCalculateTotalPrice()"
                                      required>
                                  </mat-form-field>
                                </div>
                              </div>

                              <div class="col-md-12" style=" height: 50px;">
                                <div class="col-md-3" style="padding-right: 0px; margin-top: 15px;">
                                  <label class="label-control form-label" for="dayUsage">Days Per Month</label>
                                </div>
                                <div class="col-md-2">
                                  <mat-form-field class="col-md-12">
                                    <input type='number' id="dayUsage" [min]="0" [max]="31" class="form-control"
                                      matInput #dayUsage formControlName="dayUsage"
                                      (ngModelChange)="environmentRequestViewModel.onValueChangeCalculateTotalPrice()"
                                      required>
                                  </mat-form-field>
                                </div>
                              </div>

                              <div class="col-md-12" *ngIf="environmentRequestViewModel.isHourlyPricing">
                                <div class="col-md-12" style="padding-top: 10px;">
                                  <label class="label-control form-label" for="name">Projected Monthly Pricing: <span
                                      *ngIf="environmentRequestViewModel.totalCost">$
                                      {{ environmentRequestViewModel.hasTotalCost | number: '1.2-2'}}</span>
                                  </label>
                                </div>
                              </div>
                              <div class="col-md-12" style="padding-top: 15px;" *ngIf="environmentRequestViewModel.enableCostCalculation &&  environmentRequestViewModel.hourValue && environmentRequestViewModel.isHourlyPricing && (environmentRequestViewModel.monthlySavings -
                                +environmentRequestViewModel.calculatedAdditionalPrice) > 0">
                                <div class="col-md-12">
                                  <label class="label-control form-label" for="name">Potential Monthly Savings:
                                    <span *ngIf="environmentRequestViewModel.monthlySavings">$
                                      {{ environmentRequestViewModel.hasMonthlySavings | number: '1.2-2'}}</span>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </form>
                </div>
              </mat-tab>

              <mat-tab label="Software" [disabled]="environmentRequestViewModel.modeType == 'Create' ? true : false">
                <br>
                <div class="row">
                  <div class="col-md-12">                    
                      <div class="row"
                        *ngIf="!environmentRequestViewModel.isApproverFromList &&  !environmentRequestViewModel.isFromRequestMoreUtility">
                        <div class="col-md-12 text-right">
                          <button type="button" data-toggle="modal"
                            class="btn btn-default btn-md btn-primary btn-circled"
                            style="padding:right; margin-left: 5px;"
                            (click)="environmentRequestViewModel.showSelectedSoftwares()"
                            id="user-edit-saveChanges-btn">
                            Show Selected Software
                          </button>
                          <button type="button" data-toggle="modal"
                            class="btn btn-default btn-md btn-primary btn-circled"
                            style="padding:right; margin-left: 5px;"
                            (click)="environmentRequestViewModel.clearSoftwareFilter()" id="user-edit-saveChanges-btn">
                            Show All
                          </button>
                        </div>
                      </div>
                      <div class="card-body table-responsive">
                      <div>
                        <app-data-table-cmp [viewModel]="environmentRequestViewModel.softwaresViewModelDataGrid">
                        </app-data-table-cmp>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              </mat-tab>

              <mat-tab label="Utilities" [disabled]="environmentRequestViewModel.modeType == 'Create' ? true : false">
                <br>
                <div class="row">

                  <div class="col-md-12">
                    <div class="row" *ngIf="!environmentRequestViewModel.isApproverFromList">
                      <div class="col-md-12 text-right">
                        <button type="button" data-toggle="modal" class="btn btn-default btn-md btn-primary btn-circled"
                          style="padding:right; margin-left: 5px;"
                          (click)="environmentRequestViewModel.showSelectedUtilities()" id="user-edit-saveChanges-btn">
                          Show Selected Utilities
                        </button>
                        <button type="button" data-toggle="modal" class="btn btn-default btn-md btn-primary btn-circled"
                          style="padding:right; margin-left: 5px;"
                          (click)="environmentRequestViewModel.clearUtilityFilter()" id="user-edit-saveChanges-btn">
                          Show All
                        </button>
                      </div>


                    </div>
                    <div class="card-body table-responsive">
                      <div>
                        <app-data-table-cmp [viewModel]="environmentRequestViewModel.utilitiesViewModelDataGrid">
                        </app-data-table-cmp>
                      </div>
                      <div class="row" *ngIf="environmentRequestViewModel.modeType === 'RequestMoreUtility'">
                        <div class="col-md-6">
                          <b>Note</b>:- The existing utilities for a user may still be shown on the list.
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <br>

              </mat-tab>

              <mat-tab label="Datasets" [disabled]="environmentRequestViewModel.modeType == 'Create' ? true : false">
                <br>
                <div>
                  <form [formGroup]="environmentRequestViewModel.datasetForm">
                    <div class="formGroup">

                      <div class="row" style="padding-top: 15px;">
                        <div class="col-lg-12">
                          <div
                            *ngIf="!(environmentRequestViewModel.isApproverFromList || environmentRequestViewModel.isDetailFromList)"
                            class="col-lg-6 col-xs-6 text-left">
                            <label class="label-control form-label" for="context">
                              Available Catalog
                            </label>
                          </div>
                          <div class="col-lg-6 col-xs-6 text-left">
                            <label class="label-control form-label" for="context">
                              Selected Datasets
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <div
                            [ngClass]="!(environmentRequestViewModel.isApproverFromList || environmentRequestViewModel.isDetailFromList)?'col-lg-6 col-xs-6 enableDiv':'col-lg-12 col-xs-12 disableDiv'">
                            <app-data-table-cmp [viewModel]="environmentRequestViewModel.datasetviewModelDataGrid">
                            </app-data-table-cmp>
                          </div>
                          <div
                            [ngClass]="!(environmentRequestViewModel.isApproverFromList || environmentRequestViewModel.isDetailFromList)?'col-lg-6 col-xs-6':'col-lg-12 col-xs-12'">
                            <app-data-table-cmp [viewModel]="environmentRequestViewModel.requestedDatasetDataGrid">
                            </app-data-table-cmp>
                          </div>
                        </div>
                        <div class="row" *ngIf="environmentRequestViewModel.modeType === 'RequestMoreUtility'">
                          <div class="col-md-6 ml-30 mt-10">
                            <b>Note</b>:- The existing datasets for a user may still be shown on the list.
                          </div>
                        </div>
                      </div>
                      <div class="row"
                        *ngIf="!(environmentRequestViewModel.isApproverFromList || environmentRequestViewModel.isDetailFromList)">
                        <div class="col-lg-12" style="padding-top: 25px;">
                          <div class="col-lg-6 col-xs-6 text-right">
                            <button type="button" data-toggle="modal"
                              class="btn btn-default btn-md btn-primary btn-circled"
                              style="padding:right; margin-right: 5px;" id="role-edit-saveChanges-btn"
                              (click)="environmentRequestViewModel.addToCart()">
                              Add To Cart
                            </button>
                          </div>
                          <div class="col-lg-6 col-xs-6 text-left">
                            <button type="button" data-toggle="modal"
                              class="btn btn-default btn-md btn-primary btn-circled"
                              style="padding:left; margin-right: 5px;" id="role-edit-saveChanges-btn"
                              (click)="environmentRequestViewModel.removeFromCart()">
                              Remove from Cart
                            </button>
                          </div>
                        </div>
                      </div>
                      <br>

                      <div class="row" style="margin-right: 15px; padding-top: 15px;">
                      </div>
                    </div>
                  </form>
                </div>
                <br>
              </mat-tab>

              <mat-tab label="History"
                *ngIf="environmentRequestViewModel.modeType !== 'Create' && environmentRequestViewModel.modeType !== 'RequestMoreUtility'">

                <div class="row">
                  <div class="col-md-12">
                    <div class="card-body table-responsive">
                      <div class="raisedBox">
                        <app-data-table-cmp [viewModel]="environmentRequestViewModel.historyViewModelDataGrid">
                        </app-data-table-cmp>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>

            </mat-tab-group>

            <div class="row" style="margin-top: 10px;">
              <div class="col-md-12 col-lg-12 col-xs-12">
                <div class="col-md-6 text-left " *ngIf="environmentRequestViewModel.tabIndex > 0 ">
                  <div class="form-group">
                    <a class="btn btn-default btn-md btn-circled btn-primary" data-toggle="tab"
                      (click)='moveToSelectedTabByIndex(environmentRequestViewModel.tabIndex - 1)'>
                      Previous</a>
                  </div>
                </div>
                <div [ngClass]="environmentRequestViewModel.tabIndex == 0 ? 'col-md-12' : 'col-md-6'"
                  *ngIf="(environmentRequestViewModel.modeType === 'Create' || environmentRequestViewModel.modeType === 'RequestMoreUtility') && environmentRequestViewModel.tabIndex === 4 ? false : environmentRequestViewModel.tabIndex === 5 ? false : true ">
                  <div class="form-group text-right">
                    <a class="btn btn-default btn-md btn-circled btn-primary" data-toggle="tab"
                      (click)='moveToSelectedTabByIndex(environmentRequestViewModel.tabIndex + 1 )'>
                      Next</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row " style="padding: 10px;" *ngIf="environmentRequestViewModel.modeType === 'Detail'">
              <div class="col-lg-12 col-xs-12 text-right">
                <button type="button" data-toggle="modal" class="btn btn-default btn-md btn-circled"
                  style="padding:right; margin-left: 5px;" id="user-edit-back-btn"
                  (click)="environmentRequestViewModel.onCancel()">
                  Cancel
                </button>
              </div>
            </div>
            <div class="row " style="padding: 10px;"
              *ngIf="environmentRequestViewModel.modeType === 'Create' || environmentRequestViewModel.modeType === 'RequestMoreUtility' || environmentRequestViewModel.modeType === 'Resubmit'">
              <div class="col-lg-12 col-xs-12 text-right">
                <button type="button" data-toggle="modal" class="btn btn-default btn-md btn-circled"
                  style="padding:right; margin-left: 5px;" id="user-edit-back-btn"
                  (click)="environmentRequestViewModel.onCancel()">
                  Cancel
                </button>

                <button type="button" data-toggle="modal" class="btn btn-default btn-md btn-primary btn-circled"
                  *ngIf="environmentRequestViewModel.modeType === 'Create' || environmentRequestViewModel.modeType === 'RequestMoreUtility' || environmentRequestViewModel.modeType === 'Resubmit'"
                  style="padding:right; margin-left: 5px;" id="user-edit-saveChanges-btn"
                  [disabled]="environmentRequestViewModel.isEnableSubmitButton()"
                  (click)="environmentRequestViewModel.submitRequest()">
                  Submit Request
                </button>

              </div>
            </div>
            <div class="row " style="padding: 10px;" *ngIf="environmentRequestViewModel.modeType === 'Approve'">
              <div class="row">
                <div class="col-md-12 col-lg-12 col-xs-12">
                  <div class="col-md-6 col-lg-6 col-xs-6">
                    <div class="col-md-4 col-lg-4 col-xs-4">
                      <label class="label-control form-label" for="comments">
                        Comments <span class="text-danger mandatory-field"> *</span>
                      </label>
                    </div>
                    <mat-form-field class="col-lg-8 col-md-8 col-sm-8">
                      <textarea class="form-control col-lg-12 col-md-12 col-sm-12" matInput id="comments"
                        [(ngModel)]="environmentRequestViewModel.message" ng rows="3"></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">

              </div>
              <div class="row">
                <div class="col-lg-12 col-xs-12 text-right">
                  <button type="button" data-toggle="modal" class="btn btn-default btn-md btn-circled"
                    style="padding:right; margin-left: 5px;" id="user-edit-back-btn"
                    (click)="environmentRequestViewModel.onCancel()">
                    Cancel
                  </button>
                  <button type="button" data-toggle="modal" class="btn btn-default btn-md btn-primary btn-circled"
                    style="padding:right; margin-left: 5px;"
                    (click)="environmentRequestViewModel.updateStatusForEnvironment('Request Changes')"
                    [disabled]="environmentRequestViewModel.isValidComment" id="user-edit-saveChanges-btn">
                    Request Changes
                  </button>
                  <button type="button" data-toggle="modal" class="btn btn-default btn-md btn-primary btn-circled"
                    style="padding:right; margin-left: 5px;"
                    (click)="environmentRequestViewModel.updateStatusForEnvironment('Approved')"
                    [disabled]="environmentRequestViewModel.isValidComment" id="user-edit-saveChanges-btn">
                    Approve
                  </button>
                  <button type="button" data-toggle="modal" class="btn btn-default btn-md btn-primary btn-circled"
                    style="padding:right; margin-left: 5px;"
                    (click)="environmentRequestViewModel.updateStatusForEnvironment('Rejected')"
                    [disabled]="environmentRequestViewModel.isValidComment" id="user-edit-saveChanges-btn">
                    Reject
                  </button>
                </div>
              </div>
            </div>

            <ngx-smart-modal #cancelConfirmModal identifier="cancelConfirmModal" class="modal-content dialog no-padding"
              style="border: 0px !important;" [dismissable]="false"
              (onAnyCloseEvent)="environmentRequestViewModel.onPopUpClose()">
              <!-- <div class="overlay nsm-overlay-open" style="z-index: 1043;"> -->
              <div class="" style="z-index: 1043;">
                <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
                  aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
                  <div class="nsm-content">
                    <div class="nsm-body">
                      <div class="modal-header">
                        <h5 class="modal-title">Cancel Confirmation</h5>
                        <button aria-label="Close" class="close modal-close" title="Close"
                          (click)="environmentRequestViewModel.onPopUpClose()" type="button">
                          <span class="modal-x-icon" aria-hidden="true">×</span></button>
                      </div>
                      <div class="modal-body form-label">
                        <i class="fa fa-exclamation-triangle color-red"></i> Are you sure you want to discard the
                        changes?
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-default form-label" title="Cancel"
                          (click)="environmentRequestViewModel.onPopUpClose()" type="button">Cancel </button>
                        <button class="btn btn-primary" title="Confirm" type="button"
                          (click)="environmentRequestViewModel.onCancelConfirm()">Confirm</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ngx-smart-modal>
            <ngx-ui-loader></ngx-ui-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>