.denotes-required-field-text{
    font-size: 10pt;
    color:#000000;
}

.label-text-color {
    color:#000000;
}

.panel-title-color{
    color:#565252;
}

.cancel-confirmation-text-color{
    color:#000000;
}

.button-styles {
    padding:right;
    margin-left: 5px;
}

.smart-modal-border-style{
    border: 0px !important;
}

.z-index-style{
    z-index: 1043
}

.mandatory-field-color{
    color:#d50000;
    font-weight: 500;
}

.display-none {
    display: none;
}

.role-details-screen input.mat-input-element {
    color: #000000; /* have added this class to make the input text visible clearly, it will be applicable for only this module*/
}
