<div class="main-content role-details-screen">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-inverse raisedBox">
                    <div class="panel-heading">
                        <h4 class="panel-title panel-title-color">{{datasetTypeDetailViewModel.headerTitle}}</h4>
                    </div>

                    <div class="panel-body ">
                        <div class="tab-content">
                            <div class="tab-pane active " id="role-details">
                                <form [formGroup]="datasetTypeDetailViewModel.datasetTypeForm">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="row col-lg-12">
                                                <app-alert-component></app-alert-component>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
                                                <div class="row no-margin">
                                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                                        <label class="label-control label-text-color"
                                                            for="name">Name</label>
                                                        <span class="text-danger mandatory-field-color"> *</span>
                                                    </div>

                                                    <mat-form-field class="col-sm-6 col-md-7 col-lg-7">
                                                        <input type='text' id="name" aria-label='name' class="form-control"
                                                            name="name" matInput formControlName="name">

                                                        <mat-error align="start"
                                                            class="text-danger sca-general-info-mat-error" *ngIf="datasetTypeDetailViewModel.datasetTypeForm.controls.name.dirty ||
                                                     datasetTypeDetailViewModel.datasetTypeForm.controls.name.touched">
                                                            {{ datasetTypeDetailViewModel.errorFor("name") }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
                                                <div class="row no-margin">
                                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                                        <span class="label-control label-text-color">S3 Folder Path</span>
                                                        <span class="text-danger mandatory-field-color"> *</span>
                                                    </div>

                                                    <mat-form-field class="col-sm-6 col-md-7 col-lg-7" [floatLabel]="'never'">
                                                        <input type='text' id="securedFolderPath" aria-label='securedFolderPath'
                                                            class="form-control" name="securedFolderPath" matInput placeholder="/Data/Provider"
                                                            formControlName="securedFolderPath">
                                                        <mat-error align="start"
                                                            class="text-danger sca-general-info-mat-error"
                                                            *ngIf="datasetTypeDetailViewModel.datasetTypeForm.controls.securedFolderPath.dirty ||
                                                     datasetTypeDetailViewModel.datasetTypeForm.controls.securedFolderPath.touched">
                                                            {{ datasetTypeDetailViewModel.errorFor("securedFolderPath")
                                                            }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">

                                                <div class="row no-margin">

                                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                                        <label class="label-control label-text-color"
                                                            for="description">Description</label>
                                                    </div>

                                                    <mat-form-field class="col-sm-6 col-md-7 col-lg-7">
                                                        <textarea type="text" id="description" aria-label='description' matInput rows="3"
                                                            name="description"
                                                            class="form-control col-lg-4 col-md-4 col-sm-4 label-text-color"
                                                            formControlName="description" cols="50"></textarea>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-12 col-xs-6 col-lg-6">
                                                <div class="row no-margin">
                                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                                        <span class="label-control label-text-color">File Pattern</span>
                                                        <span class="text-danger mandatory-field-color"> *</span>
                                                    </div>

                                                    <mat-form-field class="col-sm-6 col-md-7 col-lg-7" [floatLabel]="'never'">
                                                        <input type='text' id="filePattern" aria-label='filePattern' class="form-control"
                                                            name="filePattern" matInput formControlName="filePattern" placeholder="Medical Claims 01312020.csv,2008 Carrier Claims Dataset.csv">
                                                        <mat-error align="start"
                                                            class="text-danger sca-general-info-mat-error"
                                                            *ngIf="datasetTypeDetailViewModel.datasetTypeForm.controls.filePattern.dirty ||
                                                     datasetTypeDetailViewModel.datasetTypeForm.controls.filePattern.touched">
                                                            {{ datasetTypeDetailViewModel.errorFor("filePattern") }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </form>

                                <br>
                                <div class="row">
                                    <div class="row col-lg-12">
                                        <div class="col-lg-6 col-xs-4 pull-left">
                                            <span class="text-danger pull-left mandatory-field-color">
                                                <b>*</b>
                                            </span>
                                            <span class="denotes-required-field-text"> &nbsp; Denotes required
                                                fields</span>
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-right">
                                            <button type="button" data-toggle="modal"
                                                class="btn btn-default btn-md btn-circled button-styles"
                                                id="role-edit-back-btn" (click)="datasetTypeDetailViewModel.onCancel()">
                                                Cancel
                                            </button>

                                            <button type="button" data-toggle="modal"
                                                class="btn btn-default btn-md btn-primary btn-circled button-styles"
                                                *ngIf="(datasetTypeDetailViewModel.modalType ==='Edit' || datasetTypeDetailViewModel.modalType ==='Create') &&
                                                 (datasetTypeDetailViewModel.datasetTypePermission?.canCreate || datasetTypeDetailViewModel.datasetTypePermission?.canUpdate)"
                                                id="role-edit-saveChanges-btn"
                                                (click)="datasetTypeDetailViewModel.saveChanges()"
                                                [disabled]="!(datasetTypeDetailViewModel.datasetTypeForm.valid && datasetTypeDetailViewModel.datasetTypeForm.dirty)">
                                                Save Dataset Type
                                            </button>

                                            <button type="button" data-toggle="modal"
                                            class="btn btn-md btn-primary btn-circled button-styles" id="user-edit-saveChanges-btn"
                                            (click)="datasetTypeDetailViewModel.onEdit()"
                                            *ngIf="datasetTypeDetailViewModel.modalType === 'Detail' && (datasetTypeDetailViewModel.datasetTypePermission?.canCreate || datasetTypeDetailViewModel.datasetTypePermission?.canUpdate)">
                                            Edit
                                          </button>

                                            <button type="button" data-toggle="modal"
                                                class="btn btn-default btn-md btn-primary btn-circled button-styles"
                                                *ngIf="(datasetTypeDetailViewModel.modalType ==='Edit' || datasetTypeDetailViewModel.modalType ==='Create') &&
                                             (datasetTypeDetailViewModel.datasetTypePermission?.canCreate || datasetTypeDetailViewModel.datasetTypePermission?.canUpdate)"
                                                id="role-edit-saveChanges-btn"
                                                (click)="datasetTypeDetailViewModel.verifyConnection()"
                                                [disabled]="!(datasetTypeDetailViewModel.datasetTypeForm.controls.securedFolderPath.value)">
                                                Verify Connection
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-smart-modal #cancelConfirmModal identifier="cancelConfirmModal" [dismissable]="false"
    class="modal-content dialog no-padding smart-modal-border-style"
    (onAnyCloseEvent)="datasetTypeDetailViewModel.onPopUpClose()">
    <div class="z-index-style">
        <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm z-index-style" aria-hidden="false"
            aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
            <div class="nsm-content">
                <div class="nsm-body">
                    <div class="modal-header">
                        <h5 class="modal-title">Cancel Confirmation</h5>
                        <button aria-label="Close" class="close modal-close" title="Close"
                            (click)="datasetTypeDetailViewModel.onPopUpClose()" type="button">
                            <span class="modal-x-icon" aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body cancel-confirmation-text-color">
                        <i class="fa fa-exclamation-triangle color-red"></i> Are you sure you want to discard the
                        changes?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" title="Cancel"
                            (click)="datasetTypeDetailViewModel.onPopUpClose()" type="button">Cancel
                        </button>
                        <button class="btn btn-primary" title="Confirm" type="button"
                            (click)="datasetTypeDetailViewModel.onConfirm()">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ngx-smart-modal>

<ngx-ui-loader></ngx-ui-loader>