<header id="header" class="header z-index">
	<div class="header-nav">
		<div class="header-nav-wrapper navbar-scrolltofixed bg-lighter">
			<div class="container-fluid" [class.disable-color]="modalPoppedUp">
				<div class="qurstore-navbar" [class.disable-color]="modalPoppedUp">
					<div class="nar-bar-padding">
						<a routerLink="" (click)="navigateToDashboard()" class="logo-padding" title="Home"
							[class.disable-cursor]="modalPoppedUp">
							<img src="assets/images/logo.png" class="header-logo" alt="Logo"
								style="float:left; padding-right: 15px;;" /> </a>

						<div *ngIf="showMenuBar()">

							<div *ngFor="let navItem of menuItems.grouped">
								<div *ngIf="navItem.groupItems && navItem.groupItems.length">
									<div class="qurstore-navbar-dropdown">
										<button class="dropbtn" [class.disable-cursor]="modalPoppedUp">{{navItem.groupName}}
											<i class="fa fa-caret-down"></i>
										</button>
										<div class="qurstore-navbar-dropdown-content" [class.hide]="modalPoppedUp">
											<div *ngFor="let groupItem of navItem.groupItems">
												<a *ngIf="!groupItem.groupItems" [routerLink]="[groupItem.route_url]">{{groupItem.name}}</a>
												<div *ngIf="groupItem.groupItems && groupItem.groupItems.length">
													<div class="qurstore-sub-navbar-dropdown">
														<button class="dropbtn" [class.disable-cursor]="modalPoppedUp">{{groupItem.groupName}}
															<i class="fa fa-caret-right"></i>
															<div  class="qurstore-sub-navbar-dropdown-content" [class.hide]="modalPoppedUp">
																<a *ngFor="let subgroupItem of groupItem.groupItems" [routerLink]="[subgroupItem.route_url]">{{subgroupItem.name}}</a>
															</div>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div *ngFor="let navItem of menuItems.rootLevel">
								<a [class.disable-cursor]="modalPoppedUp" [routerLink]="[navItem.route_url]">{{navItem.name}}</a>
							</div>
						</div>

						<div class="logout">
							<div *ngIf="showMenuBar()" class="qurstore-navbar-dropdown" [class.disable-cursor]="modalPoppedUp"
								style="padding-top: 15px; cursor: pointer;" [matMenuTriggerFor]="beforeMenu">
								<i class="fa fa-bell" style="padding: 0px 30px;" [class.icon-grey]="modalPoppedUp"
									[matBadge]="appViewModel.notificationCount" matBadgeOverlap="false"
									[matBadgeHidden]="appViewModel.notificationCount > 0 ? false : true">
								</i>
							</div>

							<div *ngIf="showMenuBar()" class="qurstore-navbar-dropdown" [class.disable-cursor]="modalPoppedUp">
								<i class="fa fa-user" [class.icon-grey]="modalPoppedUp"></i>
								<button class="dropbtn">{{userName}}
									<i class="fa fa-caret-down"></i>
								</button>
								<div class="qurstore-navbar-dropdown-content" [class.hide]="modalPoppedUp">
									<a *ngIf="!isADUser" style="cursor: pointer;" (click)="sendChangePasswordNotificationEmail()">Change
										Password</a>
									<a style="cursor: pointer;" (click)="openLogOutConfirmationModal()">Logout</a>
								</div>
							</div>
						</div>

						<div *ngIf="showLoginOption">
							<a class="login-link" (click)="Login()">Login</a>
							<span *ngIf="loginErrorMessage" class="error-message-span padding-right-adjust"> {{
								loginErrorMessage }} </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</header>
<!-- Start main-content -->
<div class="main-content">
	<!-- Section: inner-header -->
	<article class="post ">
		<section>
			<div class="section-content">

				<!-- <div class="row">
						<div class="col-lg-12"> -->
				<div style="padding: 5px 5px;;">
					<router-outlet></router-outlet>
				</div>
				<!-- </div>
					</div> -->

				<!-- <div style="height: 15px;">
					</div> -->
			</div>
		</section>
	</article>
</div>

<nav class="navbar-inverse navbar-fixed-bottom">
	<div class="container-fluid">
		<div class="row footer-text">
			<div class="col-md-5 padding-top-10">
				<p class="mb-2">Copyright &copy;2021 QurHealth. All Rights Reserved.</p>
			</div>
			<div class="col-md-2 padding-top-10">
				<a routerLink="" class="disclaimer-color" title="Disclaimer">Disclaimer</a>
			</div>
			<div class="col-md-5 text-right">
				<p class="mb-0">Version {{ version }} &nbsp;&nbsp;&nbsp;&nbsp; Powered By <img
						src="assets/css/images/qurData.png" width="128" height="44" alt="QurData" /></p>
			</div>
		</div>
	</div>
</nav>
<mat-menu #beforeMenu="matMenu" xPosition="before" style="height: calc(100vh - 100px);">
	<div class="content">
		<div class="notification-modal-header">
			<h5 class="notification-modal-title">Notifications</h5>
		</div>
		<div class="text-right pr-10 hover">
			<span class="mark-read-label" (click)="appViewModel.updateAllUnreadNotificationAsRead()">Mark all as
				read</span>
		</div>
		<div class="p-10 hover" *ngFor="let notification of appViewModel.notificationList">
			<div role="menuitem" [ngClass]="notification.isRead ? 'blockquoteread' : 'blockquoteUnread'"
				(click)="appViewModel.redirectToNotificationDetailsPage(notification.actionUrl, notification.id)">
				<div class="round col-md-1 col-lg-1 col-xl-1" style="display: flex;">
					<span [title]="notification.sender.fullName" style="padding: 12% 25%">{{notification.nameInitials}}</span>
				</div>
				<p style="color: #000; margin-left: 40px;">{{notification.notificationText}}</p>
				<span class="notification-date">{{ notification.notificationDate}}</span>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" (click)="redirectToNotificationList()">Show All</button>
		</div>
	</div>
</mat-menu>

<ngx-smart-modal #logOutConfirmModal identifier="logOutConfirmModal"
	class="modal-content dialog no-padding logout-confirmation-model" style="border: 0px !important;">>
	<div class="" style="z-index: 1043;">
		<div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
			aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
			<div class="nsm-content">
				<div class="nsm-body">
					<div class="modal-header">
						<h5 class="modal-title">Logout Confirmation</h5>
						<button aria-label="Close" class="close modal-close" title="Close" (click)="logOutConfirmModal.close()"
							type="button">
							<span class="modal-x-icon" aria-hidden="true">×</span></button>
					</div>
					<div class="modal-body">
						<i class="fa fa-exclamation-triangle color-red"></i> Are you sure you want to Logout?
					</div>
					<div class="modal-footer">
						<button class="btn btn-default" title="Cancel" (click)="logOutConfirmModal.close()" type="button">Cancel
						</button>
						<button class="btn btn-primary" title="Confirm" type="button" (click)="logout()">Confirm</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</ngx-smart-modal>
<session-expiration-alert *ngIf="showSessionTimeOutAlert" [alertAt]="alertAt" [startTimer]="startTimer">
</session-expiration-alert>