<div class="main-content tag-type-details-screen">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-inverse raisedBox">
          <div class="panel-heading">
            <div *ngIf="tagTypeCreateEditViewModel.modalType === 'Create'">
              <h4 class="panel-title panel-heading">Create Tag Type</h4>
            </div>
            <div *ngIf="tagTypeCreateEditViewModel.modalType === 'Edit'">
              <h4 class="panel-title panel-heading">Edit Tag Type</h4>
            </div>
            <div *ngIf="tagTypeCreateEditViewModel.modalType === 'Detail'">
              <h4 class="panel-title panel-heading">Tag Type Detail</h4>
            </div>
          </div>

          <div class="row ">
            <div class="col-lg-12">
              <app-alert-component></app-alert-component>
            </div>
          </div>

          <div class="panel-body ">
            <div class="tab-content">

              <div class="tab-pane active " id="tag-type-details">
                <form [formGroup]="tagTypeCreateEditViewModel.tagTypeDetailsForm">
                  <div class="form-group">

                    <div class="row">
                      <div class="col-md-4 col-lg-4 col-xs-4">
                        <div class="col-md-4 col-lg-4 col-xs-4 padding-right-0">
                          <label class="label-control form-label" for="name">
                            Tag Type Name <span class="text-danger mandatory-field"> *</span>
                          </label>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                          <mat-form-field class="w-100">
                            <input type="text" aria-label='name' class="form-control font-bold "
                              (keypress)="omitSpecialChar($event)" formControlName="name" matInput>
                            <mat-error align="start" class="text-danger">
                              {{tagTypeCreateEditViewModel.errorFor("name")}}
                            </mat-error>
                          </mat-form-field>
                        </div>

                      </div>
                      <div class="col-md-4 col-lg-4 col-xs-4">
                        <div class="col-md-4 col-lg-4 col-xs-4">
                          <label class="label-control form-label" for="context">
                            Context <span class="text-danger mandatory-field"> *</span>
                          </label>
                        </div>

                        <div class="col-md-8 col-lg-8 col-xs-8">
                          <div *ngFor="let context of tagTypeCreateEditViewModel.contexts" class="form-label">
                            <input type="checkbox" aria-label='Context name' [(ngModel)]="context.isSelected"
                              [ngModelOptions]="{standalone: true}" disabled>
                            {{context.name}}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 col-lg-4 col-xs-4">
                        <div class="col-md-5 col-lg-5 col-xs-5">
                          <label class="label-control form-label" for="valueMethodTypeId">
                            Value Method <span class="text-danger mandatory-field"> *</span>
                          </label>
                        </div>
                        <div class="col-md-7 col-lg-7 col-xs-7 form-label">
                          <div *ngFor="let valueMethodType of tagTypeCreateEditViewModel.valueMethodTypes">

                            <input type="radio" aria-label='valueMethodTypeId' id="{{valueMethodType.id}}"
                              value="{{valueMethodType.id}}" formControlName="valueMethodTypeId">
                            {{valueMethodType.name}}

                          </div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-4 col-lg-4 col-xs-4">
                        <div class="col-md-4 col-lg-4 col-xs-4">
                          <label class="label-control form-label" for="description">
                            Description<span class="text-danger mandatory-field"> *</span>
                          </label>
                        </div>
                        <div class="col-md-8 col-lg-8 col-xs-8">
                          <mat-form-field class="w-100">
                            <textarea aria-label='description' formControlName="description" rows="3" cols="100"
                              class="form-control font-bold w-100" matInput></textarea>
                            <mat-error align="start" class="text-danger">
                              {{tagTypeCreateEditViewModel.errorFor("description")}}
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-md-4 col-lg-4 col-xs-4">
                        <div class="col-md-4 col-lg-4 col-xs-4">
                          <label class="label-control form-label" for="valueRestriction">
                            Value Restriction <span class="text-danger mandatory-field"> *</span>
                          </label>
                        </div>
                        <div class="col-md-8 col-lg-8 col-xs-8 form-label">

                          <input type="radio" aria-label='isMultipleSelection' formControlName="isMultipleSelection"
                            [value]=false>
                          Single Value
                          <br>
                          <input type="radio" aria-label='isMultipleSelection' formControlName="isMultipleSelection"
                            [value]=true>
                          Multiple Values

                        </div>
                      </div>
                    </div>
                    <br>

                    <div class="row">
                      <div class="container tag-value-container">

                        <div class="col-md-10 col-lg-10 col-xs-10">
                          <table class="table table-striped table-bordered">
                            <thead>
                              <tr>
                                <th class="table-header-text">Tag Value</th>
                                <th class="table-header-text">No. of Assigned Users
                                </th>
                                <th class="table-header-text">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let tagValue of tagTypeCreateEditViewModel.tagValueList; let i = index;">
                                <td *ngIf="!tagTypeCreateEditViewModel.tagValueList[i].isDeleted">
                                  <input [value]="tagTypeCreateEditViewModel.tagValueList[i].value"
                                    class="form-control font-bold" aria-label="tag value input"
                                    (input)="tagTypeCreateEditViewModel.onTagValueChange($event,i)"
                                    [disabled]="tagTypeCreateEditViewModel.modalType === 'Detail'" type="text" />
                                </td>
                                <td *ngIf="!tagTypeCreateEditViewModel.tagValueList[i].isDeleted">
                                  <label class="margin-user form-label">
                                    {{tagTypeCreateEditViewModel.tagValueList[i].tagValueUserMapping.length}}
                                  </label>
                                </td>
                                <td *ngIf="!tagTypeCreateEditViewModel.tagValueList[i].isDeleted">
                                  <i class="fa fa-tag fa-2x" title="Tag Value Details"
                                    (click)="openTaggingDetailsPopUp(tagValue,i)"
                                    *ngIf="!(tagTypeCreateEditViewModel.tagValueList[i].value === '')"></i>
                                  &nbsp;
                                  <i (click)="deleteRow(i)" title="Delete Tag Value" class="fa fa-trash fa-2x"
                                    *ngIf="!(tagTypeCreateEditViewModel.modalType === 'Detail')"></i>
                                </td>
                              </tr>
                              <tr *ngIf="tagTypeCreateEditViewModel.tagValueList.length == 0 || noTagValue"
                                class="form-label">
                                <td colspan="3">No Tag Values</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-2">
                          <button type="button" value="Add Row" (click)="addRow()" title="Add Tag Value"
                            class="btn btn-default btn-md btn-primary btn-circled add-value-button"
                            *ngIf="(tagTypeCreateEditViewModel.userRolePermission?.canCreate || tagTypeCreateEditViewModel.userRolePermission?.canUpdate)"
                            [disabled]="tagTypeCreateEditViewModel.modalType === 'Detail'">Add Value </button>
                          <br> <br>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6 col-xs-4 pull-left">
                        <span class="text-danger pull-left mandatory-field">
                          <b>*</b>
                        </span>
                        <span class="required-text-styles"> &nbsp; Denotes required fields</span>
                      </div>
                      <div class="col-lg-6 col-xs-6 text-right">
                        <button type="button" data-toggle="modal"
                          class="btn btn-default btn-md btn-circled button-style" id="tag-type-close-btn"
                          (click)="tagTypeCreateEditViewModel.cancel()">
                          Cancel
                        </button>

                        <button type="button" data-toggle="modal"
                          class="btn btn-md btn-primary btn-circled button-style" id="user-edit-saveChanges-btn"
                          (click)="tagTypeCreateEditViewModel.editFromDetail()"
                          *ngIf="tagTypeCreateEditViewModel.modalType === 'Detail' && (tagTypeCreateEditViewModel.userRolePermission?.canCreate || tagTypeCreateEditViewModel.userRolePermission?.canUpdate)">
                          Edit
                        </button>
                        <button type="button" data-toggle="modal"
                          class="btn btn-default btn-md btn-primary btn-circled button-style" id="user-saveChanges-btn"
                          (click)="saveTagType()"
                          *ngIf="tagTypeCreateEditViewModel.modalType === 'Edit' || tagTypeCreateEditViewModel.modalType === 'Create' && (tagTypeCreateEditViewModel.userRolePermission?.canCreate || tagTypeCreateEditViewModel.userRolePermission?.canUpdate)"
                          [disabled]="tagTypeCreateEditViewModel.enableSaveButton()">
                          Save
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #tagTypeDeleteConfirmModal identifier="tagTypeDeleteConfirmModal"
  class="modal-content dialog no-padding border-zero-px">
  <div class="stack-order">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm stack-order" aria-hidden="false"
      aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <h5 class="modal-title  space2">Tag Type Delete Confirmation</h5>
            <button aria-label="Close" class="close modal-close" title="Close"
              (click)="tagTypeCreateEditViewModel.close()" type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body space">
            <i class="fa fa-exclamation-triangle color-red "></i>
            Are you sure you want to delete the changes?
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel" (click)="tagTypeCreateEditViewModel.close()"
              type="button">Cancel </button>
            <button class="btn btn-primary" title="Confirm" type="button"
              (click)="tagTypeCreateEditViewModel.onConfirm(tagTypeCreateEditViewModel.deleteTagtypeId)">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #taggingDetailsPopUp identifier="taggingDetailsPopUp"
  class="modal-content dialog no-padding border-zero-px">
  <div class="stack-order">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm stack-order" aria-hidden="false"
      aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <h5 class="modal-title  space2">Tag Value details</h5>
            <button aria-label="Close" class="close modal-close" title="Close" (click)="taggingDetailsPopUpClose()"
              type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body space">
            <form [formGroup]="tagValueDetailsForm">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-3 tag-value-details">
                    <span><b>Value</b></span><span class="text-danger mandatory-field"> * </span> &nbsp;
                  </div>
                  <div class="col-md-5">
                    <input type="text" aria-label='value' formControlName="value" disabled>
                  </div>
                </div>
                <br>
                <div *ngIf="isADControlEnabled; else elseBlock">
                  <div class="row">
                    <div class="col-md-3 tag-value-details">
                      <label class="label-control form-label"
                        for="tagValueAuthenticationProviderMapping"><span><b>Active Directory
                            Groups</b></span></label>&nbsp;
                    </div>
                    <div class="col-md-5 select-popup">
                      <ng-select [items]="tagTypeCreateEditViewModel.adGroupsAndUsers" bindLabel="groupCode"
                        [multiple]="true" placeholder="Select Active Directory Groups"
                        labelForId="tagValueAuthenticationProviderMapping"
                        formControlName="tagValueAuthenticationProviderMapping" (change)="onADGroupChange($event)"
                        [readonly]="tagTypeCreateEditViewModel.modalType === 'Detail'">
                      </ng-select>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-3 tag-value-details">
                      <label class="label-control form-label"
                        for="tagValueUserMapping"><span><b>Users</b></span></label>&nbsp;
                    </div>
                    <div class="col-md-5 select-popup">
                      <ng-select [items]="dynamicUserList" bindLabel="name" [multiple]="true"
                        formControlName="tagValueUserMapping" placeholder="Select Users"
                        labelForId="tagValueUserMapping"
                        [readonly]="(tagTypeCreateEditViewModel.modalType === 'Detail')">
                      </ng-select>
                    </div>
                  </div>
                  <br>
                  <div class="row" *ngIf="extraADUsers.total">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                      Note: <br>
                      The below listed Active Directory users are not part of the Qur Portal:
                      <div class="card-body bg-light text-dark">
                        <p class="capitalize">
                          <Strong>{{extraADUsers.userNames}}</Strong>
                        </p>
                      </div>
                      If you would like to add them as part of this tag type value assignment, use "Add User"
                      feature in User Management to add the users to the Qur portal and assign them here.
                    </div>
                  </div>
                </div>
                <ng-template #elseBlock>
                  <div class="row">
                    <div class="col-md-3">
                      <label class="label-control form-label"
                        for="tagValueUserMapping"><span><b>Users</b></span></label>&nbsp;
                    </div>
                    <div class="col-md-5 select-popup">
                      <ng-select [items]="tagTypeCreateEditViewModel.allUsers" bindLabel="name" [multiple]="true"
                        placeholder="Select Users" formControlName="tagValueUserMapping"
                        labelForId="tagValueUserMapping"
                        [readonly]="(tagTypeCreateEditViewModel.modalType === 'Detail')">
                      </ng-select>
                    </div>
                  </div>
                </ng-template>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel" (click)="taggingDetailsPopUpClose()" type="button">Cancel
            </button>
            <button *ngIf="!(tagTypeCreateEditViewModel.modalType === 'Detail')" class="btn btn-primary" title="Confirm"
              type="button" (click)="saveTagDetails()">Save</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #cancelConfirmModal identifier="cancelConfirmModal" class="dialog no-padding" [dismissable]="false"
  (onAnyCloseEvent)="tagTypeCreateEditViewModel.onPopUpClose()">
  <div class="cancelConfirmModal">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm cancelConfirmModal"
      aria-hidden="false" aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <h5 class="modal-title">Cancel Confirmation</h5>
            <button aria-label="Close" class="close modal-close" title="Close" (click)="tagTypeCreateEditViewModel.onPopUpClose()"
              type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body form-label">
            <i class="fa fa-exclamation-triangle color-red"></i>
            Are you sure you want to discard the changes?
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel" (click)="tagTypeCreateEditViewModel.onPopUpClose()" type="button">Cancel
            </button>
            <button class="btn btn-primary" title="Confirm" type="button"
              (click)="tagTypeCreateEditViewModel.confirmCancel()">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>