.form-check-sign.disable-style::before{
    cursor: not-allowed;
  }

  .check-disabled {
    border-color: #000000;
    opacity: 0.50 !important;
    cursor: not-allowed !important;
  }

  .form-inline .form-check {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: auto;
      padding-left: 0;
  }

  .padding-right-0 {
    padding-right: 0px !important;
  }

  .margin-l66px {
    margin-left: 66px !important;
  }

  .share-dashboard-th {
    background-color: #f5f7f7 !important;
    background-color: var(--ag-header-background-color, #f5f7f7) !important;
    border-bottom: solid 1px !important;
    border-bottom-color: #bdc3c7 !important;
    border-bottom-color: var(--ag-border-color, #bdc3c7) !important;
  }

  .share-dashboard-title {
    font-weight: bold !important;
  }

  .table-hover tbody tr:hover {
    background-color: #999999 !important;
    color: white !important;
  }

  .share-dashboard-layout {
    max-height: 400px !important;
    overflow-x: auto !important;
  }

  .radio-group {
    display: flex;
    flex-direction: row;
  }

  .radio-button {
    margin: 2px;
  }

  .w-100 {
    width: 100% !important;
  }

  .margin-user {
    display: block;
    margin-left: 66px;
    padding-top: 10px;
  }

  .capitalize {
    text-transform: capitalize;
  }

  .card-body {
    padding: unset !important;
  }

  .border-zero-px {
    border: 0px !important;
  }

  .panel-heading {
    color:#565252;
  }

  .mandatory-field {
    color:#d50000;
    font-weight: 500;
  }

  .form-label {
    color:#000000;
  }

  .required-text-styles {
    font-size: 10pt;
    color:#000000;
  }

  .table-header-text{
    background-color: #f4f5f7;
    color: #535151;
  }

  .tag-value-details{
    color: #686666;
  }

  .tag-value-container {
    float: left;
  }

  .add-value-button{
    float: right;
  }

  .button-style{
    padding:right; margin-left: 5px;
  }

  .stack-order{
    z-index: 1043;
  }

  .tag-type-details-screen input.mat-input-element {
    color: #000000; /* have added this class to make the input text visible clearly, it will be applicable for only this module*/
  }


