.dialog-lg-custom {
  top: 100px;
  left: 15%;
  width: 70%;
}

.dialog-md-custom {
  top: 100px;
  left: 25%;
  width: 50%;
}

.padding-top {
  padding-top: 5px;
}

.bg-color-aliceblue {
  background-color: aliceblue  !important;
}

.height-20px {
  height:20px
}

.padding-t-15px {
  padding-top: 15px;
}

.padding-l-15px {
  padding-left: 15px;
}

.width-95 {
  width: 95%;
}
