<div class="row">
  <div class="col-md-12">
    <app-alert-component></app-alert-component>
  </div>

</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Mapping Definition: </b>
      </div>
      <div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">Select Source</div>
          <div class="col-md-4 text-center">Map Data</div>
          <div class="col-md-4 text-right">Preview Definition</div>
          <progress-bar class="col-md-12" [progress]="mappingDefinitionDefineDataViewModel.progressValue">
          </progress-bar>
        </div>
        <div class="col-md-12">
          <app-extended-data-table-cmp [viewModel]="mappingDefinitionDefineDataViewModel.mappingDataGridViewModel">
          </app-extended-data-table-cmp>
          <br>
          <button class="btn btn-primary float-right" title="Preview Mapping Definition" type="button"
            (click)="mappingDefinitionDefineDataViewModel.saveSourceTargetMappingMapping()">Preview Mapping
            Definition</button>
          <button class="btn btn-primary" title="Previous" type="button"
            (click)="mappingDefinitionDefineDataViewModel.saveSourceTargetMappingMapping()">Previous
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #splitColumnPopUp identifier="splitColumnPopUp" class="modal-content dialog no-padding no-border">
  <div class="nsm-dialog modal-content no-padding nsm-dialog-open dialog-lg-custom z-index-visible" aria-hidden="false"
    aria-label="Bootstrap modal" role="dialog" tabindex="-1" aria-modal="true">
    <div class="nsm-content">
      <div class="nsm-body">
        <div class="modal-header">
          <h5 class="modal-title">Split Columns</h5>
          <button aria-label="Close" class="close modal-close" title="Close"
            (click)="mappingDefinitionDefineDataViewModel.closeSplitColumnPopUp()" type="button">
            <span class="modal-x-icon" aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <div class="col-md-5">
            <span>Source Column: </span><b>{{mappingDefinitionDefineDataViewModel.currentRowData.columnName}}</b>
          </div>
          <div class="col-md-3">
            <span>Number of Splits: </span>
            <select name="noOfSplits" #noOfSplits
              (change)='mappingDefinitionDefineDataViewModel.onNumberOfSplitsSelected(noOfSplits.value)'>
              <option value="0" selected>--Select--</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <div class="col-md-4">
            <span>Delimiter: </span>
            <select name="delimiterInformation" [(ngModel)]="mappingDefinitionDefineDataViewModel.delimiterForSplit">
              <option *ngFor="let delimiter of mappingDefinitionDefineDataViewModel.delimiterMapping"
                value="{{delimiter.id}}">
                {{delimiter.name}} ({{delimiter.symbol}})</option>
            </select>
          </div>
          <div class="col-md-12">
            <h4>Map Columns</h4>
          </div>
          <div class="col-md-12">
            <div *ngIf="mappingDefinitionDefineDataViewModel.splitArrayData.length; else splitElseBlock">
              <table class="table table-bordered" id="splitTable">
                <thead class="bg-color-aliceblue">
                  <tr>
                    <th>Sequence</th>
                    <th>Source Column</th>
                    <th></th>
                    <th>Target Column</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of mappingDefinitionDefineDataViewModel.splitArrayData;let i = index">
                    <td>{{row.sequence}}</td>
                    <td>{{row.sourceColumnName}}</td>
                    <td><img class="height-20px" src="assets/images/right-arrow1.png"> </td>
                    <td> <select class="form-control" name="selectedTargetColumn" #selectedTargetColumn
                        (change)='mappingDefinitionDefineDataViewModel.onTargetOptionsSelected(selectedTargetColumn.value, i)'>
                        <option value="0">--Select--</option>
                        <option *ngFor="let item of mappingDefinitionDefineDataViewModel.targetColumnList"
                          value="{{item.id}}">
                          {{item.columnName}}</option>
                      </select></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <ng-template #splitElseBlock>
              <p class="col-12 text-center">Please select Number Of Splits</p>
            </ng-template>
          </div>
          <div class="row">
            <div class="col-md-12"></div>
          </div>
          <div class="col-md-12 padding-t-15px">
            <h5>Source Column: Provider Full Name: John A Doe </h5>
          </div>
          <div class="col-md-12 padding-t-15px">
            <table class="table table-striped table-bordered tbl-shopping-cart width-95">
              <thead class="bg-color-aliceblue">
                <tr>
                  <th>Source Column</th>
                  <th>Target Column</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> Provider Full Name (1)</td>
                  <td> Provider First Name</td>
                  <td> John</td>
                </tr>
                <tr>
                  <td> Provider Full Name (2)</td>
                  <td> Provider Middle Name or Initial</td>
                  <td> A</td>
                </tr>
                <tr>
                  <td> Provider Full Name (3)</td>
                  <td> Provider Last Name or Organization Name</td>
                  <td> Doe</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" title="Confirm" type="button"
            (click)="mappingDefinitionDefineDataViewModel.saveSplitMergeMapping(mappingDefinitionDefineDataViewModel.splitArrayData,'Split')">Save</button>
          <button class="btn btn-secondary" title="Cancel" type="button"
            (click)="mappingDefinitionDefineDataViewModel.closeSplitColumnPopUp()">Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #mergeColumnPopUp identifier="mergeColumnPopUp" class="modal-content dialog no-padding no-border">
  <div class="nsm-dialog modal-content no-padding nsm-dialog-open dialog-md-custom z-index-visible" aria-hidden="false"
    aria-label="Bootstrap modal" role="dialog" tabindex="-1" aria-modal="true">
    <div class="nsm-content">
      <div class="nsm-body">
        <div class="modal-header">
          <h5 class="modal-title">Merge Columns</h5>
          <button aria-label="Close" class="close modal-close" title="Close"
            (click)="mappingDefinitionDefineDataViewModel.closeMergeColumnPopUp()" type="button">
            <span class="modal-x-icon" aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body container-fluid">
          <div class="col-md-6">
            <span class="padding-top"><b>Target Column: </b></span>
            <select name="targetColumnListForMerge" #targetColumnListForMerge
              (change)='mappingDefinitionDefineDataViewModel.onTargetSelectedInMerge(targetColumnListForMerge.value)'>
              <option value="0" selected>--Select--</option>
              <option *ngFor="let item of mappingDefinitionDefineDataViewModel.targetColumnList" [value]="item.id">
                {{item.columnName}}</option>
            </select>
          </div>
          <div class="col-md-6">
            <span class="padding-top"><b>Connector: </b></span>
            <select name="delimiterInformationMerge"
              [(ngModel)]="mappingDefinitionDefineDataViewModel.delimiterForMerge">
              <option *ngFor="let delimiter of mappingDefinitionDefineDataViewModel.delimiterMapping"
                value="{{delimiter.id}}">
                {{delimiter.name}} ({{delimiter.symbol}})</option>
            </select>
          </div>
          <div class="col-md-12">
            <h4>Map Columns</h4>
          </div>
          <div class="col-md-12">
            <div
              *ngIf="mappingDefinitionDefineDataViewModel.selectedTargetColumnForMerge.id !='0' && mappingDefinitionDefineDataViewModel.margeArrayData.length; else mergeElseBlock">
              <table class="table table-bordered" id="splitTable">
                <thead class="bg-color-aliceblue">
                  <tr>
                    <th>Sequence</th>
                    <th>Source Column</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of mappingDefinitionDefineDataViewModel.margeArrayData;let i = index">
                    <td>{{row.sequence}}</td>
                    <td> <select class="form-control" name="sourceColumnSelectedWhileMerge"
                        #sourceColumnSelectedWhileMerge
                        (change)='mappingDefinitionDefineDataViewModel.onSourceColumnSelectedWhileMerge(sourceColumnSelectedWhileMerge.value, i)'>
                        <option value="0">--Select--</option>
                        <option *ngFor="let item of mappingDefinitionDefineDataViewModel.sourceColumnList"
                          value="{{item.id}}">
                          {{item.columnName}}</option>
                      </select></td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-12"></div>
              </div>
              <div class="col-md-12">
                <div class="col-md-6"></div>
                <div class="col-md-3">
                  <button class="btn btn-primary btn-sm" title="Confirm" type="button"
                    (click)="mappingDefinitionDefineDataViewModel.addColumnWhileMerge()">
                    <i class="fa fa-plus"></i> &nbsp;Add More Column</button>
                </div>
                <div class="col-md-3">
                  <button class="btn btn-primary btn-sm" title="Confirm" type="button"
                    (click)="mappingDefinitionDefineDataViewModel.removeColumnWhileMerge()">
                    <i class="fa fa-minus"></i> &nbsp;Remove Last Column</button>
                </div>
              </div>
            </div>
            <ng-template #mergeElseBlock>
              <p class="col-12 text-center">Please select Target Column Value</p>
            </ng-template>
          </div>
          <div class="row">
            <div class="col-md-12"></div>
          </div>
          <div class="col-md-12 padding-t-15px">
            <h5>Target Column: Provider Office Street Address: 2262 Park Cir</h5>
          </div>
          <div class="row">
            <div class="col-md-12"></div>
          </div>
          <div class="padding-t-15px padding-l-15px ">
            <table class="table table-striped table-bordered tbl-shopping-cart width-95">
              <thead class="bg-color-aliceblue">
                <tr>
                  <th>Source Column</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Provider Office Street Address 1</td>
                  <td> 2262 </td>
                </tr>
                <tr>
                  <td>Provider Office Street Address 2</td>
                  <td> Park Cir</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--  -->
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" title="Confirm" type="button"
            (click)="mappingDefinitionDefineDataViewModel.saveSplitMergeMapping(mappingDefinitionDefineDataViewModel.margeArrayData,'Merge')">Save</button>
          <button class="btn btn-secondary" title="Cancel" type="button"
            (click)="mappingDefinitionDefineDataViewModel.closeMergeColumnPopUp()">Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #duplicateTargetConfirm identifier="duplicateTargetConfirm"
  class="modal-content dialog no-padding no-border">
  <div class="z-index-visible">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm z-index-visible" aria-hidden="false"
      aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <h5 class="modal-title">Confirmation</h5>
            <button aria-label="Close" class="close modal-close" title="Close"
              (click)="mappingDefinitionDefineDataViewModel.keepPreviousSelectedTargetColumn()" type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            Already this target column is mapped. Click on <b>Swap</b> to swap both values or click <b>Cancel</b> to
            keep your previous value.
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" title="Swap" type="button"
              (click)="mappingDefinitionDefineDataViewModel.swapTargetColumns()">Swap</button>
            <button class="btn btn-secondary" title="Cancel"
              (click)="mappingDefinitionDefineDataViewModel.keepPreviousSelectedTargetColumn()" type="button">Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</ngx-smart-modal>

<ngx-smart-modal #dataMappingPopUp identifier="dataMappingPopUp" class="modal-content dialog no-padding no-border">
  <div class="nsm-dialog modal-content no-padding nsm-dialog-open dialog-md-custom z-index-visible" aria-hidden="false"
    aria-label="Bootstrap modal" role="dialog" tabindex="-1" aria-modal="true">
    <div class="nsm-content">
      <div class="nsm-body">
        <div class="modal-header">
          <h5 class="modal-title">Data Mapping</h5>
          <button aria-label="Close" class="close modal-close" title="Close"
            (click)="mappingDefinitionDefineDataViewModel.closeDataMappingPopUp()" type="button">
            <span class="modal-x-icon" aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body container-fluid">
          <div class="row col-lg-12 col-md-12">
            <div class="col-md-6">
              <span class="padding-top"><b>Source Column: </b></span>
              <span class="padding-top">{{mappingDefinitionDefineDataViewModel.dataMaapingSourceColumn}}</span>
            </div>
            <div class="col-md-6">

            </div>
          </div>
          <br>
          <div class="row col-lg-12 col-md-12">
            <div class="col-lg-6 col-md-6">
              <span class="padding-top"><b>Target Column: </b></span>
              <span class="padding-top">{{mappingDefinitionDefineDataViewModel.dataMaapingTargetColumn}}</span>
            </div>
            <div class="col-lg-6 col-md-6">
              <span class="padding-top"><b>Accepted Values: </b></span>
              <span class="padding-top">{{mappingDefinitionDefineDataViewModel.dataMaapingAcceptedValues}}</span>
            </div>
          </div>
          <div class="col-md-12">
            <h4>Data Mapping</h4>
          </div>
          <div class="col-md-12">
            <div>
              <table class="table table-bordered" id="dataMappingTable">
                <thead style="background-color: aliceblue;">
                  <tr>
                    <th>Source Column Values</th>
                    <th></th>
                    <th>Target Column Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of mappingDefinitionDefineDataViewModel.sourceColumnData;let i = index">
                    <td>{{row}}</td>
                    <td><i title="Merge"
                        class="icon material-icons cursor text-primary action-icon-delete">arrow_right_alt</i>
                    </td>
                    <td> <select class="form-control" name="sourceColumnSelectedWhileMerge"
                        #sourceColumnSelectedWhileMerge
                        (change)='mappingDefinitionDefineDataViewModel.onSourceColumnSelectedWhileDataMapping(sourceColumnSelectedWhileMerge.value, row)'>
                        <option value="0">--Select--</option>
                        <option *ngFor="let item of mappingDefinitionDefineDataViewModel.referenceValuesList"
                          value="{{item.id}}">
                          {{item.name}}</option>
                      </select></td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
          <div class="row">
            <div class="col-md-12"></div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" title="Confirm" type="button"
            (click)="mappingDefinitionDefineDataViewModel.saveDataMapping(mappingDefinitionDefineDataViewModel.margeArrayData)">Save</button>
          <button class="btn btn-secondary" title="Cancel" type="button"
            (click)="mappingDefinitionDefineDataViewModel.closeDataMappingPopUp()">Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #dataAcceptedValues identifier="dataAcceptedValues" class="modal-content dialog no-padding no-border">
  <div class="nsm-dialog modal-content no-padding nsm-dialog-open dialog-md-custom z-index-visible" aria-hidden="false"
    aria-label="Bootstrap modal" role="dialog" tabindex="-1" aria-modal="true">
    <div class="nsm-content">
      <div class="nsm-body">
        <div class="modal-header">
          <h5 class="modal-title">{{mappingDefinitionDefineDataViewModel.dataMaapingAcceptedValues}}</h5>
          <button aria-label="Close" class="close modal-close" title="Close"
            (click)="mappingDefinitionDefineDataViewModel.closeDataAcceptedValuePopup()" type="button">
            <span class="modal-x-icon" aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body container-fluid">
          
      
          <div class="col-md-12">
            <div>
              <table class="table table-bordered" id="dataMappingTable">
                <thead style="background-color: aliceblue;">
                  <tr>
                    <th>Index</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of mappingDefinitionDefineDataViewModel.referenceValuesList;let i = index">
                    <td>{{i}}</td>
                    
                    <td> {{row.name}} </td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
          <div class="row">
            <div class="col-md-12"></div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" title="Cancel" type="button"
            (click)="mappingDefinitionDefineDataViewModel.closeDataAcceptedValuePopup()">Close
          </button>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>