<div class="row">
  <div class="col-md-12">        
      <div class="card-body table-responsive">
          <div  class="raisedBox" >
              <h5 class="entry-title mt-0">
                  <b>Notification List</b>
              </h5>
            <div class="row">
                <div class="row pull-right">
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 slide">                       
                            <span class="form-label"> Show unread messages </span>
                          <mat-slide-toggle class="toggle" (change)="notificationListViewModel.showUnreadMessageChanged()" [(ngModel)]="notificationListViewModel.isToShowUnreadMessage"> <span class="form-label"> {{ notificationListViewModel.isToShowUnreadMessage ? 'ON' : 'OFF' }} </span>
                        </mat-slide-toggle> 
                    </div>
                </div>
            </div>
              <app-alert-component></app-alert-component>
              <app-data-table-cmp [viewModel]="notificationListViewModel.viewModelDataGrid"> </app-data-table-cmp>
          </div>
      </div>
  </div>
</div>


