<div class="row">
  <div class="col-md-12">
      
      <div class="card-body table-responsive">
          <div  class="raisedBox" >
              <h5 class="entry-title   mt-0"><b>Vendor Management </b></h5>
              <div class="row btn-section"> 
                  
                          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12  pull-right ">
                              
                              <div data-toggle="modal" (click)="vendorListViewModel.redirectToCreate()"
                              class="btn btn-default btn-md btn-primary"
                              style="float: right;"
                              >Create new Vendor</div> </div>
                      </div>
                       <app-alert-component></app-alert-component> 
                      <app-data-table-cmp [viewModel]="vendorListViewModel.viewModelDataGrid"> </app-data-table-cmp>
                          
                      </div>
          </div>       
      </div>
  </div>
<ngx-smart-modal #deleteConfirmModalFromList identifier="deleteConfirmModalFromList" class="modal-content dialog no-padding" style="border: 0px !important;">>
  <div class="" style="z-index: 1043;"> 
  <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" 
  aria-hidden="false" aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
  <div class="nsm-content">
      <div class="nsm-body">
          <div   class="modal-header">
              <h5   class="modal-title">Delete Confirmation</h5>
              <button  aria-label="Close" class="close modal-close" title="Close"   (click)="deleteConfirmModalFromList.close()" type="button">
                  <span  class="modal-x-icon" aria-hidden="true">×</span></button>
          </div>
              <div   class="modal-body">
                 <i class="fa fa-exclamation-triangle color-red" ></i> Are you sure you want to delete this Vendor? 
              </div> 
                     <div  class="modal-footer">
                        <button  class="btn btn-default" title="Cancel"  (click)="deleteConfirmModalFromList.close()" type="button">Cancel </button>
                       <button  class="btn btn-primary" title="Confirm" type="button" (click)="vendorListViewModel.deleteVendor()">Confirm</button>
                      </div>
          </div></div>
      </div>  </div>

</ngx-smart-modal>