.dummy-label-style{
    display: none;
  }
  .form-label {
    color: #000000;
}
.upload-file-style {
  margin: auto;
  text-align: center;
}
.width-180px {
  width: 180px;
}
.pre-button-style {
  padding:right;
}
.next-button-style {
  padding:right;
   margin-left: 5px;
}
.fontSize10pt {
font-size: 10pt;
}
.d-grid {
  display: grid;
}
.pt-20 {
  padding-top: 20px;
}