<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-inverse raisedBox">
          <div class="panel-heading">
            <div *ngIf="mappingDefinitionUploadFileViewModel.modalType === 'Create'">
              <h5 class="entry-title mt-0">
                <b>Create Mapping Definition</b>
            </h5>
            </div>
            <div *ngIf="mappingDefinitionUploadFileViewModel.modalType === 'Edit'">
              <h5 class="entry-title mt-0">
                <b>Edit Mapping Definition</b>
            </h5>
            </div>
            <div *ngIf="mappingDefinitionUploadFileViewModel.modalType === 'Detail'">
              <h5 class="entry-title mt-0">
                <b>Mapping Definition Details</b>
            </h5>
            </div>
          </div>
          <div class="row">
            <div class="row col-lg-12">
              <app-alert-component></app-alert-component>
            </div>
          </div>
          <div class="panel-body ">
            <div class="tab-content">
              <div class="row">
                <div class="col-md-4">Select Source</div>
                <div class="col-md-4 text-center">Map Data</div>
                <div class="col-md-4 text-right">Preview Definition</div>
                <progress-bar class="col-md-12" [progress]="mappingDefinitionUploadFileViewModel.progressValue"></progress-bar>
            </div>
              <div class="tab-pane active " id="mapping-Definition-details">
                <form [formGroup]="mappingDefinitionUploadFileViewModel.mappingDefinitionUploadForm">
                  <div class="form-group">
                    <div class="row" *ngIf="mappingDefinitionUploadFileViewModel.modalType === 'Edit'">
                      <div class="h5">
                        Target Name: {{mappingDefinitionUploadFileViewModel.mappingDefinitionName}}
                      </div>
                    </div>
                    <div class="row">
                      <h5>Import File <span class="text-danger"> * </span> (Only xlsx, csv and text file) </h5>
                      <div class="dotted-border d-grid">
                        <div class="col-md-12 text-center">
                        <h5>Upload a file (<small>Maximum upload file size: 12 MB</small>)</h5>
                        <span class="display-center-60">
                          <div class="form-group align-div-center ">
                            <input type='file' id="fileUpload" multiple  formControlName='fileUpload'
                              (change)="mappingDefinitionUploadFileViewModel.fileChanged($event)">
                          </div>
                        </span>
                      </div>
                        <div>
                          <div class="col-md-4 col-lg-4">
                            <div class="col-md-6 col-lg-6">
                              <label class="label-control form-label" for="file_type">File Type</label><span class="text-danger"> *
                              </span>
                            </div>
                            <div class="col-md-6">
                              <ng-select [items]="mappingDefinitionUploadFileViewModel.fileTypes" bindLabel="name" [multiple]="false"
                                placeholder="--Select--" formControlName="file_type" class="width-180px" id="file_type">
                              </ng-select>
                            </div>
                          </div>
                          <div class="col-md-4 col-lg-4">
                            <div class="col-md-4 col-lg-4">
                              <label class="label-control form-label" for="delimiterInformation">Delimiter</label><span
                                class="text-danger"> *
                              </span>
                            </div>
                            <div class="col-md-8">
                              <ng-select [items]="mappingDefinitionUploadFileViewModel.delimiterInformation" bindLabel="name"
                                [multiple]="false" placeholder="--Select--" formControlName="delimiterInformation" class="width-180px"
                                id="delimiterInformation">
                              </ng-select>
                            </div>
                          </div>
                          <div class="col-md-4 col-lg-4">
                            <div class="col-md-8 col-lg-8">
                              <label class="label-control form-label" for="isHeaderInformationAvailable">Is Header Information
                                Available</label><span class="text-danger"> * </span>
                            </div>
                            <div class="col-md-4">
                              <ng-select [items]="mappingDefinitionUploadFileViewModel.isHeaderInformation" bindLabel="name"
                                [multiple]="false" placeholder="--Select--" formControlName="isHeaderInformationAvailable"
                                id="isHeaderInformationAvailable">
                              </ng-select>
                            </div>
                          </div>
                          <div class="col-md-12 col-md-12 pt-20">
                            <button type="button" data-toggle="modal" class="btn btn-primary btn-md btn-circled pull-right"
                              id="mapping-definition-edit-back-btn"
                              (click)="mappingDefinitionUploadFileViewModel.uploadFileToActivity()"
                              [disabled]="!( mappingDefinitionUploadFileViewModel.mappingDefinitionUploadForm.dirty && mappingDefinitionUploadFileViewModel.mappingDefinitionUploadForm.valid)">
                              Upload
                            </button>
                          </div>
                        </div>
                    </div>
              
                    </div>
                  </div>
                </form>
                <form [formGroup]="mappingDefinitionUploadFileViewModel.mappingDefinitionDetailsForm">
                  <div class="form-group">
                    <div class="row">
                      <div class="p-t-10px">
                        <h5>Dataset Information</h5>
                      </div>
                      <div class="col-md-12 col-lg-12 pl-0">
                        <!-- <div class="col-md-4 col-lg-4">
                                                            <div class="col-md-6 col-lg-6">
                                                              <label class="label-control form-label" for="file_type">File Type</label><span class="text-danger"> * </span>
                                                            </div>
                                                            <div class="col-md-6">
                                                              <ng-select [items]="mappingDefinitionUploadFileViewModel.fileTypes" bindLabel="name" [multiple]="false"
                                                                placeholder="--Select--" formControlName="file_type" class="width-180px" id="file_type">
                                                              </ng-select>
                                                            </div>
                                                          </div>
                                                          <div class="col-md-4 col-lg-4">
                                                            <div class="col-md-4 col-lg-4">
                                                              <label class="label-control form-label" for="delimiterInformation">Delimiter</label><span class="text-danger"> *
                                                              </span>
                                                            </div>
                                                            <div class="col-md-8">
                                                              <ng-select [items]="mappingDefinitionUploadFileViewModel.delimiterInformation" bindLabel="name"
                                                                [multiple]="false" placeholder="--Select--" formControlName="delimiterInformation" class="width-180px"
                                                                id="delimiterInformation">
                                                              </ng-select>
                                                            </div>
                                                          </div>
                                                          <div class="col-md-4 col-lg-4">
                                                            <div class="col-md-8 col-lg-8">
                                                              <label class="label-control form-label" for="isHeaderInformationAvailable">Is Header Information
                                                                Available</label><span class="text-danger"> * </span>
                                                            </div>
                                                            <div class="col-md-4">
                                                              <ng-select [items]="mappingDefinitionUploadFileViewModel.isHeaderInformation" bindLabel="name"
                                                                [multiple]="false" placeholder="--Select--" formControlName="isHeaderInformationAvailable"
                                                                id="isHeaderInformationAvailable">
                                                              </ng-select>
                                                            </div>
                                                          </div> -->
                        <div class="col-md-4 col-lg-4 pt-15">
                          <div class="col-md-6 col-lg-6">
                            <label class="label-control form-label" for="mappingDefinitionName">Mapping Definition</label><span
                              class="text-danger"> * </span>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field>
                              <input matInput #mappingDefinitionName formControlName="mappingDefinitionName" class="form-control"
                                id="mappingDefinitionName" name="mappingDefinitionName" />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-md-4 col-lg-4 pt-15">
                          <div class="col-md-4 col-lg-4">
                            <label class="label-control form-label" for="filePattern">File Pattern</label>
                          </div>
                          <div class="col-md-8">
                            <mat-form-field>
                              <input matInput #filePattern formControlName="filePattern" class="form-control" id="filePattern"
                                name="filePattern" />
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-md-4 col-lg-4 pt-15" *ngIf="mappingDefinitionUploadFileViewModel.isDataIngestion">
                          <div class="col-md-8 col-lg-8">
                            <label class="label-control form-label" for="isTheDataFileBeUsedForDataIngestion">Will the data file be
                              used
                              for
                              Data Ingestion</label>
                          </div>
                          <div class="col-md-4">
                            <mat-slide-toggle #isPublic formControlName="isTheDataFileBeUsedForDataIngestion">
                              <span class="dummy-label-style">Will the data file be used for Data Ingestion</span>
                              <!-- 508 fix-->
                            </mat-slide-toggle>
                          </div>
                        </div>
                      </div>
                    </div>
              
                    <div class="row">
                      <div class="col-lg-12 col-xs-10 pull-left text-right p-t-25">
                        <button type="button" data-toggle="modal" class="btn btn-default btn-md btn-circled pre-button-style"
                          id="mapping-definition-edit-back-btn" (click)="mappingDefinitionUploadFileViewModel.onCancel()">
                          Mapping Definition List
                        </button>
                        <button type="button" data-toggle="modal"
                          class="btn btn-default btn-md btn-primary btn-circled next-button-style"
                          *ngIf="mappingDefinitionUploadFileViewModel.modalType==='Edit' || mappingDefinitionUploadFileViewModel.modalType==='Create'"
                          id="mapping-definition-edit-saveChanges-btn" (click)="mappingDefinitionUploadFileViewModel.saveChanges()"
                          [disabled]="!( mappingDefinitionUploadFileViewModel.mappingDefinitionDetailsForm.dirty && mappingDefinitionUploadFileViewModel.mappingDefinitionDetailsForm.valid)">
                          Next
                        </button>
                      </div>
                    </div>
              
                    <div class="row " class=p-t-25>
                      <div class="row col-lg-12">
                        <span class="text-danger pull-left">
                          <b>*</b>
                        </span>
                        <span class="fontSize10pt"> &nbsp; Denotes required fields</span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <ngx-ui-loader [text]='mappingDefinitionUploadFileViewModel.loaderText' textColor="#000"></ngx-ui-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>