<div class="row">
    <div class="col-md-12">
        <div class="card-body table-responsive">
            <div class="raisedBox">
                <h5 class="entry-title   mt-0"><b>Mapping Definition List </b></h5>

                <app-extended-data-table-cmp [viewModel]="mappingDefinitionListViewModel.viewModelDataGrid">
                </app-extended-data-table-cmp>
            </div>
        </div>
    </div>
</div>

<ngx-smart-modal #deleteConfirmModalFromList identifier="deleteConfirmModalFromList"
    class="modal-content dialog no-padding no-border">
    <div class="z-index-visible">
        <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm z-index-visible" aria-hidden="false"
            aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
            <div class="nsm-content">
                <div class="nsm-body">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Confirmation</h5>
                        <button aria-label="Close" class="close modal-close" title="Close"
                            (click)="deleteConfirmModalFromList.close()" type="button">
                            <span class="modal-x-icon" aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <i class="fa fa-exclamation-triangle color-red"></i> Are you sure you want to delete this Mapping
                        Definition?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" title="Confirm" type="button"
                            (click)="mappingDefinitionListViewModel.deleteMappingDefinition()">Confirm</button>
                        <button class="btn btn-secondary" title="Cancel" (click)="deleteConfirmModalFromList.close()"
                            type="button">Cancel </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ngx-smart-modal>
