<div class="row">
  <div class="col-md-12">
      
      <div class="card-body table-responsive">
          <div  class="raisedBox-small" >
            <div >
              <h4 class="entry-title   mt-0"><b>Request Datasets </b>
              </h4>
            </div>      
                <div>
                  <app-alert-component></app-alert-component>
                </div>    
                <div class="panel-body ">
                  <div class="tab-content">
                      <div class="tab-pane active " id="role-details">
                        <form [formGroup]="datasetsRequestViewModel.datasetsRequestViewModelForm">
                            <div class="form-group">
                              <div class="row" > 
                                  <div class="row col-lg-12">
                                      <div class="col-lg-4 col-xs-4 text-left">
                                        <label class="label-control" for="context">
                                          Dataset Request Name <span class="text-danger"> *</span>
                                        </label>
                                        <!-- <h5   class="entry-title"> Dataset Request Name </h5>                                         -->
                                      </div>
                                      <div class="col-lg-3 col-xs-3 text-left">
                                        <label class="label-control" for="context">
                                          Needed By <span class="text-danger"> *</span>
                                        </label>
                                        <!-- <h5   class="entry-title"> Needed By </h5>                                         -->
                                      </div>
                                      <div class="col-lg-5 col-xs-5 text-left">  
                                        <label class="label-control" for="context">
                                          Reason for request <span class="text-danger"> *</span>
                                        </label>                                   
                                        <!-- <h5   class="entry-title"> Reason for request</h5> -->
                                      </div>
                                  </div>
                                </div>
                                <div class="row" style="padding-top: 5px;"> 
                                    <div class="row col-lg-12">
                                      <div class="col-lg-4 col-xs-4 text-left">
                                        <mat-form-field  style="width: 100%;">
                                            <input type="text" id="requestName"  formControlName="requestName" required matInput
                                                >
                                            <input type="text" id="selectedDatasetHidden"  formControlName="selectedDatasetHidden" required style="visibility: hidden;">                
                                          </mat-form-field>
                                      </div>
                                      <div class="col-lg-3 col-xs-3 text-left">
                                        <mat-form-field  style="width: 100%;">
                                        <input type="date"  id="neededBy"  formControlName="neededBy" required matInput/> 
                                      </mat-form-field>
                                        <div *ngIf="datasetsRequestViewModel.isNeededByInvalid"
                                        >
                                          <span class="text-danger" > 
                                               Needed by date needs to be a future date.
                                           </span>
                                       </div>                          
                                      </div>
                                      <div class="col-lg-5 col-xs-5 text-right">
                                        <mat-form-field  style="width: 100%;">
                                        <textarea    placeholder="Reason for request"  id="reasonForRequest"  formControlName="reasonForRequest"  rows="3"  style="width: 100%;" matInput> </textarea>
                                      </mat-form-field>
                                      </div>
                                    </div>
                                </div>
                                <div *ngIf="datasetsRequestViewModel.workspaceTagTypeDetailsList.length != 0">
                                  <div class="col-md-6" *ngFor="let workspaceTagDetail of datasetsRequestViewModel.workspaceTagTypeDetailsList">
                                    <div class="col-md-12" style="padding-top: 15px;">
                                      <label class="label-control"
                                        for="{{ workspaceTagDetail.tagName }}">{{ workspaceTagDetail.name }}</label>
                                      <ejs-multiselect #dropdown id='custom-list' 
                                          [dataSource]='workspaceTagDetail.tagValues' 
                                          [allowCustomValue]='workspaceTagDetail.valueMethodType.isDynamic'
                                          (select)='datasetsRequestViewModel.onSelect($event, workspaceTagDetail)'
                                          (removing)='datasetsRequestViewModel.onRemove($event, workspaceTagDetail)'                       
                                          [mode]='datasetsRequestViewModel.box' 
                                          [placeholder]='datasetsRequestViewModel.waterMark'
                                          [fields]='datasetsRequestViewModel.fields'
                                          [value]='workspaceTagDetail.selectedTags'
                                          [maximumSelectionLength]='workspaceTagDetail.isMultipleSelection == true ? 100 : 1'
                                        >
                                        </ejs-multiselect>
                
                                    </div>
                                  </div>
                                </div>
                                <div class="row"  style="padding-top: 15px;"> 
                                  <div class="row col-lg-12">
                                      <div class="col-lg-7 col-xs-7 text-left">       
                                        <!-- <h5   class="entry-title">Available Catalog</h5>                       -->
                                        <label class="label-control" for="context">
                                          Available Catalog 
                                        </label>
                                      </div>
                                      <div class="col-lg-5 col-xs-5 text-left">                                     
                                        <!-- <h5   class="entry-title"> Selected Datasets</h5>   -->
                                        <label class="label-control" for="context">
                                          Selected Datasets
                                        </label>                    
                                      </div>
                                  </div>
                                </div>
                                <div class="row" layout="row"  > 
                                    <div class="row col-lg-12">
                                      <div class="col-lg-7 col-xs-7">
                                          <app-data-table-cmp [viewModel]="datasetsRequestViewModel.viewModelDataGrid"> </app-data-table-cmp>
                                              <!-- here was the code -->
                                      </div>
                                      <div class="col-lg-5 col-xs-5">
                                           <app-data-table-cmp [viewModel]="datasetsRequestViewModel.requestedDatasetDataGrid"> </app-data-table-cmp>
                                              <!-- here was the code -->
                                      </div>
                                  </div>
                                </div>
                                <div class="row">
                                        <div class="row col-lg-12" style="padding-top: 25px;">
                                          <div class="col-lg-7 col-xs-7 text-right">
                                                <button type="button" data-toggle="modal" 
                                                    class="btn btn-default btn-md btn-primary btn-circled"
                                                      style="padding:right; margin-right: 5px;"
                                                      id="role-edit-saveChanges-btn" (click)="datasetsRequestViewModel.addToCart()"
                                                  >
                                                  Add To Cart
                                                </button>  
                                          </div>
                                          <div class="col-lg-5 col-xs-5 text-right">
                                            <button type="button" data-toggle="modal" 
                                                class="btn btn-default btn-md btn-primary btn-circled"
                                                  style="padding:right; margin-right: 5px;"
                                                  id="role-edit-saveChanges-btn" (click)="datasetsRequestViewModel.removeFromCart()"
                                              >
                                              Remove from Cart
                                            </button>  
                                      </div>
                                        </div>
                                </div>
                              
                                <div class="row"  style="padding-top: 35px;">
                                      <div class="row col-lg-12">
                                        <div class="col-lg-6 col-xs-6 text-right">
                                        </div>
                                        <div class="col-lg-6 col-xs-6 text-right">
                                              <button type="button" data-toggle="modal" 
                                                  class="btn btn-default btn-md "
                                                    style="padding:right; margin-left: 5px;"
                                                    id="role-edit-cancelChanges-btn" (click)="datasetsRequestViewModel.cancelChanges()"
                                                >
                                               Cancel
                                              </button>  
                                              <button type="button" data-toggle="modal" 
                                              class="btn btn-default btn-md btn-primary  "
                                                style="padding:right; margin-left: 5px;"
                                                [disabled]="!(datasetsRequestViewModel.datasetsRequestViewModelForm.valid && datasetsRequestViewModel.datasetsRequestViewModelForm.dirty)"
                                                id="role-edit-saveChanges-btn" (click)="datasetsRequestViewModel.saveChanges()"
                                            >
                                            Submit
                                          </button>  
                                        </div>
                                      </div>
                                 </div>


                            </div>
                        </form>
                      </div>
                  </div>
                </div>
            </div>
          </div>       
      </div>
  </div>
