// <style>
// .control-fluid, .container-fluid {
//     padding-right: 15px;
//     padding-left: 15px;
// }

// .control-content .control-section{
//     border-width: 0px !important;
// }

// .control-section .control-wrapper {
//     width: 80%;
//     margin: 0 auto;
//     min-width: 185px;
// }

// .e-bigger .control-section .control-wrapper {
//     width: 100%;
// }

// .property-section .right-side {
//     padding-left: 10px;
// }

// .property-section .left-side {
//     padding: 5px;
//     width: 25%
// }
// </style>

.new-dialog-sm {
    top: 10px !important;
}

.popupStyle {
    margin-left: 2.5em;
    padding: 0 7em 2em 0;
    border-width: 0px; 
    border-color: black;
     border-style:solid;
}

a{
    cursor: pointer;
}