<div class="row">
  <div class="col-md-12">

    <div class="card-body table-responsive">
      <div class="raisedBox-small">
        <div style="padding-bottom: 25px;">
          <h3 class="entry-title   mt-0"><b>My Workspaces </b>
            <div class=" pull-right">
              <div data-toggle="modal" class="btn btn-default btn-md btn-primary" style="float: right;"
                (click)="workspaceListViewModel.requestNewWorkspace()"
                *ngIf="workspaceListViewModel.CanRequestNewWorkspace">Request new Workspace</div>
            </div>
          </h3>
        </div>
        <div class="entry-title">
          <h4><b>List of Workspaces </b></h4>
        </div>

        <div>
          <app-alert-component></app-alert-component>
          <app-data-table-cmp [viewModel]="workspaceListViewModel.viewModelDataGrid"> </app-data-table-cmp>
        </div>
        <div style="margin-top: 25px;  " *ngIf="workspaceListViewModel.CanShowDetails">
          <div class="entry-title">
            <b>Workspaces Request Details</b>
            <span *ngIf="workspaceListViewModel.CanShowDetails" class="popupStyle">
              <a [routerLink]="" (click)="workspaceListViewModel.hideDetails()">(Hide Details)</a>
            </span>
          </div>

        </div>
        <div style="margin-top: 15px;  " class="raisedBox-no-effect" *ngIf="workspaceListViewModel.CanShowDetails">
          <div style="width: 100%; margin: auto;">
            <div class="row" style="padding-top: 15px; padding-left: 10px;">
              <div class="col-md-2">
                <label class="label-control"><b>Workspace Type</b></label>
              </div>
              <div class="col-md-10">
                {{workspaceListViewModel.workSpaceTypeLabel}}
              </div>
            </div>

            <div class="row" style="padding-top: 15px;  padding-left: 10px;">
              <div class="col-md-2">
                <label class="label-control"><b>DiskSpace Request</b></label>
              </div>
              <div class="col-md-4">
                {{workspaceListViewModel.diskSpaceRequestedLabel}}
              </div>
            </div>
            <div class="row" style="padding-top: 15px;  padding-left: 10px;">
              <div class="col-md-2">
                <label class="label-control"><b>Needed By</b></label>
              </div>
              <div class="col-md-4">
                {{workspaceListViewModel.neededByDateLabel}}
              </div>
            </div>
            <div class="row" style="padding-top: 15px;  padding-left: 10px;">
              <div class="col-md-2">
                <label class="label-control"><b>Workspace Name</b></label>
              </div>
              <div class="col-md-4">
                {{workspaceListViewModel.workspaceNameLabel}}
              </div>
            </div>
            <div class="row" style="padding-top: 15px;  padding-left: 10px;">
              <div class="col-md-2">
                <label class="label-control"><b>Reason for request</b></label>
              </div>
              <div class="col-md-10">
                {{workspaceListViewModel.reasonForRequestLabel}}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-smart-modal #terminateConfirmModalFromList identifier="terminateConfirmModalFromList"
  class="modal-content dialog no-padding" style="border: 0px !important;">>
  <div class="" style="z-index: 1043;">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
      aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <h5 class="modal-title">Termination Confirmation</h5>
            <button aria-label="Close" class="close modal-close" title="Close"
              (click)="terminateConfirmModalFromList.close()" type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <i class="fa fa-exclamation-triangle color-red" style="padding-right: 5px;"></i> Are you sure you want to
            terminate this workspace?
            <form [formGroup]="workspaceListViewModel.workspaceListViewModelForm">

              <div class="form-group">
                <!-- class="raisedBox-no-effect"   -->
                <div style="margin-top: 5px;  ">

                  <div class="row" style="padding-top: 15px;">
                    <div class="col-md-3">
                      <b>Comments</b> <span class="text-danger"> * </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <textarea name="terminateDecisionComment" formControlName="terminateDecisionComment" rows="2"
                        style="width: 98%;"> </textarea>
                    </div>
                    <div *ngIf="workspaceListViewModel.blankReasonForTermination">
                      <span class="text-danger" style="padding-left: 15px;">
                        Enter the reason for terminating workspace.
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12" style="height: 25px;">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel" (click)="terminateConfirmModalFromList.close()"
            type="button">Cancel </button>
            <button class="btn btn-primary" title="Confirm" type="button"
              (click)="workspaceListViewModel.terminateWorkspaceAction()">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</ngx-smart-modal>

<ngx-smart-modal #requestNewWorkspaceFromCatalogDetails identifier="requestNewWorkspaceFromCatalogDetails"
  class="modal-content dialog no-padding" style="border: 0px !important;">
  <div class="modal-dialog modal-lg" style="width: 95%;">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
      aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <h5 class="modal-title">Workspace Request Details</h5>
            <button aria-label="Close" class="close modal-close" title="Close"
              (click)="requestNewWorkspaceFromCatalogDetails.close()" type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body" style="width: 100%; margin: auto;">


            <form [formGroup]="workspaceListViewModel.workspaceListViewModelForm">
              <div class="form-group">

                <div class="row">
                  <div class="col-md-6">
                    <label class="label-control" for="name">Workspace Type</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    {{workspaceListViewModel.workspaceDescriptionLabel}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4" style="padding-top: 15px;">
                    <label class="label-control" for="name">Workspace Name</label>
                  </div>
                  <div class="col-md-4" style="padding-top: 15px;">
                    <label class="label-control" for="name">Root Volume (GB)</label>
                  </div>
                  <div class="col-md-4" style="padding-top: 15px;">
                    <label class="label-control" for="name">User Volume (GB)</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    {{workspaceListViewModel.workspaceNameLabel}}
                  </div>
                  <div class="col-md-4">
                    {{workspaceListViewModel.rootVolumeSizeLabel}}
                  </div>
                  <div class="col-md-4">
                    {{workspaceListViewModel.diskSpaceRequestedLabel}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4" style="padding-top: 15px;">
                    <label class="label-control" for="name">Request By</label>
                  </div>
                  <div class="col-md-4" style="padding-top: 15px;">
                    <label class="label-control" for="name">Needed By</label>
                  </div>
                  <div class="col-md-4" style="padding-top: 15px;">
                    <label class="label-control" for="name">Current Status</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    {{workspaceListViewModel.userNameLabel}}
                  </div>
                  <div class="col-md-4">
                    {{workspaceListViewModel.neededByDateLabel}}
                  </div>
                  <div class="col-md-4">
                    {{workspaceListViewModel.currentStatusNameLabel}}
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-12" style="padding-top: 15px;">
                    <label class="label-control" for="name">Audit Log</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <app-data-table-cmp [viewModel]="workspaceListViewModel.auditDataGrid"> </app-data-table-cmp>
                  </div>
                </div>
                <div *ngIf="workspaceListViewModel.workspaceTagTypeSelectedDetailsList.length != 0">
                  <div class="row" style="padding-top: 15px;"
                    *ngFor="let workspaceTagDetail of workspaceListViewModel.workspaceTagTypeSelectedDetailsList">
                    <div class="col-md-12">
                      <b> {{ workspaceTagDetail.name }}</b>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-12">
                          {{ workspaceTagDetail.selectedTagValues }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel"
              (click)="requestNewWorkspaceFromCatalogDetails.close()">Close </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>


<ngx-smart-modal #requestNewWorkspaceFromCatalog identifier="requestNewWorkspaceFromCatalog"
  class="modal-content dialog no-padding" style="border: 0px !important;">
  <div class="modal-dialog modal-lg" style="width: 115%;">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
      aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <h5 class="modal-title">Request New Workspace from Catalog</h5>
            <button aria-label="Close" class="close modal-close" title="Close"
              (click)="requestNewWorkspaceFromCatalog.close()" type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body" style="width: 100%; margin: auto;">


            <form [formGroup]="workspaceListViewModel.workspaceListViewModelForm">
              <div class="form-group">

                <div class="row">
                  <div class="col-md-6">
                    <label class="label-control" for="name">Bundle Options</label> <span class="text-danger"> * </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <select id="workspaceType" name="workspaceType" required style="height: 30px;width: 100%;"
                      (change)="workspaceListViewModel.changeWorkspaceBundleOptions($event)">
                      <option value="" selected>--Select--</option>
                      <option value="{{catalog}}" *ngFor="let catalog of workspaceListViewModel.bundleOptions" formControlName="workspaceType">
                        {{catalog}}
                      </option>
                    </select>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-6">
                    <label class="label-control" for="name" style="padding-top: 15px;">Regions</label> <span class="text-danger"> *
                    </span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">

                    <select id="workspaceType" name="workspaceType" required style="height: 30px;width: 100%;"
                      (change)="workspaceListViewModel.changeWorkspaceBundle($event)">
                      <option value="" selected>--Select--</option>
                      <option value="{{catalog}}" *ngFor="let catalog of workspaceListViewModel.workspaceCatalogList">
                        {{catalog}}
                      </option>
                    </select>

                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-md-12 col-lg-12 col-xs-12">
                    <label class="label-control" for="pricingModel">
                      Pricing Model <span class="text-danger"> *</span>
                    </label> &nbsp;

                  <input type="radio" (change)="workspaceListViewModel.onPricingModelChange($event)" formControlName="pricingModel" value="Monthly">
                  Monthly
                  <input type="radio" (change)="workspaceListViewModel.onPricingModelChange($event)" formControlName="pricingModel" value="Hourly">
                  Hourly
                </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label class="label-control" for="name" style="padding-top: 15px;">Select Specification for AWS
                      Bundle</label> <span class="text-danger"> * </span>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-12">

                    <select id="workspaceType" name="workspaceType" required style="height: 30px;width: 100%;"
                      (change)="workspaceListViewModel.changeSpecificationForBundleOptions($event)">
                      <option value="" selected>--Select--</option>
                      <ng-container *ngIf="(workspaceListViewModel.isMonthlyPricing || workspaceListViewModel.isHourlyPricing) && workspaceListViewModel.isRegionSelected && workspaceListViewModel.isBundleOptionSelected">
                        <option value="{{bundle.name}}" *ngFor="let bundle of workspaceListViewModel.awsBundleName">
                          {{bundle.name}} GB
                        </option>
                      </ng-container>
                    </select>

                  </div>
                </div>

                <div class="row" *ngIf="workspaceListViewModel.monthValueAlwaysOn && (workspaceListViewModel.isMonthlyPricing || workspaceListViewModel.isHourlyPricing)">
                  <div class="col-md-3" style="padding-top: 15px;" *ngIf="workspaceListViewModel.monthValueAlwaysOn">
                    <label class="label-control" for="name">Monthly Pricing</label>
                  </div>
                  <div class="col-md-4" style="padding-top: 15px;" *ngIf="workspaceListViewModel.monthValueAlwaysOn">
                    <label class="label-control" for="name">$ {{workspaceListViewModel.monthValueAlwaysOn}}</label>
                  </div>
                </div>

                <div class="row" *ngIf="workspaceListViewModel.hourValue || workspaceListViewModel.monthValue">

                  <div class="col-md-3" style="padding-top: 15px;"
                    *ngIf="(workspaceListViewModel.hourValue || workspaceListViewModel.monthValue) && workspaceListViewModel.isHourlyPricing">
                    <label class="label-control" for="name">Hour Pricing</label>
                  </div>
                  <div class="col-md-4" style="padding-top: 15px;"
                    *ngIf="(workspaceListViewModel.hourValue || workspaceListViewModel.monthValue) && workspaceListViewModel.isHourlyPricing">
                    <label class="label-control" for="name"><span
                        *ngIf="workspaceListViewModel.monthValue">${{workspaceListViewModel.monthValue}}/month</span><span
                        *ngIf="workspaceListViewModel.hourValue">+${{workspaceListViewModel.hourValue}}/hour</span></label>
                  </div>
                  <div class="col-md-4" style="padding-top: 15px;" *ngIf="workspaceListViewModel.hourValue && workspaceListViewModel.isHourlyPricing">
                    <a class="label-control" for="name" (click)="workspaceListViewModel.calculatePrice()"><u>Calculate
                        Monthly Pricing</u></a>
                  </div>
                </div>
                <div class="row"
                  *ngIf="workspaceListViewModel.enableCostCalculation && workspaceListViewModel.hourValue && workspaceListViewModel.isHourlyPricing">
                  <div class="col-md-7" style="padding-top: 15px;">
                    <label class="label-control" for="name">Usage hours per day</label>
                      <!-- <div class="col-md-2" style="padding-top: 15px;">

                  </div> -->
                    <input type="text" id="userWorkspaceName" formControlName="hourUsage" (ngModelChange)="workspaceListViewModel.onValueChangeCalculateTotalPrice()" required
                    style="height: 30px;width: 10%;margin-left: 2px;">


                    <label class="label-control" for="name">Usage days per month</label>
                    <input type="text" id="userWorkspaceName" formControlName="dayUsage"  (ngModelChange)="workspaceListViewModel.onValueChangeCalculateTotalPrice()" required
                      style="height: 30px;width: 10%;margin-left: 2px;">
                  </div>


                  <div class="col-md-5" style="padding-top: 15px;" *ngIf="workspaceListViewModel.isHourlyPricing">
                    <label class="label-control" for="name">Monthly Pricing(approx): $
                      {{workspaceListViewModel.totalCost | number: '1.2-2'}}</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12" style="padding-top: 10px;" *ngIf="workspaceListViewModel.enableCostCalculation &&  workspaceListViewModel.hourValue && workspaceListViewModel.isHourlyPricing">
                    <label class="label-control" for="name">Potential Monthly Savings (approx): $
                      {{workspaceListViewModel.monthlySavings | number: '1.2-2'}}</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6" style="padding-top: 15px;">
                    <label class="label-control" for="name">Needed By</label> <span class="text-danger"> * </span>
                  </div>
                </div>
                <div class="row">
                  <!-- {{catalog.awsbundleId}} -  -->
                  <div class="col-md-6">
                    <input type="date" id="neededBy" formControlName="neededBy" required />
                    <div
                      *ngIf="workspaceListViewModel.workspaceListViewModelFormControls.neededBy.invalid &&
                                               (workspaceListViewModel.workspaceListViewModelFormControls.neededBy.dirty ||
                                               workspaceListViewModel.workspaceListViewModelFormControls.neededBy.touched)"
                      class="alert alert-danger">
                      <div style="width: 100%;" class="text-danger"
                        *ngIf="workspaceListViewModel.workspaceListViewModelFormControls.neededBy.errors?.required">
                        Needed by cannot be blank.
                      </div>
                    </div>
                    <!-- {{ workspaceListViewModel.errorFor("workspaceListViewModelForm.neededBy") }} -->

                    <!-- [disabled]="viewModel.modalType === 'Detail'"  -->
                    <!-- <mat-form-field class="font-size ">
                                                     <input type="input" matInput readonly [matDatepicker]="picker1" id="neededBy"
                                                       (click)="picker1.open()" (keydown)="false" formControlName="neededBy" required
                                                       />
                                                     <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                     <mat-datepicker #picker1></mat-datepicker>
                                                   </mat-form-field> -->
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-6" style="padding-top: 15px;">
                    <label class="label-control" for="name">Workspace Name</label> <span class="text-danger"> * </span>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-6">
                    <!-- <mat-form-field > -->
                    <!-- matInput  #userWorkspaceName  -->
                    <input type="text" id="userWorkspaceName" formControlName="userWorkspaceName" required
                      style="height: 30px;width: 100%;">
                    <!-- <mat-error align="start" class="text-danger" *ngIf="workspaceListViewModel.workspaceListViewModelFormControls.userWorkspaceName.errors?.required">
                              Workspace name cannot be blank.
                            </mat-error> -->
                    <div
                      *ngIf="workspaceListViewModel.workspaceListViewModelFormControls.userWorkspaceName.invalid &&
                                    (workspaceListViewModel.workspaceListViewModelFormControls.userWorkspaceName.dirty ||
                                    workspaceListViewModel.workspaceListViewModelFormControls.userWorkspaceName.touched)"
                      class="alert alert-danger">
                      <div style="width: 100%;" class="text-danger"
                        *ngIf="workspaceListViewModel.workspaceListViewModelFormControls.userWorkspaceName.errors?.required">
                        Workspace name cannot be blank.
                      </div>
                    </div>
                    <!-- </mat-form-field> -->


                  </div>

                </div>
                <div class="row">
                  <div class="col-md-12" style="padding-top: 15px;">
                    <label class="label-control" for="name">Reason for request</label> <span class="text-danger"> *
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <textarea id="reasonForRequest" formControlName="reasonForRequest" rows="3"
                      style="width: 100%;"> </textarea>
                    <div
                      *ngIf="workspaceListViewModel.workspaceListViewModelFormControls.reasonForRequest.invalid &&
                                                  (workspaceListViewModel.workspaceListViewModelFormControls.reasonForRequest.dirty ||
                                                  workspaceListViewModel.workspaceListViewModelFormControls.reasonForRequest.touched)"
                      class="alert alert-danger">
                      <div style="width: 100%;" class="text-danger"
                        *ngIf="workspaceListViewModel.workspaceListViewModelFormControls.reasonForRequest.errors?.required">
                        Reason for request cannot be blank.
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="workspaceListViewModel.workspaceTagTypeDetailsList.length != 0">
                  <div class="row"
                    *ngFor="let workspaceTagDetail of workspaceListViewModel.workspaceTagTypeDetailsList">
                    <div class="col-md-12" style="padding-top: 15px;">
                      <label class="label-control"
                        for="{{ workspaceTagDetail.tagName }}">{{ workspaceTagDetail.name }}</label>
                      <ejs-multiselect #dropdown id='custom-list' [dataSource]='workspaceTagDetail.tagValues'
                        [allowCustomValue]='workspaceTagDetail.valueMethodType.isDynamic'
                        (select)='workspaceListViewModel.onSelect($event, workspaceTagDetail)'
                        (removing)='workspaceListViewModel.onRemove($event, workspaceTagDetail)'
                        [mode]='workspaceListViewModel.box' [placeholder]='workspaceListViewModel.waterMark'
                        [fields]='workspaceListViewModel.fields' [value]='workspaceTagDetail.selectedTags'
                        [maximumSelectionLength]='workspaceTagDetail.isMultipleSelection == true ? 100 : 1'>
                      </ejs-multiselect>

                    </div>
                  </div>
                </div>


              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel" (click)="requestNewWorkspaceFromCatalog.close()">Cancel
            </button>
            <button class="btn btn-primary" title="Confirm" (click)="workspaceListViewModel.saveRequest()"
              [disabled]="!( workspaceListViewModel.workspaceListViewModelForm.valid && workspaceListViewModel.workspaceListViewModelForm.dirty)">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>


<ngx-smart-modal #cancelConfirmModalFromList identifier="cancelConfirmModalFromList"
  class="modal-content dialog no-padding" style="border: 0px !important;">>
  <div class="" style="z-index: 1043;">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
      aria-label="Bootstrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <h5 class="modal-title">Cancel Workspace Request Confirmation</h5>
            <button aria-label="Close" class="close modal-close" title="Close"
              (click)="cancelConfirmModalFromList.close()" type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">

            <i class="fa fa-exclamation-triangle color-red" style="padding-right: 5px;"></i> Are you sure you want to
            cancel this workspace request?
            <form [formGroup]="workspaceListViewModel.workspaceListViewModelForm">

              <div class="form-group">
                <!-- class="raisedBox-no-effect"   -->
                <div style="margin-top: 5px;  ">
                  <div class="row" style="padding-top: 15px;">
                    <div class="col-md-3">
                      <b>Comments</b> <span class="text-danger"> * </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <textarea name="cancelDecisionComment" formControlName="cancelDecisionComment" rows="2"
                        style="width: 98%;"> </textarea>
                    </div>
                    <div *ngIf="workspaceListViewModel.blankReasonForCancellation">
                      <span class="text-danger" style="padding-left: 15px;">
                        Enter the reason for cancelling the workspace request.
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12" style="height: 25px;">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel" (click)="cancelConfirmModalFromList.close()"
            type="button">Cancel </button>
            <button class="btn btn-primary" title="Confirm" type="button"
              (click)="workspaceListViewModel.cancelWorkspaceAction()">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</ngx-smart-modal>
