<!-- <div class="row">
    <span class="breadcrum_font padding-left-20"></span> Administration 
    <span class="breadcrum_font">>></span> Target Definition
    <span class="breadcrum_font">>></span> Define Data
    <span class="breadcrum_font">>></span> Preview Target Definition
</div> -->
<div class="main-content">
    <div class="container-fluid">
      <div class="row">
            <div class="col-md-12">
                <div  class="raisedBox" >
                    <div class="panel-heading">
                        <div > <h5 class="entry-title   mt-0"><b>Preview Target Definition</b></h5></div>
                      </div>
                      <div class="panel-body ">
                        <div class="tab-content">
                            <div class="tab-content">
                                <div class="row">
                                  <div class="col-md-4">Select Source</div>
                                  <div class="col-md-4 text-center">Define Data</div>
                                  <div class="col-md-4 text-right">Preview Definition</div>
                                  <progress-bar class="col-md-12" [progress]="targetDefinitionPreviewViewModel.progressValue"></progress-bar>
                              </div>
                            <div class="tab-pane active " id="target-Definition-preview">
                                <!-- <form [formGroup]="targetDefinitionPreviewViewModel.targetDefinitionDetailsForm">   -->
                                    <div class="form-group">
                                        <!-- <div class="row">
                                            <div class="col-md-2 col-sm-3 col-xs-6 col-lg-2">
                                                <label class="label-control" for="txtTDName">Target Definition Progressbar placement</label>
                                            </div>
                                        </div> -->
                                        <div class="row" >
                                            <div class="h5">
                                                Target Name: {{targetDefinitionPreviewViewModel.targetDefinitionName}}
                                            </div>
                                          </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-18 col-xs-12 col-lg-12">
                                                <app-data-table-cmp [viewModel]="targetDefinitionPreviewViewModel.viewModelDataGrid"> </app-data-table-cmp>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="row col-lg-12">
                                               <app-alert-component></app-alert-component> 
                                              </div>
                                          </div>
                                          <div class="row">
                                            <div class="row col-lg-12 col-xs-10" style="padding-top: 25px;">
                                            
                                              <div class="col-lg-6 col-xs-4 "  *ngIf="(targetDefinitionPreviewViewModel.source!=='list')">
                                                  <button   type="button" data-toggle="modal" class="btn btn-default btn-md btn-circled"
                                                      style="padding:right;" id="target-definition-edit-back-btn" (click)="targetDefinitionPreviewViewModel.onPrevious()">
                                                    Previous
                                                  </button>
                                              </div>
                                                                               
                                              <div class="col-lg-6 col-xs-4 "  *ngIf="(targetDefinitionPreviewViewModel.source==='list')">
                                                <button   type="button" data-toggle="modal" class="btn btn-default btn-md btn-circled"
                                                      style="padding:right; margin-left: 5px;"
                                                      id="target-definition-edit-saveChanges-btn" (click)="targetDefinitionPreviewViewModel.navigateToList()"
                                                  >
                                                  Cancel
                                                </button>
                                                 </div>

                                              <div class="col-lg-5 col-xs-5 pull-left text-right"  *ngIf="(targetDefinitionPreviewViewModel.source!=='list')">
                                                <button type="button" data-toggle="modal" 
                                                    class="btn btn-default btn-md btn-primary btn-circled"
                                                      style="padding:right; margin-left: 5px;"
                                                      id="target-definition-edit-saveChanges-btn" (click)="targetDefinitionPreviewViewModel.saveDraftChanges()"
                                                  >
                                                  Save Draft
                                                </button>
                                                 </div>
                                                 <div class="col-lg-1 col-xs-1 pull-left text-right"  *ngIf="(targetDefinitionPreviewViewModel.source!=='list')">
                                                    <button type="button" data-toggle="modal" 
                                                        class="btn btn-default btn-md btn-primary btn-circled"
                                                          id="target-definition-edit-saveChanges-btn" (click)="targetDefinitionPreviewViewModel.activateTargetDefinition()"
                                                      >
                                                      Activate
                                                    </button>
                                              </div>
                                            </div>
                                          </div>

                                    </div>
                                <!-- </form> -->
                            </div>
                        </div>
                      </div>
                    
                </div>
            </div>       
        </div>
    </div>
</div> 

<ngx-smart-modal #targetDefinitionPreviewSaveDraft identifier="targetDefinitionPreviewSaveDraft" class="modal-content dialog no-padding" style="border: 0px !important;">>
    <div class="" style="z-index: 1043;"> 
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" 
    aria-hidden="false" aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
    <div class="nsm-content">
        <div class="nsm-body">
            <div   class="modal-header">
                <h5   class="modal-title">Save Draft</h5>
                <button  aria-label="Close" class="close modal-close" title="Close"   (click)="targetDefinitionPreviewSaveDraft.close()" type="button">
                    <span  class="modal-x-icon" aria-hidden="true">×</span></button>
            </div>
                <div   class="modal-body">
                   <!-- <i class="fa fa-exclamation-triangle color-red" ></i>  -->
                   This action will save the Target Definition in In-Progress state.
                   Are you sure you want to save this version as Draft? 
                </div> 
                       <div  class="modal-footer">
                        <button  class="btn btn-default" title="Cancel"  (click)="targetDefinitionPreviewSaveDraft.close()" type="button">Cancel </button>
                         <button  class="btn btn-primary" title="Confirm" type="button" (click)="targetDefinitionPreviewViewModel.saveDraft()">Confirm</button>
                        </div>
            </div></div>
        </div>  </div>

</ngx-smart-modal>


<ngx-smart-modal #targetDefinitionPreviewPublishConfirm identifier="targetDefinitionPreviewPublishConfirm" class="modal-content dialog no-padding" style="border: 0px !important;">>
    <div class="" style="z-index: 1043;"> 
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" 
    aria-hidden="false" aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
    <div class="nsm-content">
        <div class="nsm-body">
            <div   class="modal-header">
                <h5   class="modal-title">Activate Target Definition</h5>
                <button  aria-label="Close" class="close modal-close" title="Close"   (click)="targetDefinitionPreviewPublishConfirm.close()" type="button">
                    <span  class="modal-x-icon" aria-hidden="true">×</span></button>
            </div>
                <div   class="modal-body">
                   <!-- <i class="fa fa-exclamation-triangle color-red" ></i>  -->
                   <!-- Publishing new version of Target Definition will inactive existing version of Target Definition. -->
                   Are you sure you want to activate this version of Target Definition? 
                </div> 
                       <div  class="modal-footer">
                        <button  class="btn btn-default" title="Cancel"  (click)="targetDefinitionPreviewPublishConfirm.close()" type="button">Cancel </button>
                         <button  class="btn btn-primary" title="Confirm" type="button" (click)="targetDefinitionPreviewViewModel.saveAndActivateTargetDefinition()">Confirm</button>
                        </div>
            </div></div>
        </div>  </div>

</ngx-smart-modal>
