<div class="row">
  <div class="col-md-12">
    <app-alert-component></app-alert-component>
  </div>
</div>
<div class="row">
  <div class="col-md-12 dashboard-widget-wrapper">
    <ng-container *ngIf="employeeDashboardListViewModel.srcWithToken">
      <iframe [src]="employeeDashboardListViewModel.srcWithToken" height="100%"></iframe>
    </ng-container>
  </div>
</div>