<div class="row">
  <div class="col-md-12">
    <div class="card-body table-responsive">
      <div class="raisedBox">
        <h5 class="entry-title mt-0">
          <b>Utilities List</b>
          <span class="filter-text" *ngIf="utilitiesListViewModel.filterInfo.filterStatus"> - Filter : Status - {{utilitiesListViewModel.filterInfo.filterStatus}} &nbsp;&nbsp;&nbsp;&nbsp;</span>
          <button type="button" (click)="utilitiesListViewModel.clearFilter()" *ngIf="utilitiesListViewModel.filterInfo.filterStatus"
              class="btn btn-link btn-md btn-primary p-0">Clear Filter</button>
        </h5>
        <div
          *ngIf="utilitiesListViewModel.userRolePermission.canExecute && utilitiesListViewModel.utilitiesOriginalData && utilitiesListViewModel.utilitiesOriginalData.length"
          class="row btn-section col-xs-12 col-md-12 col-sm-12 col-lg-12">
          <div class="row col-xs-12 col-md-12 col-sm-12 col-lg-12 pull-right utility-highcharts">
            <highcharts-chart [Highcharts]="utilitiesListViewModel.highcharts"
              [options]="utilitiesListViewModel.chartOptions" class="highChartPosition">
            </highcharts-chart>
          </div>
        </div>
        <div
          *ngIf="utilitiesListViewModel.userRolePermission.canExecute || utilitiesListViewModel.userRolePermission.canUpdate"
          class="row btn-section">
          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 pull-right ">
            <div data-toggle="modal" (click)="utilitiesListViewModel.openRequestUtilityModel()"
              class="btn btn-default btn-md btn-primary create-utility-heading-style">
              Create Utility
            </div>
          </div>
        </div>
        <app-alert-component></app-alert-component>
        <app-extended-data-table-cmp [viewModel]="utilitiesListViewModel.viewModelDataGrid">
        </app-extended-data-table-cmp>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #requestUtilityModel identifier="requestUtilityModel" [dismissable]="false" (onAnyCloseEvent)="utilitiesListViewModel.onPopUpClose('requestUtilityModel')"
  class="modal-content dialog no-padding border-zero-px">
  <div class="modal-dialog modal-lg smart-modal-width">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
      aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <div *ngIf="utilitiesListViewModel.modalType === 'Create'">
              <h4 class="modal-title">Create Utility</h4>
            </div>
            <button aria-label="Close" class="close modal-close" title="Close"  (click)="utilitiesListViewModel.onPopUpClose('requestUtilityModel')" type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body smart-modal-body-styles">
            <form [formGroup]="utilitiesListViewModel.utilitiesRequestModelForm">
              <div class="form-group">
                <div class="row form-group">
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
                    <label class="label-control form-label-color" for="txtRoleName">Name</label>
                    <span class="text-danger mandatory-field-color"> *</span>
                  </div>

                  <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                    <mat-form-field class="col-lg-9 col-md-8 col-sm-8">

                      <input type='text' aria-label='name' class="form-control col-lg-12 col-md-12 col-sm-12" matInput
                        #name required formControlName="name">
                      <mat-error align="start" class="text-danger">
                        {{utilitiesListViewModel.errorFor(utilitiesListViewModel.utilitiesRequestModelForm, "name")}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row form-group margin-bottom-zero">
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
                    <label class="label-control form-label-color" for="txtDashboardDesc">Description</label>
                    <span class="text-danger mandatory-field-color"> *</span>
                  </div>

                  <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                    <mat-form-field class="col-lg-9 col-md-8 col-sm-8">
                      <textarea type="text" aria-label='description' class="form-control col-lg-12 col-md-12 col-sm-12"
                        matInput #description required rows="3" formControlName="description" cols="50"></textarea>

                      <mat-error align="start" class="text-danger">
                        {{utilitiesListViewModel.errorFor(utilitiesListViewModel.utilitiesRequestModelForm,
                        "description")}}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
                    <label class="label-control form-label-color" for="txtDashboardDesc">Utility File</label>
                    <span class="text-danger mandatory-field-color"> *</span> <i
                      class="icon material-icons cursor text-info material-icon-style"
                      title="Accepts zip file also (for multiple file uploads) & Max file size is 12MB">info</i>
                  </div>

                  <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                    <input type='file' aria-label='utilityFileUpload' class="form-control col-lg-12 col-md-12 col-sm-12"
                      id="utilityFileUpload" single name="utilityFileUpload"
                      (change)="utilitiesListViewModel.fileChanged($event, true)">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
                    <label class="label-control form-label-color" for="txtDashboardDesc">Help File</label>
                    <i class="icon material-icons cursor text-info material-icon-style"
                      title="Accepts zip file also (for multiple file uploads)  & Max file size is 12MB">info</i>
                  </div>

                  <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                    <input type='file' aria-label='helpFileUpload' class="form-control col-lg-12 col-md-12 col-sm-12"
                      id="helpFileUpload" single name="helpFileUpload"
                      (change)="utilitiesListViewModel.fileChanged($event, false)">
                  </div>
                </div>

                <div class="row form-group margin-bottom-zero">
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <label class="label-control form-label-color" for="isPublic">Available for all users</label>
                    <span class="text-danger mandatory-field-color"> *</span>
                  </div>

                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding-left-zeroPx">
                    <mat-slide-toggle #isPublic formControlName="isPublic">
                      <span class="dummy-label-style">Available for all users</span>
                      <!-- 508 fix-->
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
            </form>
            <div *ngIf="utilitiesListViewModel.isShowMessage && utilitiesListViewModel.messageData">
              <div [ngClass]="{ 'alert': utilitiesListViewModel.messageData, 'alert-success': utilitiesListViewModel.messageData.type === 'success', 'alert-danger': utilitiesListViewModel.messageData.type === 'error',
                'alert-info': utilitiesListViewModel.messageData.type === 'info'}"
                class="alert alert-info alert-panel">
                <p class="text-center"> {{ utilitiesListViewModel.messageData.message }} </p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel" (click)="utilitiesListViewModel.closeRequestUtilityModel()" >Cancel</button>
            <button *ngIf="utilitiesListViewModel.modalType === 'Create'" class="btn btn-primary"
              title="Submit for Approval" (click)="utilitiesListViewModel.submitUtilityRequest()"
              [disabled]="!(utilitiesListViewModel.utilitiesRequestModelForm.valid && utilitiesListViewModel.utilitiesRequestModelForm.dirty) || utilitiesListViewModel.utilityFile == null">Submit
              for Approval</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #discardConfirmationUtilityModel identifier="discardConfirmationUtilityModel" [dismissable]="false" (onAnyCloseEvent)="utilitiesListViewModel.onPopUpClose('discardConfirmationUtilityModel')"
  class="modal-content dialog no-padding border-zero-px">
  <div class="z-index-style">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm z-index-style" aria-hidden="false"
      aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <h5 class="modal-title">Confirmation</h5>
            <button aria-label="Close" class="close modal-close" title="Close"
              (click)="utilitiesListViewModel.closeDiscardConfirmation()" type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body form-label-color">
            <i class="fa fa-exclamation-triangle color-red"></i> Are you sure all the changes will be discarded?
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel" (click)="utilitiesListViewModel.closeDiscardConfirmation()"
            type="button">Cancel </button>
            <button class="btn btn-primary" title="Confirm" type="button"
              (click)="utilitiesListViewModel.discardConfirmed()">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #approveModalFromList identifier="approveModalFromList" [dismissable]="false" (onAnyCloseEvent)="utilitiesListViewModel.onPopUpClose('approveModalFromList')"
  class="modal-content dialog no-padding border-zero-px">
  <div class="z-index-style">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm z-index-style" aria-hidden="false"
      aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <h5 class="modal-title">{{utilitiesListViewModel.modalTitle}} </h5>
            <button aria-label="Close" class="close modal-close" title="Close" (click)="utilitiesListViewModel.onPopUpClose('approveModalFromList')"
              type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="utilitiesListViewModel.utilitiesApproveRejectForm">
              <div class="row form-group">
                <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3" *ngIf="!utilitiesListViewModel.isViewComment">
                  <label class="label-control form-label-color " for="txtRoleDesc">Comments</label>
                  <span class="text-danger mandatory-field-color" *ngIf="!utilitiesListViewModel.isViewComment">
                    *</span>
                </div>

                <mat-form-field class="col-lg-8 col-md-8 col-sm-8" *ngIf="!utilitiesListViewModel.isViewComment">
                  <textarea type="text" aria-label='comments' matInput rows="3"
                    class="form-control col-lg-4 col-md-4 col-sm-4" formControlName="comments" cols="100"></textarea>
                </mat-form-field>
                <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="utilitiesListViewModel.isViewComment">
                  <p>{{ utilitiesListViewModel.approveOrRejectComment }}</p>
                </div>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel" (click)="approveModalFromList.close()" type="button">Close
            </button>
            <button class="btn btn-primary" *ngIf="utilitiesListViewModel.isApproveOrReject" title="Approve"
              type="button" (click)="utilitiesListViewModel.approveOrRejectOrCancel('Approved')"
              [disabled]="!(utilitiesListViewModel.utilitiesApproveRejectForm.valid && utilitiesListViewModel.utilitiesApproveRejectForm.dirty)">Approve</button>
            <button class="btn btn-primary" *ngIf="utilitiesListViewModel.isApproveOrReject" title="Reject"
              type="button" (click)="utilitiesListViewModel.approveOrRejectOrCancel('Rejected')"
              [disabled]="!(utilitiesListViewModel.utilitiesApproveRejectForm.valid && utilitiesListViewModel.utilitiesApproveRejectForm.dirty)">Reject</button>
            <button class="btn btn-primary"
              *ngIf="!utilitiesListViewModel.isApproveOrReject && !utilitiesListViewModel.isViewComment " title="Save"
              type="button" (click)="utilitiesListViewModel.approveOrRejectOrCancel('Cancelled')"
              [disabled]="!(utilitiesListViewModel.utilitiesApproveRejectForm.valid && utilitiesListViewModel.utilitiesApproveRejectForm.dirty)">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>
