.width-100 {
  width: 100% !important;
}

.margin-bottom-zero {
  margin-bottom: 0px !important;
}

.padding-left-zeroPx {
  padding-left: 0px !important;
}

.material-icon-style {
  font-size: 21px;
  padding-left: 6px;
  position: absolute;
}

.filter-text {
  font-weight: 100;
}

.alert-panel {
  padding: 5px !important;
}

.border-zero-px {
  border: 0px !important;
}
.highChartPosition {
  width: 50%; 
  height: 200px; 
  display: block;
}

.form-label-color {
  color:black
}

.mandatory-field-color{
  color:#d50000;
  font-weight: 500;
}

.create-utility-heading-style{
  float: right;
}

.smart-modal-width{
  width: 95%;
}

.smart-modal-body-styles{
  width: 100%; 
  margin: auto;
}

.z-index-style {
  z-index: 1043;
}
.dummy-label-style{
  display: none;
}