<div class="main-content">
    <section id="home" class="divider parallax layer-overlay">      
      <div class="display-table" style="background-image: url('../assets/images/banner-bg.jpg');">
        <div class="display-table-cell">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-md-push-1">            
                <div class="widget bg-lightest border-1px p-30">
                  <div class="widget border-1px p-30">
                    <div class=" mb-20" style="float: left;">
                      <a routerLink="" class=""><img src="assets/images/logo.png" alt="Logo" style="
                        height: 65px;
                        width: 135px;
                        text-align: left;">
                      </a>
                    </div> 
  
                    <h2 style="margin-left:160px; font-size:24px !important; padding-left:50px">Set Password</h2>
                    
                    <div class="row ">
                      <div class="col-lg-12">
                        <app-alert-component></app-alert-component>
                      </div>
                    </div>
              
                    <div class="row pt-30">
                      <div class="col-md-4">  </div>
                      <div class="col-md-4">          
                        <form class="form-horizontal form" [formGroup]='viewModel.setPwdForm' novalidate>
                            
                              
                                <!-- <div class="input-group" *ngIf="viewModel.formMode === 'RESET'">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="material-icons">lock_outline</i>
                                    </span>
                                  </div>
                                  <input class="form-control" aria-label="current password" type="password"
                                    placeholder="Current Password *" formControlName="oldPassword">
                                </div> -->
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <!-- <i class="fas fa-lock"></i> -->
                                    </span>
                                  </div>
                                  <div class="row">
                                    <div class="col-6">
                                  <label for = "NewPassword">New Password <span class = "text-danger">*</span></label>
                                </div>
                                  <div class="col-6">
                                  <input class="form-control" aria-label="new password" type="password" 
                                    formControlName="NewPassword">
                                  </div>
                                  </div>
                                </div>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <!-- <i class="fas fa-lock"></i> -->
                                    </span>
                                  </div>
                                  <label for = "ConfirmPassword">Confirm Password <span class = "text-danger">*</span></label>
                                  <input class="form-control" type="password" onCopy="return false" onPaste="return false"
                                    aria-label="confirm password" 
                                    formControlName="ConfirmPassword">
            
                                </div>
                                <div class="clearfix"></div>
                              
                              
                                <!-- <div class="policies">
                                  <div class="policy">
                                    <span> Your password must contain : </span>
                                    <label class="col popOverTitle"
                                      [ngClass]="!isMinLength  ? 'text-danger' : 'text-success'">
                                      <i [ngClass]="!isMinLength  ? 'fas fa-times' : 'far fa-check-circle'"></i>
                                      <span> Must be at least 6 characters!</span>
                                    </label>
                                    <label *ngIf="isHavingNumericValidation" class="col popOverTitle"
                                      [ngClass]="!isHavingNumerical  ? 'text-danger' : 'text-success'">
                                      <i [ngClass]="!isHavingNumerical  ? 'fas fa-times' : 'far fa-check-circle'"></i>
                                      <span> Must contain at least 1 number!</span>
                                    </label>
                                    <label *ngIf="isHavingCapitalValidation" class="col popOverTitle"
                                      [ngClass]="!isHavingCapitalLetter  ? 'text-danger' : 'text-success'">
                                      <i [ngClass]="!isHavingCapitalLetter  ? 'fas fa-times' : 'far fa-check-circle'"></i>
                                      <span>Must contain at least 1 in Capital Case!</span>
                                    </label>
                                    <label *ngIf="isHavingSmallValidation" class="col popOverTitle"
                                      [ngClass]="!isHavingSmallLetter  ? 'text-danger' : 'text-success'">
                                      <i [ngClass]="!isHavingSmallLetter  ? 'fas fa-times' : 'far fa-check-circle'"></i>
                                      <span>Must contain at least 1 Letter in Small Case!</span>
                                    </label>
                                    <label *ngIf="isHavingSpecialValidation" class="col popOverTitle"
                                      [ngClass]="!isHavingSpecialCharacter ? 'text-danger' : 'text-success'">
                                      <i [ngClass]="!isHavingSpecialCharacter  ? 'fas fa-times' : 'far fa-check-circle'"></i>
                                      <span>Must contain at least 1 Special Character!</span>
                                    </label>
                                  </div>
                                </div> -->
                              
                            
                            </form>
                      </div>   
                      <div class="col-md-4">  </div>       
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 
  </div>  
