.card-header-default {
    background: linear-gradient(60deg, #d2d2d2, #999999);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(153, 153, 153, 0.28);
  }
  
  .policies {
    padding: 1px 3px;
    line-height: 17px;
    margin-top: 5%;
    margin-left: 6%;
    font-size: 12px;
    border-style: solid 1px;
    border-color: #e6e6e6;
    background-color: #e6e6e6;
    width: 104%;
  }
  
  .policy {
    text-align: left;
  }
  
  .wrapper {
    padding: 0 !important;
  }
  
  .login-panel {
    position: unset !important;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  
  .footer {
    position: unset !important;
    border: none !important;
    margin-top: 1rem !important;
    padding: 0;
  }
  
  .alert {
    padding: 10px 15px !important;
    margin-right: 25px !important;
  }
  
  .alert-comp-div {
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 5px;
  }
  
  .popOverTitle{
    font-size: 11px !important;
  }
  
  .login-page .form {
    max-width: 550px;
  }
  .card-body{
    width:550px !important;
  }
  
  
  