<div class="row">
  <div class="col-md-12">
    <div class="card-body table-responsive">
      <div class="raisedBox">
        <h5 class="entry-title mt-0">
          <b>Environment List </b>
          <span class="filter-text" *ngIf="environmentListViewModel.enableClearFilterButton"> - Filter : Status - {{environmentListViewModel.statusForFilter}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <button type="button" (click)="environmentListViewModel.clearFilter()" *ngIf="environmentListViewModel.enableClearFilterButton"
              class="btn btn-link btn-md btn-primary p-0">Clear Filter</button>
        </h5>

        <div class="row btn-section">
          <div class="row col-xs-12 col-md-12 col-sm-12 col-lg-12 pull-right">
            <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
              <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12"
                *ngIf="environmentListViewModel.environmentRequestList && environmentListViewModel.environmentRequestList.length">
                <highcharts-chart [Highcharts]="environmentListViewModel.highcharts"
                  [options]="environmentListViewModel.chartOptions"
                  (click)="environmentListViewModel.onPointSelect($event)"
                  style="width: 100%; height: 200px; display: block;">
                </highcharts-chart>
              </div>
            </div>
            <div class="row col-xs-4 col-md-4 col-sm-4 col-lg-4 pull-right">
              <!-- <label class="col-md-4 label-control" for="name">Region</label>
                <div class="col-md-8">
                  <ng-select [items]="environmentListViewModel.workspaceCatalogList" bindLabel="name" [multiple]="false"
                    placeholder="--Select--" (change)="environmentListViewModel.getEnvironmentRequestByRegion($event)">
                  </ng-select>
              </div> -->
            </div>
            <div class="row col-xs-4 col-md-4 col-sm-4 col-lg-4 pull-right">
              <!-- <label class="col-md-5 label-control" for="name">Bundle Options</label>
              <div class="col-md-7">
                <ng-select [items]="environmentListViewModel.bundleOptions" bindLabel="name" [multiple]="false"
                  placeholder="--Select--"
                  (change)="environmentListViewModel.getEnvironmentRequestByBundleOption($event)">
                </ng-select>
              </div> -->
            </div>
          </div>
        </div>

        <div class="row btn-section">
          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <div class="position-relative">
              <span >
               
              </span>
            </div>
            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 pull-right"
              *ngIf="environmentListViewModel.userRolePermission.canCreate">
              <div data-toggle="modal" (click)="environmentListViewModel.redirectToCreate()"
                class="btn btn-default btn-md btn-primary" style="float: right;">
                New Environment Request
              </div>
            </div>
          </div>
        </div>
        <app-alert-component></app-alert-component>
        <app-data-table-cmp [viewModel]="environmentListViewModel.viewModelDataGrid"> </app-data-table-cmp>
      </div>
    </div>

    <ngx-smart-modal #beneficiarymModal identifier="beneficiarymModal" class="modal-content dialog no-padding"
      style="border: 0px !important;" [dismissable]="false"
      (onAnyCloseEvent)="environmentListViewModel.onPopUpClose('beneficiarymModal')">
      <!-- <div class="overlay nsm-overlay-open" style="z-index: 1043;"> -->
      <div class="" style="z-index: 1043;">
        <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-md" aria-hidden="false"
          aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
          <div class="nsm-content">
            <div class="nsm-body">
              <div class="modal-header">
                <h5 class="modal-title">Beneficiary</h5>
                <button aria-label="Close" class="close modal-close" title="Close"
                  (click)="environmentListViewModel.onPopUpClose('beneficiarymModal')" type="button">
                  <span class="modal-x-icon" aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                <app-data-table-cmp [viewModel]="environmentListViewModel.beneficiaryViewModelDataGrid">
                </app-data-table-cmp>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" title="Close"
                  (click)="environmentListViewModel.onPopUpClose('beneficiarymModal')" type="button">Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </ngx-smart-modal>
    <ngx-ui-loader></ngx-ui-loader>
    <ngx-smart-modal #cancelConfirmModal identifier="cancelConfirmModal" class="modal-content dialog no-padding"
      style="border: 0px !important;" [dismissable]="false"
      (onAnyCloseEvent)="environmentListViewModel.onPopUpClose('cancelConfirmModal')">
      <!-- <div class="overlay nsm-overlay-open" style="z-index: 1043;"> -->
      <div class="" style="z-index: 1043;">
        <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
          aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
          <div class="nsm-content">
            <div class="nsm-body">
              <div class="modal-header">
                <h5 class="modal-title">Cancel Confirmation</h5>
                <button aria-label="Close" class="close modal-close" title="Close"
                  (click)="environmentListViewModel.onPopUpClose('cancelConfirmModal')" type="button">
                  <span class="modal-x-icon" aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                <i class="fa fa-exclamation-triangle color-red"></i> Are you sure you want to cancel the
                request?
              </div>
              <div class="modal-footer">
                <button class="btn btn-default" title="Cancel"
                  (click)="environmentListViewModel.onPopUpClose('cancelConfirmModal')" type="button">Cancel </button>
                <button class="btn btn-primary" title="Confirm" type="button"
                  (click)="environmentListViewModel.onCancelConfirm('Cancelled')">Confirm</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </ngx-smart-modal>

    <ngx-smart-modal #terminateConfirmationModal identifier="terminateConfirmationModal"
      class="modal-content dialog no-padding" style="border: 0px !important;" [dismissable]="false"
      (onAnyCloseEvent)="environmentListViewModel.onPopUpClose('terminateConfirmationModal')">
      <!-- <div class="overlay nsm-overlay-open" style="z-index: 1043;"> -->
      <div class="" style="z-index: 1043;">
        <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
          aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
          <div class="nsm-content">
            <div class="nsm-body">
              <div class="modal-header">
                <h5 class="modal-title">Terminate Confirmation</h5>
                <button aria-label="Close" class="close modal-close" title="Close"
                  (click)="environmentListViewModel.onPopUpClose('terminateConfirmationModal')" type="button">
                  <span class="modal-x-icon" aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12 col-lg-12 col-xs-12">
                    Are you sure you want to terminate the Request?
                    <br><br>
                    <mat-checkbox class="example-margin pl-10" [(ngModel)]="environmentListViewModel.isRevokingFileAccess"> Revoke assigned dataset and utility files permission</mat-checkbox>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" title="Confirm" type="button"
                  (click)="environmentListViewModel.onTerminateConfirm('Terminated')">Confirm</button>
                <button class="btn btn-secondary" title="Close"
                  (click)="environmentListViewModel.onPopUpClose('terminateConfirmationModal')" type="button">Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </ngx-smart-modal>
  </div>
</div>