.new-dialog-sm {
    top: 100px !important;
  }

a {
    color: #337ab7 !important;
    text-decoration: none !important;
}
#listPerPage{
  min-width: 65px !important;
}

.position-relative {
  position: relative;
}

.position-bottom-center {
  margin-left: 47%;
}

.filter-text {
  font-weight: 100;
}
