  .highcharts-figure, .highcharts-data-table table {
    min-width: 360px; 
    max-width: 800px;
    margin: 1em auto;
  }
  
  .highcharts-data-table table {
      font-family: Verdana, sans-serif;
      border-collapse: collapse;
      border: 1px solid #EBEBEB;
      margin: 10px auto;
      text-align: center;
      width: 100%;
      max-width: 500px;
  }
  .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }
  .highcharts-data-table th {
      font-weight: 600;
    padding: 0.5em;
  }
  .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
  }
  .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }
  .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }


  .highcharts-figure, .highcharts-data-table table {
  min-width: 320px; 
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

input[type="number"] {
	min-width: 50px;
}

.dashboard-widget-wrapper {
  height: 100vh;
}

.dashboard-wrapper {

  .container {
      width: 100%;
  }
  .icon-box {
     height: 250px;
  }
}

.work-space-stopped{
  color: #ff0000;
    font-size: 36px;
    padding-top: 15px;
    font-weight: bold;
}

.widget-note {
  color: white;
  font-size: 12px;
}

.storage-chart, .available-dataset-grid, .available-utilities, .assigned-resource {
  min-height: 500px;
}

.title-size {
  font-size:16px;
  color:#fff;
}

.bg-color-B2B639 {
  background-color:#B2B639;
}

.bg-color-8892d6 {
  background-color:#8892d6;
} 

.bg-color-EC332A {
  background-color:#EC332A;
}

.bg-color-3E9A68 {
  background-color:#3E9A68;
} 

.bg-color-2A9AEC {
  background-color:#2A9AEC;
}

.bg-color-83C029 {
  background-color:#83C029;
}

.background-color-grey {
  background-color:#889fb0;
}

.color-fff {
  color:#fff;
}

.color-ffff09 {
  color:#ffff09;
}

.height-46 {
  height:46px;
}

.height-42 {
  height:42px;
}

.padding-top {
  padding-top: 20px !important;
}

.custom-size-color{
  font-size: unset;
  font-size: 20px !important;
  color:#fff;
}

.background-color-green {
  background-color: #00cc00;
}
.background-color-blue {
  background-color: #0000ff;
}
.background-color-orange {
 background-color: #ffa500;
}
.background-color-red {
  background-color: #ff0000;
}
.widget-text-font {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}