<div class="main-content dashboard-wrapper">
  <!--Chart -->
  <section>
    <ngx-ui-loader></ngx-ui-loader>

    <div class="container" class="padding-top">
      <div class="section-content">

        <div class="row text-center">
          <div *ngIf="dashboardViewViewModel?.environmentRolePermission?.canExecute" class="col-sm-6 col-md-2">
            <div class="icon-box icon-box-new bg-color-8892d6">
              <ul class="styled-icons icon-dark icon-bordered icon-circled">
                <li> <img src="assets/images/workspace-removebg-preview.png" class="height-42" alt="Resubmission" />
                </li>
              </ul>
              <span
                class="widget-font">{{dashboardViewViewModel?.environmentWidgetsData?.totalNumberOfWorkSpacesAssigned ?
                dashboardViewViewModel?.environmentWidgetsData?.totalNumberOfWorkSpacesAssigned:
                0}}</span>
              <h5 class="icon-box-title title-size">Total # of Workspaces
                Assigned</h5>

            </div>
          </div>
          <div
            *ngIf="dashboardViewViewModel.isSystemAdmin || dashboardViewViewModel?.utilityModulePermission?.canExecute"
            class="col-sm-6 col-md-2">
            <div class="icon-box icon-box-new bg-color-3E9A68">
              <ul class="styled-icons icon-dark icon-bordered icon-circled">

                <li><img src="assets/images/approved.png" class="height-42" alt="Approval" /></li>
              </ul>
              <a routerLink=""
                (click)="dashboardViewViewModel.routeToUtilityRequestList(dashboardViewViewModel.UtilityStatus.SUBMITTED_WAITING_FOR_APPROVAL, dashboardViewViewModel.UTILITY_FILTER_TYPE.ALL_APPROVAL_WAITING_FORM)">
                <span
                  class="widget-font"><u>{{dashboardViewViewModel?.utilityWidgetsData?.numberOfUtilitiesWaitingForApproval ? dashboardViewViewModel?.utilityWidgetsData?.numberOfUtilitiesWaitingForApproval : 0 }}</u></span>
                <h5 class="icon-box-title title-size"># of Utilities waiting for Approval</h5>
                <i class="fa fa-info-circle custom-size-color"
                  title="The count does not include the requests that you've submitted"></i>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-md-2"
            *ngIf="dashboardViewViewModel.isSystemAdmin || dashboardViewViewModel?.datasetExtractionModulePermission?.canExecute">
            <div class="icon-box icon-box-new bg-color-2A9AEC">
              <ul class="styled-icons icon-dark icon-bordered icon-circled">
                <li><img src="assets/images/resubmission1.png" class="height-42" alt="Resubmission" />
                </li>
              </ul>
              <a routerLink="" (click)="dashboardViewViewModel.gotoDatasetExtractionsAwaitingReview()">
                <span class="widget-font"><u>{{dashboardViewViewModel?.datasetExtraction?.awaitingApproval}}</u></span>
                <h5 class="icon-box-title title-size">
                  # of Data Extractions Waiting for Approval
                </h5>
              </a>
              <i class="fa fa-info-circle custom-size-color"
              title="The count does not include the requests that you've submitted"></i>
            </div>
          </div>
          <div class="col-sm-6 col-md-2"
          *ngIf="dashboardViewViewModel.isSystemAdmin || dashboardViewViewModel?.environmentRolePermission?.canExecute">
          <div class="icon-box icon-box-new bg-color-B2B639">
            <ul class="styled-icons icon-dark icon-bordered icon-circled">
              <li><img src="assets/images/approve1.png" class="height-46" alt="Approval" /></li>
            </ul>
            <a routerLink=""
              (click)="dashboardViewViewModel.gotoEnvironmentsAwaitingReview(dashboardViewViewModel.environmentStatus.Submitted)">
              <span class="widget-font">
                <u> {{dashboardViewViewModel?.environmentListData?.reviewCount}}</u>
              </span>
              <h5 class="icon-box-title title-size">
                # of Environment Requests Waiting for Approval
              </h5>
            </a>
            <i class="fa fa-info-circle custom-size-color"
              title="The count does not include the requests that you've submitted"></i>
          </div>
        </div>

          <div
            *ngIf="(dashboardViewViewModel?.environmentRolePermission?.canCreate || dashboardViewViewModel?.environmentRolePermission?.canUpdate) && dashboardViewViewModel?.environmentWidgetsData?.numberOfResubmissionsRequestedByUserId"
            class="col-sm-6 col-md-2">
            <div class="icon-box icon-box-new bg-color-2A9AEC">
              <ul class="styled-icons icon-dark icon-bordered icon-circled">
                <li><img src="assets/images/resubmission1.png" class="height-42" alt="Resubmission" />
                </li>
              </ul>
              <span
                class="widget-font">{{dashboardViewViewModel?.environmentWidgetsData?.numberOfResubmissionsRequestedByUserId}}</span>
              <h5 class="icon-box-title title-size"># of Resubmissions Requested
              </h5>
            </div>
          </div>
          <div *ngIf="dashboardViewViewModel?.environmentRolePermission?.canExecute || (dashboardViewViewModel?.environmentRolePermission?.canCreate || dashboardViewViewModel?.environmentRolePermission?.canUpdate)" class="col-sm-6 col-md-2">
            <div class="icon-box icon-box-new background-color-grey">
              <ul class="styled-icons icon-dark icon-bordered icon-circled">
                <li><img src="assets/images/resubmission1.png" class="height-42" alt="Resubmission" />
                </li>
              </ul>
              <a routerLink=""
                (click)="dashboardViewViewModel.gotoEnvironmentsAwaitingReview(dashboardViewViewModel.environmentStatus.RequestChanges)">
                <span
                  class="widget-font"><u>{{dashboardViewViewModel?.environmentWidgetsData?.numberOfResubmissionsRequested
                    ?
                    dashboardViewViewModel?.environmentWidgetsData?.numberOfResubmissionsRequested : 0}}</u></span>
                <h5 class="icon-box-title title-size"># of Resubmissions Requested
                </h5>
              </a>
            </div>
          </div>
          <div *ngIf="dashboardViewViewModel?.environmentWidgetsData?.utilizationPercentage" class="col-sm-6 col-md-2">
            <div
              [ngClass]="'icon-box icon-box-new ' + dashboardViewViewModel?.environmentWidgetsData?.utilizationPercentageColor">
              <ul class="styled-icons icon-dark icon-bordered icon-circled">
                <li> <i
                    [ngClass]="dashboardViewViewModel?.environmentWidgetsData?.utilizationPercentageColor === 'background-color-green' ? 'fa fa-thumbs-o-up color-fff' : 'fa fa-exclamation-triangle color-ffff09'"></i>
                </li>
              </ul>
              <span
                class="widget-font">{{dashboardViewViewModel?.environmentWidgetsData?.utilizationPercentage}}%</span>
              <h5 class="icon-box-title title-size">My Storage Utilization</h5>

            </div>
          </div>
        <div *ngIf="dashboardViewViewModel?.environmentWidgetsData?.workspaceStatus" class="col-sm-6 col-md-2">
            <div class="icon-box icon-box-new bg-color-8892d6">
              <ul class="styled-icons icon-dark icon-bordered icon-circled">
                <li> <img src="assets/images/workspace-removebg-preview.png" class="height-42" alt="Workspace Status" />
                </li>
              </ul>
              <img
                *ngIf="dashboardViewViewModel?.environmentWidgetsData?.workspaceStatus === dashboardViewViewModel.workspaceStatus.AVAILABLE"
                class="widget-font" src="assets/images/check-mark.png" class="height-42" alt="Available"
                [title]="dashboardViewViewModel.workspaceStatus.AVAILABLE" />
              <i *ngIf="dashboardViewViewModel?.environmentWidgetsData?.workspaceStatus === dashboardViewViewModel.workspaceStatus.STOPPED"
                class="fa fa-ban work-space-stopped" aria-hidden="true"
                [title]="dashboardViewViewModel.workspaceStatus.STOPPED"></i>
              <i *ngIf="dashboardViewViewModel?.environmentWidgetsData?.workspaceStatus === dashboardViewViewModel.workspaceStatus.TERMINATED"
                class="fa fa-times work-space-stopped" aria-hidden="true"
                [title]="dashboardViewViewModel.workspaceStatus.TERMINATED"></i>
              <span
                *ngIf="dashboardViewViewModel?.environmentWidgetsData?.workspaceStatus === dashboardViewViewModel.workspaceStatus.PENDING"
                class="widget-text-font">{{dashboardViewViewModel?.environmentWidgetsData?.workspaceStatus}}</span>
              <h5 class="icon-box-title title-size">My Workspace Status</h5>

            </div>
          </div>
          <div class="col-sm-6 col-md-2" *ngIf="dashboardViewViewModel?.datasetExtractionModulePermission?.canCreate">
            <div class="icon-box icon-box-new bg-color-EC332A">
              <ul class="styled-icons icon-dark icon-bordered icon-circled">
                <li> <i class="fa fa-exclamation-triangle color-ffff09"></i></li>
              </ul>
              <a routerLink="" (click)="dashboardViewViewModel.gotoFailedDatasetExtractions()">
                <span class="widget-font"><u>{{dashboardViewViewModel?.datasetExtraction?.failedCount}}</u></span>
                <h5 class="icon-box-title title-size">
                  # of Data Extractions Failed
                </h5>
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-md-6"
            *ngIf="dashboardViewViewModel.isSystemAdmin || dashboardViewViewModel.costReportModuleAccess?.canRead">
            <app-cost-widget-view [costDataEvent]="dashboardViewViewModel.costDataEvent"
              [headerText]="dashboardViewViewModel.infrastructureCostTitle"></app-cost-widget-view>
          </div>

          <div class="col-sm-6 col-md-6" *ngIf="dashboardViewViewModel.isSystemAdmin" >
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Storage Utilization based on Threshold</h3>
              </div>
              <div class="panel-body" style="height: 435px;">
                <highcharts-chart class="toggle-back-button chart-element"
                  [Highcharts]="dashboardViewViewModel.Highcharts"
                  [callbackFunction]="dashboardViewViewModel.storageUtilizationChartCallback"
                  [options]="dashboardViewViewModel.storageUtilizationChartOptions">
                </highcharts-chart>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6" *ngIf="dashboardViewViewModel.costReportModuleAccess?.canRead">
            <app-user-cost-widget></app-user-cost-widget>
          </div>

          <span *ngIf="dashboardViewViewModel.environmentRolePermission?.canRead">
            <div class="col-sm-6 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Assigned Resources</h3>
                </div>

                <div class="panel-body assigned-resource">
                  <app-data-table-cmp [viewModel]="dashboardViewViewModel.assignedResourcesViewModelDataGrid">
                  </app-data-table-cmp>
                </div>
              </div>
            </div>
          </span>

          <div class="col-sm-6 col-md-6" *ngIf="dashboardViewViewModel.canShowAvailableDatasetWidget">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Available Datasets</h3>
              </div>

              <div class="panel-body available-dataset-grid">
                <app-data-table-cmp [viewModel]="dashboardViewViewModel.availableDataSetViewModelDataGrid">
                </app-data-table-cmp>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6" *ngIf="dashboardViewViewModel.canShowAvailableUtilityWidget">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Available Utilities</h3>
              </div>

              <div class="panel-body available-utilities">
                <app-data-table-cmp [viewModel]="dashboardViewViewModel.availableUtilitiesViewModelDataGrid">
                </app-data-table-cmp>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
</div>
