html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* You can add global styles to this file, and also import other style files */

@import 'ngx-smart-modal/src/ngx-smart-modal';
/* @import "~@ng-select/ng-select/themes/default.theme.css"; */
/* @import "../node_modules/@ng-select/ng-select/themes/default.theme.css"; */


/* @import "../node_modules/font-awesome/scss/font-awesome";
@import "./template/style.scss";
@import "./assets/styles/grid-custom.scss";
@import "./assets/css/demo.css";
@import "./assets/scss/material-dashboard.scss"; */

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.padding-top-0 {
    padding-top: 0;
}

.margin-top-15px {
    margin-top: 15px;
}

.override-form-style .form-control {
    border: 1px solid lightgray !important;
}

.display-flex {
    display: flex;
}

.toggle-back-button .highcharts-drillup-button {
visibility: hidden;
}

.toggle-back-button:hover .highcharts-drillup-button {
visibility: visible;
}

.cursor-pointer {
    cursor: pointer;
}

.display-none {
    display: none;
}

.width-100-percent {
    width: 100%;
}

.disable-color{
    background-color: #7f7f7f;
}

.hide{
    display: none  !important;

}
.icon-grey{
    color:#3f535c;
}

.disable-cursor{
    cursor: not-allowed;
    pointer-events: none !important;
}

.control-wrapper {
    display: flex;
    justify-content: flex-end;
}

.no-border {
  border: 0px !important;
}

.z-index-visible {
  z-index: 1043 !important;
}

.mat-form-field-label-wrapper label {
  padding-left: 12px;
}