<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-inverse raisedBox">
          <div class="panel-heading">
            <div *ngIf="vendorManagementDetailViewModel.modalType === 'Create'"><h4 class="panel-title">Create new Vendor</h4></div>
            <div *ngIf="vendorManagementDetailViewModel.modalType === 'Edit'"><h4 class="panel-title">Edit Vendor Details</h4></div>
            <div *ngIf="vendorManagementDetailViewModel.modalType === 'Detail'"><h4 class="panel-title">Vendor Details</h4></div>
          </div>
          <div class="panel-body ">
            <div class="tab-content">
          

                <div class="tab-pane active " id="role-details">
                  <form [formGroup]="vendorManagementDetailViewModel.vendorDetailsForm">
                      <div class="form-group">
                        <div class="row">
                            <div class="col-md-2 col-sm-3 col-xs-6 col-lg-2">
                                <label class="label-control" for="name">Vendor Name</label>
                                <span class="text-danger"> *</span>
                              </div>
                          <div *ngIf="vendorManagementDetailViewModel.modalType === 'Create'">
                                      <mat-form-field  class="col-lg-4 col-md-4 col-sm-4">
                                          <input type='text'  class="form-control col-lg-4 col-md-4 col-sm-4"  
                                              matInput #name   formControlName="name">
                                            <mat-error align="start" class="text-danger" *ngIf="vendorManagementDetailViewModel.vendorDetailsFormControls.name.errors?.required">
                                              Vendor Name is required
                                            </mat-error>
                                            <!-- <mat-error align="start" class="text-danger"
                                              *ngIf="roleViewModel.vendorDetailsForm.name.errors?.minlength || roleViewModel.vendorDetailsForm.name.errors?.maxlength">
                                              Role Name should be between 3 and 20 characters
                                            </mat-error> -->
                                            <!-- <mat-error align="start" class="text-danger" *ngIf="vendorManagementDetailViewModel.vendorDetailsForm.name.errors?.nameTaken">
                                              Vendor Name already exists
                                            </mat-error> -->
                                          </mat-form-field>
                            </div>
                        <!-- <div *ngIf="vendorManagementDetailViewModel.modalType === 'Create'"><h4 class="panel-title">Create new Vendor</h4></div> -->
                        <div *ngIf="vendorManagementDetailViewModel.modalType === 'Edit'">
                          <div style="height: 40px;">
                            <b style="padding-left: 15px;">{{vendorManagementDetailViewModel.vendorName}}</b>
                          </div>
                      </div>


                        
  
                    </div>
                
                    <div class="row">
                      <div class="col-md-2 col-sm-3 col-xs-6 col-lg-2">
                        <label class="label-control" for="txtWebsite">Website: </label>
                        <!-- <span class="text-danger"> *</span> -->
                      </div>
                      
                        <mat-form-field class="col-lg-4 col-md-4 col-sm-4"  >
                          <input type='text'   matInput #website    class="form-control col-lg-4 col-md-4 col-sm-4"   
                          formControlName="website"
                             > 
                             <mat-error align="start" class="text-danger">
                              {{ vendorManagementDetailViewModel.errorFor("vendorDetailsForm.website") }}
                            </mat-error>
  
                          <!-- <mat-error align="start"  class="text-danger" *ngIf="vendorManagementDetailViewModel.vendorDetailsForm.website.errors?.maxlength">
                            Role Description should not exceed 250 characters
                          </mat-error> -->
                        </mat-form-field>
  
                    </div>
                     
                    <div class="row">
                      <div class="col-md-2 col-sm-3 col-xs-6 col-lg-2">
                        <label class="label-control" for="address1">Address1: </label>
                        <!-- <span class="text-danger"> *</span> -->
                      </div>
                      
                        <mat-form-field class="col-lg-4 col-md-4 col-sm-4"  >
                          <input type='text'   matInput #address1   class="form-control col-lg-4 col-md-4 col-sm-4"   
                              formControlName="address1"
                            > 
                          <!-- <mat-error align="start"  class="text-danger" *ngIf="vendorManagementDetailViewModel.vendorDetailsForm.address1.errors?.maxlength">
                            Address1 Description should not exceed 250 characters
                          </mat-error> -->
                        </mat-form-field>
  
                  
                      <div class="col-md-2 col-sm-3 col-xs-6 col-lg-2">
                        <label class="label-control" for="address2">Address2: </label>
                      </div>
                      
                        <mat-form-field class="col-lg-4 col-md-4 col-sm-4"  >
                          <input type='text'   matInput #address2     class="form-control col-lg-4 col-md-4 col-sm-4"   
                              formControlName="address2"
                            > 
                          <!-- <mat-error align="start"  class="text-danger" *ngIf="vendorManagementDetailViewModel.vendorDetailsForm.address2.errors?.maxlength">
                            Address2 Description should not exceed 250 characters
                          </mat-error> -->
                        </mat-form-field>
  
                    </div>

                    <div class="row">
                      <div class="col-md-2 col-sm-3 col-xs-6 col-lg-2">
                        <label class="label-control" for="city">City: </label>
                        <span class="text-danger"> *</span>
                      </div>
                      
                        <mat-form-field class="col-lg-4 col-md-4 col-sm-4"  >
                          <input type='text'   matInput #city   class="form-control col-lg-4 col-md-4 col-sm-4"   
                              formControlName="city"
                            > 
                            <mat-error align="start" class="text-danger" *ngIf="vendorManagementDetailViewModel.vendorDetailsFormControls.city.errors?.required">
                              City Name is required
                            </mat-error>
    
                          <!-- <mat-error align="start"  class="text-danger" *ngIf="vendorManagementDetailViewModel.vendorDetailsForm.city.errors?.maxlength">
                            City Description should not exceed 250 characters
                          </mat-error> -->
                        </mat-form-field>
  
                        <div class="col-md-2 col-sm-3 col-xs-6 col-lg-2">
                          <label class="label-control" for="address2">Zip: </label>
                        </div>
                        
                          <mat-form-field class="col-lg-4 col-md-4 col-sm-4"  >
                            <input type='text'   matInput #zip     class="form-control col-lg-4 col-md-4 col-sm-4"   
                                formControlName="zip"
                              > 
                            <!-- <mat-error align="start"  class="text-danger" *ngIf="vendorManagementDetailViewModel.vendorDetailsForm.zip.errors?.maxlength">
                              Address2 Description should not exceed 250 characters
                            </mat-error> -->
                          </mat-form-field>
                    </div>
                    <div class="row">
                      <div class="col-md-2 col-sm-3 col-xs-6 col-lg-2">
                        <label class="label-control" for="address2">State: </label>
                        <span class="text-danger"> *</span>
                      </div>
                      
                      <mat-form-field   class="col-lg-4 col-md-4 col-sm-4"  > 
                        <mat-select formControlName="state" class="col-md-2 col-sm-3 col-xs-6 col-lg-2" name="state">
                          <mat-option value="">--Select--</mat-option>
                          <mat-option value="AL">Alabama</mat-option>
                          <mat-option value="AK">Alaska</mat-option>
                          <mat-option value="AZ">Arizona</mat-option>
                          <mat-option value="AR">Arkansas</mat-option>
                          <mat-option value="CA">California</mat-option>
                          <mat-option value="CO">Colorado</mat-option>
                          <mat-option value="CT">Connecticut</mat-option>
                          <mat-option value="DE">Delaware</mat-option>
                          <mat-option value="DC">District Of Columbia</mat-option>
                          <mat-option value="FL">Florida</mat-option>
                          <mat-option value="GA">Georgia</mat-option>
                          <mat-option value="HI">Hawaii</mat-option>
                          <mat-option value="ID">Idaho</mat-option>
                          <mat-option value="IL">Illinois</mat-option>
                          <mat-option value="IN">Indiana</mat-option>
                          <mat-option value="IA">Iowa</mat-option>
                          <mat-option value="KS">Kansas</mat-option>
                          <mat-option value="KY">Kentucky</mat-option>
                          <mat-option value="LA">Louisiana</mat-option>
                          <mat-option value="ME">Maine</mat-option>
                          <mat-option value="MD">Maryland</mat-option>
                          <mat-option value="MA">Massachusetts</mat-option>
                          <mat-option value="MI">Michigan</mat-option>
                          <mat-option value="MN">Minnesota</mat-option>
                          <mat-option value="MS">Mississippi</mat-option>
                          <mat-option value="MO">Missouri</mat-option>
                          <mat-option value="MT">Montana</mat-option>
                          <mat-option value="NE">Nebraska</mat-option>
                          <mat-option value="NV">Nevada</mat-option>
                          <mat-option value="NH">New Hampshire</mat-option>
                          <mat-option value="NJ">New Jersey</mat-option>
                          <mat-option value="NM">New Mexico</mat-option>
                          <mat-option value="NY">New York</mat-option>
                          <mat-option value="NC">North Carolina</mat-option>
                          <mat-option value="ND">North Dakota</mat-option>
                          <mat-option value="OH">Ohio</mat-option>
                          <mat-option value="OK">Oklahoma</mat-option>
                          <mat-option value="OR">Oregon</mat-option>
                          <mat-option value="PA">Pennsylvania</mat-option>
                          <mat-option value="RI">Rhode Island</mat-option>
                          <mat-option value="SC">South Carolina</mat-option>
                          <mat-option value="SD">South Dakota</mat-option>
                          <mat-option value="TN">Tennessee</mat-option>
                          <mat-option value="TX">Texas</mat-option>
                          <mat-option value="UT">Utah</mat-option>
                          <mat-option value="VT">Vermont</mat-option>
                          <mat-option value="VA">Virginia</mat-option>
                          <mat-option value="WA">Washington</mat-option>
                          <mat-option value="WV">West Virginia</mat-option>
                          <mat-option value="WI">Wisconsin</mat-option>
                          <mat-option value="WY">Wyoming</mat-option>

                        </mat-select>
                    
                      <mat-error align="start" class="text-danger" *ngIf="vendorManagementDetailViewModel.vendorDetailsFormControls.state.errors?.required">
                        State Name is required
                      </mat-error>
                    </mat-form-field>

                  </div>
                    
                    <div class="row">
                      <div class="row col-lg-12">
                        <app-alert-component></app-alert-component>
  
                        </div>
                    </div>
                    <div class="row">
                      <div class="row col-lg-12">
                        <div class="col-lg-6 col-xs-4 pull-left">
                          <span class="text-danger pull-left">
                            <b>*</b>
                          </span>
                          <span style="font-size: 10pt;"> &nbsp; Denotes required fields</span>
                        </div>
                        <div class="col-lg-6 col-xs-6 text-right">
                          <button   type="button" data-toggle="modal" 
                          class="btn btn-default btn-md btn-circled"
                          style="padding:right; margin-left: 5px;"
                            id="role-edit-back-btn" (click)="vendorManagementDetailViewModel.onCancel()">
                            Cancel
                          </button>
  
                              <button type="button" data-toggle="modal" 
                                  class="btn btn-default btn-md btn-primary btn-circled"
                                    style="padding:right; margin-left: 5px;"
                                    *ngIf="vendorManagementDetailViewModel.modalType==='Edit' || vendorManagementDetailViewModel.modalType==='Create'"
                                    id="role-edit-saveChanges-btn" (click)="vendorManagementDetailViewModel.saveChanges()"
                                    [disabled]="!( vendorManagementDetailViewModel.vendorDetailsForm.valid && vendorManagementDetailViewModel.vendorDetailsForm.dirty)"
                                >
                                <!--  -->

                                <div *ngIf="vendorManagementDetailViewModel.modalType === 'Create'">Create Vendor</div>
                                <div *ngIf="vendorManagementDetailViewModel.modalType === 'Edit'">Update Vendor</div>
                               
                              </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ngx-smart-modal #vendorCancelConfirmModal identifier="vendorCancelConfirmModal" class="modal-content dialog no-padding" style="border: 0px !important;">
  <!-- <div class="overlay nsm-overlay-open" style="z-index: 1043;"> -->
      <div class="" style="z-index: 1043;"> 
      <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" 
      aria-hidden="false" aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true" style="z-index: 1044;">
      <div class="nsm-content">
          <div class="nsm-body">
              <div   class="modal-header">
                  <h5   class="modal-title">Cancel Confirmation</h5>
                  <button  aria-label="Close" class="close modal-close" title="Close"   (click)="vendorCancelConfirmModal.close()" type="button">
                      <span  class="modal-x-icon" aria-hidden="true">×</span></button>
              </div>
                  <div   class="modal-body">
                     <i class="fa fa-exclamation-triangle color-red" ></i>  Are you sure you want to discard the changes? 
                  </div> 
                         <div  class="modal-footer">
                          <button  class="btn btn-default" title="Cancel"  (click)="vendorCancelConfirmModal.close()" type="button">Cancel </button>
                           <button  class="btn btn-primary" title="Confirm" type="button" (click)="vendorManagementDetailViewModel.onConfirm()">Confirm</button>
                          </div>
              </div></div>
          </div>  </div>

</ngx-smart-modal>