<div class="row">
    <div class="col-md-12">
        <div class="card-body table-responsive">
            <div class="raisedBox">
                <h5 class="entry-title mt-0">
                    <b>Tag Type Management </b>
                </h5>
                <div class="row btn-section">
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 pull-right ">
                        <div data-toggle="modal" class="btn btn-default btn-md btn-primary create-tag-button"
                            *ngIf="tagTypeListViewModel.userRolePermission?.canCreate"
                            (click)="tagTypeListViewModel.redirectToCreatePage()">
                            Create Tag Type
                        </div>
                    </div>
                </div>
                <app-alert-component></app-alert-component>
                <app-data-table-cmp [viewModel]="tagTypeListViewModel.viewModelDataGrid"> </app-data-table-cmp>
            </div>
        </div>
    </div>
</div>