<div class="row">
    <div class="col-md-12">
        <div class="card-body table-responsive">
            <div class="raisedBox">
                <h5 class="entry-title mt-0"><b> </b></h5>

                <div class="row btn-section">
                    <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                        <div id="menu" style="display: flex; justify-content: left; height: 100px;">
                            <div class="sidebar sidebarCustom">
                                <a [class]="{'active': activeChart === REPORT_NAMES.REPORTS}" [routerLink]=""
                                (click)="activeChart = REPORT_NAMES.REPORTS">
                                Reports
                            </a>
                                <a [class]="{'active': activeChart === REPORT_NAMES.ADMISSION_DIAGNOSIS_COST}" [routerLink]=""
                                    (click)="activeChart = REPORT_NAMES.ADMISSION_DIAGNOSIS_COST">
                                    Admission Diagnosis Cost
                                </a>

                                <a [class]="{'active': activeChart === REPORT_NAMES.CHRONIC_DISEASE_COST}" [routerLink]=""
                                    (click)="activeChart = REPORT_NAMES.CHRONIC_DISEASE_COST">
                                    Chronic Disease Cost
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10 "
                        *ngIf="activeChart === REPORT_NAMES.ADMISSION_DIAGNOSIS_COST || activeChart === REPORT_NAMES.REPORTS">
                        <iframe
                            src="https://qurstorereports.vsolgmi.com/views/Dartmouth_InpatientCostDashboard/Dashboard_InpatientCostByAdmDiag?:embed=y"
                            width="90%" height="600"></iframe>
                    </div>

                    <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10 "
                        *ngIf="activeChart === REPORT_NAMES.CHRONIC_DISEASE_COST">
                        <iframe
                            src="https://qurstorereports.vsolgmi.com/views/Dartmouth_InpatientCostDashboard/Dashboard_AvgCostByCDCategory?:embed=y"
                            width="90%" height="600"></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>