<div style="display: flex; justify-content: center;align-items: center;">
<div id="alert-info" (appClickOutside)="close()"  style=" 
    width: 90%;
    line-height: 15px;margin-top: 1%; margin-left: 1%;  text-align:center;
    "
        *ngIf="!!messageInfo.text" [ngClass]="{ 'alert': messageInfo, 'alert-success': messageInfo.type === 'success', 'alert-danger': messageInfo.type === 'error',
        'alert-info': messageInfo.type === 'info'}" class="display" >
        <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <!-- <i class="material-icons">close</i>  -->
        </button>
        <span class="error-message-span">
        {{ messageInfo.text }} </span>
</div>
</div>