<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="raisedBox">
                    <div class="panel-heading">
                        <div>
                            <h5 class="entry-title   mt-0"><b>Preview Target Definitions</b></h5>
                        </div>
                    </div>
                    <div class="panel-body ">
                        <div class="tab-content">
                            <div class="tab-pane active " id="preview-target-Definition">
                                <div class="row">
                                    <div class="row col-lg-12 col-xs-12">
                                        <div class="col-md-8 col-lg-8 col-xs-8 mb-15">
                                            <div class="col-md-4 col-lg-4 col-xs-4">
                                                <label class="label-control" for="txtRole">
                                                    <b> Available Target Definitions </b> <span class="text-danger">
                                                        *</span>
                                                </label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <ng-select
                                                    (change)="previewTargetDefinitionViewModel.targetDefinitionsChange($event)"
                                                    [multiple]="false" placeholder="None">
                                                    <ng-option
                                                        *ngFor="let targetDefinition of previewTargetDefinitionViewModel.targetDefinitionsListGrid"
                                                        [value]="targetDefinition.id">{{targetDefinition.name}}
                                                    </ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="row col-lg-12 col-xs-12">
                                            <div class="col-md-12 col-sm-18 col-xs-12 col-lg-12"
                                                *ngIf="previewTargetDefinitionViewModel.isPreviewSelected">
                                                <app-data-table-cmp
                                                    [viewModel]="previewTargetDefinitionViewModel.viewModelDataGrid">
                                                </app-data-table-cmp>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>