.width-100 {
  width: 100% !important;
}

.margin-bottom-zero {
  margin-bottom: 0px !important;
}

.padding-left-zeroPx {
  padding-left: 0px !important;
}

.material-icon-style {
  font-size: 21px;
  padding-left: 6px;
  position: absolute;
}

.alert-panel {
  padding: 5px !important;
}

.border-zero-px {
  border: 0px !important;
}

.form-label {
  color:#000000;
}

.mandatory-field {
  color:#d50000;
  font-weight: 500;
}

.button-style{
  float: right;
}

.stack-order {
  z-index: 1043;
}

.modal-main-div{
  width: 95%;
}

.modal-body-styles {
  width: 100%; 
  margin: auto;
}
