<div class="row">
  <div class="col-md-12">
    <div class="card-body table-responsive">
      <div class="raisedBox">
        <h5 class="entry-title mt-0">
          <b>Data Upload List</b>
        </h5>
        <div *ngIf="dataUploadListViewModel.userRolePermission.canCreate" class="row btn-section">
          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 pull-right ">
            <div data-toggle="modal" (click)="dataUploadListViewModel.openDataFileUploadModel()"
              class="btn btn-default btn-md btn-primary button-style">
              Upload Data File
            </div>
          </div>
        </div>
        <app-alert-component></app-alert-component>
        <app-extended-data-table-cmp [viewModel]="dataUploadListViewModel.viewModelDataGrid">
        </app-extended-data-table-cmp>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #uploadDataFileModel identifier="uploadDataFileModel" [dismissable]="false"
  class="modal-content dialog no-padding border-zero-px" (onAnyCloseEvent)="dataUploadListViewModel.onPopUpClose()">
  <div class="modal-dialog modal-lg modal-main-div">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm" aria-hidden="false"
      aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <div *ngIf="dataUploadListViewModel.modalType === 'Create'">
              <h4 class="modal-title">Upload Data File</h4>
            </div>
            <button aria-label="Close" class="close modal-close" title="Close"
              (click)="dataUploadListViewModel.closeDataFileUploadModel()" type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body modal-body-styles">
            <form [formGroup]="dataUploadListViewModel.dataUploadModelForm">
              <div class="form-group">
                <div class="row form-group">
                  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
                    <label class="label-control form-label" for="txtDashboardDesc">Data File</label>
                    <span class="text-danger mandatory-field"> *</span> <i
                      class="icon material-icons cursor text-info material-icon-style"
                      title="Accepts zip file also (for multiple file uploads) & Max file size is 12MB">info</i>
                  </div>

                  <div class="col-lg-9 col-md-8 col-sm-8 col-xs-8">
                    <input type='file' aria-label='dataFile' class="form-control col-lg-12 col-md-12 col-sm-12"
                      id="dataFile" single name="dataFile" (change)="dataUploadListViewModel.fileChanged($event)">
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="margin-bottom-zero form-label">Accepted file types are <b>{{
                        dataUploadListViewModel.acceptedDataUploadFiles }} </b> with size limit <b>{{
                        dataUploadListViewModel.dataFileMaximumFileSizeInMB }} MB</b></p>
                  </div>
                </div>
              </div>
            </form>
            <div *ngIf="dataUploadListViewModel.isShowMessage && dataUploadListViewModel.messageData">
              <div [ngClass]="{ 'alert': dataUploadListViewModel.messageData, 'alert-success': dataUploadListViewModel.messageData.type === 'success', 'alert-danger': dataUploadListViewModel.messageData.type === 'error',
                'alert-info': dataUploadListViewModel.messageData.type === 'info'}"
                class="alert alert-info alert-panel">
                <p class="text-center"> {{ dataUploadListViewModel.messageData.message }} </p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel"
            (click)="dataUploadListViewModel.closeDataFileUploadModel()">Cancel
          </button>
            <button *ngIf="dataUploadListViewModel.modalType === 'Create'" class="btn btn-primary" title="Upload File"
              (click)="dataUploadListViewModel.uploadDataFile()"
              [disabled]="!(dataUploadListViewModel.dataUploadFile)">Upload File</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #discardDataFileModel identifier="discardDataFileModel"
  class="modal-content dialog no-padding border-zero-px">
  <div class="stack-order">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm stack-order" aria-hidden="false"
      aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <h5 class="modal-title">Confirmation</h5>
            <button aria-label="Close" class="close modal-close" title="Close"
              (click)="dataUploadListViewModel.closeDiscardConfirmation()" type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body form-label">
            <i class="fa fa-exclamation-triangle color-red"></i> Are you sure all the changes will be discarded?
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel" (click)="dataUploadListViewModel.closeDiscardConfirmation()"
            type="button">Cancel </button>
            <button class="btn btn-primary" title="Confirm" type="button"
              (click)="dataUploadListViewModel.discardConfirmed()">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #deleteUploadedDataFileModel identifier="deleteUploadedDataFileModel"
  class="modal-content dialog no-padding border-zero-px">
  <div class="stack-order">
    <div class="nsm-dialog modal-content no-padding nsm-dialog-open new-dialog-sm stack-order" aria-hidden="false"
      aria-label="Boostrap modal" role="dialog" tabindex="-1" aria-modal="true">
      <div class="nsm-content">
        <div class="nsm-body">
          <div class="modal-header">
            <h5 class="modal-title">Confirmation</h5>
            <button aria-label="Close" class="close modal-close" title="Close"
              (click)="dataUploadListViewModel.closeDeleteDiscardConfirmation()" type="button">
              <span class="modal-x-icon" aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body form-label">
            <i class="fa fa-exclamation-triangle color-red"></i> Are you sure you want to delete this File?
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" title="Cancel"
            (click)="dataUploadListViewModel.closeDeleteDiscardConfirmation()" type="button">Cancel </button>
            <button class="btn btn-primary" title="Confirm" type="button"
              (click)="dataUploadListViewModel.deleteUploadedFile()">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-smart-modal>