<div class="main-content">
  <!-- Section: home -->
  <section id="home" class="divider parallax layer-overlay">


    <!-- height: 100%; background-position: center;background-repeat: no-repeat;background-size: cover; -->

    <div class="display-table" style="background-image: url('../assets/images/banner-bg.jpg'); 
     ">
      <div class="display-table-cell">
        <div class="container login-container">
          <div class="row login-form-style">
            <div class="col-md-7 col-md-push-2">
              <div class="widget login-form-widget bg-lightest border-1px p-20">
                <div class="widget border-1px p-20">
                  <div class=" mb-20 logo-div-styles">
                    <a routerLink="" class=""><img class="logo-styles" src="assets/images/logo.png" alt="Logo">
                    </a>
                  </div>
                  <h2 class="login-text-styles">Login</h2>

                  <div class="row password-change-success-alert">
                    <div class="col-lg-12">
                      <app-alert-component></app-alert-component>
                    </div>
                  </div>
                  <form [formGroup]="loginViewModel.loginForm" class="quick-contact-form">
                    <mat-form-field class="form-field-style" [floatLabel]="'never'">
                      <input type='email' class="form-control col-lg-12 col-md-12 col-sm-12 login-form-control" matInput
                        #email formControlName="email" placeholder="Email" required>

                      <mat-error align="start" class="text-danger">
                        {{ loginViewModel.errorFor("email") }}
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field-style" [floatLabel]="'never'">
                      <input type='password' class="form-control col-lg-12 col-md-12 col-sm-12 login-form-control"
                        matInput #password formControlName="password" placeholder="Password" required>

                      <mat-error align="start" class="text-danger">
                        {{ loginViewModel.errorFor("password") }}
                      </mat-error>
                    </mat-form-field>

                    <div class="form-group control-wrapper">
                      <div>
                        <a class="btn btn-default btn-lg btn-circled mr-10 button-styles" title="Cancel"
                          id="login-back-btn" (click)="loginViewModel.onCancel()">
                          Cancel
                        </a>

                        <input name="login-saveChanges-btn"
                          class="btn btn-default btn-lg btn-circled btn-primary mr-1 button-styles" type="button"
                          value="LOGIN" title="LOGIN" id="login-saveChanges-btn" (click)="loginViewModel.saveChanges()"
                          [disabled]="!(loginViewModel.loginForm.valid && loginViewModel.loginForm.dirty) || loginViewModel.submitted">
                      </div>

                      <a *ngIf="!hideForgotPasswordButton" name="forgot-password-btn"
                        class="forgot-password-link-styles" title="FORGOT PASSWORD" id="forgot-password-btn"
                        (click)="loginViewModel.navigateToForgotPassword()">FORGOT PASSWORD?
                      </a>
                    </div>

                    <!-- <div class="form-group"><br> Not have an account?
                      <a routerLink="" style="text-decoration: underline; color:#126bc5; font-size:16px;" title="Register">Register</a>
                    </div> -->
                  </form>
                </div>
                <span class="mandatory-field"> * </span> Denotes required field
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>